interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=artist%3A+gorillaz&limit=10&offset=0&type=artist
  response:
    body:
      string: "{\n  \"artists\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=artist%3A+gorillaz&type=artist&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3zcOegUrWqti1S0lu4juJz\"\n
        \     },\n      \"followers\" : {\n        \"href\" : null,\n        \"total\"
        : 14279\n      },\n      \"genres\" : [ ],\n      \"href\" : \"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz\",\n
        \     \"id\" : \"3zcOegUrWqti1S0lu4juJz\",\n      \"images\" : [ {\n        \"height\"
        : 640,\n        \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb6c42a9caf554b56c6cb0b5dc\",\n
        \       \"width\" : 640\n      }, {\n        \"height\" : 320,\n        \"url\"
        : \"https://i.scdn.co/image/ab676161000051746c42a9caf554b56c6cb0b5dc\",\n
        \       \"width\" : 320\n      }, {\n        \"height\" : 160,\n        \"url\"
        : \"https://i.scdn.co/image/ab6761610000f1786c42a9caf554b56c6cb0b5dc\",\n
        \       \"width\" : 160\n      } ],\n      \"name\" : \"GorillaT\",\n      \"popularity\"
        : 40,\n      \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:3zcOegUrWqti1S0lu4juJz\"\n
        \   }, {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/3Y365ZqTf6fJ4ZcRnLKPGt\"\n
        \     },\n      \"followers\" : {\n        \"href\" : null,\n        \"total\"
        : 877615\n      },\n      \"genres\" : [ \"atl hip hop\", \"crunk\", \"dirty
        south rap\", \"futuristic swag\", \"southern hip hop\", \"trap\" ],\n      \"href\"
        : \"https://api.spotify.[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3zcOegUrWqti1S0lu4juJz"},"followers":{"href":null,"total":14279},"genres":[],"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz","id":"3zcOegUrWqti1S0lu4juJz","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb6c42a9caf554b56c6cb0b5dc","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051746c42a9caf554b56c6cb0b5dc","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1786c42a9caf554b56c6cb0b5dc","height":160,"width":160}],"name":"GorillaT","popularity":40,"type":"artist","uri":"spotify:artist:3zcOegUrWqti1S0lu4juJz"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijg0N2FhMTUxM2IxZTM5MzQ0NzAxMGQ4MGRhM2U3NjU3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz/albums?include_groups=album%2Csingle&limit=20&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz/albums?offset=0&limit=20&include_groups=album,single","limit":20,"next":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz/albums?offset=20&limit=20&include_groups=album,single","offset":0,"previous":null,"total":30,"items":[{"album_type":"album","total_tracks":11,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/1lJgosn3c94EYaCdEq3Tbs"},"href":"https://api.spotify.com/v1/albums/1lJgosn3c94EYaCdEq3Tbs","id":"1lJgosn3c94EYaCdEq3Tbs","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27302726e38f9456116886b3d2c","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e0202726e38f9456116886b3d2c","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d0000485102726e38f9456116886b3d2c","height":64,"width":64}],"name":"Third
        Eye Vision","release_date":"2024-06-21","release_date_precision":"day","type":"album","uri":"spotify:album:1lJgosn3c94EYaCdEq3Tbs","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3zcOegUrWqti1S0lu4juJz"},"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz","id":"3zcOegUrWqti1S0lu4juJz","name":"GorillaT","type":"artist","uri":"spotify:artist:3zcOegUrWqti1S0lu4juJz"}],"album_group":"album"},{"album_type":"album","total_tracks":12,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz/albums?offset=20&limit=20&include_groups=album,single
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz/albums?offset=20&limit=[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1lJgosn3c94EYaCdEq3Tbs
  response:
    body:
      string: '{"album_type":"album","total_tracks":11,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1lJgosn3c94EYaCdEq3Tbs/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/1lJgosn3c94EYaCdEq3Tbs/tracks?offset=0&limit=50","items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3zcOegUrWqti1S0lu4juJz"},"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz","id":"3zcOegUrWqti1S0lu4juJz","name":"GorillaT","type":"artist","uri":"spotify:artist:3zcOegUrWqti1S0lu4juJz"}],"disc_number":1,"duration_ms":296571,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/59ZFGB0q3qBkbXPxtitQA5"},"href":"https://api.spotify.com/v1/tracks/59ZFGB0q3qBkbXPxtitQA5","id":"59ZFGB0q3qBkbXPxtitQA5","is_local":false,"is_playable":true,"name":"Third
        Eye Vision","preview_url":"https://p.scdn.co/mp3-preview/ec8de61fd0609498b5015f961190ff6d4211f90c?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:59ZFGB0q3qBkbXPxtitQA5"},{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3zcOegUrWqti1S0lu4juJz"},"href":"https://api.spotify.com/v1/artists/3zcOegUrWqti1S0lu4juJz","id":"3zcOegUrWqti1S0lu4juJz","name":"GorillaT","type":"artist","uri":"spotify:artist:3zcOegUrWqti1S0lu4juJz"},{"external_urls":{"spotify":"https://open.spotify.com/artist/1ZcfGrGrm9aHnUNVQz3sCY"},"href":"https://api.spotify.com/v1/artists/1ZcfGrGrm9aHnUNVQz3sCY","id":"1Z[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0UVKtbDrx2emV6lWyJQJyi
  response:
    body:
      string: '{"album_type":"album","total_tracks":12,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0UVKtbDrx2emV6lWyJQJyi/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/0UVKtbDrx2emV6lWyJQJyi/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3aEwKTDudMUykXpjH1tjU8
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3aEwKTDudMUykXpjH1tjU8/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/3aEwKTDudMUykXpjH1tjU8/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4x9v3IPqnl8YFexbrnL8by
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4x9v3IPqnl8YFexbrnL8by/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4x9v3IPqnl8YFexbrnL8by/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5o0A9wlHUUOB8mVxW1COX9
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5o0A9wlHUUOB8mVxW1COX9/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/5o0A9wlHUUOB8mVxW1COX9/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5Yz3dm81FYXsbNWPDDeq2P
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5Yz3dm81FYXsbNWPDDeq2P/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/5Yz3dm81FYXsbNWPDDeq2P/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/16Jqck10W8Ba0GTggCQa2s
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/16Jqck10W8Ba0GTggCQa2s/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/16Jqck10W8Ba0GTggCQa2s/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7boLegIAI26idUG4cLcYWd
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7boLegIAI26idUG4cLcYWd/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/7boLegIAI26idUG4cLcYWd/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3zvG4ZfwHHoNLMz5DH7WMk
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3zvG4ZfwHHoNLMz5DH7WMk/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/3zvG4ZfwHHoNLMz5DH7WMk/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4R1oaIBodHS8l2fawrlrlm
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4R1oaIBodHS8l2fawrlrlm/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4R1oaIBodHS8l2fawrlrlm/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7mKDEqYo9CuJaN8S2vrwn5
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7mKDEqYo9CuJaN8S2vrwn5/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/7mKDEqYo9CuJaN8S2vrwn5/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4DUxVjkQkzN5kWYhfxntv1
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4DUxVjkQkzN5kWYhfxntv1/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4DUxVjkQkzN5kWYhfxntv1/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5LDM9j4omsLZYshZr1YNl6
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5LDM9j4omsLZYshZr1YNl6/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/5LDM9j4omsLZYshZr1YNl6/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0S5rjUHkz4KraHgmPPc0b4
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0S5rjUHkz4KraHgmPPc0b4/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/0S5rjUHkz4KraHgmPPc0b4/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0QPtQvRH8aTC881rFAVqCo
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0QPtQvRH8aTC881rFAVqCo/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/0QPtQvRH8aTC881rFAVqCo/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/14tmFO13Yahv71G4pmETN6
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/14tmFO13Yahv71G4pmETN6/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/14tmFO13Yahv71G4pmETN6/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4eR4AMOKWcvR8fT8REGlAw
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4eR4AMOKWcvR8fT8REGlAw/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4eR4AMOKWcvR8fT8REGlAw/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/33rPijIrt0bDp7RVJgsXbs
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/33rPijIrt0bDp7RVJgsXbs/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/33rPijIrt0bDp7RVJgsXbs/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4BQbkyZgfSD5joNpsoYqIY
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4BQbkyZgfSD5joNpsoYqIY/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4BQbkyZgfSD5joNpsoYqIY/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6MRLtoYMgtPiSdOio3tVle
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6MRLtoYMgtPiSdOio3tVle/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/6MRLtoYMgtPiSdOio3tVle/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2vMQZJgHJP7h6OHsKDejLm
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2vMQZJgHJP7h6OHsKDejLm/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/2vMQZJgHJP7h6OHsKDejLm/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0wrU5W8hNQ4YLCnnct3dO9
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
[...]
