interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 6033\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6\",\n
        \ \"id\" : \"1FPC2zwfMHhrP3frOfaai6\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb37448acac4ac4429a2855893\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517437448acac4ac4429a2855893\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17837448acac4ac4429a2855893\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Kontinuum\",\n  \"popularity\"
        : 22,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:1FPC2zwfMHhrP3frOfaai6\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6/albums?album_type=album%2Csingle&limit=20&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6/albums?include_groups=album,single&offset=0&limit=20\",\n
        \ \"items\" : [ {\n    \"album_group\" : \"single\",\n    \"album_type\" :
        \"single\",\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\"
        : \"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6\"\n      },\n      \"href\"
        : \"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6\",\n      \"id\"
        : \"1FPC2zwfMHhrP3frOfaai6\",\n      \"name\" : \"Kontinuum\",\n      \"type\"
        : \"artist\",\n      \"uri\" : \"spotify:artist:1FPC2zwfMHhrP3frOfaai6\"\n
        \   } ],\n    \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\", \"BO\",
        \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\", \"DO\",
        \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\", \"HK\",
        \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\", \"MX\",
        \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\", \"PT\",
        \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\", \"GB\",
        \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3wUEWGwCVJUMecLVItve9f
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6\",\n
        \     \"id\" : \"1FPC2zwfMHhrP3frOfaai6\",\n      \"name\" : \"Kontinuum\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:1FPC2zwfMHhrP3frOfaai6\"\n
        \   } ],\n    \"available_m[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4IFzNgv2qEkI1U7TrTUqbm
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4dRRQxDsUXpBkGqjS7vNcO
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/4dRRQxDsUXpBkGqjS7vNcO\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 1963\n  },\n
        \ \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/artists/4dRRQxDsUXpBkGqjS7vNcO\",\n
        \ \"id\" : \"4dRRQxDsUXpBkGqjS7vNcO\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb8cfa6554d06289ab89316af8\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051748cfa6554d06289ab89316af8\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1788cfa6554d06289ab89316af8\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Savoi\",\n  \"popularity\" : 36,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:4dRRQxDsUXpBkGqjS7vNcO\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3kDsB86dHFcUeIolbOoGGt
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0g1ZhQAEjNQ817SSrciH0g
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6fEZjgt9MHR4Hp3MiBRZHX
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/6fEZjgt9MHR4Hp3MiBRZHX\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 52764\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/6fEZjgt9MHR4Hp3MiBRZHX\",\n
        \ \"id\" : \"6fEZjgt9MHR4Hp3MiBRZHX\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb90533dd45388e25202c8de48\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517490533dd45388e25202c8de48\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17890533dd45388e25202c8de48\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Itro\",\n  \"popularity\" : 42,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:6fEZjgt9MHR4Hp3MiBRZHX\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1UPuywvKgEteDPzV1TbD3b
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2MG4p8qAd6TOr1WQGwpclY
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0wuSW1SD2LDv0rCp8m5OTI
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
