interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"followers":{"href":null,"total":6065},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6","id":"1FPC2zwfMHhrP3frOfaai6","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb37448acac4ac4429a2855893","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517437448acac4ac4429a2855893","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17837448acac4ac4429a2855893","height":160,"width":160}],"name":"Kontinuum","popularity":21,"type":"artist","uri":"spotify:artist:1FPC2zwfMHhrP3frOfaai6"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjkyMDkwYzY0YWVmNmQ2NTI2MTgwYzBkN2IwZWIzZjk2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6/albums?include_groups=album%2Csingle&limit=20&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6/albums?offset=0&limit=20&include_groups=album,single","limit":20,"next":null,"offset":0,"previous":null,"total":16,"items":[{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/58NYQm3dRbTW1kKirl631E"},"href":"https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E","id":"58NYQm3dRbTW1kKirl631E","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2737f76a083941e291cd6c80caa","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e027f76a083941e291cd6c80caa","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d000048517f76a083941e291cd6c80caa","height":64,"width":64}],"name":"Ponder","release_date":"2023-02-03","release_date_precision":"day","type":"album","uri":"spotify:album:58NYQm3dRbTW1kKirl631E","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6","id":"1FPC2zwfMHhrP3frOfaai6","name":"Kontinuum","type":"artist","uri":"spotify:artist:1FPC2zwfMHhrP3frOfaai6"}],"album_group":"single"},{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/58NYQm3dRbTW1kKirl631E/tracks?offset=0&limit=50","items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6","id":"1FPC2zwfMHhrP3frOfaai6","name":"Kontinuum","type":"artist","uri":"spotify:artist:1FPC2zwfMHhrP3frOfaai6"}],"disc_number":1,"duration_ms":134074,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/3wUEWGwCVJUMecLVItve9f"},"href":"https://api.spotify.com/v1/tracks/3wUEWGwCVJUMecLVItve9f","id":"3wUEWGwCVJUMecLVItve9f","is_local":false,"is_playable":true,"name":"Ponder","preview_url":"https://p.scdn.co/mp3-preview/e39c9e0b39b21c495febc29ab7b01162e00cf47a?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:3wUEWGwCVJUMecLVItve9f"}],"limit":50,"next":null,"offset":0,"previous":null,"total":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjRiYmQ2ZjE5NTAyZTUxMWI0MzNkMDNhN2MzYTZjOWE2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/58NCND7oBmNGsoYExAYtvV/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/0Mze4GYhSVS52f8XDFxSFM/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/0xMjnmMdohAHzYNuHXSGvW/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/4SXkbDnBPGbLL3szWXL01L/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/3skUzGSJGqPYxu5PzJGwPB/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr/tracks/?limit=50&offset=0
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/albums/3Anxbj2ILNT4oROywVScjr/tracks?offset=0&limit=50","items":[{"artists":[{"exte[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3wUEWGwCVJUMecLVItve9f
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://api.spotify.com/v1/artists/1FPC2zwfMHhrP3frOfaai6","id":"1FPC2zwfMHhrP3frOfaai6","name":"Kontinuum","type":"artist","uri":"spotify:artist:1FPC2zwfMHhrP3frOfaai6"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4IFzNgv2qEkI1U7TrTUqbm
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3kDsB86dHFcUeIolbOoGGt
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0g1ZhQAEjNQ817SSrciH0g
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6fEZjgt9MHR4Hp3MiBRZHX"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6fEZjgt9MHR4Hp3MiBRZHX
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6fEZjgt9MHR4Hp3MiBRZHX"},"followers":{"href":null,"total":53745},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/6fEZjgt9MHR4Hp3MiBRZHX","id":"6fEZjgt9MHR4Hp3MiBRZHX","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb4ee7e8f54c8a4b1bc076ad27","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051744ee7e8f54c8a4b1bc076ad27","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1784ee7e8f54c8a4b1bc076ad27","height":160,"width":160}],"name":"Itro","popularity":42,"type":"artist","uri":"spotify:artist:6fEZjgt9MHR4Hp3MiBRZHX"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjQzOGNjYzcxY2Q4ODA0NmQ0YTI2NmU5ZTc3Njg5YzYwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1UPuywvKgEteDPzV1TbD3b
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2MG4p8qAd6TOr1WQGwpclY
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0wuSW1SD2LDv0rCp8m5OTI
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1FPC2zwfMHhrP3frOfaai6"},"href":"https://[...]
