interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0kx3ml8bdAYrQtcIwvkhp8
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2a0PIzFpYjhOabDRcUmUnQ"},"href":"https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ","id":"2a0PIzFpYjhOabDRcUmUnQ","name":"Abstrakt","type":"artist","uri":"spotify:artist:2a0PIzFpYjhOabDRcUmUnQ"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/598fb20yfA52W2gQNoCUZK"},"href":"https://api.spotify.com/v1/albums/598fb20yfA52W2gQNoCUZK","id":"598fb20yfA52W2gQNoCUZK","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27345f5ba253b9825efc88bc236","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e0245f5ba253b9825efc88bc236","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d0000485145f5ba253b9825efc88bc236","width":64,"height":64}],"name":"Nobody
        Else","release_date":"2022-03-17","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:598fb20yfA52W2gQNoCUZK"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2a0PIzFpYjhOabDRcUmUnQ"},"href":"https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ","id":"2a0PIzFpYjhOabDRcUmUnQ","name":"Abstrakt","type":"artist","uri":"spotify:artist:2a0PIzFpYjhOabDRcUmUnQ"}],"available_markets":[],"disc_number":1,"duration_ms":162406,"explicit":false,"external_ids":{"isrc":"GB2LD2210007"},"external_urls":{"spotify":"https://open.spotify.com/track/0kx3ml8bdAYrQtcIwvkhp8"},"href":"https://api.spotify.com/v1/tracks/0kx3ml8bdAYrQtcIwvkhp8","id":"0kx3ml8bdAYrQtcIwvkhp8","is_local":false,"name":"Nobody
        Else","popularity":0,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:0kx3ml8bdAYrQtcIwvkhp8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijk3ZmU3NDA5YTdlMjM5NjhmOGFhMTIyMmZjMTU4NmQwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2a0PIzFpYjhOabDRcUmUnQ"},"followers":{"href":null,"total":2407},"genres":[],"href":"https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ","id":"2a0PIzFpYjhOabDRcUmUnQ","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb059f10415868835ff87331e4","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174059f10415868835ff87331e4","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178059f10415868835ff87331e4","height":160,"width":160}],"name":"Abstrakt","popularity":16,"type":"artist","uri":"spotify:artist:2a0PIzFpYjhOabDRcUmUnQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijk5OTc4NDNjZGU5NWE1OTU5MmY5YjU1MzRmYjZmNzBlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/598fb20yfA52W2gQNoCUZK
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/598fb20yfA52W2gQNoCUZK"},"href":"https://api.spotify.com/v1/albums/598fb20yfA52W2gQNoCUZK","id":"598fb20yfA52W2gQNoCUZK","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27345f5ba253b9825efc88bc236","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e0245f5ba253b9825efc88bc236","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d0000485145f5ba253b9825efc88bc236","height":64,"width":64}],"name":"Nobody
        Else","release_date":"2022-03-17","release_date_precision":"day","type":"album","uri":"spotify:album:598fb20yfA52W2gQNoCUZK","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2a0PIzFpYjhOabDRcUmUnQ"},"href":"https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ","id":"2a0PIzFpYjhOabDRcUmUnQ","name":"Abstrakt","type":"artist","uri":"spotify:artist:2a0PIzFpYjhOabDRcUmUnQ"}],"tracks":{"href":"https://api.spotify.com/v1/albums/598fb20yfA52W2gQNoCUZK/tracks?offset=0&limit=50","limit":50,"next":null,"offset":0,"previous":null,"total":1,"items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2a0PIzFpYjhOabDRcUmUnQ"},"href":"https://api.spotify.com/v1/artists/2a0PIzFpYjhOabDRcUmUnQ","id":"2a0PIzFpYjhOabDRcUmUnQ","name":"Abstrakt","type":"artist","uri":"spotify:artist:2a0PIzFpYjhOabDRcUmUnQ"}],"available_markets":[],"disc_number":1,"duration_ms":162406,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/0kx3ml8bdAYrQtcIwvkhp8"},"href":"https://api.spotify.com/v1/tracks/1rG0uqorKjiFG4AbKXIsmr","id":"1rG0uqorKjiFG4AbKXIsmr","linked_from":{"external_urls":{"spotify":"https://open.spotify.com/track/0kx3ml8bdAYrQtcIwvkhp8"},"href":"https://api.spotify.com/v1/tracks/0kx3ml8bdAYrQtcIwvkhp8","id":"0kx3ml8bdAYrQtcIwvkhp8","type":"track","uri":"spotify:track:0kx3ml8bdAYrQtcIwvkhp8"},"name":"Nobody
        Else","preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:1rG0uqorKjiFG4AbKXIsmr","is_local":false}]},"copyrights":[{"text":"2022
        NCS","type":"C"},{"text":"2022 NCS","type":"P"}],"external_ids":{"upc":"5055199557274"},"genres":[],"label":"NCS","popularity":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjU1NmE4MjA3MzcxZjgzYjk5Y2JjNmYzMjEyYTJlMGY2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"e71B_IcySc9QgZRlP0wrew\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"e71B_IcySc9QgZRlP0wrew\"></script><script nonce=\"e71B_IcySc9QgZRlP0wrew\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "GB2LD2210007", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20241014.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtZVjdsRGlvSmpNUSimzqzFBjIKCgJJTBIEGgAgSQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20241014.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x29a55b2640456c56\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"musicCardShelfRenderer\": {\n                      \"trackingParams\":
        \"CAMQ-5EFGAAiEwjb78Wx2aOPAxVAwkkHHdhyHkk=\",\n                      \"thumbnail\":
        {\n                        \"musicThumbnailRenderer\": {\n                          \"thumbnail\":
        {\n                            \"thumbnails\": [\n                              {\n
        \                               \"url\": \"https://lh3.googleusercontent.com/YQwN5iBYKALg3yb9P6d4yRNT6-k1JsOt-8qQCb3Z_U-T2QZJbCsML2X65kS1hsLyxUERTDp-o3l8k3nYvw=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/YQwN5iBYKALg3yb9P6d4yRNT6-k1JsOt-8qQCb3Z_U-T2QZJbCsML2X65kS1hsLyxUERTDp-o3l8k3nYvw=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CBcQhL8CIhMI2-_FsdmjjwMVQMJJBx3Ych5J\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Nobody Else\",\n                            \"navigationEndpoint\": {\n
        \                             \"clickTrackingParams\": \"CAMQ-5EFGAAiEwjb78Wx2aOPAxVAwkkHHdhyHknKAQTL_Ls_\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"nfyk-V5CoIE\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Abstrakt\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwjb78Wx2aOPAxVAwkkHHdhyHknKAQTL_Ls_\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCvUHCJJ-VU9lqllKE5IqHUQ\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" \u2022 \"\n                          },\n
        \                         {\n                            \"text\": \"2:43\"\n
        \                         }\n                        ],\n                        \"accessibility\":
        {\n                          \"accessibilityData\": {\n                            \"label\":
        \"Titel \u2022 Abstrakt \u2022 2 Minuten, 43 Sekunden\"\n                          }\n
        \                       }\n                      },\n                      \"buttons\":
        [\n                        {\n                          \"buttonRenderer\":
        {\n                            \"style\": \"STYLE_DARK_ON_WHITE\",\n                            \"size\":
        \"SIZE_DEFAULT\",\n                            \"isDisabled\": false,\n                            \"text\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"Wiedergeben\"\n                                }\n
        \                             ]\n                            },\n                            \"icon\":
        {\n                              \"iconType\": \"PLAY_ARROW\"\n                            },\n
        \                           \"accessibility\": {\n                              \"label\":
        \"Wiedergeben\"\n                            },\n                            \"trackingParams\":
        \"CBYQlNIFGAAiEwjb78Wx2aOPAxVAwkkHHdhyHkk=\",\n                            \"accessibilityData\":
        {\n                              \"accessibilityData\": {\n                                \"label\":
        \"Wiedergeben\"\n                              }\n                            },\n
        \                           \"command\": {\n                              \"clickTrackingParams\":
        \"CBYQlNIFGAAiEwjb78Wx2aOPAxVAwkkHHdhyHkkyBnNlYXJjaFIMR0IyTEQyMjEwMDA3mgEDEPQkygEEy_y7Pw==\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"nfyk-V5CoIE\",\n                                \"params\": \"wAEB\",\n
        \                               \"watchEndpointMusicSupportedConfigs\": {\n
        \                                 \"watchEndpointMusicConf[...]
