interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/search?q=Nobody+Else+-+Abstrakt
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"hits\":[{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"annotation_count\":0,\"api_path\":\"/songs/7781039\",\"artist_names\":\"Abstrakt\",\"full_title\":\"Nobody
        Else by\_Abstrakt\",\"header_image_thumbnail_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.300x300x1.jpg\",\"header_image_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.440x440x1.jpg\",\"id\":7781039,\"lyrics_owner_id\":8460605,\"lyrics_state\":\"complete\",\"path\":\"/Abstrakt-nobody-else-lyrics\",\"primary_artist_names\":\"Abstrakt\",\"pyongs_count\":null,\"relationships_index_url\":\"https://genius.com/Abstrakt-nobody-else-sample\",\"release_date_components\":{\"year\":2022,\"month\":3,\"day\":17},\"release_date_for_display\":\"March
        17, 2022\",\"release_date_with_abbreviated_month_for_display\":\"Mar. 17,
        2022\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.300x300x1.jpg\",\"song_art_image_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.440x440x1.jpg\",\"stats\":{\"unreviewed_annotations\":0,\"hot\":false},\"title\":\"Nobody
        Else\",\"title_with_featured\":\"Nobody Else\",\"url\":\"https://genius.com/Abstrakt-nobody-else-lyrics\",\"featured_artists\":[],\"primary_artist\":{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"},\"primary_artists\":[{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"}]}},{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"annotation_count\":1,\"api_path\":\"/songs/5730232\",\"artist_names\":\[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/songs/7781039
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"song\":{\"annotation_count\":0,\"api_path\":\"/songs/7781039\",\"apple_music_id\":\"1605813048\",\"apple_music_player_url\":\"https://genius.com/songs/7781039/apple_music_player\",\"artist_names\":\"Abstrakt\",\"description\":{\"dom\":{\"tag\":\"root\",\"children\":[{\"tag\":\"p\",\"children\":[\"?\"]}]}},\"embed_content\":\"<div
        id='rg_embed_link_7781039' class='rg_embed_link' data-song-id='7781039'>Read
        <a href='https://genius.com/Abstrakt-nobody-else-lyrics'>\u201CNobody Else\u201D
        by Abstrakt</a> on Genius</div> <script crossorigin src='//genius.com/songs/7781039/embed.js'></script>\",\"full_title\":\"Nobody
        Else by\_Abstrakt\",\"header_image_thumbnail_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.300x300x1.jpg\",\"header_image_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.440x440x1.jpg\",\"id\":7781039,\"language\":\"en\",\"lyrics_owner_id\":8460605,\"lyrics_state\":\"complete\",\"path\":\"/Abstrakt-nobody-else-lyrics\",\"primary_artist_names\":\"Abstrakt\",\"pyongs_count\":null,\"recording_location\":null,\"relationships_index_url\":\"https://genius.com/Abstrakt-nobody-else-sample\",\"release_date\":\"2022-03-17\",\"release_date_for_display\":\"March
        17, 2022\",\"release_date_with_abbreviated_month_for_display\":\"Mar. 17,
        2022\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.300x300x1.jpg\",\"song_art_image_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.440x440x1.jpg\",\"stats\":{\"accepted_annotations\":0,\"contributors\":2,\"iq_earners\":2,\"transcribers\":1,\"unreviewed_annotations\":0,\"verified_annotations\":0,\"hot\":false},\"title\":\"Nobody
        Else\",\"title_with_featured\":\"Nobody Else\",\"url\":\"https://genius.com/Abstrakt-nobody-else-lyrics\",\"current_user_metadata\":{\"permissions\":[\"follow\",\"pyong\",\"add_community_annotation_to\",\"view_apple_music_player\",\"view_mark_complete_explanatory_tooltip\",\"create_comment\",\"create_annotation\",\"view_song_story_gallery\",\"propose_lyrics_edit\",\"create_question\"],\"excluded_permissions\":[\"award_transcription_iq\",\"remove_transcription_iq\",\"see_pageviews\",\"edit_lyrics\",\"view_annotation_engagement_data\",\"publish\",\"unpublish\",\"edit_spotify_details\",\"hide\",\"unhide\",\"add_pinned_annotation_to\",\"destroy\",\"mark_as_not_spam\",\"edit_spotify_annotations_for\",\"verify_lyrics\",\"unverify_lyrics\",\"edit_anything\",\"edit_any_media\",\"edit\",\"rename\",\"edit_tags\",\"reindex\",\"view_lyrics_synchronization\",\"enable_media\",\"disable_media\",\"edit_lyrics_or_annotation_brackets\",\"see_editorial_indicators\",\"view_attribution_visualization\",\"edit_annotation_brackets\",\"preview_lyrics_for_export\",\"hide_apple_player\",\"unhide_apple_player\",\"trigger_apple_match\",\"mark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_staff_approved\",\"unmark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_un_staff_approved\",\"view_transcriber_media_player\",\"override_apple_match\",\"set_song_color_gradient\",\"mark_as_hot\",\"unmark_as_hot\",\"view_recommendations\",\"view_relationships_page\",\"edit_youtube_url\",\"edit_soundcloud_url\",\"edit_spotify_uuid\",\"edit_vevo_url\",\"moderate_annotations\",\"see_short_id\",\"manage_chart_item\",\"create_tag\",\"view_lyrics_edit_proposals_on_song\",\"answer_question_with_source\",\"create_additional_role\",\"add_qa\",\"pin_qa\"],\"interactions\":{\"pyong\":false,\"following\":false},\"relationships\":{\"pinned_role\":null},\"iq_by_action\":{\"edit_metadata\":{\"primary\":{\"multiplier\":1,\"base\":2.0,\"applicable\":true}},\"answer_question\":{\"primary\":{\"multiplier\":1,\"base\":5.0,\"applicable\":true}}}},\"song_art_primary_color\":\"#def256\",\"song_art_secondary_color\":\"#ecf87c\",\"song_art_text_color\":\"#000\",\"album\":null,\"custom_performances\":[{\"label\":\"Label\",\"artists\":[{\"api_path\":\"/artists/623098\",\"header_image_url\":\"https://images.genius.com/25176f0534e2b582059d5930b6dc9465.1000x166x1.jpg\",\"id\":623098,\"image_url\":\"https://images.genius.com/51f69e8a2afd3693547cfab47ee9b081.1000x1000x1.png\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"NoCopyrightSounds\",\"url\":\"https://genius.com/artists/Nocopyrightsounds\",\"iq\":100}]}],\"description_annotation\":{\"_type\":\"referent\",\"annotator_id\":9359609,\"annotator_login\":\"LucasJonathon\",\"api_path\":\"/referents/25313275\",\"classification\":\"needs_exegesis\",\"fragment\":\"Nobody
        Else\",\"id\":25313275,\"is_description\":true,\"path\":\"/25313275/Abstrakt-nobody-else/Nobody-else\",\"range\":{\"content\":\"Nobody
        Else\"},\"song_id\":7781039,\"url\":\"https://genius.com/25313275/Abstrakt-nobody-else/Nobody-else\",\"verified_annotator_ids\":[],\"annotatable\":{\"api_path\":\"/songs/7781039\",\"client_timestamps\":{\"updated_by_human_at\":1648731076,\"lyrics_updated_at\":1647532736},\"context\":\"Abstrakt\",\"id\":7781039,\"image_url\":\"https://images.genius.com/53f0d315a7269e84612f338ee55825e4.440x440x1.jpg\",\"link_title\":\"Nobody
        Else by\_Abstrakt\",\"title\":\"Nobody Else\",\"type\":\"Song\",\"url\":\"https://genius.com/Abstrakt-nobody-else-lyrics\"},\"annotations\":[{\"api_path\":\"/annotations/25313275\",\"body\":{\"dom\":{\"tag\":\"root\"}},\"comment_count\":0,\"community\":true,\"custom_preview\":null,\"has_voters\":false,\"id\":25313275,\"pinned\":false,\"share_url\":\"https://genius.com/25313275\",\"source\":null,\"state\":\"needs_exegesis\",\"url\":\"https://genius.com/25313275/Abstrakt-nobody-else/Nobody-else\",\"verified\":false,\"votes_total\":0,\"current_user_metadata\":{\"permissions\":[\"report_as_abusive\"],\"excluded_permissions\":[\"vote\",\"edit\",\"cosign\",\"uncosign\",\"destroy\",\"accept\",\"reject\",\"see_unreviewed\",\"clear_votes\",\"propose_edit_to\",\"pin_to_profile\",\"unpin_from_profile\",\"update_source\",\"edit_custom_preview\",\"create_comment\"],\"interactions\":{\"cosign\":false,\"pyong\":false,\"vote\":null},\"iq_by_action\":{\"accept\":{\"primary\":{\"multiplier\":1,\"base\":10.0,\"applicable\":true}},\"reject\":{\"primary\":{\"multiplier\":1,\"base\":2.0,\"applicable\":true}},\"delete\":{\"primary\":{\"multiplier\":1,\"base\":5.0,\"applicable\":true}}}},\"authors\":[{\"attribution\":1.0,\"pinned_role\":null,\"user\":{\"api_path\":\"/users/9359609\",\"avatar\":{\"tiny\":{\"url\":\"https://images.genius.com/avatars/tiny/f31e54de086b74fdeb87c5659c65bf73\",\"bounding_box\":{\"width\":16,\"height\":16}},\"thumb\":{\"url\":\"https://images.genius.com/avatars/thumb/f31e54de086b74fdeb87c5659c65bf73\",\"bounding_box\":{\"width\":32,\"height\":32}},\"small\":{\"url\":\"https://images.genius.com/avatars/small/f31e54de086b74fdeb87c5659c65bf73\",\"bounding_box\":{\"width\":100,\"height\":100}},\"medium\":{\"url\":\"https://images.genius.com/avatars/medium/f31e54de086b74fdeb87c5659c65bf73\",\"bounding_box\":{\"width\":300,\"height\":400}}},\"header_image_url\":\"https://images.genius.com/avatars/medium/f31e54de086b74fdeb87c5659c65bf73\",\"human_readable_role_for_display\":\"Contributor\",\"id\":9359609,\"iq\":147436,\"login\":\"LucasJonathon\",\"name\":\"LucasJonathon\",\"role_for_display\":\"contributor\",\"url\":\"https://genius.com/LucasJonathon\",\"current_user_metadata\":{\"permissions\":[\"follow\"],\"excluded_permissions\":[],\"interactions\":{\"following\":false}}}}],\"cosigned_by\":[],\"rejection_comment\":null,\"verified_by\":null}]},\"featured_artists\":[],\"lyrics_marked_complete_by\":null,\"lyrics_marked_staff_approved_by\":null,\"media\":[{\"attribution\":\"nocopyrightsounds\",\"provider\":\"soundcloud\",\"type\":\"audio\",\"url\":\"https://soundcloud.com/nocopyrightsounds/abstrakt-nobody-else-ncs-release\"},{\"provider\":\"youtube\",\"start\":0,\"type\":\"video\",\"url\":\"https://www.youtube.com/watch?v=bNXMlIogpXc\"}],\"primary_artist\":{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"},\"primary_artists\":[{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"}],\"producer_artists\":[{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"}],\"song_relationships\":[{\"relationship_type\":\"samples\",\"type\":\"samples\",\"songs\":[]},{\"relationship_type\":\"sampled_in\",\"type\":\"sampled_in\",\"songs\":[]},{\"relationship_type\":\"interpolates\",\"type\":\"interpolates\",\"songs\":[]},{\"relationship_type\":\"interpolated_by\",\"type\":\"interpolated_by\",\"songs\":[]},{\"relationship_type\":\"cover_of\",\"type\":\"cover_of\",\"songs\":[]},{\"relationship_type\":\"covered_by\",\"type\":\"covered_by\",\"songs\":[]},{\"relationship_type\":\"remix_of\",\"type\":\"remix_of\",\"songs\":[]},{\"relationship_type\":\"remixed_by\",\"type\":\"remixed_by\",\"songs\":[]},{\"relationship_type\":\"live_version_of\",\"type\":\"live_version_of\",\"songs\":[]},{\"relationship_type\":\"performed_live_as\",\"type\":\"performed_live_as\",\"songs\":[]},{\"relationship_type\":\"translation_of\",\"type\":\"translation_of\",\"songs\":[]},{\"relationship_type\":\"translations\",\"type\":\"translations\",\"songs\":[]}],\"translation_songs\":[],\"verified_annotations_by\":[],\"verified_contributors\":[],\"verified_lyrics_by\":[],\"writer_artists\":[{\"api_path\":\"/artists/13256\",\"header_image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"id\":13256,\"image_url\":\"https://images.genius.com/2cba3dee51b6b78d5a586a587149c858.531x531x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Abstrakt\",\"url\":\"https://genius.com/artists/Abstrakt\"}]}}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dc706c57ba555d87f1c051e44beb374e"
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://genius.com/Abstrakt-nobody-else-lyrics
  response:
    body:
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"IL\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"REVALIDATED\">\n    <meta
        itemprop=\"rendered-with-cache\" content=\"false\">\n    <meta itemprop=\"cf-latitude\"
        content=\"31.76904\">\n    <meta itemprop=\"cf-longitude\" content=\"35.21633\">\n\n
        \   <title>Abstrakt \u2013 Nobody Else Lyrics | Genius Lyrics</title>\n\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<meta
        content='width=device-width,initial-scale=1' name='viewport'>\n\n  <meta name=\"apple-itunes-app\"
        content=\"app-id=709482991\">\n\n<link href=\"https://assets.genius.com/images/apple-touch-icon.png?1755880465\"
        rel=\"apple-touch-icon\" />\n\n\n  \n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1755880465\"
        rel=\"apple-touch-icon\" />\n\n  \n\n  <!-- Mobile IE allows us to activate
        ClearType technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<link title=\"Genius\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n    <!--sse-->\n\n
        \ <script>window['Genius.ads'] = window['Genius.ads'] || [];</script>\n\n\n\n
        \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=nfyk-V5CoIE&bpctr=9999999999&has_verified=1&pp=8AEB2AMB
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" darker-dark-theme darker-dark-theme-deprecate system-icons
        typography typography-spacing><head><script data-id=\"_gd\" nonce=\"tCMELM_dpv7W1bM6waUX1A\">window.WIZ_global_data
        = {\"HiPsbb\":0,\"MUE6Ne\":\"youtube_web\",\"MuJWjd\":false,\"UUFaWc\":\"%.@.null,1000,2]\",\"cfb2h\":\"youtube.web-front-end-critical_20250820.10_p0\",\"fPDxwd\":[],\"iCzhFc\":false,\"nQyAE\":{},\"oxN3nb\":{\"1\":false,\"0\":false,\"610401301\":false,\"899588437\":false,\"772657768\":false,\"513659523\":false,\"568333945\":true,\"1331761403\":false,\"651175828\":false,\"722764542\":false,\"748402145\":false,\"748402146\":false,\"748402147\":false,\"333098724\":false},\"u4g7r\":\"%.@.null,1,2]\",\"vJQk6\":false,\"xnI9P\":true,\"xwAfE\":true,\"yFnxrf\":2486};</script><meta
        http-equiv=\"origin-trial\" content=\"ApvK67ociHgr2egd6c2ZjrfPuRs8BHcvSggogIOPQNH7GJ3cVlyJ1NOq/COCdj0+zxskqHt9HgLLETc8qqD+vwsAAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2OTUxNjc5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"/><script
        nonce=\"tCMELM_dpv7W1bM6waUX1A\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d[...]
