interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs?additional_types=track
  response:
    body:
      string: '{"collaborative":false,"description":"","external_urls":{"spotify":"https://open.spotify.com/playlist/5LkNhFidYyyjRWwnkcMbQs"},"followers":{"href":null,"total":14},"href":"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs?additional_types=track","id":"5LkNhFidYyyjRWwnkcMbQs","images":[{"height":null,"url":"https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84bd905fdd6d8ab64e84e650c9","width":null}],"name":"Top
        10 NCS Songs Episode 2","owner":{"display_name":"Teejay.limm","external_urls":{"spotify":"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop"},"href":"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop","id":"w19j0mt7brffcom023smtwpop","type":"user","uri":"spotify:user:w19j0mt7brffcom023smtwpop"},"primary_color":null,"public":true,"snapshot_id":"AAAAGltfrxsoRxBM/BA89GkrJPbyZs3o","tracks":{"href":"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/tracks?offset=0&limit=100&additional_types=track","items":[{"added_at":"2021-01-24T12:43:16Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop"},"href":"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop","id":"w19j0mt7brffcom023smtwpop","type":"user","uri":"spotify:user:w19j0mt7brffcom023smtwpop"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":[],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":[],"type":"album","album_type":"single","href":"https://api.spotify.com/v1/albums/0SD7WKX5j92D3g3N4JM8N3","id":"0SD7WKX5j92D3g3N4JM8N3","images":[],"name":"","release_date":"0000","release_date_precision":"year","uri":"spotify:album:0SD7WKX5j92D3g3N4JM8N3","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of","id":"0LyfQWJT6nXafLPZqxe9Of","name":"Various
        Artists","type":"artist","uri":"spotify:artist:0LyfQWJT6nXafLPZqxe9Of"}],"external_urls":{"spotify":"https://open.spotify.com/album/0SD7WKX5j92D3g3N4JM8N3"},"total_tracks":1},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of","id":"0LyfQWJT6nXafLPZqxe9Of","name":"","type":"artist","uri":"spotify:artist:0LyfQWJT6nXafLPZqxe9Of"}],"disc_number":1,"track_number":1,"duration_ms":0,"external_ids":{},"external_urls":{"spotify":"https://open.spotify.com/track/4YhITuwINLCfXYB2WCXbCZ"},"href":"https://api.spotify.com/v1/tracks/4YhITuwINLCfXYB2WCXbCZ","id":"4YhITuwINLCfXYB2WCXbCZ","name":"","popularity":0,"uri":"spotify:track:4YhITuwINLCfXYB2WCXbCZ","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2021-01-24T12:47:48Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop"},"href":"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop","id":"w19j0mt7brffcom023smtwpop","type":"user","uri":"spotify:user:w19j0mt7brffcom023smtwpop"},"is_local":false,"primary_color":null,"track":{"preview_url":"https://p.scdn.co/mp3-preview/584c63beb79d87d11ed0cefbf158914b9d8730ec?cid=ad996353310b4ced82f5be1309b11b14","available_markets"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/tracks?offset=[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/18A7ha5BitZjmdHTCwXFbU
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG"},"followers":{"href":null,"total":1717416},"genres":["modern
        indie pop"],"href":"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG","id":"7gXb99Sf9nNmpNYeAgIQFG","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebd0019e1ad7a088651a490862","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174d0019e1ad7a088651a490862","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178d0019e1ad7a088651a490862","height":160,"width":160}],"name":"Sub
        Urban","popularity":65,"type":"artist","uri":"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijk3NDM2NzM4MTNkMjI5ODRmYzI2YjdiNDJhZmE3NWVjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/1WTTu8JvpNLQShwwO8o4L9"},"href":"https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9","id":"1WTTu8JvpNLQShwwO8o4L9","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273cec7c8ebb684882dbaf476f5","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e02cec7c8ebb684882dbaf476f5","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d00004851cec7c8ebb684882dbaf476f5","height":64,"width":64}],"name":"Cradles","release_date":"2019-01-04","release_date_precision":"day","type":"album","uri":"spotify:album:1WTTu8JvpNLQShwwO8o4L9","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG"},"href":"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG","id":"7gXb99Sf9nNmpNYeAgIQFG","name":"Sub
        Urban","type":"artist","uri":"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG"}],"tracks":{"href":"https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9/tracks?offset=0&limit=50","limit":50,"next":null,"offset":0,"previous":null,"total":1,"items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG"},"href":"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG","id":"7gXb99Sf9nNmpNYeAgIQFG","name":"Sub
        Urban","type":"artist","uri":"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG"}],"available_markets":[],"disc_number":1,"duration_ms":209829,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/18A7ha5BitZjmdHTCwXFbU"},"href":"https://api.spotify.com/v1/tracks/47UFoOuvrkt4khE7c5aap6","id":"47UFoOuvrkt4khE7c5aap6","linked_from":{"external_urls":{"spotify":"https://open.spotify.com/track/18A7ha5BitZjmdHTCwXFbU"},"href":"https://api.spotify.com/v1/tracks/18A7ha5BitZjmdHTCwXFbU","id":null,"type":"track","uri":"spotify:track:18A7ha5BitZjmdHTCwXFbU"},"name":"Cradles","preview_url":"https://p.scdn.co/mp3-preview/584c63beb79d87d11ed0cefbf158914b9d8730ec?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:47UFoOuvrkt4khE7c5aap6","is_local":false}]},"copyrights":[{"text":"2019
        NCS","type":"C"},{"text":"2019 NCS","type":"P"}],"external_ids":{"upc":"5055199529585"},"genres":[],"label":"NCS","popularity":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjI5ZTUwOWFkODU5Zjk4NzA4ZjU4ODA3MjEzNjExODg0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4VZH6OfxPy1nNE7KbtVKyK
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/157L8iTHgbdrKVxdQEXluh"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1EfxWO4kPvf4d2Nj6HCL3D
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/1EfxWO4kPvf4d2Nj6HCL3D"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2BgagqJWYfrKPhz3f5V0Sw
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/72fdBvuHxCR7PLvj0osbhR"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/72fdBvuHxCR7PLvj0osbhR
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/72fdBvuHxCR7PLvj0osbhR"},"followers":{"href":null,"total":16920},"genres":["gaming
        edm","traprun"],"href":"https://api.spotify.com/v1/artists/72fdBvuHxCR7PLvj0osbhR","id":"72fdBvuHxCR7PLvj0osbhR","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebee3a104cc77027a14ef0c8e6","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174ee3a104cc77027a14ef0c8e6","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178ee3a104cc77027a14ef0c8e6","height":160,"width":160}],"name":"Julius
        Dreisig","popularity":46,"type":"artist","uri":"spotify:artist:72fdBvuHxCR7PLvj0osbhR"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImU0OTZjYTcwNjExMGQ4ZTVjMjlmNmI1NGY1MTcxMTQxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1aFmxF4v2F31uUWcySqV0Y
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/1aFmxF4v2F31uUWcySqV0Y"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2yox08l4o0FnOL8Ih4yEfM
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6i1GVNJCyyssRwXmnaeEFH"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6i1GVNJCyyssRwXmnaeEFH
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6i1GVNJCyyssRwXmnaeEFH"},"followers":{"href":null,"total":232526},"genres":["deep
        tropical house","edm","pop dance","pop edm","progressive electro house","tropical
        house"],"href":"https://api.spotify.com/v1/artists/6i1GVNJCyyssRwXmnaeEFH","id":"6i1GVNJCyyssRwXmnaeEFH","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebf144aec1f0427c0e998abb28","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174f144aec1f0427c0e998abb28","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178f144aec1f0427c0e998abb28","height":160,"width":160}],"name":"Syn
        Cole","popularity":54,"type":"artist","uri":"spotify:artist:6i1GVNJCyyssRwXmnaeEFH"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImRmODAyOThhNGI2ZDE3NmYzOWZhNWE3ZDQ3NGQ5ZGJjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5NOwsz8MGHGTJV1NR3nKmh
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/5NOwsz8MGHGTJV1NR3nKmh"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7EYv3adMrIC5mqurz7fHhD
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0okpgBQamDqOZazBeH0J3I"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2TKC9e7mRbxOVx1HbgKHR0
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/2TKC9e7mRbxOVx1HbgKHR0"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5zrJNZeC9Fs2hudgynhdvB
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0Szh8DhUXEL2iujQ9cdS4q
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0Szh8DhUXEL2iujQ9cdS4q"},"followers":{"href":null,"total":10992},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/0Szh8DhUXEL2iujQ9cdS4q","id":"0Szh8DhUXEL2iujQ9cdS4q","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb67a58bd208b5e289665cb02b","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517467a58bd208b5e289665cb02b","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17867a58bd208b5e289665cb02b","height":160,"width":160}],"name":"Jo
        Cohen","popularity":36,"type":"artist","uri":"spotify:artist:0Szh8DhUXEL2iujQ9cdS4q"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjAzYmUwYzI4NTQwYmJiODkzNGIwZDdjZjkyMDZkYTJhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1r07Izb8tOjwqYP6iTICH7
  response:
    body:
      string: "{\"album_type\":\"compilation\",\"total_tracks\":16,\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/1r07[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5NcYCtoBkAGyxL5SCF64av
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1feoGrmmD8QmNqtK2Gdwy8"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1feoGrmmD8QmNqtK2Gdwy8
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1feoGrmmD8QmNqtK2Gdwy8"},"followers":{"href":null,"total":395467},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/1feoGrmmD8QmNqtK2Gdwy8","id":"1feoGrmmD8QmNqtK2Gdwy8","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb30eb9bf041aecb5295605632","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517430eb9bf041aecb5295605632","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17830eb9bf041aecb5295605632","height":160,"width":160}],"name":"Tobu","popularity":51,"type":"artist","uri":"spotify:artist:1feoGrmmD8QmNqtK2Gdwy8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjZjNGVhODkwYjMwMTY1YWFhZTgzZjA1MWMwMDMzNDg3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4yS3vUFIaE2xilaeYz3p9q
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2hjqFVoMk6ssbfgtHEyhsY
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2VXRxdCCHHajU61ohOXnO1"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2VXRxdCCHHajU61ohOXnO1
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2VXRxdCCHHajU61ohOXnO1"},"followers":{"href":null,"total":5437},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/2VXRxdCCHHajU61ohOXnO1","id":"2VXRxdCCHHajU61ohOXnO1","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb8c9c2b7be80e9637a0c5138a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051748c9c2b7be80e9637a0c5138a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1788c9c2b7be80e9637a0c5138a","height":160,"width":160}],"name":"Star
        Party","popularity":44,"type":"artist","uri":"spotify:artist:2VXRxdCCHHajU61ohOXnO1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjAxMDIxYjNiMmU2NGE2Y2M0N2JiOTUyYmNhMzkyYmQ1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3xwuqfx9wOpIaJyicth9aY
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/3xwuqfx9wOpIaJyicth9aY"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4aW4j7ef4H9SPsfKrczvvr
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/58yUFNnwk1DyoBvKNPmYdH"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/58yUFNnwk1DyoBvKNPmYdH
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/58yUFNnwk1DyoBvKNPmYdH"},"followers":{"href":null,"total":39985},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/58yUFNnwk1DyoBvKNPmYdH","id":"58yUFNnwk1DyoBvKNPmYdH","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb98d6421c82e8d1ec8b1d31e7","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517498d6421c82e8d1ec8b1d31e7","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17898d6421c82e8d1ec8b1d31e7","height":160,"width":160}],"name":"Desmeon","popularity":38,"type":"artist","uri":"spotify:artist:58yUFNnwk1DyoBvKNPmYdH"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjdiZTkyM2Q0NTkwMTVjYjBhYzQzNzAwMDYxZjhiYzZhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3bv5lCourSLb48zvcxtVcm
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/3bv5lCourSLb48zvcxtVcm"[...]
