<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <title>spotdl</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Datastar -->
    <!-- <script type="module" src="/datastar.js"></script> -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
    <!-- Import DaisyUI -->
    <!-- <link href="/daisyui@5.css" rel="stylesheet" type="text/css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <!-- Import tailwindcss -->
    <!-- <script src="/browser@4.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Import Iconify -->
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
</head>

<style>
    iconify-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }
</style>

<script>
    function goto(location) {
        window.location.href = location;
    }
</script>

<body data-signals="{'client_id': ''}"
    data-on-load="$client_id = localStorage.getItem('client_id'); @get('/client/load')">

    <div class="bg-base-300 absolute w-full t-0">
        {% include "navbar.html.j2" %}

        {# <nav>
            {% for menu_item in ["home", "search", "download"] %}
            <a href="{{ url_for(menu_item) }}">{{ menu_item }}</a>
            {% endfor %}
        </nav> #}

        {# <div id="banner">
            <div class="hero min-h-screen">
                <div id="banner-content">
                    Connecting to server...
                </div>
            </div>
        </div> #}

        <!-- Home -->
        {% block content %}
        <span id="router-view"></span>
        {% endblock content %}

        <!-- DEBUG: Display all signals -->
        <pre data-json-signals></pre>

        <!-- Footer  -->
        {% include "footer.html.j2" %}

        <!-- Settings -->
        <span id="component-settings"
            data-on-signal-patch="@get('/client/component/settings-content'); localStorage.setItem('client_id', $client_id);"
            data-on-signal-patch-filter="{include: /client_id/}">
        </span>
        <dialog id="settings_modal" class="modal">
            <!-- Settings Modal Content -->
            <div id="component-settings-content"></div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>

    </div>

</body>

</html>