<input id="input-rotating-placeholder" type="text" placeholder="{{ placeholder_item }}"
    class="input input-bordered w-full text-base-content" data-bind="searchTerm"
    data-on-keyup.enter="@get('/client/search')">
</input>