<input id="input-rotating-placeholder" type="text" placeholder="{{ placeholder_item }}"
    class="input input-bordered w-full text-base-content" data-bind="search_term"
    data-on-keydown="evt.key === 'Enter' && goto('/search?q=' + $search_term )">
</input>