interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://bandcamp.com/search?item_type=t&q=electronic+ambient
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n
        \   <title>Search: electronic ambient | Bandcamp</title>\n    \n    \n\n\n\n
        \   <meta name=\"description\" content=\"\n\">\n    \n    \n    <link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"https://s4.bcbits.com/img/favicon/apple-touch-icon.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://s4.bcbits.com/img/favicon/favicon-32x32.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://s4.bcbits.com/img/favicon/favicon-16x16.png\">\n
        \   <link rel=\"mask-icon\" href=\"https://s4.bcbits.com/img/favicon/safari-pinned-tab.svg\"
        color=\"#1da0c3\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta
        name=\"theme-color\" content=\"#ffffff\">\n\n    \n\n    \n\n    \n    \n\n
        \   \n    \n    \n\n\n\n    \n\n    \n    \n    \n\n    \n\n    \n    \n\n
        \   <link type=\"text/css\" rel=\"stylesheet\" href=\"https://s4.bcbits.com/client-bundle/1/trackpipe/global-287f5755431dca6cbd6e368f712ddda5.css\">\n<link
        type=\"text/css\" rel=\"stylesheet\" href=\"https://s4.bcbits.com/client-bundle/1/trackpipe/search_desktop-4abd267978e003660511ff42d076b44c.css\">\n\n
        \   <meta id=\"js-crumbs-data\" data-crumbs=\"{}\">\n    \n\n    \n\n    \n\n
        \   \n    \n        <script nonce=\"YZSyYCEwcs2pDG4XS3elbQ==\" src=\"https://js.stripe.com/basil/stripe.js\"
        async></script>\n    \n\n    \n<script type=\"text/javascript\" nonce=\"YZSyYCEwcs2pDG4XS3elbQ==\">\nwindow.BCTracker=window.BCTracker||{preloadQueue:[],record:function(){this.preloadQueue.push(Array.prototype.slice.call(arguments))},prePageViewCallbacks:[],afterPageView:function(e){this.prePageViewCallbacks.push(e)}},window.ScrollDepthTracker=function(){this.track=function(){}},window.ScrollDepthTracker.tra[...]
