interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://ghostly.bandcamp.com/album/diving-station
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n
        \   <title>Ghostly International</title>\n    \n    \n\n\n\n    <meta name=\"description\"
        content=\"\n\">\n    \n    \n    <link rel=\"apple-touch-icon\" sizes=\"180x180\"
        href=\"https://s4.bcbits.com/img/favicon/apple-touch-icon.png\">\n    <link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://s4.bcbits.com/img/favicon/favicon-32x32.png\">\n
        \   <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://s4.bcbits.com/img/favicon/favicon-16x16.png\">\n
        \   <link rel=\"mask-icon\" href=\"https://s4.bcbits.com/img/favicon/safari-pinned-tab.svg\"
        color=\"#1da0c3\">\n\n\n<meta name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta
        name=\"theme-color\" content=\"#ffffff\">\n\n    \n\n    \n\n    \n    \n\n
        \   \n    \n    \n\n\n\n    \n\n    \n    \n    \n\n    \n\n    \n    \n\n
        \   <link type=\"text/css\" rel=\"stylesheet\" href=\"https://s4.bcbits.com/client-bundle/1/trackpipe/global-287f5755431dca6cbd6e368f712ddda5.css\">\n\n
        \   <meta id=\"js-crumbs-data\" data-crumbs=\"{}\">\n    \n\n\n    \n\n    \n
        \   \n\n    \n\n</head>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<body class=\"webkit
        mac enable-cookie-control has-vue-banner \" lang=\"en\">\n\n\n\n<svg height=\"0\"
        width=\"0\" style=\"position:absolute;margin-left:-100%\">\n    <path id=\"tweet\"
        d=\"M16.1 3.5a9.6 9.6 0 01-1.7 6c-.6.9-1.3 1.6-2.1 2.3-.8.7-1.8 1.2-2.9 1.6-1.2.4-2.4.6-3.7.6-2.2
        0-4.1-.6-5.7-1.6 2.5.2 4.1-.5 5.5-1.5-1.7 0-3-1.1-3.4-2.4.5.1 1.3 0 1.7-.1-1.5-.3-3-1.7-3-3.5.3.2.9.4
        1.7.4C1.5 4.8.8 3.7.8 2.4c0-.6.2-1.4.5-1.8 1.7 2 4.4 3.6 7.6 3.7C8.3 1.4 10.6
        0 12.5 0c1.1 0 2 .4 2.7 1.1.8-.1 1.6-.4 2.3-.8-.3.8-.8 1.5-1.6 1.9.7-.1 1.4-.2
        2.1-.5-.5.7-1.1 1.3-1.9 1.8z\"/>\n    <path id=\"buy-for-friend\" d=\"M3.5
        4h7c1.8[...]
