interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"pl-PL\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"ckCTN2Hybzh-bmu4sbc-8A\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'PL', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"ckCTN2Hybzh-bmu4sbc-8A\"></script><script nonce=\"ckCTN2Hybzh-bmu4sbc-8A\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"playbackContext": {"contentPlaybackContext": {"signatureTimestamp": 20525}},
      "video_id": "gAjR4_CbPpQ", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260314.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtGYkhpRWFHRlpnOCjP6dXNBjIoCgJQTBIiEh4SHAsMDg8QERITFBUWFxgZGhscHR4fICEiIyQlJicgEWLfAgrcAjE2LllUPVdRVnpkSWxHOWFyTzZHNE8yQ3VmWlR5Y1hQckljQmY5dVNOLTFCdGN0eXFCanRzalBZdVpTdFhNTjAzdjBpMnRzR2dHeUMwOFI2MFpiazhoY1I0NnFMN2UtUzh4MXFoS3FHdVZnUnZHMzJzSEZzT1l2SXEybXpBZDg3YS0ybURBSUJHSmRZZ1hDWXhqczhjX01CcVdqS1Flb09fb09TeFR2Z0VOcXBnczNXcEk3bVhKR1ZSU1VWZnk1SlFYeWZyY2I2aVJUenQ5V2VaNzZaakpBbE5zTVhFU0NISW9La3k5YnBmSU9felcteUNlRUJoOE5ubWxySjd6MTFIYk5vanJIVjdWcFRnaGIzallKY0JJZjRoa2NTMUNOUkgtbWo4bUtkRWJOTmpDWWZONThoYlZldFlWb0pUMHJQZktQRVh1N21kS2hmMVhPU05ObXgzYmhMMGoxUQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/player?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"is_alc_surface\",\n            \"value\": \"false\"\n
        \         },\n          {\n            \"key\": \"is_viewed_live\",\n            \"value\":
        \"False\"\n          },\n          {\n            \"key\": \"ipcc\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"wh_paused\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"yt_ad\",\n            \"value\":
        \"1\"\n          },\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260314.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetPlayer_rid\",\n            \"value\": \"0xe2d424aeabdb6efa\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 0\n  },\n  \"playabilityStatus\": {\n    \"status\":
        \"OK\",\n    \"playableInEmbed\": true,\n    \"audioOnlyPlayability\": {\n
        \     \"audioOnlyPlayabilityRenderer\": {\n        \"trackingParams\": \"CCgQx2kiEwjh8bbt0J-TAxVY90IFHaxLJLw=\",\n
        \       \"audioOnlyAvailability\": \"FEATURE_AVAILABILITY_ALLOWED\"\n      }\n
        \   },\n    \"miniplayer\": {\n      \"miniplayerRenderer\": {\n        \"playbackMode\":
        \"PLAYBACK_MODE_ALLOW\"\n      }\n    },\n    \"contextParams\": \"Q0FFU0FnZ0I=\"\n
        \ },\n  \"streamingData\": {\n    \"expiresInSeconds\": \"21540\",\n    \"formats\":
        [\n      {\n        \"itag\": 18,\n        \"mimeType\": \"video/mp4; codecs=\\\"avc1.42001E,
        mp4a.40.2\\\"\",\n        \"bitrate\": 263787,\n        \"width\": 480,\n
        \       \"height\": 360,\n        \"lastModified\": \"1730831787648118\",\n
        \       \"quality\": \"medium\",\n        \"fps\": 25,\n        \"qualityLabel\":
        \"360p\",\n        \"projectionType\": \"RECTANGULAR\",\n        \"audioQuality\":
        \"AUDIO_QUALITY_LOW\",\n        \"approxDurationMs\": \"222865\",\n        \"audioSampleRate\":
        \"44100\",\n        \"audioChannels\": 2,\n        \"signatureCipher\": \"s=I%3DwI%3DwDG_y%3Dzr5OuY2HztsTDSxWcfcFpp-l0hLHxKULrW8ZFAiAODzlOnOArL3WE6r1gREpvQoxfnyHOh8CGS90SVIM1TMAhIQRw4MNqEHA&sp=sig&url=https://rr1---sn-oxup5-f5fr.googlevideo.com/videoplayback%3Fexpire%3D1773521200%26ei%3D0HS1aeHJC9jui9oPrJeR4Qs%26ip%3D93.159.24.143%26id%3Do-AINDwBZVmTrCu-2yWuNyTouE82XI0tlGpQw8nyufKdcE%26itag%3D18%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26cps%3D864%26met%3D1773499600%252C%26mh%3Dav%26mm%3D31%252C29%26mn%3Dsn-oxup5-f5fr%252Csn-f5f7lnld%26ms%3Dau%252Crdu%26mv%3Dm%26mvi%3D1%26pl%3D22%26rms%3Dau%252Cau%26initcwndbps%3D2843750%26bui%3DAVNa5-wQPtMv_EVjZlFBcjuTfuN1D_pAmPQ2MIiA7F3yKmrbB90l8VOccyMqhEJ4Rg0LGBhWRNdZT-9W%26spc%3D6dlaFIahXuX1_NGoQ5dAePAvqNwOQCgPoX32NqrvD102f1jKRh9fesjKzZv8Ncf_1Rv7CQ%26vprv%3D1%26svpuc%3D1%26mime%3Dvideo%252Fmp4%26ns%3DEUpBh7LB51OGSHR9RTSZw-IT%26rqh%3D1%26cnr%3D14%26ratebypass%3Dyes%26dur%3D222.865%26lmt%3D1730831787648118%26mt%3D1773499060%26fvip%3D3%26fexp%3D51565115%252C51565681%252C51791334%26c%3DWEB_REMIX%26sefc%3D1%26txp%3D4538434%26n%3DHLDSAmlUc2YmBBpgB%26sparams%3Dexpire%252Cei%252Cip%252Cid%252Citag%252Csource%252Crequiressl%252Cxpc%252Cbui%252Cspc%252Cvprv%252Csvpuc%252Cmime%252Cns%252Crqh%252Ccnr%252Cratebypass%252Cdur%252Clmt%26lsparams%3Dcps%252Cmet%252Cmh%252Cmm%252Cmn%252Cms%252Cmv%252Cmvi%252Cpl%252Crms%252Cinitcwndbps%26lsig%3DAPaTxxMwRQIhAMOhsHFontfGqkVNEm2iqW9_C751k9NhNWadUxSGK_gHAiA7Bf4yRF2ShD64mumD13z-MoaQLH4rzXY7q-29mJg5Xw%253D%253D\",\n
        \       \"qualityOrdinal\": \"QUALITY_ORDINAL_360P\"\n      }\n    ],\n    \"adaptiveFormats\":
        [\n      {\n        \"itag\": 135,\n        \"mimeType\": \"video/mp4; codecs=\\\"avc1.4d401e\\\"\",\n
        \       \"bitrate\": 408592,\n        \"width\": 640,\n        \"height\":
        480,\n        \"initRange\": {\n          \"start\": \"0\",\n          \"end\":
        \"739\"\n        },\n        \"indexRange\": {\n          \"start\": \"740\",\n
        \         \"end\": \"1275\"\n        },\n        \"lastModified\": \"1730831784840493\",\n
        \       \"contentLength\": \"7041471\",\n        \"quality\": \"large\",\n
        \       \"fps\": 25,\n        \"qualityLabel\": \"480p\",\n        \"projectionType\":
        \"RECTANGULAR\",\n        \"averageBitrate\": 252835,\n        \"approxDurationMs\":
        \"222800\",\n        \"signatureCipher\": \"s=QM-QM-DPWX%3DAmUKLjQK69mC6vbYSdY86z7amXK_Vv3b5sErAEiAazAnanKXhbPgdW3D215dzzO0I15jT5bk1VkXUldO8HNAhIgRw4MNqEHA&sp=sig&url=https://rr1---sn-oxup5-f5fr.googlevideo.com/videoplayback%3Fexpire%3D1773521200%26ei%3D0HS1aeHJC9jui9oPrJeR4Qs%26ip%3D93.159.24.143%26id%3Do-AINDwBZVmTrCu-2yWuNyTouE82XI0tlGpQw8nyufKdcE%26itag%3D135%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26cps%3D864%26met%3[...]
[...]
