interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"pl-PL\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"m-2Vt1hZA2R4Xyh9V8EYXg\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'PL', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"m-2Vt1hZA2R4Xyh9V8EYXg\"></script><script nonce=\"m-2Vt1hZA2R4Xyh9V8EYXg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "GBDUW0000059", "params": "EgWKAQIIAWoMEA4QChADEAQQCRAF", "context":
      {"client": {"clientName": "WEB_REMIX", "clientVersion": "1.20260314.01.00",
      "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgsxZDlreXBDN2tXSSjS6dXNBjIoCgJQTBIiEh4SHAsMDg8QERITFBUWFxgZGhscHR4fICEiIyQlJicgO2LfAgrcAjE2LllUPWwwNC1YUzF0amw4RThMUHZER0xZdjVhcElYRXdWaEhJcDlIaXItNl9fSGs3WGd0MjdoajU3Q04yYUoxR3gxM1ZELXhBREZyaUc2OV9WMm5iSTdCc2VlbFlYTWZ4cmZlVzhyYUppa0RoSTZDWHE0b2FJU0RDYXdNa00yRjc4TXd4NXFNYlQyR1c3WURYdHlZMHo0Y3ROSS1ncjhFdVFHQlNNVnhtQnBJbHN3R3pObFN4V285dy05dG9wTkd1Z0ZSUlctVjM1Q1c2dzhNT1ZONU5PMHpBZmJYM1JEZTluNS1UU0hkVlR5M0FQNVlOc2g0Ulc3eDZkNUVXdF81RHhpWVZRUUg0SW14a1ZQZHJCemZNREhIQ1N2NkNXcm80bTk2Q0UtQkZUd1NJRDlXTURmalFCR3dMVnAxVm1wbXlUd2ROYmlod3UwZkR5b0x3dDlWY0hJUkZSZw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20260314.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xb99723fbe4688c0f\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"messageRenderer\":
        {\n                            \"trackingParams\": \"CCEQljsYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7A==\",\n
        \                           \"button\": {\n                              \"buttonRenderer\":
        {\n                                \"style\": \"STYLE_TEXT\",\n                                \"isDisabled\":
        false,\n                                \"text\": {\n                                  \"simpleText\":
        \"About these results\"\n                                },\n                                \"icon\":
        {\n                                  \"iconType\": \"INFO_OUTLINE\"\n                                },\n
        \                               \"navigationEndpoint\": {\n                                  \"clickTrackingParams\":
        \"CCIQ8FsiEwibod7u0J-TAxUN40IFHQptDOzKAQRPuDtj\",\n                                  \"urlEndpoint\":
        {\n                                    \"url\": \"https://www.youtube.com/howyoutubeworks/product-features/search/\",\n
        \                                   \"target\": \"TARGET_NEW_WINDOW\"\n                                  }\n
        \                               },\n                                \"trackingParams\":
        \"CCIQ8FsiEwibod7u0J-TAxUN40IFHQptDOw=\",\n                                \"iconPosition\":
        \"BUTTON_ICON_POSITION_TYPE_RIGHT_OF_TEXT\"\n                              }\n
        \                           },\n                            \"style\": {\n
        \                             \"value\": \"RENDER_STYLE_PANEL\"\n                            }\n
        \                         }\n                        }\n                      ],\n
        \                     \"trackingParams\": \"CCAQuy8YACITCJuh3u7Qn5MDFQ3jQgUdCm0M7A==\"\n
        \                   }\n                  },\n                  {\n                    \"itemSectionRenderer\":
        {\n                      \"contents\": [\n                        {\n                          \"didYouMeanRenderer\":
        {\n                            \"didYouMean\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Did you mean:\"\n                                }\n                              ]\n
        \                           },\n                            \"correctedQuery\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"SBIN0000059\",\n                                  \"italics\":
        true\n                                }\n                              ]\n
        \                           },\n                            \"correctedQueryEndpoint\":
        {\n                              \"clickTrackingParams\": \"CB8Q7jAYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7MoBBE-4O2M=\",\n
        \                             \"searchEndpoint\": {\n                                \"query\":
        \"SBIN0000059\",\n                                \"params\": \"EgWKAQIIAWoMEA4QChADEAQQCRAF\"\n
        \                             }\n                            },\n                            \"trackingParams\":
        \"CB8Q7jAYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7A==\"\n                          }\n
        \                       }\n                      ],\n                      \"trackingParams\":
        \"CB4Quy8YASITCJuh3u7Qn5MDFQ3jQgUdCm0M7A==\"\n                    }\n                  },\n
        \                 {\n                    \"musicShelfRenderer\": {\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Songs\"\n                          }\n                        ]\n                      },\n
        \                     \"contents\": [\n                        {\n                          \"musicResponsiveListItemRenderer\":
        {\n                            \"trackingParams\": \"CAwQ4WcYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7A==\",\n
        \                           \"thumbnail\": {\n                              \"musicThumbnailRenderer\":
        {\n                                \"thumbnail\": {\n                                  \"thumbnails\":
        [\n                                    {\n                                      \"url\":
        \"https://lh3.googleusercontent.com/qrY7xjdjqL0FEneZKHk845JeeFjdWOgexUa_BhsUxskJ2iflhzpbofqGJZBcPHDGU9JjoZflE4yn3P74=w60-h60-l90-rj\",\n
        \                                     \"width\": 60,\n                                      \"height\":
        60\n                                    },\n                                    {\n
        \                                     \"url\": \"https://lh3.googleusercontent.com/qrY7xjdjqL0FEneZKHk845JeeFjdWOgexUa_BhsUxskJ2iflhzpbofqGJZBcPHDGU9JjoZflE4yn3P74=w120-h120-l90-rj\",\n
        \                                     \"width\": 120,\n                                      \"height\":
        120\n                                    }\n                                  ]\n
        \                               },\n                                \"thumbnailCrop\":
        \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n                                \"thumbnailScale\":
        \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n                                \"trackingParams\":
        \"CB0QhL8CIhMIm6He7tCfkwMVDeNCBR0KbQzs\"\n                              }\n
        \                           },\n                            \"overlay\": {\n
        \                             \"musicItemThumbnailOverlayRenderer\": {\n                                \"background\":
        {\n                                  \"verticalGradient\": {\n                                    \"gradientLayerColors\":
        [\n                                      \"3422552064\",\n                                      \"3422552064\"\n
        \                                   ]\n                                  }\n
        \                               },\n                                \"content\":
        {\n                                  \"musicPlayButtonRenderer\": {\n                                    \"playNavigationEndpoint\":
        {\n                                      \"clickTrackingParams\": \"CBwQyN4CIhMIm6He7tCfkwMVDeNCBR0KbQzsygEET7g7Yw==\",\n
        \                                     \"watchEndpoint\": {\n                                        \"videoId\":
        \"JhulBGMA7G4\",\n                                        \"watchEndpointMusicSupportedConfigs\":
        {\n                                          \"watchEndpointMusicConfig\":
        {\n                                            \"musicVideoType\": \"MUSIC_VIDEO_TYPE_ATV\"\n
        \                                         }\n                                        }\n
        \                                     }\n                                    },\n
        \                                   \"trackingParams\": \"CBwQyN4CIhMIm6He7tCfkwMVDeNCBR0KbQzs\",\n
        \                                   \"playIcon\": {\n                                      \"iconType\":
        \"PLAY_ARROW\"\n                                    },\n                                    \"pauseIcon\":
        {\n                                      \"iconType\": \"PAUSE\"\n                                    },\n
        \                                   \"iconColor\": 4294967295,\n                                    \"backgroundColor\":
        0,\n                                    \"activeBackgroundColor\": 0,\n                                    \"loadingIndicatorColor\":
        14745645,\n                                    \"playingIcon\": {\n                                      \"iconType\":
        \"VOLUME_UP\"\n                                    },\n                                    \"iconLoadingColor\":
        0,\n                                    \"activeScaleFactor\": 1,\n                                    \"buttonSize\":
        \"MUSIC_PLAY_BUTTON_SIZE_SMALL\",\n                                    \"rippleTarget\":
        \"MUSIC_PLAY_BUTTON_RIPPLE_TARGET_SELF\",\n                                    \"accessibilityPlayData\":
        {\n                                      \"accessibilityData\": {\n                                        \"label\":
        \"Play Harder, Better, Faster, Stronger - Daft Punk\"\n                                      }\n
        \                                   },\n                                    \"accessibilityPauseData\":
        {\n                                      \"accessibilityData\": {\n                                        \"label\":
        \"Pause Harder, Better, Faster, Stronger - Daft Punk\"\n                                      }\n
        \                                   }\n                                  }\n
        \                               },\n                                \"contentPosition\":
        \"MUSIC_ITEM_THUMBNAIL_OVERLAY_CONTENT_POSITION_CENTERED\",\n                                \"displayStyle\":
        \"MUSIC_ITEM_THUMBNAIL_OVERLAY_DISPLAY_STYLE_PERSISTENT\"\n                              }\n
        \                           },\n                            \"flexColumns\":
        [\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Harder, Better, Faster, Stronger\",\n                                        \"navigationEndpoint\":
        {\n                                          \"clickTrackingParams\": \"CAwQ4WcYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7JoBAxD0JMoBBE-4O2M=\",\n
        \                                         \"watchEndpoint\": {\n                                            \"videoId\":
        \"JhulBGMA7G4\",\n                                            \"watchEndpointMusicSupportedConfigs\":
        {\n                                              \"watchEndpointMusicConfig\":
        {\n                                                \"musicVideoType\": \"MUSIC_VIDEO_TYPE_ATV\"\n
        \                                             }\n                                            }\n
        \                                         }\n                                        }\n
        \                                     }\n                                    ]\n
        \                                 },\n                                  \"displayPriority\":
        \"MUSIC_RESPONSIVE_LIST_ITEM_COLUMN_DISPLAY_PRIORITY_HIGH\"\n                                }\n
        \                             },\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Daft Punk\",\n                                        \"navigationEndpoint\":
        {\n                                          \"clickTrackingParams\": \"CAwQ4WcYACITCJuh3u7Qn5MDFQ3jQgUdCm0M7MoBBE-4O2M=\",\n
        \                                         \"browseEndpoint\": {\n                                            \"browseId\":
        \"UCRr1xG_2WIDs18a6cIiCxeA\",\n                                            \"browseEndpointContextSupportedConfigs\":
        {\n                                              \"browseEndpointContextMusicConfig\":
        {\n                                                \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                             }\n                                            }\n
        \                                         }\n                                        }\n
        \                                     },\n                                      {\n
        \                                       \"text\": \" \u2022 \"\n                                      },\n
        \                                     {\n            [...]
[...]
