interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"pl-PL\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"Uj7sjYzykP-LZW48azbqYg\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'PL', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"Uj7sjYzykP-LZW48azbqYg\"></script><script nonce=\"Uj7sjYzykP-LZW48azbqYg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "Daft Punk Harder Better Faster Stronger", "params": "EgWKAQIIAWoMEA4QChADEAQQCRAF",
      "context": {"client": {"clientName": "WEB_REMIX", "clientVersion": "1.20260131.01.00",
      "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtqeER2YlRBOUdFayim5PfLBjInCgJQTBIhEh0SGwsMDg8QERITFBUWFxgZGhscHR4fICEiIyQlJiBU
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20260131.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xd824527f117f3cda\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"messageRenderer\":
        {\n                            \"trackingParams\": \"CPACEJY7GAAiEwj7u8_B4LWSAxW3Q3oFHRz8JQQ=\",\n
        \                           \"button\": {\n                              \"buttonRenderer\":
        {\n                                \"style\": \"STYLE_TEXT\",\n                                \"isDisabled\":
        false,\n                                \"text\": {\n                                  \"simpleText\":
        \"About these results\"\n                                },\n                                \"icon\":
        {\n                                  \"iconType\": \"INFO_OUTLINE\"\n                                },\n
        \                               \"navigationEndpoint\": {\n                                  \"clickTrackingParams\":
        \"CPECEPBbIhMI-7vPweC1kgMVt0N6BR0c_CUEygEEwAbzyg==\",\n                                  \"urlEndpoint\":
        {\n                                    \"url\": \"https://www.youtube.com/howyoutubeworks/product-features/search/\",\n
        \                                   \"target\": \"TARGET_NEW_WINDOW\"\n                                  }\n
        \                               },\n                                \"trackingParams\":
        \"CPECEPBbIhMI-7vPweC1kgMVt0N6BR0c_CUE\",\n                                \"iconPosition\":
        \"BUTTON_ICON_POSITION_TYPE_RIGHT_OF_TEXT\"\n                              }\n
        \                           },\n                            \"style\": {\n
        \                             \"value\": \"RENDER_STYLE_PANEL\"\n                            }\n
        \                         }\n                        }\n                      ],\n
        \                     \"trackingParams\": \"CO8CELsvGAAiEwj7u8_B4LWSAxW3Q3oFHRz8JQQ=\"\n
        \                   }\n                  },\n                  {\n                    \"musicShelfRenderer\":
        {\n                      \"title\": {\n                        \"runs\": [\n
        \                         {\n                            \"text\": \"Songs\"\n
        \                         }\n                        ]\n                      },\n
        \                     \"contents\": [\n                        {\n                          \"musicResponsiveListItemRenderer\":
        {\n                            \"trackingParams\": \"CN0CEOFnGAAiEwj7u8_B4LWSAxW3Q3oFHRz8JQQ=\",\n
        \                           \"thumbnail\": {\n                              \"musicThumbnailRenderer\":
        {\n                                \"thumbnail\": {\n                                  \"thumbnails\":
        [\n                                    {\n                                      \"url\":
        \"https://lh3.googleusercontent.com/qrY7xjdjqL0FEneZKHk845JeeFjdWOgexUa_BhsUxskJ2iflhzpbofqGJZBcPHDGU9JjoZflE4yn3P74=w60-h60-l90-rj\",\n
        \                                     \"width\": 60,\n                                      \"height\":
        60\n                                    },\n                                    {\n
        \                                     \"url\": \"https://lh3.googleusercontent.com/qrY7xjdjqL0FEneZKHk845JeeFjdWOgexUa_BhsUxskJ2iflhzpbofqGJZBcPHDGU9JjoZflE4yn3P74=w120-h120-l90-rj\",\n
        \                                     \"width\": 120,\n                                      \"height\":
        120\n                                    }\n                                  ]\n
        \                               },\n                                \"thumbnailCrop\":
        \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n                                \"thumbnailScale\":
        \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n                                \"trackingParams\":
        \"CO4CEIS_AiITCPu7z8HgtZIDFbdDegUdHPwlBA==\"\n                              }\n
        \                           },\n                            \"overlay\": {\n
        \                             \"musicItemThumbnailOverlayRenderer\": {\n                                \"background\":
        {\n                                  \"verticalGradient\": {\n                                    \"gradientLayerColors\":
        [\n                                      \"3422552064\",\n                                      \"3422552064\"\n
        \                                   ]\n                                  }\n
        \                               },\n                                \"content\":
        {\n                                  \"musicPlayButtonRenderer\": {\n                                    \"playNavigationEndpoint\":
        {\n                                      \"clickTrackingParams\": \"CO0CEMjeAiITCPu7z8HgtZIDFbdDegUdHPwlBMoBBMAG88o=\",\n
        \                                     \"watchEndpoint\": {\n                                        \"videoId\":
        \"JhulBGMA7G4\",\n                                        \"watchEndpointMusicSupportedConfigs\":
        {\n                                          \"watchEndpointMusicConfig\":
        {\n                                            \"musicVideoType\": \"MUSIC_VIDEO_TYPE_ATV\"\n
        \                                         }\n                                        }\n
        \                                     }\n                                    },\n
        \                                   \"trackingParams\": \"CO0CEMjeAiITCPu7z8HgtZIDFbdDegUdHPwlBA==\",\n
        \                                   \"playIcon\": {\n                                      \"iconType\":
        \"PLAY_ARROW\"\n                                    },\n                                    \"pauseIcon\":
        {\n                                      \"iconType\": \"PAUSE\"\n                                    },\n
        \                                   \"iconColor\": 4294967295,\n                                    \"backgroundColor\":
        0,\n                                    \"activeBackgroundColor\": 0,\n                                    \"loadingIndicatorColor\":
        14745645,\n                                    \"iconLoadingColor\": 0,\n
        \                                   \"activeScaleFactor\": 1,\n                                    \"buttonSize\":
        \"MUSIC_PLAY_BUTTON_SIZE_SMALL\",\n                                    \"rippleTarget\":
        \"MUSIC_PLAY_BUTTON_RIPPLE_TARGET_SELF\",\n                                    \"accessibilityPlayData\":
        {\n                                      \"accessibilityData\": {\n                                        \"label\":
        \"Play Harder, Better, Faster, Stronger - Daft Punk\"\n                                      }\n
        \                                   },\n                                    \"accessibilityPauseData\":
        {\n                                      \"accessibilityData\": {\n                                        \"label\":
        \"Pause Harder, Better, Faster, Stronger - Daft Punk\"\n                                      }\n
        \                                   },\n                                    \"usePlayingEqualizer\":
        true\n                                  }\n                                },\n
        \                               \"contentPosition\": \"MUSIC_ITEM_THUMBNAIL_OVERLAY_CONTENT_POSITION_CENTERED\",\n
        \                               \"displayStyle\": \"MUSIC_ITEM_THUMBNAIL_OVERLAY_DISPLAY_STYLE_PERSISTENT\"\n
        \                             }\n                            },\n                            \"flexColumns\":
        [\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Harder, Better, Faster, Stronger\",\n                                        \"navigationEndpoint\":
        {\n                                          \"clickTrackingParams\": \"CN0CEOFnGAAiEwj7u8_B4LWSAxW3Q3oFHRz8JQSaAQMQ9CTKAQTABvPK\",\n
        \                                         \"watchEndpoint\": {\n                                            \"videoId\":
        \"JhulBGMA7G4\",\n                                            \"watchEndpointMusicSupportedConfigs\":
        {\n                                              \"watchEndpointMusicConfig\":
        {\n                                                \"musicVideoType\": \"MUSIC_VIDEO_TYPE_ATV\"\n
        \                                             }\n                                            }\n
        \                                         }\n                                        }\n
        \                                     }\n                                    ]\n
        \                                 },\n                                  \"displayPriority\":
        \"MUSIC_RESPONSIVE_LIST_ITEM_COLUMN_DISPLAY_PRIORITY_HIGH\"\n                                }\n
        \                             },\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Daft Punk\",\n                                        \"navigationEndpoint\":
        {\n                                          \"clickTrackingParams\": \"CN0CEOFnGAAiEwj7u8_B4LWSAxW3Q3oFHRz8JQTKAQTABvPK\",\n
        \                                         \"browseEndpoint\": {\n                                            \"browseId\":
        \"UCRr1xG_2WIDs18a6cIiCxeA\",\n                                            \"browseEndpointContextSupportedConfigs\":
        {\n                                              \"browseEndpointContextMusicConfig\":
        {\n                                                \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                             }\n                                            }\n
        \                                         }\n                                        }\n
        \                                     },\n                                      {\n
        \                                       \"text\": \" \u2022 \"\n                                      },\n
        \                                     {\n            [...]
