interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"pl-PL\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"WpB0tkA5_K_aqCsy6pqk0w\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'PL', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"WpB0tkA5_K_aqCsy6pqk0w\"></script><script nonce=\"WpB0tkA5_K_aqCsy6pqk0w\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"playbackContext": {"contentPlaybackContext": {"signatureTimestamp": 20483}},
      "video_id": "gAjR4_CbPpQ", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260131.01.00", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgt3OVdRNXNGM3cyOCil5PfLBjInCgJQTBIhEh0SGwsMDg8QERITFBUWFxgZGhscHR4fICEiIyQlJiAm
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/player?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"is_viewed_live\",\n            \"value\": \"False\"\n
        \         },\n          {\n            \"key\": \"is_alc_surface\",\n            \"value\":
        \"false\"\n          },\n          {\n            \"key\": \"ipcc\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"wh_paused\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          }\n        ]\n      },\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"yt_ad\",\n            \"value\":
        \"1\"\n          },\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20260131.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetPlayer_rid\",\n            \"value\": \"0x061c0de2eef09532\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 0\n  },\n  \"playabilityStatus\": {\n    \"status\":
        \"OK\",\n    \"playableInEmbed\": true,\n    \"audioOnlyPlayability\": {\n
        \     \"audioOnlyPlayabilityRenderer\": {\n        \"trackingParams\": \"CCgQx2kiEwjInpLB4LWSAxXY5UIFHYeJJ2w=\",\n
        \       \"audioOnlyAvailability\": \"FEATURE_AVAILABILITY_ALLOWED\"\n      }\n
        \   },\n    \"miniplayer\": {\n      \"miniplayerRenderer\": {\n        \"playbackMode\":
        \"PLAYBACK_MODE_ALLOW\"\n      }\n    },\n    \"contextParams\": \"Q0FFU0FnZ0I=\"\n
        \ },\n  \"streamingData\": {\n    \"expiresInSeconds\": \"21540\",\n    \"formats\":
        [\n      {\n        \"itag\": 18,\n        \"mimeType\": \"video/mp4; codecs=\\\"avc1.42001E,
        mp4a.40.2\\\"\",\n        \"bitrate\": 263787,\n        \"width\": 480,\n
        \       \"height\": 360,\n        \"lastModified\": \"1730831787648118\",\n
        \       \"quality\": \"medium\",\n        \"fps\": 25,\n        \"qualityLabel\":
        \"360p\",\n        \"projectionType\": \"RECTANGULAR\",\n        \"audioQuality\":
        \"AUDIO_QUALITY_LOW\",\n        \"approxDurationMs\": \"222865\",\n        \"audioSampleRate\":
        \"44100\",\n        \"audioChannels\": 2,\n        \"signatureCipher\": \"s=D8D8_8R9RJIgbTHxyO2NWOOmquT3i0Kuft3trIXSZL54xH_IC0tdj0SxLe42Eru_66aPkHeqsHX7JqoEIdz05JHvg60dgIARwEAjiEJ00&sp=sig&url=https://rr2---sn-oxup5-f5fd.googlevideo.com/videoplayback%3Fexpire%3D1769883270%26ei%3DJvJ9achz2MuL2g-Hk57hBg%26ip%3D93.159.24.144%26id%3Do-ANcRka7ekVjOvDBTbFXRk6gbxOSnNncHpCQ0AdcPtS3o%26itag%3D18%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26cps%3D810%26met%3D1769861670%252C%26mh%3Dav%26mm%3D31%252C29%26mn%3Dsn-oxup5-f5fd%252Csn-f5fz7n7s%26ms%3Dau%252Crdu%26mv%3Dm%26mvi%3D2%26pl%3D22%26rms%3Dau%252Cau%26pcm2%3Dno%26bui%3DAW-iu_pROPnMyywb2NzN3129KZ4jQyIeMu-Ft0NoYO20jqzIf7C36Zf08PhK-4at_ogT_MjuKHanq_ax%26spc%3Dq5xjPKcgrzP50uAzrtxDnE7x2MnUsgYYuKVDxJ9MmOTIOJ86PDBBgBTJz-XwN8eoECFQ2A%26vprv%3D1%26svpuc%3D1%26mime%3Dvideo%252Fmp4%26ns%3DtDHkNFgXzJG6F9nrJGsDDgES%26rqh%3D1%26cnr%3D14%26ratebypass%3Dyes%26dur%3D222.865%26lmt%3D1730831787648118%26mt%3D1769861112%26fvip%3D2%26fexp%3D51552689%252C51565116%252C51565681%252C51580968%26c%3DWEB_REMIX%26sefc%3D1%26txp%3D4538434%26n%3DetWYXMigbDXTTXO%26sparams%3Dexpire%252Cei%252Cip%252Cid%252Citag%252Csource%252Crequiressl%252Cxpc%252Cpcm2%252Cbui%252Cspc%252Cvprv%252Csvpuc%252Cmime%252Cns%252Crqh%252Ccnr%252Cratebypass%252Cdur%252Clmt%26lsparams%3Dcps%252Cmet%252Cmh%252Cmm%252Cmn%252Cms%252Cmv%252Cmvi%252Cpl%252Crms%26lsig%3DAPaTxxMwRgIhAOtSrHhcAq0AxA2q0oDqoLMRVcs1erAD1t7j2hTgKT5rAiEA5ZdZFW8o3WqxRr8RYjlHBxbN0qIdP3yHwVF7sSdYiR0%253D\",\n
        \       \"qualityOrdinal\": \"QUALITY_ORDINAL_360P\"\n      }\n    ],\n    \"adaptiveFormats\":
        [\n      {\n        \"itag\": 135,\n        \"mimeType\": \"video/mp4; codecs=\\\"avc1.4d401e\\\"\",\n
        \       \"bitrate\": 408592,\n        \"width\": 640,\n        \"height\":
        480,\n        \"initRange\": {\n          \"start\": \"0\",\n          \"end\":
        \"739\"\n        },\n        \"indexRange\": {\n          \"start\": \"740\",\n
        \         \"end\": \"1275\"\n        },\n        \"lastModified\": \"1730831784840493\",\n
        \       \"contentLength\": \"7041471\",\n        \"quality\": \"large\",\n
        \       \"fps\": 25,\n        \"qualityLabel\": \"480p\",\n        \"projectionType\":
        \"RECTANGULAR\",\n        \"averageBitrate\": 252835,\n        \"approxDurationMs\":
        \"222800\",\n        \"signatureCipher\": \"s=eoeo9oqlYfv9p-tuCaYBtUhvPfMSg7alrP6_-5boosyDH09pAEiAUY%3DaM1DH7vRq7l-lk8e6UEvQeEr2KevdM8YOyJyxM0KAhIgRwEAjiEJ00&sp=sig&url=https://rr2---sn-oxup5-f5fd.googlevideo.com/videoplayback%3Fexpire%3D1769883270%26ei%3DJvJ9achz2MuL2g-Hk57hBg%26ip%3D93.159.24.144%26id%3Do-ANcRka7ekVjOvDBTbFXRk6gbxOSnNncHpCQ0AdcPtS3o%26itag%3D135%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26cps%3D810%26met%[...]
