interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?limit=5&offset=0&q=Daft+Punk+Harder+Better+Faster+Stronger&type=track
  response:
    body:
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=5&query=Daft%20Punk%20Harder%20Better%20Faster%20Stronger&type=track","limit":5,"next":"https://api.spotify.com/v1/search?offset=5&limit=5&query=Daft%20Punk%20Harder%20Better%20Faster%20Stronger&type=track","offset":0,"previous":null,"total":10,"items":[{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"},"href":"https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi","id":"4tZwfgrHOc3mvqYlEYSvVi","name":"Daft
        Punk","type":"artist","uri":"spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/2noRn2Aes5aoNVsU6iWThc"},"href":"https://api.spotify.com/v1/albums/2noRn2Aes5aoNVsU6iWThc","id":"2noRn2Aes5aoNVsU6iWThc","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b2731e81bff9807a9e629fce5ade"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e021e81bff9807a9e629fce5ade"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d000048511e81bff9807a9e629fce5ade"}],"is_playable":true,"name":"Discovery","release_date":"2001-03-12","release_date_precision":"day","total_tracks":14,"type":"album","uri":"spotify:album:2noRn2Aes5aoNVsU6iWThc"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"},"href":"https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi","id":"4tZwfgrHOc3mvqYlEYSvVi","name":"Daft
        Punk","type":"artist","uri":"spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":226413,"explicit":false,"external_ids":{"isrc":"GBDUW0000059"},"external_urls":{"spotify":"https://open.spotify.com/track/5W3cjX2J3tjhG8zb6u0qHn"},"href":"https://api.spotify.com/v1/tracks/5W3cjX2J3tjhG8zb6u0qHn","id":"5W3cjX2J3tjhG8zb6u0qHn","is_local":false,"is_playable":true,"name":"Harder,
        Better, Faster, Stronger","popularity":75,"preview_url":null,"track_number":4,"type":"track","uri":"spotify:track:5W3cjX2J3tjhG8zb6u0qHn"},{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"},"href":"https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi","id":"4tZwfgrHOc3mvqYlEYSvVi","name":"Daft
        Punk","type":"artist","uri":"spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI"[...]
[...]
