interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://c418.bandcamp.com/album/minecraft-volume-alpha
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n
        \   <title>Minecraft - Volume Alpha | C418</title>\n    \n    \n\n\n\n    <meta
        name=\"description\" content=\"\nMinecraft - Volume Alpha by C418, released
        04 March 2011\n\n1. Key\n2. Door\n3. Subwoofer Lullaby\n4. Death\n5. Living
        Mice\n6. Moog City\n7. Haggstrom\n8. Minecraft\n9. Oxyg\xE8ne\n10. \xC9quinoxe\n11.
        Mice on Venus\n12. Dry Hands\n13. Wet Hands\n14. Clark\n15. Chris\n16. Thirteen\n17.
        Excuse\n18. Sweden\n19. Cat\n20. Dog\n21. Danny\n22. Beginning\n23. Droopy
        likes ricochet\n24. Droopy likes your face\n\nMinecraft Volume Alpha is available
        on Vinyl too!\r\n\r\nCheck out the link below the tracklist!\r\n\r\n\r\nThe
        OFFICIAL soundtrack of the critically acclaimed multi award winning indie
        block game!\r\n\r\nFeatures 15 additional soundtrack exclusive minutes of
        music you haven&amp;#39;t heard before!\r\n\r\nFeatures Cat! In STEREO!\r\n\r\nFeatures
        CD quality music! No more extremely low bitrate youtube videos of the soundtrack!\r\n\r\nFeatures
        a high quality image of the album cover!\n\">\n    \n     \n    <link rel=\"shortcut
        icon\" href=\"https://f4.bcbits.com/img/a3390257927_3.jpg\">\n    <link rel=\"apple-touch-icon\"
        href=\"https://f4.bcbits.com/img/a3390257927_3.jpg\">\n\n\n<meta name=\"msapplication-TileColor\"
        content=\"#603cba\">\n<meta name=\"theme-color\" content=\"#ffffff\">\n\n
        \   \n\n    \n\n    \n    \n        <meta name=\"title\" content=\"Minecraft
        - Volume Alpha, by C418\">\n        <meta property=\"og:title\" content=\"Minecraft
        - Volume Alpha, by C418\">\n        <meta property=\"og:type\" content=\"album\">\n
        \       <meta property=\"og:site_name\" content=\"C418\">\n        <meta property=\"og:description\"
       [...]
[...]
