interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://c418.bandcamp.com/track/minecraft
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n
        \   <title>Minecraft | C418</title>\n    \n    \n\n\n\n    <meta name=\"description\"
        content=\"\nMinecraft by C418, released 04 March 2011\n\n\">\n    \n     \n
        \   <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a3390257927_3.jpg\">\n
        \   <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a3390257927_3.jpg\">\n\n\n<meta
        name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\"
        content=\"#ffffff\">\n\n    \n\n    \n\n    \n    \n        <meta name=\"title\"
        content=\"Minecraft, by C418\">\n        <meta property=\"og:title\" content=\"Minecraft,
        by C418\">\n        <meta pro[...]
[...]
