interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2noRn2Aes5aoNVsU6iWThc
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":14,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2noRn2Aes5aoNVsU6iWThc\"},\"href\":\"https://api.spotify.com/v1/albums/2noRn2Aes5aoNVsU6iWThc\",\"id\":\"2noRn2Aes5aoNVsU6iWThc\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2731e81bff9807a9e629fce5ade\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e021e81bff9807a9e629fce5ade\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048511e81bff9807a9e629fce5ade\",\"height\":64,\"width\":64}],\"name\":\"Discovery\",\"release_date\":\"2001-03-12\",\"release_date_precision\":\"day\",\"type\":\"album\",\"uri\":\"spotify:album:2noRn2Aes5aoNVsU6iWThc\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi\"},\"href\":\"https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi\",\"id\":\"4tZwfgrHOc3mvqYlEYSvVi\",\"name\":\"Daft
        Punk\",\"type\":\"artist\",\"uri\":\"spotify:artist:4tZwfgrHOc3mvqYlEYSvVi\"}],\"tracks\":{\"href\":\"https://api.spotify.com/v1/albums/2noRn2Aes5aoNVsU6iWThc/tracks?offset=0&limit=50\",\"limit\":50,\"next\":null,\"offset\":0,\"previous\":null,\"total\":14,\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi\"},\"href\":\"https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi\",\"id\":\"4tZwfgrHOc3mvqYlEYSvVi\",\"name\":\"Daft
        Punk\",\"type\":\"artist\",\"uri\":\"spotify:artist:4tZwfgrHOc3mvqYlEYSvVi\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\[...]
[...]
