interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.deezer.com/search/track?limit=10&q=Daft+Punk+Harder+Better+Faster+Stronger
  response:
    body:
      string: '{"data":[{"id":3135556,"readable":true,"title":"Harder, Better, Faster,
        Stronger","title_short":"Harder, Better, Faster, Stronger","title_version":"","isrc":"GBDUW0000059","link":"https:\/\/www.deezer.com\/track\/3135556","duration":226,"rank":814839,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/6\/a\/2\/0\/6a2c0a5670afe821e08fc5154909534a.mp3?hdnea=exp=1769862566~acl=\/api\/1\/1\/6\/a\/2\/0\/6a2c0a5670afe821e08fc5154909534a.mp3*~data=user_id=0,application_id=42~hmac=5f0d5762ca979159f9ba801cf406bc1cdd4547d611e180f4d70c8cfbcb77a5bc","md5_image":"5718f7c81c27e0b2417e2a4c45224f8a","artist":{"id":27,"name":"Daft
        Punk","link":"https:\/\/www.deezer.com\/artist\/27","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/638e69b9caaf9f9f3f8826febea7b543\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/638e69b9caaf9f9f3f8826febea7b543\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/638e69b9caaf9f9f3f8826febea7b543\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/638e69b9caaf9f9f3f8826febea7b543\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"},"album":{"id":302127,"title":"Discovery","cover":"https:\/\/api.deezer.com\/album\/302127\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/5718f7c81c27e0b2417e2a4c45224f8a\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/5718f7c81c27e0b2417e2a4c45224f8a\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/5718f7c81c27e0b2417e2a4c45224f8a\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/5718f7c81c27e0b2417e2a4c45224f8a\/1000x1000-000000-80-0-0.jpg","md5_image":"5718f7c81c27e0b2417e2a4c45224f8a","tracklist":"https:\/\/api.deezer.com\/album\/302127\/tracks","type":"album"},"type":"track"},{"id":1178682,"readable":true,"title":"Stronger","title_short":"Stronger","title_version":"","isrc":"USUM70741299","link":"https:\/\/www.deezer.com\/track\/1178682","duration":312,"rank":823189,"explicit_lyrics":true,"explicit_content_lyrics":1,"ex[...]
