interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://music.apple.com/us/album/harder-better-faster-stronger/697194953?i=697195203
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"en-US\">\n    <head>\n        <!--
        prettier-ignore -->\n        <meta charset=\"utf-8\">\n        <!-- prettier-ignore
        -->\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <!--
        prettier-ignore -->\n        <meta\n            name=\"viewport\"\n            content=\"width=device-width,initial-scale=1,interactive-widget=resizes-content\"\n
        \       >\n        <!-- prettier-ignore -->\n        <meta name=\"applicable-device\"
        content=\"pc,mobile\">\n        <!-- prettier-ignore -->\n        <meta name=\"referrer\"
        content=\"strict-origin\">\n        <!-- prettier-ignore -->\n        <link\n
        \           rel=\"apple-touch-icon\"\n            sizes=\"180x180\"\n            href=\"/assets/favicon/favicon-180.png\"\n
        \       >\n        <!-- prettier-ignore -->\n        <link\n            rel=\"icon\"\n
        \           type=\"image/png\"\n            sizes=\"32x32\"\n            href=\"/assets/favicon/favicon-32.png\"\n
        \       >\n        <!-- prettier-ignore -->\n        <link\n            rel=\"icon\"\n
        \           type=\"image/png\"\n            sizes=\"16x16\"\n            href=\"/assets/favicon/favicon-16.png\"\n
        \       >\n        <!-- prettier-ignore -->\n        <link\n            rel=\"mask-icon\"\n
        \           href=\"/assets/favicon/favicon.svg\"\n            color=\"#fa233b\"\n
        \       >\n        <!-- prettier-ignore -->\n        <link rel=\"manifest\"
        href=\"/manifest.json\">\n\n        <title>\u200EApple\_Music - Web Player</title><!--
        HEAD_svelte-1cypuwr_START --><link rel=\"preconnect\" href=\"//www.apple.com/wss/fonts\"
        crossorigin=\"anonymous\"><link rel=\"stylesheet\" href=\"//www.apple.com/wss/fonts?families=SF+Pro,v4%7CSF+Pro+Icons,v1&amp;display=swap\"
        type=\"text/css\" referrerpolicy=\"strict-origin-when-cross-origin\"><!--
        HEAD_svelte-1cypuwr_END --><!-- HEAD_svelte-eg3hvx_START -->    <meta name=\"description\"
        content=\"Listen to mi[...]
