interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://itunes.apple.com/search?entity=song&limit=5&media=music&term=Daft+Punk+Harder+Better+Faster+Stronger
  response:
    body:
      string: "\n\n\n{\n \"resultCount\":5,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":5468295, \"collectionId\":697194953, \"trackId\":697195787,
        \"artistName\":\"Daft Punk\", \"collectionName\":\"Discovery\", \"trackName\":\"Harder
        Better Faster Stronger\", \"collectionCensoredName\":\"Discovery\", \"trackCensoredName\":\"Harder
        Better Faster Stronger\", \"artistViewUrl\":\"https://music.apple.com/us/artist/daft-punk/5468295?uo=4\",
        \"collectionViewUrl\":\"https://music.apple.com/us/album/harder-better-faster-stronger/697194953?i=697195787&uo=4\",
        \"trackViewUrl\":\"https://music.apple.com/us/album/harder-better-faster-stronger/697194953?i=697195787&uo=4\",
        \n\"previewUrl\":\"https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview112/v4/bf/a6/1b/bfa61b15-a797-ec2d-ef44-bf9bfb9fab10/mzaf_9377760837375603436.plus.aac.p.m4a\",
        \"artworkUrl30\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/30x30bb.jpg\",
        \"artworkUrl60\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/60x60bb.jpg\",
        \"artworkUrl100\":\"https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/fd/4a/77/fd4a77db-0ebc-d043-41a2-f32fa1bb0fb4/dj.qrikkdwj.jpg/100x100bb.jpg\",
        \"collectionPrice\":9.99, \"trackPrice\":1.29, \"releaseDate\":\"2001-02-26T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":14, \"trackNumber\":4, \"trackTimeMillis\":224693,
        \"country\":\"USA\", \"currency\":\"USD\", \"primaryGenreName\":\"Dance\",
        \"isStreamable\":true}, \n{\"wrapperType\":\"track\", \"kind\":\"song\", \"artistId\":5468295,
        \"collectionId\":693611597, \"trackId\":693611598, \"artistName\":\"Daft Punk\",
        \"collectionName\":\"Harder Better Faster Stronger (Alive 2007) - Single\",
        \"trackName\":\"Harder Better Faster Stronger (Alive 2007 Radio Edit)\", \"collectionCensoredName\":\"Harder
        Better Faster Stronger (Alive 2007) - Single\", \"trackCensoredName\":\"Harder
        Better Faster Stronger (Alive 2007 Ra[...]
