interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4B2kkxg3wKSTZw5JPaUtzQ
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM\",\n
        \     \"id\" : \"2sf28o6euxEDpYkG9dMtuM\",\n      \"name\" : \"Cartoon\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:2sf28o6euxEDpYkG9dMtuM\"\n
        \   }, {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/0cA0C4yBNRaN2EZsE2wT3Y\",\n
        \     \"id\" : \"0cA0C4yBNRaN2EZsE2wT3Y\",\n      \"name\" : \"Daniel Levi\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \   } ],\n    \"available_markets\" : [ ],\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/album/0Lt1PzvVZoslDNI2Jsq6pW\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW\",\n    \"id\"
        : \"0Lt1PzvVZoslDNI2Jsq6pW\",\n    \"images\" : [ {\n      \"height\" : 640,\n
        \     \"url\" : \"https://i.scdn.co/image/ab67616d0000b2732773b7d6ca91258a83d06783\",\n
        \     \"width\" : 640\n    }, {\n      \"height\" : 300,\n      \"url\" :
        \"https://i.scdn.co/image/ab67616d00001e022773b7d6ca91258a83d06783\",\n      \"width\"
        : 300\n    }, {\n      \"height\" : 64,\n      \"url\" : \"https://i.scdn.co/image/ab67616d000048512773b7d6ca91258a83d06783\",\n
        \     \"width\" : 64\n    } ],\n    \"name\" : \"On & On\",\n    \"release_date\"
        : \"2015-07-09\",\n    \"release_date_precision\" : \"day\",\n    \"total_tracks\"
        : 1,\n    \"type\" : \"album\",\n    \"uri\" : \"spotify:album:0Lt1PzvVZoslDNI2Jsq6pW\"\n
        \ },\n  \"artists\" : [ {\n    \"external_urls\" : {\n      \"spotify\" :
        \"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM\",\n    \"id\"
        : \"2sf28o6euxEDpYkG9dMtuM\",\n    \"name\" : \"Cartoon\",\n    \"type\" :
        \"artist\",\n    \"uri\" : \"spotify:artist:2sf28o6euxEDpYkG9dMtuM\"\n  },
        {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/0cA0C4yBNRaN2EZsE2wT3Y\",\n
        \   \"id\" : \"0cA0C4yBNRaN2EZsE2wT3Y\",\n    \"name\" : \"Daniel Levi\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"disc_number\" : 1,\n  \"duration_ms\"
        : 207068,\n  \"explicit\" : false,\n  \"external_ids\" : {\n    \"isrc\" :
        \"GB2LD0902016\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/track/4B2kkxg3wKSTZw5JPaUtzQ\"\n
        \ },\n  \"href\" : \"https://api.spotify.com/v1/tracks/4B2kkxg3wKSTZw5JPaUtzQ\",\n
        \ \"id\" : \"4B2kkxg3wKSTZw5JPaUtzQ\",\n  \"is_local\" : false,\n  \"name\"
        : \"On & On\",\n  \"popularity\" : 0,\n  \"preview_url\" : null,\n  \"track_number\"
        : 1,\n  \"type\" : \"track\",\n  \"uri\" : \"spotify:track:4B2kkxg3wKSTZw5JPaUtzQ\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 216497\n
        \ },\n  \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM\",\n
        \ \"id\" : \"2sf28o6euxEDpYkG9dMtuM\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eba60975fef1fbcb5b95423d07\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174a60975fef1fbcb5b95423d07\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178a60975fef1fbcb5b95423d07\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Cartoon\",\n  \"popularity\" :
        60,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:2sf28o6euxEDpYkG9dMtuM\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM\",\n
        \   \"id\" : \"2sf28o6euxEDpYkG9dMtuM\",\n    \"name\" : \"Cartoon\",\n    \"type\"
        : \"artist\",\n    \"uri\" : \"spotify:artist:2sf28o6euxEDpYkG9dMtuM\"\n  },
        {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/0cA0C4yBNRaN2EZsE2wT3Y\",\n
        \   \"id\" : \"0cA0C4yBNRaN2EZsE2wT3Y\",\n    \"name\" : \"Daniel Levi\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:0cA0C4yBNRaN2EZsE2wT3Y\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"copyrights\" : [ {\n    \"text\"
        : \"2015 NCS Ltd.\",\n    \"type\" : \"C\"\n  }, {\n    \"text\" : \"2015
        NCS Ltd.\",\n    \"type\" : \"P\"\n  } ],\n  \"external_ids\" : {\n    \"upc\"
        : \"5055199513140\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/album/0Lt1PzvVZoslDNI2Jsq6pW\"\n
        \ },\n  \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW\",\n
        \ \"id\" : \"0Lt1PzvVZoslDNI2Jsq6pW\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b2732773b7d6ca91258a83d06783\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e022773b7d6ca91258a83d06783\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d000048512773b7d6ca91258a83d06783\",\n
        \   \"width\" : 64\n  } ],\n  \"label\" : \"NCS\",\n  \"name\" : \"On & On\",\n
        \ \"popularity\" : 0,\n  \"release_date\" : \"2015-07-09\",\n  \"release_date_precision\"
        : \"day\",\n  \"total_tracks\" : 1,\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW/tracks?offset=0&limit=50\",\n
        \   \"items\" : [ {\n      \"artists\" : [ {\n        \"external_urls\" :
        {\n          \"spotify\" : \"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM\",\n
        \       \"id\" : \"2sf28o6euxEDpYkG9dMtuM\",\n        \"name\" : \"Cartoon\",\n
        \       \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:2sf28o6euxEDpYkG9dMtuM\"\n
        \     }, {\n        \"external_urls\" : {\n[...]
