interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=test&limit=10&offset=0&type=track
  response:
    body:
      string: "{\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=test&type=track&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"album\" : {\n        \"album_type\" : \"album\",\n
        \       \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\"
        : \"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP\"\n          },\n
        \         \"href\" : \"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP\",\n
        \         \"id\" : \"3EAHF3jdnHHdko5DBrhRUP\",\n          \"name\" : \"John
        Powell\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3EAHF3jdnHHdko5DBrhRUP\"\n
        \       } ],\n        \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\",
        \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\",
        \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\",
        \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\",
        \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\",
        \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\",
        \"GB\", \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2QTDuJIGKUjR7E2Q6KupIh
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 244459\n
        \ },\n  \"genres\" : [ \"british soundtrack\", \"orchestral soundtrack\",
        \"soundtrack\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP\",\n
        \ \"id\" : \"3EAHF3jdnHHdko5DBrhRUP\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb7407d140005a90a2fcb34c43\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051747407d140005a90a2fcb34c43\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1787407d140005a90a2fcb34c43\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"John Powell\",\n  \"popularity\"
        : 63,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:3EAHF3jdnHHdko5DBrhRUP\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1kTnC045mQqurTQvGMGpmU
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7lmeHLHBe4nmXzuXc0HDjk
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJKORj\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2eia0myWFgoHuttJytCxgX
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/2[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3FijoNKGof7pCn7oddecOQ
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99eKkdY\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 44423\n  },\n
        \ \"genres\" : [ \"ambient idm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY\",\n
        \ \"id\" : \"4lCsf6uYTVnWSKm99eKkdY\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eba873e66600c0ed251d3643ab\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174a873e66600c0ed251d3643ab\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178a873e66600c0ed251d3643ab\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Seekae\",\n  \"popularity\" :
        48,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:4lCsf6uYTVnWSKm99eKkdY\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4RxAye8brXQJHgw1wF1l8j
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3u9RHP8IpKPZh7bKHw83Ci
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3MZsBdqDrRTJihTHQrO6Dq\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 9689388\n
        \ },\n  \"genres\" : [ \"viral pop\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq\",\n
        \ \"id\" : \"3MZsBdqDrRTJihTHQrO6Dq\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb4111c95b5f430c3265c7304b\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051744111c95b5f430c3265c7304b\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1784111c95b5f430c3265c7304b\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Joji\",\n  \"popularity\" : 78,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:3MZsBdqDrRTJihTHQrO6Dq\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5mIImcsuqpiSXg8XvFr81I
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/45x3yuEpjmiqL4SFdT4srk
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/63yrD80RY3RNEM2YDpUpO8
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/63yrD80RY3RNEM2YDpUpO8\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 21044859\n
        \ },\n  \"genres\" : [ \"alt z\", \"electropop\", \"pop\" ],\n  \"href\" :
        \"https://api.spotify.com/v1/artists/63yrD80RY3RNEM2YDpUpO8\",\n  \"id\" :
        \"63yrD80RY3RNEM2YDpUpO8\",\n  \"images\" : [ {\n    \"height\" : 640,\n    \"url\"
        : \"https://i.scdn.co/image/ab6761610000e5eb77ecd63aaebe2225b07c89f0\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517477ecd63aaebe2225b07c89f0\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17877ecd63aaebe2225b07c89f0\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Melanie Martinez\",\n  \"popularity\"
        : 80,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:63yrD80RY3RNEM2YDpUpO8\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/75sm9IEmN01J5MsyZr4Cw1
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7ycWLEP1GsNjVvcjawXz3z
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL1Kca\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 14697706\n
        \ },\n  \"genres\" : [ \"east coast hip hop\", \"hip hop\", \"rap\" ],\n  \"href\"
        : \"https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca\",\n  \"id\"
        : \"13ubrt8QOOCPljQ2FL1Kca\",\n  \"images\" : [ {\n    \"height\" : 640,\n
        \   \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb5c58c41a506a0d6b32cc6cad\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051745c58c41a506a0d6b32cc6cad\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1785c58c41a506a0d6b32cc6cad\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"A$AP Rocky\",\n  \"popularity\"
        : 84,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:13ubrt8QOOCPljQ2FL1Kca\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3MATDdrpHmQCmuOcozZjDa
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/1[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Lk9PYDhAucTZMyccvt66Z
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1JzjwUKkPsdHg1SQ7qa5hc
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5OpjJ9qy54D3PzQJ1s4Q9X
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/610EjgFatGvVPtib97jQ8G
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/610EjgFatGvVPtib97jQ8G\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0DjJIQPOsxd5OiUoVskRBH
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/6[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5NkqrvGruViYTAVyYrZIW9
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0HRGx78eQaMqoHoopLfi2h
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/0HRGx78eQaMqoHoopLfi2h\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 24485\n  },\n
        \ \"genres\" : [ \"atl drill\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/0HRGx78eQaMqoHoopLfi2h\",\n
        \ \"id\" : \"0HRGx78eQaMqoHoopLfi2h\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb2a8a06173613c4333d882288\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051742a8a06173613c4333d882288\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1782a8a06173613c4333d882288\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Chuckyy\",\n  \"popularity\" :
        53,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:0HRGx78eQaMqoHoopLfi2h\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3gD4T2wsMOTvW4AMXKvsGe
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/05A6mr7C2bP7uPrEQrj9qk
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/51r39Gm18d7yIS3PC1QD8B
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
