interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=album%3A+yeezus&limit=10&offset=0&type=album
  response:
    body:
      string: "{\n  \"albums\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=album%3A+yeezus&type=album&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"album_type\" : \"album\",\n      \"artists\"
        : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x\",\n
        \       \"id\" : \"5K4W6rqBFWDnAN6FQUkS6x\",\n        \"name\" : \"Kanye West\",\n
        \       \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:5K4W6rqBFWDnAN6FQUkS6x\"\n
        \     } ],\n      \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\",
        \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\",
        \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\",
        \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\",
        \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\",
        \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\",
        \"GB\", \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7D2NdGvBHIavgLhmcwhluK
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/5[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7D2NdGvBHIavgLhmcwhluK/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/7D2NdGvBHIavgLhmcwhluK/tracks?offset=0&limit=50\",\n
        \ \"it[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1gqkRc9WtOpnGIqxf2Hvzr
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x\",\n
        \     \"id\" : \"5K4W6rqBFWDnAN6FQUkS6x\",\n      \"name\" : \"Kanye West\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:5K4W6rqBFWDnAN6FQUkS6x\"\n
        \   } ],\n    \"available_m[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 26538491\n
        \ },\n  \"genres\" : [ \"chicago rap\", \"hip hop\", \"rap\" ],\n  \"href\"
        : \"https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x\",\n  \"id\"
        : \"5K4W6rqBFWDnAN6FQUkS6x\",\n  \"images\" : [ {\n    \"height\" : 640,\n
        \   \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb6e835a500e791bf9c27a422a\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051746e835a500e791bf9c27a422a\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1786e835a500e791bf9c27a422a\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Kanye West\",\n  \"popularity\"
        : 92,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:5K4W6rqBFWDnAN6FQUkS6x\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/722tgOgdIbNe3BEyLnejw4
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0HMCdlOPJkAGlB0MlSWIcO
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4cAgkb0ifwn0FSHGXnr4F6
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5nIu0VwPOsjkF61zfevLKh
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/52NmkyHsGsHGb1UX8fTkMg
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/42GcjriRK6srwHkfbkBqVl
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5nPOM0nFRAJ3XI8xCxNAzO
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3RKblQNJs8HPvWBgXmq6nn
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3sNVsP50132BTNlImLx70i
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
