interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=test&limit=10&offset=0&type=track
  response:
    body:
      string: "{\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=test&type=track&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"album\" : {\n        \"album_type\" : \"album\",\n
        \       \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\"
        : \"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa\"\n          },\n
        \         \"href\" : \"https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa\",\n
        \         \"id\" : \"3wcj11K77LjEY1PkEazffa\",\n          \"name\" : \"Burna
        Boy\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3wcj11K77LjEY1PkEazffa\"\n
        \       } ],\n        \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\",
        \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\",
        \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\",
        \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\",
        \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\",
        \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\",
        \"GB\", \"AD\", \"LI\", \"MC\", \"ID\", \"JP\", \"TH\", \"VN\", \"RO\", \"IL\",
        \"SA\", \"AE\", \"BH\", \"QA\", \"OM\", \"KW\", \"LB\", \"JO\", \"PS\", \"IN\",
        \"KZ\", \"MD\", \"UA\", \"AL\", \"BA\", \"HR\", \"ME\", \"MK\", \"RS\", \"SI\",
        \"KR\", \"BD\", \"PK\", \"LK\", \"AG\", \"AM\", \"BS\", \"BB\", \"BZ\", \"BT\",
        \"CW\", \"DM\", \"FJ\", \"GE\", \"GD\", \"GY\", \"HT\", \"JM\", \"KI\", \"MV\",
        \"MH\", \"FM\", \"NR\", \"PW\", \"PG\", \"PR\", \"WS\", \"SM\", \"SB\", \"KN\",
        \"LC\", \"VC\", \"SR\", \"TL\", \"TO\", \"TT\", \"TV\", \"VU\", \"AZ\", \"BN\",
        \"KH\", \"KG\", \"LA\", \"MO\", \"MN\", \"NP\", \"UZ\", \"IQ\", \"TJ\", \"VE\",
        \"XK\" ],\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/album/1JzjwUKkPsdHg1SQ7qa5hc\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/albums/1JzjwUKkPsdHg1SQ7qa5hc\",\n
        \       \"id\" : \"1JzjwUKkPsdHg1SQ7qa5hc\",\n        \"images\" : [ {\n          \"height\"
        : 640,\n          \"url\" : \"https://i.scdn.co/image/ab67616d0000b27339550ce4ccf28a1a4b82a443\",\n
        \         \"width\" : 640\n        }, {\n          \"height\" : 300,\n          \"url\"
        : \"https://i.scdn.co/image/ab67616d00001e0239550ce4ccf28a1a4b82a443\",\n
        \         \"width\" : 300\n        }, {\n          \"height\" : 64,\n          \"url\"
        : \"https://i.scdn.co/image/ab67616d0000485139550ce4ccf28a1a4b82a443\",\n
        \         \"width\" : 64\n        } ],\n        \"name\" : \"I Told Them...\",\n
        \       \"release_date\" : \"2023-08-24\",\n        \"release_date_precision\"
        : \"day\",\n        \"total_tracks\" : 15,\n        \"type\" : \"album\",\n
        \       \"uri\" : \"spotify:album:1JzjwUKkPsdHg1SQ7qa5hc\"\n      },\n      \"artists\"
        : [ {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa\",\n
        \       \"id\" : \"3wcj11K77LjEY1PkEazffa\",\n        \"name\" : \"Burna Boy\",\n
        \       \"type\" : \"artist\",\n [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Lk9PYDhAucTZMyccvt66Z
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 8449559\n
        \ },\n  \"genres\" : [ \"afrobeats\", \"azontobeats\", \"dancehall\", \"nigerian
        hip hop\", \"nigerian pop\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa\",\n
        \ \"id\" : \"3wcj11K77LjEY1PkEazffa\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb2d405f4858ce3cd52d409c98\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051742d405f4858ce3cd52d409c98\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1782d405f4858ce3cd52d409c98\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Burna Boy\",\n  \"popularity\"
        : 78,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:3wcj11K77LjEY1PkEazffa\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1JzjwUKkPsdHg1SQ7qa5hc
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7lmeHLHBe4nmXzuXc0HDjk
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJKORj\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2eia0myWFgoHuttJytCxgX
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/2[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3mBWDyhxMvT2QpcmpzMHEL
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7COP1HCvVq1cIpZcLQYoNe
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/7COP1HCvVq1cIpZcLQYoNe\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 274984\n
        \ },\n  \"genres\" : [ \"small room\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/7COP1HCvVq1cIpZcLQYoNe\",\n
        \ \"id\" : \"7COP1HCvVq1cIpZcLQYoNe\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb28ecc29ae6a5195f12712eb0\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517428ecc29ae6a5195f12712eb0\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17828ecc29ae6a5195f12712eb0\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Bedroom\",\n  \"popularity\" :
        56,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:7COP1HCvVq1cIpZcLQYoNe\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2cB3JYraRPrxqIODugyL6M
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/7[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3u9RHP8IpKPZh7bKHw83Ci
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3MZsBdqDrRTJihTHQrO6Dq\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 9380688\n
        \ },\n  \"genres\" : [ \"viral pop\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq\",\n
        \ \"id\" : \"3MZsBdqDrRTJihTHQrO6Dq\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb4111c95b5f430c3265c7304b\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051744111c95b5f430c3265c7304b\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1784111c95b5f430c3265c7304b\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Joji\",\n  \"popularity\" : 78,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:3MZsBdqDrRTJihTHQrO6Dq\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5mIImcsuqpiSXg8XvFr81I
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6a0GwlhHRVl3UsXBfTXivM
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/17nY9D67N6p1HeAqPoTLg2
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/17nY9D67N6p1HeAqPoTLg2\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 909\n  },\n
        \ \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/artists/17nY9D67N6p1HeAqPoTLg2\",\n
        \ \"id\" : \"17nY9D67N6p1HeAqPoTLg2\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b2731a2285b15e3223b56b6a9e2b\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e021a2285b15e3223b56b6a9e2b\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d000048511a2285b15e3223b56b6a9e2b\",\n
        \   \"width\" : 64\n  } ],\n  \"name\" : \"NOVA\",\n  \"popularity\" : 22,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:17nY9D67N6p1HeAqPoTLg2\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/02IT7wDYaz3Ti96fkBb9x3
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/1[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1UVBsuRM0AJ74v8xwLDnfl
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/67Xe2VaX3Z0i1kQvBi3yoM
  response:
    body:
      string: "{\n  \"album_type\" : \"compilation\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/ar[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4JaT7seBgGmpyWF1uANUOc
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1DXylZlWbVvlckNqwvjTEt
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/1DXylZlWbVvlckNqwvjTEt\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2Z73HeYQNCf5T8dzzHaoz5
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/1[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2QTDuJIGKUjR7E2Q6KupIh
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1kTnC045mQqurTQvGMGpmU
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/3[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2kJTwDF9AhyUpeafmbeDMs
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"album\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6Tyzp9KzpiZ04DABQoedps
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/6Tyzp9KzpiZ04DABQoedps\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/34AtsFexhxnKPVJFtLIN1I
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/6[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3FijoNKGof7pCn7oddecOQ
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99eKkdY\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 43007\n  },\n
        \ \"genres\" : [ \"ambient idm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY\",\n
        \ \"id\" : \"4lCsf6uYTVnWSKm99eKkdY\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eba873e66600c0ed251d3643ab\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174a873e66600c0ed251d3643ab\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178a873e66600c0ed251d3643ab\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Seekae\",\n  \"popularity\" :
        48,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:4lCsf6uYTVnWSKm99eKkdY\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4RxAye8brXQJHgw1wF1l8j
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
