interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=test&limit=10&offset=0&type=track
  response:
    body:
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=10&query=test&type=track","limit":10,"next":"https://api.spotify.com/v1/search?offset=10&limit=10&query=test&type=track","offset":0,"previous":null,"total":17,"items":[{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP"},"href":"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP","id":"3EAHF3jdnHHdko5DBrhRUP","name":"John
        Powell","type":"artist","uri":"spotify:artist:3EAHF3jdnHHdko5DBrhRUP"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/1kTnC045mQqurTQvGMGpmU"},"href":"https://api.spotify.com/v1/albums/1kTnC045mQqurTQvGMGpmU","id":"1kTnC045mQqurTQvGMGpmU","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273164edf20ddc765dff82d95cd"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02164edf20ddc765dff82d95cd"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851164edf20ddc765dff82d95cd"}],"is_playable":true,"name":"How
        To Train Your Dragon (Music From The Motion Picture)","release_date":"2010-01-01","release_date_precision":"day","total_tracks":25,"type":"album","uri":"spotify:album:1kTnC045mQqurTQvGMGpmU"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP"},"href":"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP","id":"3EAHF3jdnHHdko5DBrhRUP","name":"John
        Powell","type":"artist","uri":"spotify:artist:3EAHF3jdnHHdko5DBrhRUP"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":156306,"explicit":false,"external_ids":{"isrc":"US3M51001211"},"external_urls":{"spotify":"https://open.spotify.com/track/2QTDuJIGKUjR7E2Q6KupIh"},"href":"https://api.spotify.com/v1/tracks/2QTDuJIGKUjR7E2Q6KupIh","id":"2QTDuJIGKUjR7E2Q6KupIh","is_local":false,"is_playable":true,"name":"Test
        Drive - From How To Train Your Dragon Music From The Motion Picture","popularity":68,"preview_url":null,"track_number":11,"type":"track","uri":"spotify:track:2QTDuJIGKUjR7E2Q6KupIh"},{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL1Kca"},"href":"https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca","id":"13ubrt8QOOCPljQ2FL1Kca","name":"A$AP
        Rocky","type":"artist","uri":"spotify:artist:13ubrt8QOOCPljQ2FL1Kca"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2QTDuJIGKUjR7E2Q6KupIh
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBr[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP"},"followers":{"href":null,"total":294825},"genres":["soundtrack"],"href":"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP","id":"3EAHF3jdnHHdko5DBrhRUP","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb7407d140005a90a2fcb34c43","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051747407d140005a90a2fcb34c43","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1787407d140005a90a2fcb34c43","height":160,"width":160}],"name":"John
        Powell","popularity":68,"type":"artist","uri":"spotify:artist:3EAHF3jdnHHdko5DBrhRUP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImEwMjljY2I2NWRkNWFiZTM5MDk0YzJiZDYwMzRlNzUwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1kTnC045mQqurTQvGMGpmU
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":25,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7ycWLEP1GsNjVvcjawXz3z
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL1Kca"},"followers":{"href":null,"total":17043007},"genres":["rap"],"href":"https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca","id":"13ubrt8QOOCPljQ2FL1Kca","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb5c58c41a506a0d6b32cc6cad","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051745c58c41a506a0d6b32cc6cad","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1785c58c41a506a0d6b32cc6cad","height":160,"width":160}],"name":"A$AP
        Rocky","popularity":86,"type":"artist","uri":"spotify:artist:13ubrt8QOOCPljQ2FL1Kca"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjVmNjAzOGZmMjA3NDg3ZDE3Nzg4NzA2MTIyODU4Zjk1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3MATDdrpHmQCmuOcozZjDa
  response:
    body:
      string: '{"album_type":"album","total_tracks":15,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3FijoNKGof7pCn7oddecOQ
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99eKkdY"},"followers":{"href":null,"total":48889},"genres":[],"href":"https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY","id":"4lCsf6uYTVnWSKm99eKkdY","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eba873e66600c0ed251d3643ab","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174a873e66600c0ed251d3643ab","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178a873e66600c0ed251d3643ab","height":160,"width":160}],"name":"Seekae","popularity":50,"type":"artist","uri":"spotify:artist:4lCsf6uYTVnWSKm99eKkdY"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImVmOTg3Njc5Y2Y4OWJkNjU5NmRhNjhkZDU2YTIxY2NiIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4RxAye8brXQJHgw1wF1l8j
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":4,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7wAGEPx1KAoYJK28HipByE
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAb[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJKORj"},"followers":{"href":null,"total":6796613},"genres":["rap
        metal","rap rock","alternative metal","nu metal"],"href":"https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj","id":"2d0hyoQ5ynDBnkvAbJKORj","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebda4bd2b213cae330e2a4a901","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174da4bd2b213cae330e2a4a901","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178da4bd2b213cae330e2a4a901","height":160,"width":160}],"name":"Rage
        Against The Machine","popularity":74,"type":"artist","uri":"spotify:artist:2d0hyoQ5ynDBnkvAbJKORj"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjA5MjAzMTVkYTdmYjEwNzMzY2RkOGJjMTcyODI5ZTFmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3OoJIOFAjvnf6Mf1Prvf6E
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["BR","CO"],"external_urls":{"spotify":"https://open.spotify.[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7lmeHLHBe4nmXzuXc0HDjk
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2eia0myWFgoHuttJytCxgX
  response:
    body:
      string: '{"album_type":"album","total_tracks":12,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6autehKz60InHGLgW5umk3
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DB[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1HQ0NnMTN1btuwBbstnoYm
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5UDJk4saSb0opwyYEjROET
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAb[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4tza0bhiUBqL2yFcbOgqrj
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"BR\",\"CO\"],\"external_urls\":{\"spotify\":\"http[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Lk9PYDhAucTZMyccvt66Z
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3wcj11K77LjEY1PkEa[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa"},"followers":{"href":null,"total":13351974},"genres":["afrobeats","afrobeat","afropop","afroswing","dancehall","afropiano"],"href":"https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa","id":"3wcj11K77LjEY1PkEazffa","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebb4e44d0f4e3e47af2cf06f3f","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174b4e44d0f4e3e47af2cf06f3f","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178b4e44d0f4e3e47af2cf06f3f","height":160,"width":160}],"name":"Burna
        Boy","popularity":84,"type":"artist","uri":"spotify:artist:3wcj11K77LjEY1PkEazffa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjY4OTdjNmFjZWU0ZDUyYjllOTQzY2M0NjY5NmYyMmI5Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1JzjwUKkPsdHg1SQ7qa5hc
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/05A6mr7C2bP7uPrEQrj9qk
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3wcj11K77LjEY1PkEa[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/51r39Gm18d7yIS3PC1QD8B
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3JXQmgI16lf6D64aLIzPNK
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/5V5dtgxeHu6JMxDTl[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5V5dtgxeHu6JMxDTl0SRFO
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/5V5dtgxeHu6JMxDTl0SRFO"},"followers":{"href":null,"total":16361},"genres":["orchestra"],"href":"https://api.spotify.com/v1/artists/5V5dtgxeHu6JMxDTl0SRFO","id":"5V5dtgxeHu6JMxDTl0SRFO","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebf11ce90328a0bc1148f4ccaf","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174f11ce90328a0bc1148f4ccaf","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178f11ce90328a0bc1148f4ccaf","height":160,"width":160}],"name":"Mathias
        Fritsche","popularity":48,"type":"artist","uri":"spotify:artist:5V5dtgxeHu6JMxDTl0SRFO"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjlmMTQ2NTgxYzkxNDY5NjI4MGM5ZDcyMzE4MzNiM2E1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2BB69cnKYqj83suq4VrywO
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
