interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/78Lg6HmUqlTnmipvNxc536?additional_types=track
  response:
    body:
      string: '{"collaborative":false,"description":"","external_urls":{"spotify":"https://open.spotify.com/playlist/78Lg6HmUqlTnmipvNxc536"},"followers":{"href":null,"total":1},"href":"https://api.spotify.com/v1/playlists/78Lg6HmUqlTnmipvNxc536?additional_types=track","id":"78Lg6HmUqlTnmipvNxc536","images":[{"height":640,"url":"https://mosaic.scdn.co/640/ab67616d00001e0213025a9bdcc99bc944494335ab67616d00001e0249364828b8336730b37d46bfab67616d00001e028b8fb371244f6dc16b09f794ab67616d00001e02a61f22690660bd5264495524","width":640},{"height":300,"url":"https://mosaic.scdn.co/300/ab67616d00001e0213025a9bdcc99bc944494335ab67616d00001e0249364828b8336730b37d46bfab67616d00001e028b8fb371244f6dc16b09f794ab67616d00001e02a61f22690660bd5264495524","width":300},{"height":60,"url":"https://mosaic.scdn.co/60/ab67616d00001e0213025a9bdcc99bc944494335ab67616d00001e0249364828b8336730b37d46bfab67616d00001e028b8fb371244f6dc16b09f794ab67616d00001e02a61f22690660bd5264495524","width":60}],"name":"NCS
        top 10","owner":{"display_name":"Emilio Nicolas DG","external_urls":{"spotify":"https://open.spotify.com/user/217n7wyepmcopew27ql6h72eq"},"href":"https://api.spotify.com/v1/users/217n7wyepmcopew27ql6h72eq","id":"217n7wyepmcopew27ql6h72eq","type":"user","uri":"spotify:user:217n7wyepmcopew27ql6h72eq"},"primary_color":null,"public":true,"snapshot_id":"AAAADM6gdbSLZc5qiujqOgLjRj2pTmSu","tracks":{"href":"https://api.spotify.com/v1/playlists/78Lg6HmUqlTnmipvNxc536/tracks?offset=0&limit=100&additional_types=track","items":[{"added_at":"2021-11-05T23:03:00Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/217n7wyepmcopew27ql6h72eq"},"href":"https://api.spotify.com/v1/users/217n7wyepmcopew27ql6h72eq","id":"217n7wyepmcopew27ql6h72eq","type":"user","uri":"spotify:user:217n7wyepmcopew27ql6h72eq"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":[],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":[],"type":"album","album_type":"single","href":"https://api.spotify.com/v1/albums/4GruaNU4r4NRAVU5w7kXTW","id":"4GruaNU4r4NRAVU5w7kXTW","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2738b8fb371244f6dc16b09f794","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e028b8fb371244f6dc16b09f794","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048518b8fb371244f6dc16b09f794","width":64,"height":64}],"name":"Polaris","release_date":"2016-10-18","release_date_precision":"day","uri":"spotify:album:4GruaNU4r4NRAVU5w7kXTW","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU2dJMw"},"href":"https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw","id":"0xf6qjIweClwZGJSU2dJMw","name":"Blazars","type":"artist","uri":"spotify:artist:0xf6qjIweClwZGJSU2dJMw"}],"external_urls":{"spotify":"https://open.spotify.com/album/4GruaNU4r4NRAVU5w7kXTW"},"total_tracks":1},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU2dJMw"},"href":"https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw","id":"0xf6qjIweClwZGJSU2dJMw","name":"Blazars","type":"artist","uri":"spotify:artist:0xf6qjIweClwZGJSU2dJMw"}],"disc_number":1,"track_number":1,"duration_ms":236676,"external_ids":{"isrc":"GB2LD0902518"},"external_urls":{"spotify":"https://open.spotify.com/track/5KwlaPmzAkjqrxVliPj8tB"},"href":"https://api.spotify.com/v1/tracks/5KwlaPmzAkjqrxVliPj8tB","id":"5KwlaPmzAkjqrxVliPj8tB","name":"Polaris","popularity":0,"uri":"spotify:track:5KwlaPmzAkjqrxVliPj8tB","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2021-11-05T23:03:17Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/217n7wyepmcopew27ql6h72eq"},"href":"https://api.spotify.com/v1/users/217n7wyepmcopew27ql6h72eq","id":"217n7wyepmcopew27ql6h72eq","type":"user","uri":"spotify:user:217n7wyepmcopew27ql6h72eq"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":[],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":[],"type":"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/78Lg6HmUqlTnmipvNxc536/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: '{"href":"https://api.spotify.com/v1/playlists/78Lg6HmUqlTnm[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5KwlaPmzAkjqrxVliPj8tB
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU2dJMw"},"followers":{"href":null,"total":4483},"genres":["future
        house"],"href":"https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw","id":"0xf6qjIweClwZGJSU2dJMw","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb9a0163eee0cc230e21da5e6e","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051749a0163eee0cc230e21da5e6e","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1789a0163eee0cc230e21da5e6e","height":160,"width":160}],"name":"Blazars","popularity":24,"type":"artist","uri":"spotify:artist:0xf6qjIweClwZGJSU2dJMw"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjlkZGFlYjE1MTQ0NjYzMDIzZThiYmEyMDY3MTBiMDAxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4GruaNU4r4NRAVU5w7kXTW
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/4GruaNU4r4NRAVU5w7kXTW"},"href":"https://api.spotify.com/v1/albums/4GruaNU4r4NRAVU5w7kXTW","id":"4GruaNU4r4NRAVU5w7kXTW","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2738b8fb371244f6dc16b09f794","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e028b8fb371244f6dc16b09f794","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d000048518b8fb371244f6dc16b09f794","height":64,"width":64}],"name":"Polaris","release_date":"2016-10-18","release_date_precision":"day","type":"album","uri":"spotify:album:4GruaNU4r4NRAVU5w7kXTW","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU2dJMw"},"href":"https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw","id":"0xf6qjIweClwZGJSU2dJMw","name":"Blazars","type":"artist","uri":"spotify:artist:0xf6qjIweClwZGJSU2dJMw"}],"tracks":{"href":"https://api.spotify.com/v1/albums/4GruaNU4r4NRAVU5w7kXTW/tracks?offset=0&limit=50","limit":50,"next":null,"offset":0,"previous":null,"total":1,"items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU2dJMw"},"href":"https://api.spotify.com/v1/artists/0xf6qjIweClwZGJSU2dJMw","id":"0xf6qjIweClwZGJSU2dJMw","name":"Blazars","type":"artist","uri":"spotify:artist:0xf6qjIweClwZGJSU2dJMw"}],"available_markets":[],"disc_number":1,"duration_ms":236676,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/5KwlaPmzAkjqrxVliPj8tB"},"href":"https://api.spotify.com/v1/tracks/1jkt1xk5vkCJ8H10UDzJH7","id":"1jkt1xk5vkCJ8H10UDzJH7","linked_from":{"external_urls":{"spotify":"https://open.spotify.com/track/5KwlaPmzAkjqrxVliPj8tB"},"href":"https://api.spotify.com/v1/tracks/5KwlaPmzAkjqrxVliPj8tB","id":"5KwlaPmzAkjqrxVliPj8tB","type":"track","uri":"spotify:track:5KwlaPmzAkjqrxVliPj8tB"},"name":"Polaris","preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:1jkt1xk5vkCJ8H10UDzJH7","is_local":false}]},"copyrights":[{"text":"2016
        NCS Ltd.","type":"C"},{"text":"2016 NCS Ltd.","type":"P"}],"external_ids":{"upc":"5055199516547"},"genres":[],"label":"NCS","popularity":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImMzNTgwMTcyZmM3Yjk5ZDFmZTgxOWI3ZDUyNGE4NGRlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3pMVdkRKbHDV4zmvqWNlND
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0xf6qjIweClwZGJSU[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7BUgnVHZekyiP6NawsPP0H
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4wX3QCU2hWtuPiv8GSakrz
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/157L8iTHgbdrKVxdQ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2yHTF5O7mfbguKoz4aPpmQ
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5YzYsavACqRYuP9abGeejk
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/157L8iTHgbdrKVxdQ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3TLn62urm5nudSK9BY28hw
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/08z6EsebfUH0Q6J0Wf3eWf
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0pCGA9tdtbWwo1pKI[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0pCGA9tdtbWwo1pKIs0CFx
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0pCGA9tdtbWwo1pKIs0CFx"},"followers":{"href":null,"total":184170},"genres":["dubstep"],"href":"https://api.spotify.com/v1/artists/0pCGA9tdtbWwo1pKIs0CFx","id":"0pCGA9tdtbWwo1pKIs0CFx","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb7881a8f9c6acbf6b9d470082","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051747881a8f9c6acbf6b9d470082","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1787881a8f9c6acbf6b9d470082","height":160,"width":160}],"name":"Different
        Heaven","popularity":51,"type":"artist","uri":"spotify:artist:0pCGA9tdtbWwo1pKIs0CFx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImYwOGFiMzNlOWU2ZDIwOTNiY2RlM2NiNGE0YWE5OWQ2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/33Fc7E5Avn2eAM8jUNuljT
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2kdmWdQomm7sgm9jbzNy61
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0pCGA9tdtbWwo1pKI[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4txi1wxQuswExI8OaCHPKQ
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7gHs73wELdeycvS48JfIos
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7vk5e3vY1uw9plTHJ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5HMjpBO0v78ayq5lreAyDd
  response:
    body:
      string: '{"album_type":"single","total_tracks":4,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7MTZVwYiEahXQIyCU2FLPV
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7kANMNctYR16urrVo[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7kANMNctYR16urrVo7GTSR
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7kANMNctYR16urrVo7GTSR"},"followers":{"href":null,"total":68945},"genres":[],"href":"https://api.spotify.com/v1/artists/7kANMNctYR16urrVo7GTSR","id":"7kANMNctYR16urrVo7GTSR","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb33b1cf2b7b544840b727865b","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517433b1cf2b7b544840b727865b","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17833b1cf2b7b544840b727865b","height":160,"width":160}],"name":"Deaf
        Kev","popularity":47,"type":"artist","uri":"spotify:artist:7kANMNctYR16urrVo7GTSR"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjM1ZWU3OTU5ODAxOWEyZTg5YTc5MzgyZjIzZmY4OWVhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/29O5bQN4hzB99iXPilvAPz
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5eNCdUmpGcQTYw5V7noiPY
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/157L8iTHgbdrKVxdQ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/43bED64lWhQEE7XBEoMe8g
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
