# Spotdl dev related testing files
*.log
*.spotdlTrackingFile
*.mp3
*.m4a
*.flac
*.opus
*.ogg
*.wav
spotdl-temp/
*.mp4
.spotdl-cache
*.m3u

# Python
__pycache__
.mypy_cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
.vscode

# MS Visio Pro
externalTools/*

# Getting rid of Hacks (for now, 04/09/2020)
Hacks/*

# setuptools
spotdl.egg-info/*

# setuptools and PyInstaller
build
dist
*.spec

# Jetbrains IDEs; PyCharm/IntelliJ
.idea

# Tox
.tox/

# Test Coverage
.coverage
