interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1t2qKa8K72IBC8yQlhD9bU
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0"},"href":"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0","id":"4cZvsAtZm91PBC0tXlDrP0","name":"Dirty
        Palm","type":"artist","uri":"spotify:artist:4cZvsAtZm91PBC0tXlDrP0"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/0cgpcZCPvGGXOCpXVqPrvJ"},"href":"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ","id":"0cgpcZCPvGGXOCpXVqPrvJ","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273fe2cb38e4d2412dbb0e54332","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02fe2cb38e4d2412dbb0e54332","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851fe2cb38e4d2412dbb0e54332","width":64,"height":64}],"name":"Ropes","release_date":"2021-10-28","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:0cgpcZCPvGGXOCpXVqPrvJ"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0"},"href":"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0","id":"4cZvsAtZm91PBC0tXlDrP0","name":"Dirty
        Palm","type":"artist","uri":"spotify:artist:4cZvsAtZm91PBC0tXlDrP0"},{"external_urls":{"spotify":"https://open.spotify.com/artist/3Jd7z115OQPFsb8W96yPjv"},"href":"https://api.spotify.com/v1/artists/3Jd7z115OQPFsb8W96yPjv","id":"3Jd7z115OQPFsb8W96yPjv","name":"Chandler
        Jewels","type":"artist","uri":"spotify:artist:3Jd7z115OQPFsb8W96yPjv"}],"available_markets":[],"disc_number":1,"duration_ms":188000,"explicit":false,"external_ids":{"isrc":"GB2LD2110301"},"external_urls":{"spotify":"https://open.spotify.com/track/1t2qKa8K72IBC8yQlhD9bU"},"href":"https://api.spotify.com/v1/tracks/1t2qKa8K72IBC8yQlhD9bU","id":"1t2qKa8K72IBC8yQlhD9bU","is_local":false,"name":"Ropes","popularity":0,"preview_url":"https://p.scdn.co/mp3-preview/307da7e803156432a017b09e9608b8e5ed61c0d7?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:1t2qKa8K72IBC8yQlhD9bU"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjYwMmUzMDdhMmM0ZjZiYzFiMWRiNmQxYjRlNmY0MmI4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0"},"followers":{"href":null,"total":61565},"genres":["gaming
        edm","melbourne bounce","melbourne bounce international"],"href":"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0","id":"4cZvsAtZm91PBC0tXlDrP0","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebbe5fa23d87b2772cdbac60f7","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174be5fa23d87b2772cdbac60f7","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178be5fa23d87b2772cdbac60f7","height":160,"width":160}],"name":"Dirty
        Palm","popularity":46,"type":"artist","uri":"spotify:artist:4cZvsAtZm91PBC0tXlDrP0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjFjZjkzNjVkMTcwNWQzZmY2YzZmZDIxOWU2ODQxMzZhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/0cgpcZCPvGGXOCpXVqPrvJ"},"href":"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ","id":"0cgpcZCPvGGXOCpXVqPrvJ","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273fe2cb38e4d2412dbb0e54332","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e02fe2cb38e4d2412dbb0e54332","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d00004851fe2cb38e4d2412dbb0e54332","height":64,"width":64}],"name":"Ropes","release_date":"2021-10-28","release_date_precision":"day","type":"album","uri":"spotify:album:0cgpcZCPvGGXOCpXVqPrvJ","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0"},"href":"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0","id":"4cZvsAtZm91PBC0tXlDrP0","name":"Dirty
        Palm","type":"artist","uri":"spotify:artist:4cZvsAtZm91PBC0tXlDrP0"}],"tracks":{"href":"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ/tracks?offset=0&limit=50","limit":50,"next":null,"offset":0,"previous":null,"total":1,"items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0"},"href":"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0","id":"4cZvsAtZm91PBC0tXlDrP0","name":"Dirty
        Palm","type":"artist","uri":"spotify:artist:4cZvsAtZm91PBC0tXlDrP0"},{"external_urls":{"spotify":"https://open.spotify.com/artist/3Jd7z115OQPFsb8W96yPjv"},"href":"https://api.spotify.com/v1/artists/3Jd7z115OQPFsb8W96yPjv","id":"3Jd7z115OQPFsb8W96yPjv","name":"Chandler
        Jewels","type":"artist","uri":"spotify:artist:3Jd7z115OQPFsb8W96yPjv"}],"available_markets":[],"disc_number":1,"duration_ms":188000,"explicit":false,"external_urls":{"spotify":"https://open.spotify.com/track/1t2qKa8K72IBC8yQlhD9bU"},"href":"https://api.spotify.com/v1/tracks/4SN9kQlguIcjPtMNQJwD30","id":"4SN9kQlguIcjPtMNQJwD30","linked_from":{"external_urls":{"spotify":"https://open.spotify.com/track/1t2qKa8K72IBC8yQlhD9bU"},"href":"https://api.spotify.com/v1/tracks/1t2qKa8K72IBC8yQlhD9bU","id":null,"type":"track","uri":"spotify:track:1t2qKa8K72IBC8yQlhD9bU"},"name":"Ropes","preview_url":"https://p.scdn.co/mp3-preview/307da7e803156432a017b09e9608b8e5ed61c0d7?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:4SN9kQlguIcjPtMNQJwD30","is_local":false}]},"copyrights":[{"text":"2021
        NCS","type":"C"},{"text":"2021 NCS","type":"P"}],"external_ids":{"upc":"5055199555997"},"genres":[],"label":"NCS","popularity":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjBiNGI5YmYyY2IyMDMyYmFlNjdiMjgxZDAwMmU5MWU3Ig=="'
    status:
      code: 200
      message: OK
version: 1
