interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1t2qKa8K72IBC8yQlhD9bU
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0\",\n
        \     \"id\" : \"4cZvsAtZm91PBC0tXlDrP0\",\n      \"name\" : \"Dirty Palm\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:4cZvsAtZm91PBC0tXlDrP0\"\n
        \   } ],\n    \"available_markets\" : [ ],\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/album/0cgpcZCPvGGXOCpXVqPrvJ\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ\",\n    \"id\"
        : \"0cgpcZCPvGGXOCpXVqPrvJ\",\n    \"images\" : [ {\n      \"height\" : 640,\n
        \     \"url\" : \"https://i.scdn.co/image/ab67616d0000b273fe2cb38e4d2412dbb0e54332\",\n
        \     \"width\" : 640\n    }, {\n      \"height\" : 300,\n      \"url\" :
        \"https://i.scdn.co/image/ab67616d00001e02fe2cb38e4d2412dbb0e54332\",\n      \"width\"
        : 300\n    }, {\n      \"height\" : 64,\n      \"url\" : \"https://i.scdn.co/image/ab67616d00004851fe2cb38e4d2412dbb0e54332\",\n
        \     \"width\" : 64\n    } ],\n    \"name\" : \"Ropes\",\n    \"release_date\"
        : \"2021-10-28\",\n    \"release_date_precision\" : \"day\",\n    \"total_tracks\"
        : 1,\n    \"type\" : \"album\",\n    \"uri\" : \"spotify:album:0cgpcZCPvGGXOCpXVqPrvJ\"\n
        \ },\n  \"artists\" : [ {\n    \"external_urls\" : {\n      \"spotify\" :
        \"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0\",\n    \"id\"
        : \"4cZvsAtZm91PBC0tXlDrP0\",\n    \"name\" : \"Dirty Palm\",\n    \"type\"
        : \"artist\",\n    \"uri\" : \"spotify:artist:4cZvsAtZm91PBC0tXlDrP0\"\n  },
        {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/3Jd7z115OQPFsb8W96yPjv\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/3Jd7z115OQPFsb8W96yPjv\",\n
        \   \"id\" : \"3Jd7z115OQPFsb8W96yPjv\",\n    \"name\" : \"Chandler Jewels\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:3Jd7z115OQPFsb8W96yPjv\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"disc_number\" : 1,\n  \"duration_ms\"
        : 188000,\n  \"explicit\" : false,\n  \"external_ids\" : {\n    \"isrc\" :
        \"GB2LD2110301\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/track/1t2qKa8K72IBC8yQlhD9bU\"\n
        \ },\n  \"href\" : \"https://api.spotify.com/v1/tracks/1t2qKa8K72IBC8yQlhD9bU\",\n
        \ \"id\" : \"1t2qKa8K72IBC8yQlhD9bU\",\n  \"is_local\" : false,\n  \"name\"
        : \"Ropes\",\n  \"popularity\" : 0,\n  \"preview_url\" : null,\n  \"track_number\"
        : 1,\n  \"type\" : \"track\",\n  \"uri\" : \"spotify:track:1t2qKa8K72IBC8yQlhD9bU\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 59029\n  },\n
        \ \"genres\" : [ \"gaming edm\", \"melbourne bounce\", \"melbourne bounce
        international\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0\",\n
        \ \"id\" : \"4cZvsAtZm91PBC0tXlDrP0\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebbe5fa23d87b2772cdbac60f7\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174be5fa23d87b2772cdbac60f7\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178be5fa23d87b2772cdbac60f7\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Dirty Palm\",\n  \"popularity\"
        : 47,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:4cZvsAtZm91PBC0tXlDrP0\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0\",\n
        \   \"id\" : \"4cZvsAtZm91PBC0tXlDrP0\",\n    \"name\" : \"Dirty Palm\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:4cZvsAtZm91PBC0tXlDrP0\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"copyrights\" : [ {\n    \"text\"
        : \"2021 NCS\",\n    \"type\" : \"C\"\n  }, {\n    \"text\" : \"2021 NCS\",\n
        \   \"type\" : \"P\"\n  } ],\n  \"external_ids\" : {\n    \"upc\" : \"5055199555997\"\n
        \ },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/album/0cgpcZCPvGGXOCpXVqPrvJ\"\n
        \ },\n  \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ\",\n
        \ \"id\" : \"0cgpcZCPvGGXOCpXVqPrvJ\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b273fe2cb38e4d2412dbb0e54332\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e02fe2cb38e4d2412dbb0e54332\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00004851fe2cb38e4d2412dbb0e54332\",\n
        \   \"width\" : 64\n  } ],\n  \"label\" : \"NCS\",\n  \"name\" : \"Ropes\",\n
        \ \"popularity\" : 0,\n  \"release_date\" : \"2021-10-28\",\n  \"release_date_precision\"
        : \"day\",\n  \"total_tracks\" : 1,\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/albums/0cgpcZCPvGGXOCpXVqPrvJ/tracks?offset=0&limit=50\",\n
        \   \"items\" : [ {\n      \"artists\" : [ {\n        \"external_urls\" :
        {\n          \"spotify\" : \"https://open.spotify.com/artist/4cZvsAtZm91PBC0tXlDrP0\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/4cZvsAtZm91PBC0tXlDrP0\",\n
        \       \"id\" : \"4cZvsAtZm91PBC0tXlDrP0\",\n        \"name\" : \"Dirty Palm\",\n
        \       \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:4cZvsAtZm91PBC0tXlDrP0\"\n
        \     }, {\n        \"external_urls\" : [...]
