interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/30orXVZ79dv640tpOoWNDP?additional_types=track
  response:
    body:
      string: "{\n  \"collaborative\" : false,\n  \"description\" : \"\",\n  \"external_urls\"
        : {\n    \"spotify\" : \"https://open.spotify.com/playlist/30orXVZ79dv640tpOoWNDP\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 0\n  },\n
        \ \"href\" : \"https://api.spotify.com/v1/playlists/30orXVZ79dv640tpOoWNDP?additional_types=track\",\n
        \ \"id\" : \"30orXVZ79dv640tpOoWNDP\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b273343c4d74928886cd0be697fc\",\n
        \   \"width\" : 640\n  } ],\n  \"name\" : \"Old Maui\",\n  \"owner\" : {\n
        \   \"display_name\" : \"SDragon827\",\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja\",\n    \"id\"
        : \"xd9vfl7yp0h96uecfjc6vyoja\",\n    \"type\" : \"user\",\n    \"uri\" :
        \"spotify:user:xd9vfl7yp0h96uecfjc6vyoja\"\n  },\n  \"primary_color\" : null,\n
        \ \"public\" : true,\n  \"snapshot_id\" : \"NyxhMTQ3NWUzNjA1YjY3NDA1N2U4NDkzYmRlNGUzZWYyZmVlNWJlZGM1\",\n
        \ \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/playlists/30orXVZ79dv640tpOoWNDP/tracks?offset=0&limit=100&additional_types=track\",\n
        \   \"items\" : [ {\n      \"added_at\" : \"2024-04-10T15:55:33Z\",\n      \"added_by\"
        : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja\",\n
        \       \"id\" : \"xd9vfl7yp0h96uecfjc6vyoja\",\n        \"type\" : \"user\",\n
        \       \"uri\" : \"spotify:user:xd9vfl7yp0h96uecfjc6vyoja\"\n      },\n      \"is_local\"
        : false,\n      \"primary_color\" : null,\n      \"track\" : {\n        \"album\"
        : {\n          \"album_type\" : \"album\",\n          \"artists\" : [ {\n
        \           \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/0tfnDOJ5a2ib3mHAI4qGyD\"\n
        \           },\n            \"href\" : \"https://api.spotify.com/v1/artists/0tfnDOJ5a2ib3mHAI4qGyD\",\n
        \           \"id\" : \"0tfnDOJ5a2ib3mHAI4qGyD\",\n            \"name\" : \"The
        Dreadnoughts\",\n            \"type\" : \"artist\",\n            \"uri\" :
        \"spotify:artist:0tfnDOJ5a2ib3mHAI4qGyD\"\n          } ],\n          \"available_markets\"
        : [ \"AR\", \"AU\", \"AT\", \"BE\", \"BO\", \"BR\", \"BG\", \"CA\", \"CL\",
        \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\", \"DO\", \"DE\", \"EC\", \"EE\", \"SV\",
        \"FI\", \"FR\", \"GR\", \"GT\", \"HN\", \"HK\", \"HU\", \"IS\", \"IE\", \"IT\",
        \"LV\", \"LT\", \"LU\", \"MY\", \"MT\", \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\",
        \"PA\", \"PY\", \"PE\", \"PH\", \"PL\", \"PT\", \"SG\", \"SK\", \"ES\", \"SE\",
        \"CH\", \"TW\", \"TR\", \"UY\", \"US\", \"GB\", \"AD\", \"LI\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/30orXVZ79dv640tpOoWNDP/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/playlists/30orXVZ79dv640tpOoWNDP/track[...]
