interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/7FPXF1EQp4FnWBMdhT05R4?additional_types=track
  response:
    body:
      string: "{\n  \"collaborative\" : false,\n  \"description\" : \"\",\n  \"external_urls\"
        : {\n    \"spotify\" : \"https://open.spotify.com/playlist/7FPXF1EQp4FnWBMdhT05R4\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 0\n  },\n
        \ \"href\" : \"https://api.spotify.com/v1/playlists/7FPXF1EQp4FnWBMdhT05R4?additional_types=track\",\n
        \ \"id\" : \"7FPXF1EQp4FnWBMdhT05R4\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b2733dd4cb66b19439de3f5d1f89\",\n
        \   \"width\" : 640\n  } ],\n  \"name\" : \"The Good Witch\",\n  \"owner\"
        : {\n    \"display_name\" : \"SDragon827\",\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja\",\n    \"id\"
        : \"xd9vfl7yp0h96uecfjc6vyoja\",\n    \"type\" : \"user\",\n    \"uri\" :
        \"spotify:user:xd9vfl7yp0h96uecfjc6vyoja\"\n  },\n  \"primary_color\" : null,\n
        \ \"public\" : true,\n  \"snapshot_id\" : \"NSxkYmJhMjQ2NzVjNTExNDI3YTNjNmI0ZTk1NTQ0NTcwZjBjMGE0M2Rk\",\n
        \ \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/playlists/7FPXF1EQp4FnWBMdhT05R4/tracks?offset=0&limit=100&additional_types=track\",\n
        \   \"items\" : [ {\n      \"added_at\" : \"2024-04-10T15:56:54Z\",\n      \"added_by\"
        : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/xd9vfl7yp0h96uecfjc6vyoja\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/users/xd9vfl7yp0h96uecfjc6vyoja\",\n
        \       \"id\" : \"xd9vfl7yp0h96uecfjc6vyoja\",\n        \"type\" : \"user\",\n
        \       \"uri\" : \"spotify:user:xd9vfl7yp0h96uecfjc6vyoja\"\n      },\n      \"is_local\"
        : false,\n      \"primary_color\" : null,\n      \"track\" : {\n        \"album\"
        : {\n          \"album_type\" : \"album\",\n          \"artists\" : [ {\n
        \           \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/2RVvqRBon9NgaGXKfywDSs\"\n
        \           },\n            \"href\" : \"https://api.spotify.com/v1/artists/2RVvqRBon9NgaGXKfywDSs\",\n
        \           \"id\" : \"2RVvqRBon9NgaGXKfywDSs\",\n            \"name\" : \"Maisie
        Peters\",\n            \"type\" : \"artist\",\n            \"uri\" : \"spotify:artist:2RVvqRBon9NgaGXKfywDSs\"\n
        \         } ],\n          \"available_markets\" : [ \"AR\", \"AU\", \"AT\",
        \"BE\", \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\",
        \"DK\", \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\",
        \"HN\", \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\",
        \"MT\", \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\",
        \"PL\", \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\",
        \"US\", \"GB\", \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/7FPXF1EQp4FnWBMdhT05R4/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/playlists/7FPXF1EQp4FnWBMdhT05R4/track[...]
