interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/spotify-downloader/compare/master...dev
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/compare/master...dev\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/compare/master...dev\",\"permalink_url\":\"https://github.com/spotDL/spotify-downloader/compare/spotDL:f90cfb3...spotDL:d5416ab\",\"diff_url\":\"https://github.com/spotDL/spotify-downloader/compare/master...dev.diff\",\"patch_url\":\"https://github.com/spotDL/spotify-downloader/compare/master...dev.patch\",\"base_commit\":{\"sha\":\"f90cfb3f5ab1b15e73d0393d531908d4ac789e7d\",\"node_id\":\"C_kwDOA71kIdoAKGY5MGNmYjNmNWFiMWIxNWU3M2QwMzkzZDUzMTkwOGQ0YWM3ODllN2Q\",\"commit\":{\"author\":{\"name\":\"kuba\",\"email\":\"xnetcat.dev@gmail.com\",\"date\":\"2023-12-03T14:19:54Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2023-12-03T14:19:54Z\"},\"message\":\"v4.2.4\",\"tree\":{\"sha\":\"8f5d931eaea001dd6833136c1e1a9a81f705a63c\",\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/trees/8f5d931eaea001dd6833136c1e1a9a81f705a63c\"},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/commits/f90cfb3f5ab1b15e73d0393d531908d4ac789e7d\",\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\",\"signature\":\"-----BEGIN
        PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJlbI6KCRBK7hj4Ov3rIwAA2U4IAJmAfLPZJsrIS/VTkpowlKhY\\ncnk3h5Gvz5qdGBBHyRqgvuH7K9HaxRVYtw74mW89jqrdLL5sy0X05XLoUXu5uzvq\\nSgFOMgPID22U6fUi/WSuTbLNohWMML66DJoTA5WU0RL775qlbE07TEQotX/0Ap0u\\nORbW7mix56LY5MyC1NmgNsppPnn2jgG/7ozIQxSYGDFu0Yb6o4+H0oC+J0FUuhi7\\nGgu6KPEl1CdJzpYGCcprQt0UGjkEz4R5OHTQhKiqPi4JkXaJmeUtZnETocjEOpEm\\nXlOfjtFnNPyPamipAoOU3wht8sg+Z11EptEUwr83OtPJ05IU+n/cQDobpLLPYXE=\\n=mXkc\\n-----END
        PGP SIGNATURE-----\\n\",\"payload\":\"tree 8f5d931eaea001dd6833136c1e1a9a81f705a63c\\nparent
        c932e5dafdf4eafc2d1044e255d96ab6939bf4fe\\nparent ce154672ab9f71dc175858461a1e06382421c453\\nauthor
        kuba <xnetcat.dev@gmail.com> 1701613194 +0100\\ncommitter GitHub <noreply@github.com>
        1701613194 +0100\\n\\nv4.2.4\\n\\n\"}},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/f90cfb3f5ab1b15e73d0393d531908d4ac789e7d\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/commit/f90cfb3f5ab1b15e73d0393d531908d4ac789e7d\",\"comments_url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/f90cfb3f5ab1b15e73d0393d531908d4ac789e7d/comments\",\"author\":{\"login\":\"xnetcat\",\"id\":42355410,\"node_id\":\"MDQ6VXNlcjQyMzU1NDEw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/42355410?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/xnetcat\",\"html_url\":\"https://github.com/xnetcat\",\"followers_url\":\"https://api.github.com/users/xnetcat/followers\",\"following_url\":\"https://api.github.com/users/xnetcat/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/xnetcat/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/xnetcat/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/xnetcat/subscriptions\",\"organizations_url\":\"https://api.github.com/users/xnetcat/orgs\",\"repos_url\":\"https://api.github.com/users/xnetcat/repos\",\"events_url\":\"https://api.github.com/users/xnetcat/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/xnetcat/received_events\",\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"web-flow\",\"id\":19864447,\"node_id\":\"MDQ6VXNlcjE5ODY0NDQ3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/19864447?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/web-flow\",\"html_url\":\"https://github.com/web-flow\",\"followers_url\":\"https://api.github.com/users/web-flow/followers\",\"following_url\":\"https://api.github.com/users/web-flow/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/web-flow/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/web-flow/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/web-flow/subscriptions\",\"organizations_url\":\"https://api.github.com/users/web-flow/orgs\",\"repos_url\":\"https://api.github.com/users/web-flow/repos\",\"events_url\":\"https://api.github.com/users/web-flow/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/web-flow/received_events\",\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"c932e5dafdf4eafc2d1044e255d96ab6939bf4fe\",\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/c932e5dafdf4eafc2d1044e255d96ab6939bf4fe\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/commit/c932e5dafdf4eafc2d1044e255d96ab6939bf4fe\"},{\"sha\":\"ce154672ab9f71dc175858461a1e06382421c453\",\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/ce154672ab9f71dc175858461a1e06382421c453\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/commit/ce154672ab9f71dc175858461a1e06382421c453\"}]},\"merge_base_commit\":{\"sha\":\"f90cfb3f5ab1b15e73d0393d531908d4ac789e7d\",\"node_id\":\"C_kwDOA71kIdoAKGY5MGNmYjNmNWFiMWIxNWU3M2QwMzkzZDUzMTkwOGQ0YWM3ODllN2Q\",\"commit\":{\"author\":{\"name\":\"kuba\",\"email\":\"xnetcat.dev@gmail.com\",\"date\":\"2023-12-03T14:19:54Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2023-12-03T14:19:54Z\"},\"message\":\"v4.2.4\",\"tree\":{\"sha\":\"8f5d931eaea001dd6833136c1e1a9a81f705a63c\",\"url\":\"https://api.github.com/repos/spotDL/spotify-down[...]
