interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQD5uIUIDwSFbstsqodnEImYjxqcogb-3l0kASdiiCmCVZUmBGLpxLWulbwE4kCvqT5Ka6-rn_G6V28V0_zZTdOZQmUpaG-VsjKWVlCDETZNtJOCHFo
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2Ikdgh3J5vCRmnCL3Xcrtv
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of\",\n
        \     \"id\" : \"0LyfQWJT6nXafLPZqxe9Of\",\n      \"name\" : \"Various Artists\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:0LyfQWJT6nXafLPZqxe9Of\"\n
        \   } ],\n    \"available_markets\" : [ ],\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/album/4MQnUDGXmHOvnsWCpzeqWT\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT\",\n    \"id\"
        : \"4MQnUDGXmHOvnsWCpzeqWT\",\n    \"images\" : [ {\n      \"height\" : 640,\n
        \     \"url\" : \"https://i.scdn.co/image/ab67616d0000b27367cf92b139a3d7ea71a54118\",\n
        \     \"width\" : 640\n    }, {\n      \"height\" : 300,\n      \"url\" :
        \"https://i.scdn.co/image/ab67616d00001e0267cf92b139a3d7ea71a54118\",\n      \"width\"
        : 300\n    }, {\n      \"height\" : 64,\n      \"url\" : \"https://i.scdn.co/image/ab67616d0000485167cf92b139a3d7ea71a54118\",\n
        \     \"width\" : 64\n    } ],\n    \"name\" : \"NCS: The Best of 2017\",\n
        \   \"release_date\" : \"2017-12-15\",\n    \"release_date_precision\" : \"day\",\n
        \   \"total_tracks\" : 16,\n    \"type\" : \"album\",\n    \"uri\" : \"spotify:album:4MQnUDGXmHOvnsWCpzeqWT\"\n
        \ },\n  \"artists\" : [ {\n    \"external_urls\" : {\n      \"spotify\" :
        \"https://open.spotify.com/artist/40HDiLfKm0tXk2FxlJx6aO\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO\",\n    \"id\"
        : \"40HDiLfKm0tXk2FxlJx6aO\",\n    \"name\" : \"Jim Yosef\",\n    \"type\"
        : \"artist\",\n    \"uri\" : \"spotify:artist:40HDiLfKm0tXk2FxlJx6aO\"\n  },
        {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/2Ndq6RparrhEoceel7LC4Z\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/2Ndq6RparrhEoceel7LC4Z\",\n
        \   \"id\" : \"2Ndq6RparrhEoceel7LC4Z\",\n    \"name\" : \"Anna Yvette\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:2Ndq6RparrhEoceel7LC4Z\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"disc_number\" : 1,\n  \"duration_ms\"
        : 223218,\n  \"explicit\" : false,\n  \"external_ids\" : {\n    \"isrc\" :
        \"GB2LD1700377\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/track/2Ikdgh3J5vCRmnCL3Xcrtv\"\n
        \ },\n  \"href\" : \"https://api.spotify.com/v1/tracks/2Ikdgh3J5vCRmnCL3Xcrtv\",\n
        \ \"id\" : \"2Ikdgh3J5vCRmnCL3Xcrtv\",\n  \"is_local\" : false,\n  \"name\"
        : \"Linked\",\n  \"popularity\" : 0,\n  \"preview_url\" : null,\n  \"track_number\"
        : 1,\n  \"type\" : \"track\",\n  \"uri\" : \"spotify:track:2Ikdgh3J5vCRmnCL3Xcrtv\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQD5uIUIDwSFbstsqodnEImYjxqcogb-3l0kASdiiCmCVZUmBGLpxLWulbwE4kCvqT5Ka6-rn_G6V28V0_zZTdOZQmUpaG-VsjKWVlCDETZNtJOCHFo
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/40HDiLfKm0tXk2FxlJx6aO\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 148685\n
        \ },\n  \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO\",\n
        \ \"id\" : \"40HDiLfKm0tXk2FxlJx6aO\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebc26d337f7ccb56e37109bd0f\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174c26d337f7ccb56e37109bd0f\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178c26d337f7ccb56e37109bd0f\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Jim Yosef\",\n  \"popularity\"
        : 54,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:40HDiLfKm0tXk2FxlJx6aO\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQD5uIUIDwSFbstsqodnEImYjxqcogb-3l0kASdiiCmCVZUmBGLpxLWulbwE4kCvqT5Ka6-rn_G6V28V0_zZTdOZQmUpaG-VsjKWVlCDETZNtJOCHFo
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT
  response:
    body:
      string: "{\n  \"album_type\" : \"compilation\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of\",\n
        \   \"id\" : \"0LyfQWJT6nXafLPZqxe9Of\",\n    \"name\" : \"Various Artists\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:0LyfQWJT6nXafLPZqxe9Of\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"copyrights\" : [ {\n    \"text\"
        : \"2017 NCS, under exclusive license to AEI Recordings\",\n    \"type\" :
        \"C\"\n  }, {\n    \"text\" : \"2017 NCS, under exclusive license to AEI Recordings\",\n
        \   \"type\" : \"P\"\n  } ],\n  \"external_ids\" : {\n    \"upc\" : \"5055199521152\"\n
        \ },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/album/4MQnUDGXmHOvnsWCpzeqWT\"\n
        \ },\n  \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT\",\n
        \ \"id\" : \"4MQnUDGXmHOvnsWCpzeqWT\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b27367cf92b139a3d7ea71a54118\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e0267cf92b139a3d7ea71a54118\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000485167cf92b139a3d7ea71a54118\",\n
        \   \"width\" : 64\n  } ],\n  \"label\" : \"NCS\",\n  \"name\" : \"NCS: The
        Best of 2017\",\n  \"popularity\" : 0,\n  \"release_date\" : \"2017-12-15\",\n
        \ \"release_date_precision\" : \"day\",\n  \"total_tracks\" : 16,\n  \"tracks\"
        : {\n    \"href\" : \"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT/tracks?offset=0&limit=50\",\n
        \   \"items\" : [ {\n      \"artists\" : [ {\n        \"external_urls\" :
        {\n          \"spotify\" : \"https://open.spotify.com/artist/40HDiLfKm0tXk2FxlJx6aO\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO\",\n
        \       \"id\" : \"40HDiLfKm0tXk2FxlJx6aO\",\n        \"name\" : \"Jim Yosef\",\n
        \       \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:40HDiLfKm0tXk2FxlJx6aO\"\n
        \     }, {\n        \"external_urls\" : {[...]
