interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0YniOccoeVuymVK8Lpb7VR
  response:
    body:
      string: "{\n  \"album_type\" : \"album\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/2RVvqRBon9NgaGXKfywDSs\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/2RVvqRBon9NgaGXKfywDSs\",\n
        \   \"id\" : \"2RVvqRBon9NgaGXKfywDSs\",\n    \"name\" : \"Maisie Peters\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:2RVvqRBon9NgaGXKfywDSs\"\n
        \ } ],\n  \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\", \"BO\",
        \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\", \"DO\",
        \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\", \"HK\",
        \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\", \"MX\",
        \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\", \"PT\",
        \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\", \"GB\",
        \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDbOyNhLT0hBYVaRtdTgHIVNGXTMQ1yWWxxSwjKHRNGHoIl2lwnPiVvplmD2qbtAj921jlzbbbASr9zJq7UrC6jg_HI0rWUobgBwuF64k1D4Km2ucA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0YniOccoeVuymVK8Lpb7VR/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/0YniOccoeVuymVK8Lpb7VR/tracks?offset=0&limit=50\",\n
        \ \"items\" : [ {\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\"
        : \"https://open.spotify.com/artist/2RVvqRBon9NgaGXKfywDSs\"\n      },\n      \"href\"
        : \"https://api.spotify.com/v1/artists/2RVvqRBon9NgaGXKfywDSs\",\n      \"id\"
        : \"2RVvqRBon9NgaGXKfywDSs\",\n      \"name\" : \"Maisie Peters\",\n      \"type\"
        : \"artist\",\n      \"uri\" : \"spotify:artist:2RVvqRBon9NgaGXKfywDSs\"\n
        \   } ],\n    \"available_markets\" : [ \"AR\", \"AU\", \"[...]
