interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=playlist%3A+This+Is+Gorillaz&limit=10&offset=0&type=playlist
  response:
    body:
      string: "{\"playlists\":{\"href\":\"https://api.spotify.com/v1/search?offset=0&limit=10&query=playlist%3A%20This%20Is%20Gorillaz&type=playlist\",\"limit\":10,\"next\":\"https://api.spotify.com/v1/search?offset=10&limit=10&query=playlist%3A%20This%20Is%20Gorillaz&type=playlist\",\"offset\":0,\"previous\":null,\"total\":900,\"items\":[null,null,{\"collaborative\":false,\"description\":\"This
        is GORILLAZ radio feel good inc playlist all songs discography mix lo mejor
        de exitos as melhores musicas live todas las canciones 2\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/playlist/34oEnBjW8u9K0EOUfSonQ0\"},\"href\":\"https://api.spotify.com/v1/playlists/34oEnBjW8u9K0EOUfSonQ0\",\"id\":\"34oEnBjW8u9K0EOUfSonQ0\",\"images\":[{\"height\":null,\"url\":\"https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da840f8f3f9163fa249c6359b53d\",\"width\":null}],\"name\":\"GORILLAZ
        HITS\U0001F7E2 BEST OF\",\"owner\":{\"display_name\":\"\U0001F7E2 ROCK PLAYLISTS
        \U0001F7E2\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/31yfb62456dqlvnsjrfsfnd73zay\"},\"href\":\"https://api.spotify.com/v1/users/31yfb62456dqlvnsjrfsfnd73zay\",\"id\":\"31yfb62456dqlvnsjrfsfnd73zay\",\"type\":\"user\",\"uri\":\"spotify:user:31yfb62456dqlvnsjrfsfnd73zay\"},\"primary_color\":null,\"public\":true,\"snapshot_id\":\"AAAAKbLzuZyJhE4brDxjMBoyP4cUJ5Av\",\"tracks\":{\"href\":\"https://api.spotify.com/v1/playlists/34oEnBjW8u9K0EOUfSonQ0/tracks\",\"total\":33},\"type\":\"playlist\",\"uri\":\"spotify:playlist:34oEnBjW8u9K0EOUfSonQ0\"},{\"collaborative\":false,\"description\":\"hey
        everybody :3\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/playlist/54BJNOVUOUCEkku85udmcP\"},\"href\":\"https://api.spotify.com/v1/playlists/54BJNOVUOUCEkku85udmcP\",\"id\":\"54BJNOVUOUCEkku85udmcP\",\"images\":[{\"height\":null,\"url\":\"https://image-cdn-ak.[...]
