interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=playlist%3A+This+Is+Gorillaz&limit=10&offset=0&type=playlist
  response:
    body:
      string: "{\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=playlist%3A+This+Is+Gorillaz&type=playlist&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\"
        : \"This is Gorillaz. The essential tracks, all in one playlist.\",\n      \"external_urls\"
        : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO\",\n
        \     \"id\" : \"37i9dQZF1DZ06evO25rXbO\",\n      \"images\" : [ {\n        \"height\"
        : null,\n        \"url\" : \"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-large.jpg\",\n
        \       \"width\" : null\n      } ],\n      \"name\" : \"This Is Gorillaz\",\n
        \     \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\"
        : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n
        \       \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\"
        : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n
        \     },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\"
        : \"MTcyMzg1MjgwMCwwMDAwMDAwMGM1NDMzZmQzOGEzMDk1NmMwMTc3NjUzYjc2NjA5Y2Vi\",\n
        \     \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks\",\n
        \       \"total\" : 50\n      },\n      \"type\" : \"playlist\",\n      \"uri\"
        : \"spotify:playlist:37i9dQZF1DZ06evO25rXbO\"\n    }, {\n      \"collaborative\"
        : false,\n      \"description\" : \"This is GORILLAZ the radio mixtape playlist
        all songs discography mix lo mejor de exitos todas las canciones as melhores
        musicas live\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/34oEnBjW8u9K0EOUfSonQ0\"\n
        \     },\n      \"href\" : \"h[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track
  response:
    body:
      string: "{\"collaborative\":false,\"description\":\"This is Gorillaz. The essential
        tracks, all in one playlist.\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"},\"followers\":{\"href\":null,\"total\":1110077},\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track\",\"id\":\"37i9dQZF1DZ06evO25rXbO\",\"images\":[{\"height\":null,\"url\":\"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-default.jpg\",\"width\":null}],\"name\":\"This
        Is Gorillaz\",\"owner\":{\"display_name\":\"Spotify\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/spotify\"},\"href\":\"https://api.spotify.com/v1/users/spotify\",\"id\":\"spotify\",\"type\":\"user\",\"uri\":\"spotify:user:spotify\"},\"primary_color\":null,\"public\":true,\"snapshot_id\":\"Zr/oAAAAAADFQz/TijCVbAF3ZTt2YJzr\",\"tracks\":{\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?offset=0&limit=100&additional_types=track\",\"items\":[{\"added_at\":\"1970-01-01T00:00:00Z\",\"added_by\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/\"},\"href\":\"https://api.spotify.com/v1/users/\",\"id\":\"\",\"type\":\"user\",\"uri\":\"spotify:user:\"},\"is_local\":false,\"primary_color\":null,\"track\":{\"preview_url\":\"https://p.scdn.co/mp3-preview/b13a1bb2d8a04132982a49b6efee933cc9d67c7e?cid=ad996353310b4ced82f5be1309b11b14\",\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GD\",\"GW\",\"HT\",\"JM\",\"LS\",\"LR\",\"MW\",\"ML\",\"FM\",\"NA\",\"NE\",\"PG\",\"PR\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"KN\",\"LC\",\"VC\",\"TL\",\"TT\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"explicit\":false,\"type\":\"track\",\"episode\":false,\"track\":true,\"album\":{\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GD\",\"GW\",\"HT\",\"JM\",\"LS\",\"LR\",\"MW\",\"ML\",\"FM\",\"NA\",\"NE\",\"PG\",\"PR\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"KN\",\"LC\",\"VC\",\"TL\",\"TT\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"type\":\"album\",\"album_type\":\"album\",\"href\":\"https://api.spotify.com/v1/albums/0bUTHlWbkSQysoM3VsWldT\",\"id\":\"0bUTHlWbkSQysoM3VsWldT\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b27319d85a472f328a6ed9b704cf\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e0219d85a472f328a6ed9b704cf\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d0000485119d85a472f328a6ed9b704cf\",\"width\":64,\"height\":64}],\"name\":\"Demon
        Days\",\"release_date\":\"2005-05-23\",\"release_date_precision\":\"day\",\"uri\":\"spotify:album:0bUTHlWbkSQysoM3VsWldT\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"},\"href\":\"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ\",\"id\":\"3AA28KZvwAUcZuOKwyblJQ\",\"name\":\"Gorillaz\",\"type\":\"artist\",\"uri\":\"spotify:artist:3AA28KZvwAUcZuOKwyblJQ\"}],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/0bUTHlWbkSQysoM3VsWldT\"},\"total_tracks\":15},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"},\"href\":\"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ\",\"id\":\"3AA28KZvwAUcZuOKwyblJQ\",\"name\":\"Gorillaz\",\"type\":\"artist\",\"uri\":\"spotify:artist:3AA28KZvwAUcZuOKwyblJQ\"}],\"disc_number\":1,\"track_number\":6,\"duration_ms\":222640,\"external_ids\":{\"isrc\":\"GBAYE0500172\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/0d28khcov6AiegSCpG5TuT\"},\"href\":\"https://api.spotify.com/v1/tracks/0d28khcov6AiegSCpG5TuT\",\"id\":\"0d28khcov6AiegSCpG5TuT\",\"name\":\"Feel
        Good Inc.\",\"popularity\":84,\"uri\":\"spotify:track:0d28khcov6AiegSCpG5TuT\",\"is_local\":false},\"video_thumbnail\":{\"url\":null}},{\"added_at\":\"1970-01-01T00:00:00Z\",\"added_by\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/\"},\"href\":\"https://api.spotify.com/v1/users/\",\"id\":\"\",\"type\":\"user\",\"uri\":\"spotify:user:\"},\"is_local\":false,\"primary_color\":null,\"track\":{\"preview_url\":\"https://p.scdn.co/mp3-preview/75a403bfee0fea05ed437b8e84ce4e8cbb8d5b62?cid=ad996353310b4ced82f5be1309b11b14\",\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQACOcLQZA6wsjp0NIEXM15SNsTSPJl72ID1f8iIqdG9GQApzljc0J0BSdF7ZXiyHzGDI78eH_7GMIi1sjKp5cieBbBjuDuYcVL20vTv2ylr4QJ_YSg
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?offs[...]
