interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs?additional_types=track
  response:
    body:
      string: "{\n  \"collaborative\" : false,\n  \"description\" : \"\",\n  \"external_urls\"
        : {\n    \"spotify\" : \"https://open.spotify.com/playlist/5LkNhFidYyyjRWwnkcMbQs\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 14\n  },\n
        \ \"href\" : \"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs?additional_types=track\",\n
        \ \"id\" : \"5LkNhFidYyyjRWwnkcMbQs\",\n  \"images\" : [ {\n    \"height\"
        : null,\n    \"url\" : \"https://image-cdn-ak.spotifycdn.com/image/ab67706c0000bebbbd905fdd6d8ab64e84e650c9\",\n
        \   \"width\" : null\n  } ],\n  \"name\" : \"Top 10 NCS Songs Episode 2\",\n
        \ \"owner\" : {\n    \"display_name\" : \"Teejay.limm\",\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop\",\n
        \   \"id\" : \"w19j0mt7brffcom023smtwpop\",\n    \"type\" : \"user\",\n    \"uri\"
        : \"spotify:user:w19j0mt7brffcom023smtwpop\"\n  },\n  \"primary_color\" :
        null,\n  \"public\" : true,\n  \"snapshot_id\" : \"MjYsNWI1ZmFmMWIyODQ3MTA0Y2ZjMTAzY2Y0NjkyYjI0ZjZmMjY2Y2RlOA==\",\n
        \ \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/tracks?offset=0&limit=100&additional_types=track\",\n
        \   \"items\" : [ {\n      \"added_at\" : \"2021-01-24T12:43:16Z\",\n      \"added_by\"
        : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop\",\n
        \       \"id\" : \"w19j0mt7brffcom023smtwpop\",\n        \"type\" : \"user\",\n
        \       \"uri\" : \"spotify:user:w19j0mt7brffcom023smtwpop\"\n      },\n      \"is_local\"
        : false,\n      \"primary_color\" : null,\n      \"track\" : {\n        \"album\"
        : {\n          \"album_type\" : \"single\",\n          \"artists\" : [ {\n
        \           \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\"\n
        \           },\n            \"href\" : \"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of\",\n
        \           \"id\" : \"0LyfQWJT6nXafLPZqxe9Of\",\n            \"name\" : \"Various
        Artists\",\n            \"type\" : \"artist\",\n            \"uri\" : \"spotify:artist:0LyfQWJT6nXafLPZqxe9Of\"\n
        \         } ],\n          \"available_markets\" : [ ],\n          \"external_urls\"
        : {\n            \"spotify\" : \"https://open.spotify.com/album/0SD7WKX5j92D3g3N4JM8N3\"\n
        \         },\n          \"href\" : \"https://api.spotify.com/v1/albums/0SD7WKX5j92D3g3N4JM8N3\",\n
        \         \"id\" : \"0SD7WKX5j92D3g3N4JM8N3\",\n          \"images\" : [ ],\n
        \         \"name\" : \"\",\n          \"release_date\" : \"0000\",\n          \"release_date_precision\"
        : \"year\",\n          \"total_tracks\" : 1,\n          \"type\" : \"album\",\n
        \         \"uri\" : \"spotify:album:0SD7WKX5j92D3g3N4JM8N3\"\n        },\n
        \       \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\"
        : \"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\"\n          },\n
        \         \"href\" : \"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of\",\n
        \         \"id\" : \"0LyfQWJT6nXafLPZqxe9Of\",\n          \"name\" : \"\",\n
        \         \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:0LyfQWJT6nXafLPZqxe9Of\"\n
        \       } ],\n        \"available_markets\" : [ ],\n        \"disc_number\"
        : 1,\n        \"duration_ms\" : 0,\n        \"episode\" : false,\n        \"explicit\"
        : false,\n        \"external_ids\" : { },\n        \"external_urls\" : {\n
        \         \"spotify\" : \"https://open.spotify.com/track/4YhITuwINLCfXYB2WCXbCZ\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/tracks/4YhITuwINLCfXYB2WCXbCZ\",\n
        \       \"id\" : \"4YhITuwINLCfXYB2WCXbCZ\",\n        \"is_local\" : false,\n
        \       \"name\" : \"\",\n        \"popularity\" : 0,\n        \"preview_url\"
        : null,\n        \"track\" : true,\n        \"track_number\" : 1,\n        \"type\"
        : \"track\",\n        \"uri\" : \"spotify:track:4YhITuwINLCfXYB2WCXbCZ\"\n
        \     },\n      \"video_thumbnail\" : {\n        \"url\" : null\n      }\n
        \   }, {\n      \"added_at\" : \"2021-01-24T12:47:48Z\",\n      \"added_by\"
        : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/w19j0mt7brffcom023smtwpop\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/users/w19j0mt7brffcom023smtwpop\",\n
        \       \"id\" : \"w19j0mt7brffcom023smtwpop\",\n        \"type\" : \"user\",\n
        \       \"uri\" : \"spotify:user:w19j0mt7brffc[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/playlists/5LkNhFidYyyjRWwnkcMbQs/track[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/18A7ha5BitZjmdHTCwXFbU
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 1644859\n
        \ },\n  \"genres\" : [ \"modern indie pop\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG\",\n
        \ \"id\" : \"7gXb99Sf9nNmpNYeAgIQFG\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebd0019e1ad7a088651a490862\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174d0019e1ad7a088651a490862\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178d0019e1ad7a088651a490862\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Sub Urban\",\n  \"popularity\"
        : 65,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG\",\n
        \   \"id\" : \"7gXb99Sf9nNmpNYeAgIQFG\",\n    \"name\" : \"Sub Urban\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"copyrights\" : [ {\n    \"text\"
        : \"2019 NCS\",\n    \"type\" : \"C\"\n  }, {\n    \"text\" : \"2019 NCS\",\n
        \   \"type\" : \"P\"\n  } ],\n  \"external_ids\" : {\n    \"upc\" : \"5055199529585\"\n
        \ },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/album/1WTTu8JvpNLQShwwO8o4L9\"\n
        \ },\n  \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9\",\n
        \ \"id\" : \"1WTTu8JvpNLQShwwO8o4L9\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b273cec7c8ebb684882dbaf476f5\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e02cec7c8ebb684882dbaf476f5\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00004851cec7c8ebb684882dbaf476f5\",\n
        \   \"width\" : 64\n  } ],\n  \"label\" : \"NCS\",\n  \"name\" : \"Cradles\",\n
        \ \"popularity\" : 0,\n  \"release_date\" : \"2019-01-04\",\n  \"release_date_precision\"
        : \"day\",\n  \"total_tracks\" : 1,\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/albums/1WTTu8JvpNLQShwwO8o4L9/tracks?offset=0&limit=50\",\n
        \   \"items\" : [ {\n      \"artists\" : [ {\n        \"external_urls\" :
        {\n          \"spotify\" : \"https://open.spotify.com/artist/7gXb99Sf9nNmpNYeAgIQFG\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/artists/7gXb99Sf9nNmpNYeAgIQFG\",\n
        \       \"id\" : \"7gXb99Sf9nNmpNYeAgIQFG\",\n        \"name\" : \"Sub Urban\",\n
        \       \"type\" : \"artist\",\n        \"uri\" : \"spotify:artist:7gXb99Sf9nNmpNYeAgIQFG\"\n
        \     } ],\n      \"available_markets\" : [ ],\n      \"disc_number\" : 1,\n
        \     \"duration_ms\" : 209829,\n      \"explicit\" : false,\n      \"external_urls\"
        : {\n        \"spotify\" : \"https://open.spotify.com/track/18A7ha5BitZjmdHTCwXFbU\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/tracks/18A7ha5BitZjmdHTCwXFbU\",\n
        \     \"id\" : \"18A7ha5BitZjmdHTCwXFbU\",\n      \"is_local\" : false,\n
        \     \"name\" : \"Cradles\",\n      \"preview_url\" : null,\n      \"track_number\"
        : 1,\n      \"type\" : \"track\",\n      \"uri\" : \"spotify:track:18A7ha5BitZjmdHTCwXFbU\"\n
        \   } ],\n    \"limit\" : 50,\n    \"next\" : null,\n    \"offset\" : 0,\n
        \   \"previous\" : null,\n    \"total\" : 1\n  },\n  \"type\" : \"album\",\n
        \ \"uri\" : \"spotify:album:1WTTu8JvpNLQShwwO8o4L9\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4VZH6OfxPy1nNE7KbtVKyK
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1EfxWO4kPvf4d2Nj6HCL3D
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2BgagqJWYfrKPhz3f5V0Sw
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/72fdBvuHxCR7PLvj0osbhR
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/72fdBvuHxCR7PLvj0osbhR\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 16214\n  },\n
        \ \"genres\" : [ \"gaming edm\", \"traprun\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/72fdBvuHxCR7PLvj0osbhR\",\n
        \ \"id\" : \"72fdBvuHxCR7PLvj0osbhR\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebceedc224a4b8ef6154967f9f\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174ceedc224a4b8ef6154967f9f\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178ceedc224a4b8ef6154967f9f\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Julius Dreisig\",\n  \"popularity\"
        : 46,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:72fdBvuHxCR7PLvj0osbhR\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1aFmxF4v2F31uUWcySqV0Y
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2yox08l4o0FnOL8Ih4yEfM
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6i1GVNJCyyssRwXmnaeEFH
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/6i1GVNJCyyssRwXmnaeEFH\"\n
        \ },\n  \"followers\" : {\n  [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5NOwsz8MGHGTJV1NR3nKmh
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7EYv3adMrIC5mqurz7fHhD
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2TKC9e7mRbxOVx1HbgKHR0
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5zrJNZeC9Fs2hudgynhdvB
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0Szh8DhUXEL2iujQ9cdS4q
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/0Szh8DhUXEL2iujQ9cdS4q\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 10596\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/0Szh8DhUXEL2iujQ9cdS4q\",\n
        \ \"id\" : \"0Szh8DhUXEL2iujQ9cdS4q\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb67a58bd208b5e289665cb02b\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517467a58bd208b5e289665cb02b\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17867a58bd208b5e289665cb02b\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Jo Cohen\",\n  \"popularity\"
        : 39,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:0Szh8DhUXEL2iujQ9cdS4q\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1r07Izb8tOjwqYP6iTICH7
  response:
    body:
      string: "{\n  \"album_type\" : \"compilation\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/ar[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5NcYCtoBkAGyxL5SCF64av
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1feoGrmmD8QmNqtK2Gdwy8
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/1feoGrmmD8QmNqtK2Gdwy8\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 387991\n
        \ },\n  \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/1feoGrmmD8QmNqtK2Gdwy8\",\n
        \ \"id\" : \"1feoGrmmD8QmNqtK2Gdwy8\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb30eb9bf041aecb5295605632\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517430eb9bf041aecb5295605632\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17830eb9bf041aecb5295605632\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Tobu\",\n  \"popularity\" : 51,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:1feoGrmmD8QmNqtK2Gdwy8\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4yS3vUFIaE2xilaeYz3p9q
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2hjqFVoMk6ssbfgtHEyhsY
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2VXRxdCCHHajU61ohOXnO1
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/2VXRxdCCHHajU61ohOXnO1\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 4534\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/2VXRxdCCHHajU61ohOXnO1\",\n
        \ \"id\" : \"2VXRxdCCHHajU61ohOXnO1\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb8c9c2b7be80e9637a0c5138a\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051748c9c2b7be80e9637a0c5138a\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1788c9c2b7be80e9637a0c5138a\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Star Party\",\n  \"popularity\"
        : 43,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:2VXRxdCCHHajU61ohOXnO1\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3xwuqfx9wOpIaJyicth9aY
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4aW4j7ef4H9SPsfKrczvvr
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"single\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https:/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/58yUFNnwk1DyoBvKNPmYdH
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/58yUFNnwk1DyoBvKNPmYdH\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 39316\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/58yUFNnwk1DyoBvKNPmYdH\",\n
        \ \"id\" : \"58yUFNnwk1DyoBvKNPmYdH\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb98d6421c82e8d1ec8b1d31e7\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000517498d6421c82e8d1ec8b1d31e7\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f17898d6421c82e8d1ec8b1d31e7\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Desmeon\",\n  \"popularity\" :
        37,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:58yUFNnwk1DyoBvKNPmYdH\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3bv5lCourSLb48zvcxtVcm
  response:
    body:
      string: "{\n  \"album_type\" : \"single\",\n  \"artists\" : [ {\n    \"external_urls\"
        : {\n      \"spotify\" : \"https://open.spotify.com/artist/[...]
