interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=playlist%3A+This+Is+Gorillaz&limit=10&offset=0&type=playlist
  response:
    body:
      string: "{\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=playlist%3A+This+Is+Gorillaz&type=playlist&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\"
        : \"This is Gorillaz. The essential tracks, all in one playlist.\",\n      \"external_urls\"
        : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO\",\n
        \     \"id\" : \"37i9dQZF1DZ06evO25rXbO\",\n      \"images\" : [ {\n        \"height\"
        : null,\n        \"url\" : \"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-large.jpg\",\n
        \       \"width\" : null\n      } ],\n      \"name\" : \"This Is Gorillaz\",\n
        \     \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\"
        : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n
        \       \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\"
        : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n
        \     },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\"
        : \"Mjg1MjcxNjAsMDAwMDAwMDBiMzYwZjE1NGY4Y2JkNGNiNTYxMThlYTEzNmE3ZTc4Mw==\",\n
        \     \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks\",\n
        \       \"total\" : 49\n      },\n      \"type\" : \"playlist\",\n      \"uri\"
        : \"spotify:playlist:37i9dQZF1DZ06evO25rXbO\"\n    }, {\n      \"collaborative\"
        : false,\n      \"description\" : \"<a href=spotify:playlist:37i9dQZF1EIXxP4lZOF65z>Franz
        Ferdinand</a>, <a href=spotify:playlist:37i9dQZF1EIVMkWGWytlVU>MGMT</a> and
        <a href=spotify:playlist:37i9dQZF1EIVSVBvHzTcKt>Tame Impala</a>\",\n      \"external_urls\"
        : {\n        \"spotify\" : \"https://open.spotify.com/playli[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track
  response:
    body:
      string: "{\n  \"collaborative\" : false,\n  \"description\" : \"This is Gorillaz.
        The essential tracks, all in one playlist.\",\n  \"external_urls\" : {\n    \"spotify\"
        : \"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"\n  },\n  \"followers\"
        : {\n    \"href\" : null,\n    \"total\" : 1072348\n  },\n  \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track\",\n
        \ \"id\" : \"37i9dQZF1DZ06evO25rXbO\",\n  \"images\" : [ {\n    \"height\"
        : null,\n    \"url\" : \"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-large.jpg\",\n
        \   \"width\" : null\n  } ],\n  \"name\" : \"This Is Gorillaz\",\n  \"owner\"
        : {\n    \"display_name\" : \"Spotify\",\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/user/spotify\"\n    },\n    \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n
        \   \"id\" : \"spotify\",\n    \"type\" : \"user\",\n    \"uri\" : \"spotify:user:spotify\"\n
        \ },\n  \"primary_color\" : null,\n  \"public\" : false,\n  \"snapshot_id\"
        : \"Mjg1MjcxNjAsMDAwMDAwMDBiMzYwZjE1NGY4Y2JkNGNiNTYxMThlYTEzNmE3ZTc4Mw==\",\n
        \ \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?offset=0&limit=100&additional_types=track\",\n
        \   \"items\" : [ {\n      \"added_at\" : \"2024-03-28T12:40:17Z\",\n      \"added_by\"
        : {\n        \"external_urls\" : {\n          \"spotify\" : \"https://open.spotify.com/user/\"\n
        \       },\n        \"href\" : \"https://api.spotify.com/v1/users/\",\n        \"id\"
        : \"\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:\"\n
        \     },\n      \"is_local\" : false,\n      \"primary_color\" : null,\n      \"track\"
        : {\n        \"album\" : {\n          \"album_type\" : \"album\",\n          \"artists\"
        : [ {\n            \"external_urls\" : {\n              \"spotify\" : \"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"\n
        \           },\n            \"href\" : \"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ\",\n
        \           \"id\" : \"3AA28KZvwAUcZuOKwyblJQ\",\n            \"name\" : \"Gorillaz\",\n
        \           \"type\" : \"artist\",\n            \"uri\" : \"spotify:artist:3AA28KZvwAUcZuOKwyblJQ\"\n
        \         } ],\n          \"available_markets\" : [ \"AR\", \"AU\", \"AT\",
        \"BE\", \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\",
        \"DK\", \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\",
        \"HN\", \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\",
        \"MT\", \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\",
        \"PL\", \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\",
        \"US\", \"GB\", \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/track[...]
