interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=playlist%3A+This+Is+Gorillaz&limit=10&offset=0&type=playlist
  response:
    body:
      string: "{\n  \"playlists\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=playlist%3A+This+Is+Gorillaz&type=playlist&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"collaborative\" : false,\n      \"description\"
        : \"This Is Gorillaz. Los temas esenciales, todos en una lista.\",\n      \"external_urls\"
        : {\n        \"spotify\" : \"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO\",\n
        \     \"id\" : \"37i9dQZF1DZ06evO25rXbO\",\n      \"images\" : [ {\n        \"height\"
        : null,\n        \"url\" : \"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-large.jpg\",\n
        \       \"width\" : null\n      } ],\n      \"name\" : \"This Is Gorillaz\",\n
        \     \"owner\" : {\n        \"display_name\" : \"Spotify\",\n        \"external_urls\"
        : {\n          \"spotify\" : \"https://open.spotify.com/user/spotify\"\n        },\n
        \       \"href\" : \"https://api.spotify.com/v1/users/spotify\",\n        \"id\"
        : \"spotify\",\n        \"type\" : \"user\",\n        \"uri\" : \"spotify:user:spotify\"\n
        \     },\n      \"primary_color\" : null,\n      \"public\" : null,\n      \"snapshot_id\"
        : \"MTcyNDI4NDgwMCwwMDAwMDAwMGJiNjhkYzZkYzFmNjA2YzJjOTFlZmVmZTBhYzE4ZDA2\",\n
        \     \"tracks\" : {\n        \"href\" : \"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks\",\n
        \       \"total\" : 50\n      },\n      \"type\" : \"playlist\",\n      \"uri\"
        : \"spotify:playlist:37i9dQZF1DZ06evO25rXbO\"\n    }, {\n      \"collaborative\"
        : false,\n      \"description\" : \"This is GORILLAZ the radio mixtape playlist
        all songs discography mix lo mejor de exitos todas las canciones as melhores
        musicas live\",\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/playlist/34oEnBjW8u9K0EOUfSonQ0\"\n
        \     },\n      \"href\" : \"h[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track
  response:
    body:
      string: "{\"collaborative\":false,\"description\":\"This is: Gorillaz. Alle
        wichtigen Tracks in einer Playlist.\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/playlist/37i9dQZF1DZ06evO25rXbO\"},\"followers\":{\"href\":null,\"total\":1111144},\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO?additional_types=track\",\"id\":\"37i9dQZF1DZ06evO25rXbO\",\"images\":[{\"height\":null,\"url\":\"https://thisis-images.spotifycdn.com/37i9dQZF1DZ06evO25rXbO-default.jpg\",\"width\":null}],\"name\":\"This
        Is Gorillaz\",\"owner\":{\"display_name\":\"Spotify\",\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/spotify\"},\"href\":\"https://api.spotify.com/v1/users/spotify\",\"id\":\"spotify\",\"type\":\"user\",\"uri\":\"spotify:user:spotify\"},\"primary_color\":null,\"public\":true,\"snapshot_id\":\"ZsZ/gAAAAAC7aNxtwfYGwske/v4KwY0G\",\"tracks\":{\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?offset=0&limit=100&additional_types=track\",\"items\":[{\"added_at\":\"1970-01-01T00:00:00Z\",\"added_by\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/\"},\"href\":\"https://api.spotify.com/v1/users/\",\"id\":\"\",\"type\":\"user\",\"uri\":\"spotify:user:\"},\"is_local\":false,\"primary_color\":null,\"track\":{\"preview_url\":\"https://p.scdn.co/mp3-preview/b13a1bb2d8a04132982a49b6efee933cc9d67c7e?cid=ad996353310b4ced82f5be1309b11b14\",\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GD\",\"GW\",\"HT\",\"JM\",\"LS\",\"LR\",\"MW\",\"ML\",\"FM\",\"NA\",\"NE\",\"PG\",\"PR\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"KN\",\"LC\",\"VC\",\"TL\",\"TT\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"explicit\":false,\"type\":\"track\",\"episode\":false,\"track\":true,\"album\":{\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GD\",\"GW\",\"HT\",\"JM\",\"LS\",\"LR\",\"MW\",\"ML\",\"FM\",\"NA\",\"NE\",\"PG\",\"PR\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"KN\",\"LC\",\"VC\",\"TL\",\"TT\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"type\":\"album\",\"album_type\":\"album\",\"href\":\"https://api.spotify.com/v1/albums/0bUTHlWbkSQysoM3VsWldT\",\"id\":\"0bUTHlWbkSQysoM3VsWldT\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b27319d85a472f328a6ed9b704cf\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e0219d85a472f328a6ed9b704cf\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d0000485119d85a472f328a6ed9b704cf\",\"width\":64,\"height\":64}],\"name\":\"Demon
        Days\",\"release_date\":\"2005-05-23\",\"release_date_precision\":\"day\",\"uri\":\"spotify:album:0bUTHlWbkSQysoM3VsWldT\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"},\"href\":\"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ\",\"id\":\"3AA28KZvwAUcZuOKwyblJQ\",\"name\":\"Gorillaz\",\"type\":\"artist\",\"uri\":\"spotify:artist:3AA28KZvwAUcZuOKwyblJQ\"}],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/0bUTHlWbkSQysoM3VsWldT\"},\"total_tracks\":15},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"},\"href\":\"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ\",\"id\":\"3AA28KZvwAUcZuOKwyblJQ\",\"name\":\"Gorillaz\",\"type\":\"artist\",\"uri\":\"spotify:artist:3AA28KZvwAUcZuOKwyblJQ\"}],\"disc_number\":1,\"track_number\":6,\"duration_ms\":222640,\"external_ids\":{\"isrc\":\"GBAYE0500172\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/0d28khcov6AiegSCpG5TuT\"},\"href\":\"https://api.spotify.com/v1/tracks/0d28khcov6AiegSCpG5TuT\",\"id\":\"0d28khcov6AiegSCpG5TuT\",\"name\":\"Feel
        Good Inc.\",\"popularity\":84,\"uri\":\"spotify:track:0d28khcov6AiegSCpG5TuT\",\"is_local\":false},\"video_thumbnail\":{\"url\":null}},{\"added_at\":\"1970-01-01T00:00:00Z\",\"added_by\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/user/\"},\"href\":\"https://api.spotify.com/v1/users/\",\"id\":\"\",\"type\":\"user\",\"uri\":\"spotify:user:\"},\"is_local\":false,\"primary_color\":null,\"track\":{\"preview_url\":\"https://p.scdn.co/mp3-preview/75a403bfee0fea05ed437b8e84ce4e8cbb8d5b62?cid=ad996353310b4ced82f5be1309b11b14\",\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?limit=100&offset=0&additional_types=track%2Cepisode
  response:
    body:
      string: "{\"href\":\"https://api.spotify.com/v1/playlists/37i9dQZF1DZ06evO25rXbO/tracks?offs[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0d28khcov6AiegSCpG5TuT
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"followers":{"href":null,"total":11998516},"genres":["alternative
        hip hop","modern rock","rock"],"href":"https://api.spotify.com/v1/artists/3AA28KZvwAUcZuOKwyblJQ","id":"3AA28KZvwAUcZuOKwyblJQ","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb2c61d9506d5af5fb502b343f","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051742c61d9506d5af5fb502b343f","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1782c61d9506d5af5fb502b343f","height":160,"width":160}],"name":"Gorillaz","popularity":80,"type":"artist","uri":"spotify:artist:3AA28KZvwAUcZuOKwyblJQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImUwOWM3ODM0MTJhMjFiYmZiMDEwNGM5NzYwZGI3N2VmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0bUTHlWbkSQysoM3VsWldT
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0q6LuUqGLUiCPP1cbdwFs3
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2dIGnmEIy1WZIcZCFSj6i8
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":16,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1RKUoGiLEbcXN4GY4spQDx
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4tUxQkrduOE8sfgwJ5BI2F
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":17,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3lIxtCaROdRDuTnNBDm3n2
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0NvirtaDCaZU5PAW1O5FDE
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":26,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Hff1IjRbLGeLgFgxvHflk
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1foMv2HQwfQ2vntFf9HFeG
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/60SvhHtwefT0e2G7i7kOH3
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4wtZQMNTC1O79kDxMBsEan
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":10,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7jYUaoOfdcYgUvkK8NnFfx
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1amYhlukNF8WdaQC3gKkgL
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":11,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2bfGNzdiRa1jXZRdfssSzR
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3a6PN6BRB8PP3ms48s7kU1
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/71koAFCnGnugRdGIDfS7f4
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/38UYeBLfvpnDSG9GznZdnL
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0eEgMbSzOHmkOeVuNC3E0k
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2C0KFbb4v9CNWR5c9jWcKC
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6LUfuyLgvgqrykiTE6sJHY
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3NeiYiBn3rQBgurfVk92Zm
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0dcMqjeDpwqB2xhzMsld0p
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ\"},\"h[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0ZGWe02EtMpw40QAzOVZD1
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2nZ33CKRbgpJQJJQKHuGXb
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6BL4PpswVjH9BAajbIbpmZ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6lrDckuosGpwEHtm1hHBcf
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2W3ZpQg9i6lE6kmHbcdu9N
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3488fiYQcGSfkKKpr3ttCD
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4fjzDf54eBNOlW45mNe14U
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7l9CE3wmEGOUYw1j4ETjnL
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3THFKx88trZuOFlssVLJ5G
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/36MGfjOTOwx1udRX5dDnoJ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5pE9vMyvVNOpZFutt6lyy4
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5D31GSU5erwgjB6uvLzlcu
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3BmGfswCrv2p1It4oCdtU6
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3AA28KZvwAUcZuOKwyblJQ"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1aoWxOWHJNG1VPpJZwpYl2
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2bBMODHVTXGwE2aZYfbgCt
  response:
    body:
[...]
