interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1foCxQtxBweJtZmdxhEHVO
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1AwO9pWEBSBoWdEZu28XDC\"},\"href\":\"https://api.spotify.com/v1/artists/1AwO9pWEBSBoWdEZu28XDC\",\"id\":\"1AwO9pWEBSBoWdEZu28XDC\",\"name\":\"Eartha
        Kitt\",\"type\":\"artist\",\"uri\":\"spotify:artist:1AwO9pWEBSBoWdEZu28XDC\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/6gOVmmV26wBBgxUtbF8YZd\"},\"href\":\"https://api.spotify.com/v1/albums/6gOVmmV26wBBgxUtbF8YZd\",\"id\":\"6gOVmmV26wBBgxUtbF8YZd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273cfbcba7cc35a40e08e5aff67\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02cfbcba7cc35a40e08e5aff67\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851cfbcba7cc35a40e08e5aff67\",\"width\":64,\"height\":64}],\"name\":\"Heavenly
        Eartha\",\"release_date\":\"2002\",\"release_date_precision\":\"year\",\"total_tracks\":14,\"type\":\"album\",\"uri\":\"spotify:album:6gOVmmV26wBBgxUtbF8YZd\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1AwO9pWEBSBoWdEZu28XDC\"},\"href\":\"https://api.spotify.com/v1/artists/1AwO9pWEBSBoWdEZu28XDC\",\"id\":\"1AwO9pWEBSBoWdEZu28XDC\",\"name\":\"Eartha
        Kitt\",\"type\":\"artist\",\"uri\":\"spotify:artist:1AwO9pWEBSBoWdEZu28XDC\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0oK8UXKZbQezeRhE0KeBAV\"},\"href\":\"https://api[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1AwO9pWEBSBoWdEZu28XDC
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1AwO9pWEBSBoWdEZu28XDC"},"followers":{"href":null,"total":210197},"genres":["christmas"],"href":"https://api.spotify.com/v1/artists/1AwO9pWEBSBoWdEZu28XDC","id":"1AwO9pWEBSBoWdEZu28XDC","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebfa589cdca77cfcd16bb576c1","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174fa589cdca77cfcd16bb576c1","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178fa589cdca77cfcd16bb576c1","height":160,"width":160}],"name":"Eartha
        Kitt","popularity":50,"type":"artist","uri":"spotify:artist:1AwO9pWEBSBoWdEZu28XDC"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjhkMmYyYzEyYmUxZmQwOTc0MTdjZTYxOWY4YTIyNDM4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6gOVmmV26wBBgxUtbF8YZd
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":14,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"8proCmLqzH4CCw-99VAJrQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"8proCmLqzH4CCw-99VAJrQ\"></script><script nonce=\"8proCmLqzH4CCw-99VAJrQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USBB10101085", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtwM2VLTnNaaU9Odyj6zqzFBjIKCgJJTBIEGgAgOg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x60d667d317b7e963\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
