interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5IU8x0JVDXxVSX5IJ9YbEH
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/7vYR7oLh93zb38m880M8bd\"},\"href\":\"https://api.spotify.com/v1/albums/7vYR7oLh93zb38m880M8bd\",\"id\":\"7vYR7oLh93zb38m880M8bd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273b3664d2da791f9daf367ef99\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02b3664d2da791f9daf367ef99\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851b3664d2da791f9daf367ef99\",\"width\":64,\"height\":64}],\"name\":\"M\u0142ody
        Matczak\",\"release_date\":\"2021-10-01\",\"release_date_precision\":\"day\",\"total_tracks\":21,\"type\":\"album\",\"uri\":\"spotify:album:7vYR7oLh93zb38m880M8bd\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/52vstSwpIEImkm06cG6kJD\"},\"href\":\"https://api.spotify.com/v1/artists/52vstSwpIEImkm06cG6kJD\",\"id\":\"52vstSwpIEImkm06cG6kJD\",\"name\":\"GOMBAO
        33\",\"type\":\"artist\",\"uri\":\"spotify:artist:52vstSwpIEImkm06cG6kJD\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3gm9b6AeMf2eGQTLashkDt\"},\"href\":\"https://api.spotify.com/v1/artists/3gm9b6AeMf2eGQTLashkDt\",\"id\":\"3gm9b6AeMf2eGQTLashkDt\",\"name\":\"Deemz\",\"type\":\"artist\",\"uri\":\"spotify:artist:3gm9b6AeMf2eGQTLashkDt\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":276706,\"explicit\":true,\"external_ids\":{\"isrc\":\"PLS282100101\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/5IU8x0JVDXxVSX5IJ9YbEH\"},\"href\":\"https://api.spotify.com/v1/tracks/5IU8x0JVDXxVSX5IJ9YbEH\",\"id\":\"5IU8x0JVDXxVSX5IJ9YbEH\",\"is_local\":false,\"name\":\"M\u0142ody
        Bachor (outro)\",\"popularity\":1,\"preview_url\":null,\"track_number\":21,\"type\":\"track\",\"uri\":\"spotify:track:5IU8x0JVDXxVSX5IJ9YbEH\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjI2ZDFhNTQ2ZGQ0ZDQ0MGEzNTlhMWYxMGNjZWMzMmZlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7vYR7oLh93zb38m880M8bd
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":21,\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/7vYR7oLh93zb38m880M8bd\"},\"href\":\"https://api.spotify.com/v1/albums/7vYR7oLh93zb38m880M8bd\",\"id\":\"7vYR7oLh93zb38m880M8bd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273b3664d2da791f9daf367ef99\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02b3664d2da791f9daf367ef99\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851b3664d2da791f9daf367ef99\",\"height\":64,\"width\":64}],\"name\":\"M\u0142ody
        Matczak\",\"release_date\":\"2021-10-01\",\"release_date_precision\":\"day\",\"type\":\"album\",\"uri\":\"spotify:album:7vYR7oLh93zb38m880M8bd\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"tracks\":{\"href\":\"https://api.spotify.com/v1/albums/7vYR7oLh93zb38m880M8bd/tracks?offset=0&limit=50\",\"limit\":50,\"next\":null,\"offset\":0,\"previous\":null,\"total\":21,\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":142920,\"explicit\":false,\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/369UJeRvrV88tPihhNIWlF\"},\"href\":\"https://api.spotify.com/v1/tracks/3Curadv16Xys3u2smN7sch\",\"id\":\"3Curadv16Xys3u2smN7sch\",\"linked_from\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/369UJeRvrV88tPihhNIWlF\"},\"href\":\"https://api.spotify.com/v1/tracks/369UJeRvrV88tPihhNIWlF\",\"id\":\"369UJeRvrV88tPihhNIWlF\",\"type\":\"track\",\"uri\":\"spotify:track:369UJeRvrV88tPihhNIWlF\"},\"name\":\"IKEA
        (intro)\",\"preview_url\":null,\"track_number\":1,\"type\":\"track\",\"uri\":\"spotify:track:3Curadv16Xys3u2smN7sch\",\"is_local\":false},{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/a[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"6qe8mCpaJljK8Iq9APSjsw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"6qe8mCpaJljK8Iq9APSjsw\"></script><script nonce=\"6qe8mCpaJljK8Iq9APSjsw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLS282100101", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs3dHpsemdXVUhXMCjxzqzFBjIKCgJJTBIEGgAgZw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x37685760d08a3e36\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"didYouMeanRenderer\":
        {\n                            \"didYouMean\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Meintest du:\"\n                                }\n                              ]\n
        \                           },\n                            \"correctedQuery\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"PLS 282100101\",\n                                  \"italics\":
        true\n                                }\n                              ]\n
        \                           },\n                            \"correctedQueryEndpoint\":
        {\n                              \"clickTrackingParams\": \"CCwQ7jAYACITCMm1-9TZo48DFV_vSQcdBN8g6soBBOzFePw=\",\n
        \                             \"searchEndpoint\": {\n                                \"query\":
        \"PLS 282100101\"\n                              }\n                            },\n
        \                           \"trackingParams\": \"CCwQ7jAYACITCMm1-9TZo48DFV_vSQcdBN8g6g==\"\n
        \                         }\n                        }\n                      ],\n
        \                     \"trackingParams\": \"CCsQuy8YACITCMm1-9TZo48DFV_vSQcdBN8g6g==\"\n
        \                   }\n                  },\n                  {\n                    \"musicCardShelfRenderer\":
        {\n                      \"trackingParams\": \"CBgQ-pEFGAEiEwjJtfvU2aOPAxVf70kHHQTfIOo=\",\n
        \                     \"thumbnail\": {\n                        \"musicThumbnailRenderer\":
        {\n                          \"thumbnail\": {\n                            \"thumbnails\":
        [\n                              {\n                                \"url\":
        \"https://i.ytimg.com/vi/c4tyHYLs2eE/sddefault.jpg?sqp=-oaymwEWCJADEOEBIAQqCghqEJQEGHgg6AJIWg&rs=AMzJL3nN37vr3vQKFy4Qg6gg09sXRjJ74A\",\n
        \                               \"width\": 400,\n                                \"height\":
        225\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CCoQhL8CIhMIybX71NmjjwMVX-9JBx0E3yDq\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"M\u0142ody Bachor (outro)\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CBgQ-pEFGAEiEwjJtfvU2aOPAxVf70kHHQTfIOrKAQTsxXj8\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"c4tyHYLs2eE\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_OMV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Video\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Deemz\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CBgQ-pEFGAEiEwjJtfvU2aOPAxVf70kHHQTfIOrKAQTsxXj8\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCaX2CtEZ76b_FXn6yyoLVtw\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \", \"\n                          },\n
        \                         {\n                            \"text\": \"Mata\",\n
        \                           \"navigationEndpoint\": {\n                      [...]
