interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0bJPQcJGw4G8ffS3VIjHWI
  response:
    body:
      string: "{\"album\":{\"album_type\":\"single\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1fxbULcd6ryMNc1usHoP0R\"},\"href\":\"https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R\",\"id\":\"1fxbULcd6ryMNc1usHoP0R\",\"name\":\"Quebonafide\",\"type\":\"artist\",\"uri\":\"spotify:artist:1fxbULcd6ryMNc1usHoP0R\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/7htKxTVi444ObFAOU0ahS9\"},\"href\":\"https://api.spotify.com/v1/artists/7htKxTVi444ObFAOU0ahS9\",\"id\":\"7htKxTVi444ObFAOU0ahS9\",\"name\":\"Ka-Meal\",\"type\":\"artist\",\"uri\":\"spotify:artist:7htKxTVi444ObFAOU0ahS9\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1dOCtyVzQv3kaoCQKPyxfN\"},\"href\":\"https://api.spotify.com/v1/artists/1dOCtyVzQv3kaoCQKPyxfN\",\"id\":\"1dOCtyVzQv3kaoCQKPyxfN\",\"name\":\"maszaitsme\",\"type\":\"artist\",\"uri\":\"spotify:artist:1dOCtyVzQv3kaoCQKPyxfN\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/6ZOivoC0hhmnauIIsyJ9FY\"},\"href\":\"https://api.spotify.com/v1/albums/6ZOivoC0hhmnauIIsyJ9FY\",\"id\":\"6ZOivoC0hhmnauIIsyJ9FY\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273edbd866599cd242c7ccb4e0d\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02edbd866599cd242c7ccb4e0d\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851edbd866599cd242c7ccb4e0d\",\"width\":64,\"height\":64}],\"name\":\"Refren
        troch\u0119 jak Lana Del Rey\",\"release_date\":\"2022-06-05\",\"release_date_precision\":\"day\",\"total_tracks\":1,\"type\":\"album\",\"uri\":\"spotify:album:6ZOivoC0hhmnauIIsyJ9FY\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1fxbULcd6ryMNc1usHoP0R\"},\"href\":\"https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R\",\"id\":\"1fxbULcd6ryMNc1usHoP0R\",\"name\":\"Quebonafide\",\"type\":\"artist\",\"uri\":\"spotify:artist:1fxbULcd6ryMNc1usHoP0R\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/7htKxTVi444ObFAOU0ahS9\"},\"href\":\"https://api.spotify.[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1fxbULcd6ryMNc1usHoP0R"},"followers":{"href":null,"total":1388504},"genres":[],"href":"https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R","id":"1fxbULcd6ryMNc1usHoP0R","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb2e9c6d4d26bdb6f5e7b251e0","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051742e9c6d4d26bdb6f5e7b251e0","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1782e9c6d4d26bdb6f5e7b251e0","height":160,"width":160}],"name":"Quebonafide","popularity":73,"type":"artist","uri":"spotify:artist:1fxbULcd6ryMNc1usHoP0R"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjJhYWYwMDg3YjdjMzJlMDE5YjBhODVlMWNkYjA4ZjQ3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6ZOivoC0hhmnauIIsyJ9FY
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"CE4EZs-AMoHeRWhB2jC6Jg\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"CE4EZs-AMoHeRWhB2jC6Jg\"></script><script nonce=\"CE4EZs-AMoHeRWhB2jC6Jg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLV402201677", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtHZ2plMV9MM3k4dyjozqzFBjIKCgJJTBIEGgAgVg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x86a0c9df5106d683\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
