interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6koKhrBBcExADvWuOgceNZ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7tYKF4w9nC0nq9CsPZTHyP"},"href":"https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP","id":"7tYKF4w9nC0nq9CsPZTHyP","name":"SZA","type":"artist","uri":"spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/1nrVofqDRs7cpWXJ49qTnP"},"href":"https://api.spotify.com/v1/albums/1nrVofqDRs7cpWXJ49qTnP","id":"1nrVofqDRs7cpWXJ49qTnP","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2730c471c36970b9406233842a5","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e020c471c36970b9406233842a5","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048510c471c36970b9406233842a5","width":64,"height":64}],"name":"SOS","release_date":"2022-12-08","release_date_precision":"day","total_tracks":23,"type":"album","uri":"spotify:album:1nrVofqDRs7cpWXJ49qTnP"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7tYKF4w9nC0nq9CsPZTHyP"},"href":"https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP","id":"7tYKF4w9nC0nq9CsPZTHyP","name":"SZA","type":"artist","uri":"spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0Y5tJX1MQlPlqiwlOH1tJY"},"href":"https://api.spotify.com/v1/artists/0Y5tJX1MQlPlqiwlOH1tJY","id":"0Y5tJX1[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7tYKF4w9nC0nq9CsPZTHyP"},"followers":{"href":null,"total":31897232},"genres":["r&b"],"href":"https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP","id":"7tYKF4w9nC0nq9CsPZTHyP","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebfd0a9fb6c252a3ba44079acf","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174fd0a9fb6c252a3ba44079acf","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178fd0a9fb6c252a3ba44079acf","height":160,"width":160}],"name":"SZA","popularity":92,"type":"artist","uri":"spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjJkYmVjNTJkOTMzNmJlNjg0YWMzYjQxNTc5NzQ2MTUyIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1nrVofqDRs7cpWXJ49qTnP
  response:
    body:
      string: '{"album_type":"album","total_tracks":23,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"TCCkUdpMEKZdpOauGgNdwQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"TCCkUdpMEKZdpOauGgNdwQ\"></script><script nonce=\"TCCkUdpMEKZdpOauGgNdwQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USRC12204602", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtDNXFXVXM4X0RrYyiMz6zFBjIKCgJJTBIEGgAgRA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x5fd250334c61fa01\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
