interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2PpTUW96jjJYr8ib8RUnUu
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/17pbOSPIn3lmY0vHhOlKGL\"},\"href\":\"https://api.spotify.com/v1/artists/17pbOSPIn3lmY0vHhOlKGL\",\"id\":\"17pbOSPIn3lmY0vHhOlKGL\",\"name\":\"Tuna\",\"type\":\"artist\",\"uri\":\"spotify:artist:17pbOSPIn3lmY0vHhOlKGL\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/3yXLuyV0G2op91XliCCRWv\"},\"href\":\"https://api.spotify.com/v1/albums/3yXLuyV0G2op91XliCCRWv\",\"id\":\"3yXLuyV0G2op91XliCCRWv\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273ba209fddf62a5e9d35a39064\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02ba209fddf62a5e9d35a39064\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851ba209fddf62a5e9d35a39064\",\"width\":64,\"height\":64}],\"name\":\"\u05D8\u05D5\u05E0\u05D4\u05E4\u05D0\u05E8\u05E7\",\"release_date\":\"2017-09-07\",\"release_date_precision\":\"day\",\"total_tracks\":12,\"type\":\"album\",\"uri\":\"spotify:album:3yXLuyV0G2op91XliCCRWv\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/17pbOSPIn3lmY0vHhOlKGL\"},\"href\":\"https://api.spotify.com/v1/artists/17pbOSPIn3lmY0vHhOlKGL\",\"id\":\"17pbOSPIn3lmY0vHhOlKGL\",\"name\":\"Tuna\",\"type\":\"artist\",\"uri\":\"spotify:artist:17pbOSPIn3lmY0vHhOlKGL\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/17pbOSPIn3lmY0vHhOlKGL
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/17pbOSPIn3lmY0vHhOlKGL"},"followers":{"href":null,"total":413295},"genres":["mizrahi"],"href":"https://api.spotify.com/v1/artists/17pbOSPIn3lmY0vHhOlKGL","id":"17pbOSPIn3lmY0vHhOlKGL","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebc230b27028f02c125a686294","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174c230b27028f02c125a686294","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178c230b27028f02c125a686294","height":160,"width":160}],"name":"Tuna","popularity":62,"type":"artist","uri":"spotify:artist:17pbOSPIn3lmY0vHhOlKGL"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImU2YWUzMGJiMjcyMjFkN2E0ZWQ2OWIwNjdjZjIzOWQzIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3yXLuyV0G2op91XliCCRWv
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":12,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"HSKY8LoJf01dQtb4jsnxng\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"HSKY8LoJf01dQtb4jsnxng\"></script><script nonce=\"HSKY8LoJf01dQtb4jsnxng\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "IL2991704001", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtSdTRRSzQtOUh3VSiHz6zFBjIKCgJJTBIEGgAgZA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x2796cee4e108707d\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
