interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1iNTYA9OCTFVObcmLTSf02
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1oxn6cQ37twQ7yGnlE3ETd\"},\"href\":\"https://api.spotify.com/v1/artists/1oxn6cQ37twQ7yGnlE3ETd\",\"id\":\"1oxn6cQ37twQ7yGnlE3ETd\",\"name\":\"Oki\",\"type\":\"artist\",\"uri\":\"spotify:artist:1oxn6cQ37twQ7yGnlE3ETd\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2XfYRBRUaesCsBix9jYEwn\"},\"href\":\"https://api.spotify.com/v1/albums/2XfYRBRUaesCsBix9jYEwn\",\"id\":\"2XfYRBRUaesCsBix9jYEwn\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273eedbeb9aa41628df56530f44\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02eedbeb9aa41628df56530f44\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851eedbeb9aa41628df56530f44\",\"width\":64,\"height\":64}],\"name\":\"PRODUKT47\",\"release_date\":\"2022-06-09\",\"release_date_precision\":\"day\",\"total_tracks\":17,\"type\":\"album\",\"uri\":\"spotify:album:2XfYRBRUaesCsBix9jYEwn\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1oxn6cQ37twQ7yGnlE3ETd\"},\"href\":\"https://api.spotify.com/v1/artists/1oxn6cQ37twQ7yGnlE3ETd\",\"id\":\"1oxn6cQ37twQ7yGnlE3ETd\",\"name\":\"Oki\",\"type\":\"artist\",\"uri\":\"spotify:artist:1oxn6cQ37twQ7yGnlE3ETd\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2I92Sf5qvoTeigtWer05Yi\"},\"href\":\"https://api.spotify.com/v1/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1oxn6cQ37twQ7yGnlE3ETd
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1oxn6cQ37twQ7yGnlE3ETd"},"followers":{"href":null,"total":1207519},"genres":[],"href":"https://api.spotify.com/v1/artists/1oxn6cQ37twQ7yGnlE3ETd","id":"1oxn6cQ37twQ7yGnlE3ETd","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb9dce3ef13310e925dcbfb605","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051749dce3ef13310e925dcbfb605","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1789dce3ef13310e925dcbfb605","height":160,"width":160}],"name":"Oki","popularity":72,"type":"artist","uri":"spotify:artist:1oxn6cQ37twQ7yGnlE3ETd"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjZlZTNhNzBkMzc1NGE5MmQ3OTk5NmNmNGM3NGZmNGJjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2XfYRBRUaesCsBix9jYEwn
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":17,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"oKAFB_NJOyAI3NL5iQjhQw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"oKAFB_NJOyAI3NL5iQjhQw\"></script><script nonce=\"oKAFB_NJOyAI3NL5iQjhQw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLI292200560", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtnLTFlM29TV0dGNCj1zqzFBjIKCgJJTBIEGgAgIA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x92623a972b11c35b\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"musicCardShelfRenderer\": {\n                      \"trackingParams\":
        \"CAMQ-5EFGAAiEwiw_4rX2aOPAxWfQnoFHV0HA94=\",\n                      \"thumbnail\":
        {\n                        \"musicThumbnailRenderer\": {\n                          \"thumbnail\":
        {\n                            \"thumbnails\": [\n                              {\n
        \                               \"url\": \"https://lh3.googleusercontent.com/CNEEzblMtslE3BFd-7DkZJQgiUogqWojoIc-8mmMVqIWt4CPfaIxrUNu9AL-gRudhywsmJsr0rZ0cz4=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/CNEEzblMtslE3BFd-7DkZJQgiUogqWojoIc-8mmMVqIWt4CPfaIxrUNu9AL-gRudhywsmJsr0rZ0cz4=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CBgQhL8CIhMIsP-K19mjjwMVn0J6BR1dBwPe\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Fresh Water Soda\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwiw_4rX2aOPAxWfQnoFHV0HA97KAQQ6TYw6\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"m6hioRq2GdE\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Oki\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwiw_4rX2aOPAxWfQnoFHV0HA97KAQQ6TYw6\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCRlMsdsIRtRQWoEkNoApdTQ\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \", \"\n                          },\n
        \                         {\n                            \"text\": \"OSQAR\",\n
        \                           \"navigationEndpoint\": {\n                     [...]
