interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6fyzS9YbkUhmEmJ52s19Ob
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/33u1YZiD1mnkAwzs1lCBi1\"},\"href\":\"https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1\",\"id\":\"33u1YZiD1mnkAwzs1lCBi1\",\"name\":\"Ai
        kamano\",\"type\":\"artist\",\"uri\":\"spotify:artist:33u1YZiD1mnkAwzs1lCBi1\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/0GMsBnxw3YejP3iUFQyrYd\"},\"href\":\"https://api.spotify.com/v1/albums/0GMsBnxw3YejP3iUFQyrYd\",\"id\":\"0GMsBnxw3YejP3iUFQyrYd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2735f80a1f7262e9472150ce6f9\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e025f80a1f7262e9472150ce6f9\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048515f80a1f7262e9472150ce6f9\",\"width\":64,\"height\":64}],\"name\":\"HUMAN\",\"release_date\":\"2022-11-23\",\"release_date_precision\":\"day\",\"total_tracks\":9,\"type\":\"album\",\"uri\":\"spotify:album:0GMsBnxw3YejP3iUFQyrYd\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/33u1YZiD1mnkAwzs1lCBi1\"},\"href\":\"https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1\",\"id\":\"33u1YZiD1mnkAwzs1lCBi1\",\"name\":\"Ai
        kamano\",\"type\":\"artist\",\"uri\":\"spotify:artist:33u1YZiD1mnkAwzs1lCBi1\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2AOUMmm8hGJqUuDNRq1JXx\"},\"href\":\"https://api.sp[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"z7WpC7kAMf61IeK6swVxYw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"z7WpC7kAMf61IeK6swVxYw\"></script><script nonce=\"z7WpC7kAMf61IeK6swVxYw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "JPB622201327", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtQbWtkMTR2OGVDUSjbzqzFBjIKCgJJTBIEGgAgKg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x7d0bc12d1d90d16e\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
