interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0QsZ3W21xNvnUnUMbiAY4z
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0RSogp4qeGu0ZM71JRTay3"},"href":"https://api.spotify.com/v1/artists/0RSogp4qeGu0ZM71JRTay3","id":"0RSogp4qeGu0ZM71JRTay3","name":"WHOKILLEDXIX","type":"artist","uri":"spotify:artist:0RSogp4qeGu0ZM71JRTay3"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/0jQjCFXUVRUrwUN7ACw0h8"},"href":"https://api.spotify.com/v1/albums/0jQjCFXUVRUrwUN7ACw0h8","id":"0jQjCFXUVRUrwUN7ACw0h8","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2731fbce81b8eaa4e0bcc55fd06","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e021fbce81b8eaa4e0bcc55fd06","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048511fbce81b8eaa4e0bcc55fd06","width":64,"height":64}],"name":"19","release_date":"2020-12-11","release_date_precision":"day","total_tracks":7,"type":"album","uri":"spotify:album:0jQjCFXUVRUrwUN7ACw0h8"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0RSogp4qeGu0ZM71JRTay3"},"href":"https://api.spotify.com/v1/artists/0RSogp4qeGu0ZM71JRTay3","id":"0RSogp4qeGu0ZM71JRTay3","name":"WHOKILLEDXIX","type":"artist","uri":"spotify:artist:0RSogp4qeGu0ZM71JRTay3"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":153921,"explicit":true,"external_ids":{"isrc":"USWB12004741"},"external_urls":{"spotify":"https://open.spotify.com/track/0QsZ3W21xNvnUnUMbiAY4z"},"href":"https://api.spotify.com/v1/tracks/0QsZ3W21xNvnUnUMbiAY4z","id":"0QsZ3W21xNvnUnUMbiAY4z","is_local":false,"name":"spy?","popularity":58,"preview_url":null,"track_number":4,"type":"track","uri":"spotify:track:0QsZ3W21xNvnUnUMbiAY4z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImM2N2Y2MWJiYmIxOTgzMjUyMmY5ZDAzODQ5NGIzNjE0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0RSogp4qeGu0ZM71JRTay3
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0RSogp4qeGu0ZM71JRTay3"},"followers":{"href":null,"total":193080},"genres":["hyperpop"],"href":"https://api.spotify.com/v1/artists/0RSogp4qeGu0ZM71JRTay3","id":"0RSogp4qeGu0ZM71JRTay3","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb0938453e7b5693e94ec1b39b","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051740938453e7b5693e94ec1b39b","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1780938453e7b5693e94ec1b39b","height":160,"width":160}],"name":"WHOKILLEDXIX","popularity":49,"type":"artist","uri":"spotify:artist:0RSogp4qeGu0ZM71JRTay3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImQ1OWJmOTZmNjE2OWY0MzgyNzBlMzg3MzI2Y2RjNzA3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0jQjCFXUVRUrwUN7ACw0h8
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":7,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"z_mqV1Mul_24aByg2pvTfg\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"z_mqV1Mul_24aByg2pvTfg\"></script><script nonce=\"z_mqV1Mul_24aByg2pvTfg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USWB12004741", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtfRlJMLW1lV2tuSSi0zqzFBjIKCgJJTBIEGgAgOA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x189cb3a895751154\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
