interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7lHG7rbO1xjaWOoqF5gpXW
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3rnzk5HZE15IjAp0yiP41m\"},\"href\":\"https://api.spotify.com/v1/artists/3rnzk5HZE15IjAp0yiP41m\",\"id\":\"3rnzk5HZE15IjAp0yiP41m\",\"name\":\"2115\",\"type\":\"artist\",\"uri\":\"spotify:artist:3rnzk5HZE15IjAp0yiP41m\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0LX2VNf5w4iOHW1yyIqb74\"},\"href\":\"https://api.spotify.com/v1/artists/0LX2VNf5w4iOHW1yyIqb74\",\"id\":\"0LX2VNf5w4iOHW1yyIqb74\",\"name\":\"Bedoes
        2115\",\"type\":\"artist\",\"uri\":\"spotify:artist:0LX2VNf5w4iOHW1yyIqb74\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/4nPxrGG7k7aEKmNLsfX4cd\"},\"href\":\"https://api.spotify.com/v1/artists/4nPxrGG7k7aEKmNLsfX4cd\",\"id\":\"4nPxrGG7k7aEKmNLsfX4cd\",\"name\":\"White
        2115\",\"type\":\"artist\",\"uri\":\"spotify:artist:4nPxrGG7k7aEKmNLsfX4cd\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/1GabBOxzyUPjkELZE0b3HS\"},\"href\":\"https://api.spotify.com/v1/albums/1GabBOxzyUPjkELZE0b3HS\",\"id\":\"1GabBOxzyUPjkELZE0b3HS\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273796d2a5e45a8495aeeff3da6\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02796d2a5e45a8495aeeff3da6\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851796d2a5e45a8495aeeff3da6\",\"width\":64,\"height\":64}],\"name\":\"RODZINNY
        BIZNES\",\"release_date\":\"2022-12-16\",\"release_date_precision\":\"day\",\"total_tracks\":36,\"type\":\"album\",\"uri\":\"spotify:album:1GabBOxzyUPjkELZE0b3HS\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3rnzk5HZE15IjAp0yiP41m\"},\"href\":\"https://api.spotify.com/v1/artists/3rnzk5HZE15IjAp0yiP41m\",\"id\":\"3rnzk5HZE15IjAp0yiP41m\",\"name\":\"2115\",\"type\":\"artist\",\"uri\":\"spotify:artist:3rnzk5HZE15IjAp0yiP41m\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0LX2VNf5w4iOHW1yyIqb74\"},\"href\":\"https://api.spotify.com/v1[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3rnzk5HZE15IjAp0yiP41m
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3rnzk5HZE15IjAp0yiP41m"},"followers":{"href":null,"total":452187},"genres":[],"href":"https://api.spotify.com/v1/artists/3rnzk5HZE15IjAp0yiP41m","id":"3rnzk5HZE15IjAp0yiP41m","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebd5af179641d8f5ee1fa74c1a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174d5af179641d8f5ee1fa74c1a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178d5af179641d8f5ee1fa74c1a","height":160,"width":160}],"name":"2115","popularity":59,"type":"artist","uri":"spotify:artist:3rnzk5HZE15IjAp0yiP41m"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImZiZjg1YjkzZDUzNmRlZTg2MjhmZGY4ZjhlZjY4M2Y3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1GabBOxzyUPjkELZE0b3HS
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":36,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"tjG0PxknsA9qGQK_tq2WWw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"tjG0PxknsA9qGQK_tq2WWw\"></script><script nonce=\"tjG0PxknsA9qGQK_tq2WWw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PL2DY2200060", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtXa3NsdjVJNFM4YyjrzqzFBjIKCgJJTBIEGgAgaA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x098f8ab9d4b537b0\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
