interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/51YZAJhOwIC5Gg3jMbAmhZ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB"},"href":"https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB","id":"2ye2Wgw4gimLv2eAKyk1NB","name":"Metallica","type":"artist","uri":"spotify:artist:2ye2Wgw4gimLv2eAKyk1NB"}],"available_markets":["CA","US"],"external_urls":{"spotify":"https://open.spotify.com/album/2omIeSJEGQeKHPOpiXgfkr"},"href":"https://api.spotify.com/v1/albums/2omIeSJEGQeKHPOpiXgfkr","id":"2omIeSJEGQeKHPOpiXgfkr","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273533fd0b248052d04e6b732c0","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02533fd0b248052d04e6b732c0","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851533fd0b248052d04e6b732c0","width":64,"height":64}],"name":"Ride
        The Lightning (Deluxe Remaster)","release_date":"1984-07-27","release_date_precision":"day","total_tracks":63,"type":"album","uri":"spotify:album:2omIeSJEGQeKHPOpiXgfkr"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB"},"href":"https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB","id":"2ye2Wgw4gimLv2eAKyk1NB","name":"Metallica","type":"artist","uri":"spotify:artist:2ye2Wgw4gimLv2eAKyk1NB"}],"available_markets":["CA","US"],"disc_number":1,"duration_ms":309973,"explicit":false,"external_ids":{"isrc":"USEE10170109"},"external_urls":{"spotify":"https://open.spotify.com/track/51YZAJhOwIC5Gg3jMbAmhZ"},"href":"https://api.spotify.com/v1/tracks/51YZAJhOwIC5Gg3jMbAmhZ","id":"51YZAJhOwIC5Gg3jMbAmhZ","is_local":false,"name":"For
        Whom The Bell Tolls (Remastered)","popularity":72,"preview_url":null,"track_number":3,"type":"track","uri":"spotify:track:51YZAJhOwIC5Gg3jMbAmhZ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImYwNGRlNTAwNmFhYzEyMTQ3MDMyYWU5MGRmZjMzODczIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB"},"followers":{"href":null,"total":31552906},"genres":["metal","thrash
        metal","rock","heavy metal","hard rock"],"href":"https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB","id":"2ye2Wgw4gimLv2eAKyk1NB","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb69ca98dd3083f1082d740e44","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517469ca98dd3083f1082d740e44","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17869ca98dd3083f1082d740e44","height":160,"width":160}],"name":"Metallica","popularity":86,"type":"artist","uri":"spotify:artist:2ye2Wgw4gimLv2eAKyk1NB"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImQwOTYwNjQ4N2QwYWZhYzE1NmYwNGJiMDU3NGJjNDZmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2omIeSJEGQeKHPOpiXgfkr
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":63,\"available_markets\":[\"CA\",\"US\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2omIeSJEGQeKHPOpiXgfkr\"},\"href\":\"https://api.spotify.com/v1/albums/2omIeSJEGQeKHPOpiXgfkr\",\"id\":\"2omIeSJEGQeKHPOpiXgfkr\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273533fd0b248052d04e6b732c0\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02533fd0b248052d04e6b732c0\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851533fd0b248052d04e6b732c0\",\"height\":64,\"width\":64}],\"name\":\"Ride
        The Lightning (Deluxe Remaster)\",\"release_date\":\"1984-07-27\",\"release_date_precision\":\"day\",\"type\":\"album\",\"uri\":\"spotify:album:2omIeSJEGQeKHPOpiXgfkr\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB\"},\"href\":\"https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB\",\"id\":\"2ye2Wgw4gimLv2eAKyk1NB\",\"name\":\"Metallica\",\"type\":\"artist\",\"uri\":\"spotify:artist:2ye2Wgw4gimLv2eAKyk1NB\"}],\"tracks\":{\"href\":\"https://api.spotify.com/v1/albums/2omIeSJEGQeKHPOpiXgfkr/tracks?offset=0&limit=50\",\"limit\":50,\"next\":\"https://api.spotify.com/v1/albums/2omIeSJEGQeKHPOpiXgfkr/tracks?offset=50&limit=50\",\"offset\":0,\"previous\":null,\"total\":63,\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2ye2Wgw4gimLv2eAKyk1NB\"},\"href\":\"https://api.spotify.com/v1/artists/2ye2Wgw4gimLv2eAKyk1NB\",\"id\":\"2ye2Wgw4gimLv2eAKyk1NB\",\"name\":\"Metallica\",\"type\":\"artist\",\"uri\":\"spotify:artist:2ye2Wgw4gimLv2eAKyk1NB\"}],\"available_markets\":[\"CA\",\"US\"],\"disc_number\":1,\"duration_ms\":284506,\"explicit\":false,\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/0WSRrGVg1gO33MKIBPgBV2\"},\"href\":\"https://api.spotify.com/v1/tracks/6fZ6zlZxGibSZzwvVaQQ6m\",\"id\":\"6fZ6zlZxGibSZzwvVaQQ6m\",\"linked_from\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/0WSRrGVg1gO33MKIBPgBV2\"},\"href\":\"https://api.spotify.com/v1/tracks/0WSRrGVg1gO33MKIBPgBV2\",\"id\":\"0WSRrGVg1gO33MKIBPgBV2\",\"type\":\"track\",\"uri\":\"spotify:track:0WSRrGVg1gO33MKIBPgBV2\"},\"name\":\"Fight
        Fire With Fire (Remastered)\",\"preview_url\":null,\"track_number\":1,\"type\":\"track\",\"uri\":\"spotify:track:6fZ6zlZxGibSZzwvVaQQ6m\",\"is_local\":false},{\"artists\":[{\"external_urls\":{\"spotify\":\"https[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"RrjLfedAgP2rfwAH1OFuVw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"RrjLfedAgP2rfwAH1OFuVw\"></script><script nonce=\"RrjLfedAgP2rfwAH1OFuVw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USEE10170109", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs4TmlSUEVGakoxWSiZz6zFBjIKCgJJTBIEGgAgEA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xe855b5c6b4df31e7\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"messageRenderer\":
        {\n                            \"text\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Keine Ergebnisse f\xFCr \"\n                                },\n                                {\n
        \                                 \"text\": \"USEE10170109\",\n                                  \"bold\":
        true\n                                },\n                                {\n
        \                                 \"text\": \" gefunden\"\n                                }\n
        \                             ]\n                            },\n                            \"icon\":
        {\n                              \"iconType\": \"SEARCH\"\n                            },\n
        \                           \"trackingParams\": \"CAQQ-pUBGAAiEwj6vILo2aOPAxX2x0kHHVLTPNc=\",\n
        \                           \"subtext\": {\n                              \"messageSubtextRenderer\":
        {\n                                \"text\": {\n                                  \"runs\":
        [\n                                    {\n                                      \"text\":
        \"Versuch es mit anderen Suchbegriffen\"\n                                    }\n
        \                                 ]\n                                }\n                              }\n
        \                           }\n                          }\n                        }\n
        \                     ],\n                      \"trackingParams\": \"CAMQuy8YACITCPq8gujZo48DFfbHSQcdUtM81w==\"\n
        \                   }\n                  }\n                ],\n                \"trackingParams\":
        \"CAIQui8iEwj6vILo2aOPAxX2x0kHHVLTPNc=\"\n              }\n            },\n
        \           \"tabIdentifier\": \"music_search_catalog\",\n            \"trackingParams\":
        \"CAEQ8JMBGAAiEwj6vILo2aOPAxX2x0kHHVLTPNc=\"\n          }\n        }\n      ]\n
        \   }\n  },\n  \"trackingParams\": \"CAAQvGkiEwj6vILo2aOPAxX2x0kHHVLTPNc=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
