interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5Vat0DViW71v08UMea4CKF
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/33u1YZiD1mnkAwzs1lCBi1\"},\"href\":\"https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1\",\"id\":\"33u1YZiD1mnkAwzs1lCBi1\",\"name\":\"Ai
        kamano\",\"type\":\"artist\",\"uri\":\"spotify:artist:33u1YZiD1mnkAwzs1lCBi1\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/0GMsBnxw3YejP3iUFQyrYd\"},\"href\":\"https://api.spotify.com/v1/albums/0GMsBnxw3YejP3iUFQyrYd\",\"id\":\"0GMsBnxw3YejP3iUFQyrYd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2735f80a1f7262e9472150ce6f9\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e025f80a1f7262e9472150ce6f9\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048515f80a1f7262e9472150ce6f9\",\"width\":64,\"height\":64}],\"name\":\"HUMAN\",\"release_date\":\"2022-11-23\",\"release_date_precision\":\"day\",\"total_tracks\":9,\"type\":\"album\",\"uri\":\"spotify:album:0GMsBnxw3YejP3iUFQyrYd\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/33u1YZiD1mnkAwzs1lCBi1\"},\"href\":\"https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1\",\"id\":\"33u1YZiD1mnkAwzs1lCBi1\",\"name\":\"Ai
        kamano\",\"type\":\"artist\",\"uri\":\"spotify:artist:33u1YZiD1mnkAwzs1lCBi1\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/33u1YZiD1mnkAwzs1lCBi1"},"followers":{"href":null,"total":2828},"genres":["math
        rock","japanese indie"],"href":"https://api.spotify.com/v1/artists/33u1YZiD1mnkAwzs1lCBi1","id":"33u1YZiD1mnkAwzs1lCBi1","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eba391b5d359954205a42b1bd3","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174a391b5d359954205a42b1bd3","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178a391b5d359954205a42b1bd3","height":160,"width":160}],"name":"Ai
        kamano","popularity":11,"type":"artist","uri":"spotify:artist:33u1YZiD1mnkAwzs1lCBi1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjMyNjc5MDZmOTU4ZGY2NzlhNDU0YzM1ZTM0YTg4MWEzIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0GMsBnxw3YejP3iUFQyrYd
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":9,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"8zofh-x901oBVO6M_IMflw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"8zofh-x901oBVO6M_IMflw\"></script><script nonce=\"8zofh-x901oBVO6M_IMflw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "TCJPM2096498", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtjbmZ5UHZueldxSSjZzqzFBjIKCgJJTBIEGgAgRw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xbdad56e509d57116\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"musicCardShelfRenderer\": {\n                      \"trackingParams\":
        \"CAMQ-5EFGAAiEwja78jJ2aOPAxVP6EIFHfGoMdY=\",\n                      \"thumbnail\":
        {\n                        \"musicThumbnailRenderer\": {\n                          \"thumbnail\":
        {\n                            \"thumbnails\": [\n                              {\n
        \                               \"url\": \"https://lh3.googleusercontent.com/c3w50HoE_NZPPuIMIZJjqURkilh3DHTgMJHpSJFuNBKfAHmXSkZ2PJJvWF1g-w8GIMRDTrbY4VGSAsqg=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/c3w50HoE_NZPPuIMIZJjqURkilh3DHTgMJHpSJFuNBKfAHmXSkZ2PJJvWF1g-w8GIMRDTrbY4VGSAsqg=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CBcQhL8CIhMI2u_IydmjjwMVT-hCBR3xqDHW\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"\u89E3\u61B6\",\n                            \"navigationEndpoint\": {\n
        \                             \"clickTrackingParams\": \"CAMQ-5EFGAAiEwja78jJ2aOPAxVP6EIFHfGoMdbKAQTmsylW\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"ysHhL3NyEUk\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Ai Kamano\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwja78jJ2aOPAxVP6EIFHfGoMdbKAQTmsylW\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCmbbHlr74bsj0VtPDcaKeIw\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" \u2022 \"\n                          },\n
        \                         {\n                            \"text\": \"3:28\"\n
        \                         }\n                        ],\n                        \"accessibility\":
        {\n                          \"accessibilityData\": {\n                            \"label\":
        \"Titel \u2022 Ai Kamano \u2022 3 Minuten, 28 Sekunden\"\n                          }\n
        \                       }\n                      },\n                      \"buttons\":
        [\n                        {\n                          \"buttonRenderer\":
        {\n                            \"style\": \"STYLE_DARK_ON_WHITE\",\n                            \"size\":
        \"SIZE_DEFAULT\",\n                            \"isDisabled\": false,\n                            \"text\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"Wiedergeben\"\n                                }\n
        \                             ]\n                            },\n                            \"icon\":
        {\n                              \"iconType\": \"PLAY_ARROW\"\n                            },\n
        \                           \"accessibility\": {\n                              \"label\":
        \"Wiedergeben\"\n                            },\n                            \"trackingParams\":
        \"CBYQlNIFGAAiEwja78jJ2aOPAxVP6EIFHfGoMdY=\",\n                            \"accessibilityData\":
        {\n                              \"accessibilityData\": {\n                                \"label\":
        \"Wiedergeben\"\n                              }\n                            },\n
        \                           \"command\": {\n                              \"clickTrackingParams\":
        \"CBYQlNIFGAAiEwja78jJ2aOPAxVP6EIFHfGoMdYyBnNlYXJjaFIMVENKUE0yMDk2NDk4mgEDEPQkygEE5rMpVg==\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"ysHhL3NyEUk\",\n                                \"params\": \"wAEB\",\n
        \                               \"watchEndpointMusicSupportedConfigs\": {\n
        \                                 \"watchEndpointMusicConf[...]
