interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2OQ6a4CfUeYskpTTgyawyJ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4yiQZ8tQPux8cPriYMWUFP"},"href":"https://api.spotify.com/v1/artists/4yiQZ8tQPux8cPriYMWUFP","id":"4yiQZ8tQPux8cPriYMWUFP","name":"Gwen
        Stefani","type":"artist","uri":"spotify:artist:4yiQZ8tQPux8cPriYMWUFP"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/58qdMDlJaZBYleY7Bf0gNc"},"href":"https://api.spotify.com/v1/albums/58qdMDlJaZBYleY7Bf0gNc","id":"58qdMDlJaZBYleY7Bf0gNc","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273f1ead165a7504b97e66ea7c4","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02f1ead165a7504b97e66ea7c4","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851f1ead165a7504b97e66ea7c4","width":64,"height":64}],"name":"You
        Make It Feel Like Christmas","release_date":"2017-10-06","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:58qdMDlJaZBYleY7Bf0gNc"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4yiQZ8tQPux8cPriYMWUFP"},"href":"https://api.spotify.com/v1/artists/4yiQZ8tQPux8cPriYMWUFP","id":"4yiQZ8tQPux8cPriYMWUFP","name":"Gwen
        Stefani","type":"artist","uri":"spotify:artist:4yiQZ8tQPux8cPriYMWUFP"},{"external_urls":{"spotify":"https://open.spotify.com/artist/1UTPBmNbXNTittyMJrNkvw"},"href":"https://api.spotify.com/v1/artists/1UTPBmNbXNTittyMJrNk[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4yiQZ8tQPux8cPriYMWUFP
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4yiQZ8tQPux8cPriYMWUFP"},"followers":{"href":null,"total":6982092},"genres":[],"href":"https://api.spotify.com/v1/artists/4yiQZ8tQPux8cPriYMWUFP","id":"4yiQZ8tQPux8cPriYMWUFP","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb64b94bebbaee56f793e24853","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517464b94bebbaee56f793e24853","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17864b94bebbaee56f793e24853","height":160,"width":160}],"name":"Gwen
        Stefani","popularity":77,"type":"artist","uri":"spotify:artist:4yiQZ8tQPux8cPriYMWUFP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjM4ZGY5MTJlMWUyZWU3MzhkMTU3NjZhMmE4M2EzOTcwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/58qdMDlJaZBYleY7Bf0gNc
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":12,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"cMwAZPH_PVeYwWHsWWcjPw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"cMwAZPH_PVeYwWHsWWcjPw\"></script><script nonce=\"cMwAZPH_PVeYwWHsWWcjPw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USUM71708114", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs4SFpZQXFQT1BGMCiWz6zFBjIKCgJJTBIEGgAgOQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x77f94776693717ea\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
