interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2FRnf9qhLbvw8fu4IBXx78
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/5lpH0xAS4fVfLkACg9DAuM"},"href":"https://api.spotify.com/v1/artists/5lpH0xAS4fVfLkACg9DAuM","id":"5lpH0xAS4fVfLkACg9DAuM","name":"Wham!","type":"artist","uri":"spotify:artist:5lpH0xAS4fVfLkACg9DAuM"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/6egzU9NKfora01qaNbvwfZ"},"href":"https://api.spotify.com/v1/albums/6egzU9NKfora01qaNbvwfZ","id":"6egzU9NKfora01qaNbvwfZ","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273f2d2adaa21ad616df6241e7d","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02f2d2adaa21ad616df6241e7d","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851f2d2adaa21ad616df6241e7d","width":64,"height":64}],"name":"LAST
        CHRISTMAS","release_date":"1984-11-29","release_date_precision":"day","total_tracks":3,"type":"album","uri":"spotify:album:6egzU9NKfora01qaNbvwfZ"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/5lpH0xAS4fVfLkACg9DAuM"},"href":"https://api.spotify.com/v1/artists/5lpH0xAS4fVfLkACg9DAuM","id":"5lpH0xAS4fVfLkACg9DAuM","name":"Wham!","type":"artist","uri":"spotify:artist:5lpH0xAS4fVfLkACg9DAuM"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":262960,"explicit":false,"external_ids":{"isrc":"GBBBM8400019"},"external_urls":{"spotify":"https://open.spotify.com/track/2FRnf9qhLbvw8fu4IBXx78"},"href":"https://api.spotify.com/v1/tracks/2FRnf9qhLbvw8fu4IBXx78","id":"2FRnf9qhLbvw8fu4IBXx78","is_local":false,"name":"Last
        Christmas","popularity":70,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:2FRnf9qhLbvw8fu4IBXx78"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjBmZjU0ZTE1NzlhYTQyZDc5YTU0YmNjYTgyNDg4ZWUxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5lpH0xAS4fVfLkACg9DAuM
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/5lpH0xAS4fVfLkACg9DAuM"},"followers":{"href":null,"total":3089205},"genres":["christmas"],"href":"https://api.spotify.com/v1/artists/5lpH0xAS4fVfLkACg9DAuM","id":"5lpH0xAS4fVfLkACg9DAuM","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb4c1be07897c5be99c3c3c884","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051744c1be07897c5be99c3c3c884","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1784c1be07897c5be99c3c3c884","height":160,"width":160}],"name":"Wham!","popularity":69,"type":"artist","uri":"spotify:artist:5lpH0xAS4fVfLkACg9DAuM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjBmNTZiM2JmOTRmYmQ5YWQ1MmQ5NzRlNGQ3MGE4OTk1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6egzU9NKfora01qaNbvwfZ
  response:
    body:
      string: '{"album_type":"single","total_tracks":3,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"vbf6r7gz_3oo_mxfHlgRhQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"vbf6r7gz_3oo_mxfHlgRhQ\"></script><script nonce=\"vbf6r7gz_3oo_mxfHlgRhQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "GBBBM8400019", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtFZmhaX1Vqb01JMCiOz6zFBjIKCgJJTBIEGgAgQA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xc14a5cf270650ec5\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
