interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2w8C31hIPvJMPD4MDdNTro
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/7vYR7oLh93zb38m880M8bd\"},\"href\":\"https://api.spotify.com/v1/albums/7vYR7oLh93zb38m880M8bd\",\"id\":\"7vYR7oLh93zb38m880M8bd\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273b3664d2da791f9daf367ef99\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02b3664d2da791f9daf367ef99\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851b3664d2da791f9daf367ef99\",\"width\":64,\"height\":64}],\"name\":\"M\u0142ody
        Matczak\",\"release_date\":\"2021-10-01\",\"release_date_precision\":\"day\",\"total_tracks\":21,\"type\":\"album\",\"uri\":\"spotify:album:7vYR7oLh93zb38m880M8bd\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2LI7lXaNJU420lffFWJUcT\"},\"href\":\"https://api.spotify.com/v1/artists/2LI7lXaNJU420lffFWJUcT\",\"id\":\"2LI7lXaNJU420lffFWJUcT\",\"name\":\"Pedro\",\"type\":\"artist\",\"uri\":\"spotify:artist:2LI7lXaNJU420lffFWJUcT\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/6GkmaR2QHFZZgZgJBLqfb8\"},\"href\":\"https://api.spotify.com/v1/artists/6GkmaR2QHFZZgZgJBLqfb8\",\"id\":\"6GkmaR2QHFZZgZgJBLqfb8\",\"name\":\"Maurycy
        \u017B\xF3\u0142ta\u0144ski\",\"type\":\"artist\",\"uri\":\"spotify:artist:6GkmaR2QHFZZgZgJBLqfb8\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":311000,\"explicit\":false,\"external_ids\":{\"isrc\":\"PLS282100095\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/2w8C31hIPvJMPD4MDdNTro\"},\"href\":\"https://api.spotify.com/v1/tracks/2w8C31hIPvJMPD4MDdNTro\",\"id\":\"2w8C31hIPvJMPD4MDdNTro\",\"is_local\":false,\"name\":\"67-410\",\"popularity\":0,\"preview_url\":null,\"track_number\":12,\"type\":\"track\",\"uri\":\"spotify:track:2w8C31hIPvJMPD4MDdNTro\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImQ3N2MzZWE1ZWYyNzQzOWZmZWJkNDg3MGMzMzQ5NTFhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"yCj6eYtzA2lygDon7ivnQA\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"yCj6eYtzA2lygDon7ivnQA\"></script><script nonce=\"yCj6eYtzA2lygDon7ivnQA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLS282100095", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtPUzlLWk1VcmtJMCjyzqzFBjIKCgJJTBIEGgAgMQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xf91eeddf0696b94f\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
