interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Dy9azWTLsDMUdUxrT1170
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3bS0MLzGAoO6lLUy7gguHY"},"href":"https://api.spotify.com/v1/artists/3bS0MLzGAoO6lLUy7gguHY","id":"3bS0MLzGAoO6lLUy7gguHY","name":"Fukaj","type":"artist","uri":"spotify:artist:3bS0MLzGAoO6lLUy7gguHY"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id"},"href":"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id","id":"0MIG6gMcQTSvFbKvUwK0id","name":"Mata","type":"artist","uri":"spotify:artist:0MIG6gMcQTSvFbKvUwK0id"},{"external_urls":{"spotify":"https://open.spotify.com/artist/37Pprth5H294i7rSnIkVVV"},"href":"https://api.spotify.com/v1/artists/37Pprth5H294i7rSnIkVVV","id":"37Pprth5H294i7rSnIkVVV","name":"charlie
        moncler","type":"artist","uri":"spotify:artist:37Pprth5H294i7rSnIkVVV"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/79A8llxxEItgvxqIzYMiIE"},"href":"https://api.spotify.com/v1/albums/79A8llxxEItgvxqIzYMiIE","id":"79A8llxxEItgvxqIzYMiIE","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273cbea63db64411d3de242af83","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02cbea63db64411d3de242af83","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851cbea63db64411d3de242af83","width":64,"height":64}],"name":"OWOCE
        33","release_date":"2023-06-15","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:79A8llxxEItgvxqIzYMiIE"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3bS0MLzGAoO6lLUy7gguHY"},"href":"https://api.spotify.com/v1/artists/3bS0MLzGAoO6lLUy7gguHY","id":"3bS0MLzGAoO6lLUy7gguHY","name":"Fukaj","type":"artist","uri":"spotify:artist:3bS0MLzGAoO6lLUy7gguHY"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id"},"href":"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id","id":"0MIG6gMcQTSvFbKvUwK0id","name":"Mata","type":"artist","uri":"spotify:artist:0MIG6gMcQTSvFbKvUwK0id"},{"external_urls":{"spotify":"https://open.spotify.com/artist/37Pprth5H294i7rSnIkVVV"},"href":"https://api.spotify.com/v1/artists/37Pprth5H294i7rSnIkVVV","id":"37Pprth5H294i7rSnIkVVV","name":"charlie
        moncler","type":"artist","uri":"spotify:artist:37Pprth5H294i7rSnIkVVV"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2LI7lXaNJU420lffFWJUcT"},"href":"https://api.spotify.com/v1/artists/2LI7lXaNJU420lffFWJUcT","id":"2LI7lXaNJU420lffFWJUcT","name":"Pedro","type":"artist","uri":"spotify:artist:2LI7lXaNJU420lffFWJUcT"}],"available_markets":[],"disc_number":1,"duration_ms":195257,"explicit":true,"external_ids":{"isrc":"PLS282300109"},"external_urls":{"spotify":"https://open.spotify.com/track/4Dy9azWTLsDMUdUxrT1170"},"href":"https://api.spotify.com/v1/tracks/4Dy9azWTLsDMUdUxrT1170","id":"4Dy9azWTLsDMUdUxrT1170","is_local":false,"name":"OWOCE
        33","popularity":0,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:4Dy9azWTLsDMUdUxrT1170"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjEyNmM3YjZjN2IyNTY2NzJiYzU3MTRhNjEwMmI0OTQ2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3bS0MLzGAoO6lLUy7gguHY
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3bS0MLzGAoO6lLUy7gguHY"},"followers":{"href":null,"total":207558},"genres":[],"href":"https://api.spotify.com/v1/artists/3bS0MLzGAoO6lLUy7gguHY","id":"3bS0MLzGAoO6lLUy7gguHY","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb14f752bfad47c337ea9fb316","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517414f752bfad47c337ea9fb316","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17814f752bfad47c337ea9fb316","height":160,"width":160}],"name":"Fukaj","popularity":62,"type":"artist","uri":"spotify:artist:3bS0MLzGAoO6lLUy7gguHY"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjIzODAzOTI1NDI4NDFjZGQ0NWM0YzA3MmJmNjg4ZGZlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/79A8llxxEItgvxqIzYMiIE
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"k0neupAMKXAHZ2Vm6XZd_g\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"k0neupAMKXAHZ2Vm6XZd_g\"></script><script nonce=\"k0neupAMKXAHZ2Vm6XZd_g\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLS282300109", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtTR2x3WnFPMURPVSicz6zFBjIKCgJJTBIEGgAgJA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xbb6d90c78a798553\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
