interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4gUhTVOMZBQSYB51TdeZQV
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3B6UKFIsDwnJUKlJp7qQyU\"},\"href\":\"https://api.spotify.com/v1/artists/3B6UKFIsDwnJUKlJp7qQyU\",\"id\":\"3B6UKFIsDwnJUKlJp7qQyU\",\"name\":\"Hodak\",\"type\":\"artist\",\"uri\":\"spotify:artist:3B6UKFIsDwnJUKlJp7qQyU\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/6BanFN5Xaq11YYRogYOtnD\"},\"href\":\"https://api.spotify.com/v1/artists/6BanFN5Xaq11YYRogYOtnD\",\"id\":\"6BanFN5Xaq11YYRogYOtnD\",\"name\":\"Miroff\",\"type\":\"artist\",\"uri\":\"spotify:artist:6BanFN5Xaq11YYRogYOtnD\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/3jtc0iZQmmMw9i01HApik9\"},\"href\":\"https://api.spotify.com/v1/albums/3jtc0iZQmmMw9i01HApik9\",\"id\":\"3jtc0iZQmmMw9i01HApik9\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273a5c9412ffa70116675f4537b\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02a5c9412ffa70116675f4537b\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851a5c9412ffa70116675f4537b\",\"width\":64,\"height\":64}],\"name\":\"zapach
        zimy i papieros\xF3w\",\"release_date\":\"2020-05-17\",\"release_date_precision\":\"day\",\"total_tracks\":11,\"type\":\"album\",\"uri\":\"spotify:album:3jtc0iZQmmMw9i01HApik9\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3B6UKFIsDwnJUKlJp7qQyU\"},\"href\":\"https://api.spotify.com/v1/artists/3B6UKFIsDwnJUKlJp7qQyU\",\"id\":\"3B6UKFIsDwnJUKlJp7qQyU\",\"name\":\"Hodak\",\"type\":\"artist\",\"uri\":\"spotify:artist:3B6UKFIsDwnJUKlJp7qQyU\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/6BanFN5Xaq11YYRogYOtnD\"},\"href\":\"https://api.spotify.com/v[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3B6UKFIsDwnJUKlJp7qQyU
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3B6UKFIsDwnJUKlJp7qQyU"},"followers":{"href":null,"total":54533},"genres":[],"href":"https://api.spotify.com/v1/artists/3B6UKFIsDwnJUKlJp7qQyU","id":"3B6UKFIsDwnJUKlJp7qQyU","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb88cb0742bc3f01660ff7964b","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517488cb0742bc3f01660ff7964b","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17888cb0742bc3f01660ff7964b","height":160,"width":160}],"name":"Hodak","popularity":45,"type":"artist","uri":"spotify:artist:3B6UKFIsDwnJUKlJp7qQyU"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijc3ZDI4MWMzNWE2ZWM1Zjk1YzJkYTY5NDllZTQwMzgyIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3jtc0iZQmmMw9i01HApik9
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":11,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"5S18PuKoYBh_N-E8JPh2GQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"5S18PuKoYBh_N-E8JPh2GQ\"></script><script nonce=\"5S18PuKoYBh_N-E8JPh2GQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLUM72000226", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgt6NjNDaXJnVWpiVSjkzqzFBjIKCgJJTBIEGgAgaA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x23d0bb0ffa42fb72\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
