interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6kUB88CQG4dAOkUmURwBLA
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/41rVuRHYAiH7ltBTHVR9We"},"href":"https://api.spotify.com/v1/artists/41rVuRHYAiH7ltBTHVR9We","id":"41rVuRHYAiH7ltBTHVR9We","name":"Slushii","type":"artist","uri":"spotify:artist:41rVuRHYAiH7ltBTHVR9We"},{"external_urls":{"spotify":"https://open.spotify.com/artist/64KEffDW9EtZ1y2vBYgq8T"},"href":"https://api.spotify.com/v1/artists/64KEffDW9EtZ1y2vBYgq8T","id":"64KEffDW9EtZ1y2vBYgq8T","name":"Marshmello","type":"artist","uri":"spotify:artist:64KEffDW9EtZ1y2vBYgq8T"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","BJ","MG","MU","MZ","AO","DJ","ZM","CG","TJ","VE","ET"],"external_urls":{"spotify":"https://open.spotify.com/album/3RHlRBrW6sjkgAZyC7q69C"},"href":"https://api.spotify.com/v1/albums/3RHlRBrW6sjkgAZyC7q69C","id":"3RHlRBrW6sjkgAZyC7q69C","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2731c1c1c0c993b4b7bc7eb5c03","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e021c1c1c0c993b4b7bc7eb5c03","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048511c1c1c0c993b4b7bc7eb5c03","width":64,"height":64}],"name":"Twinbow","release_date":"2017-03-17","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:3RHlRBrW6sjkgAZyC7q69C"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/41rVuRHYAiH7ltBTHVR9We"},"href":"https://api.spotify.com/v1/artists/41rVuRHYAiH7ltBTHVR9We","id":"41rVuRHYAiH7ltBTHVR9We","name":"Slushii","type":"artist","uri":"spotify:artist:41rVuRHYAiH7ltBTHVR9We"},{"external_urls":{"spotify":"https://open.spotify.com/artist/64KEffDW9EtZ1y2vBYgq8T"},"href":"https://api.spotify.com/v1/artists/64KEffDW9EtZ1y2vBYgq8T","id":"64KEffDW9EtZ1y2vBYgq8T","name":"Marshmello","type":"artist","uri":"spotify:artist:64KEffDW9EtZ1y2vBYgq8T"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","BJ","MG","MU","MZ","AO","DJ","ZM","CG","TJ","VE","ET"],"disc_number":1,"duration_ms":166285,"explicit":false,"external_ids":{"isrc":"TCACY1794146"},"external_urls":{"spotify":"https://open.spotify.com/track/6kUB88CQG4dAOkUmURwBLA"},"href":"https://api.spotify.com/v1/tracks/6kUB88CQG4dAOkUmURwBLA","id":"6kUB88CQG4dAOkUmURwBLA","is_local":false,"name":"Twinbow","popularity":41,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:6kUB88CQG4dAOkUmURwBLA"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImM1NWQ0NmE0MTM1ODM2YjI3OGU4ZTIyM2E0ZDQ4OWIzIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/41rVuRHYAiH7ltBTHVR9We
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/41rVuRHYAiH7ltBTHVR9We"},"followers":{"href":null,"total":648641},"genres":["future
        bass"],"href":"https://api.spotify.com/v1/artists/41rVuRHYAiH7ltBTHVR9We","id":"41rVuRHYAiH7ltBTHVR9We","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb9466d1da6f0dfde70e0a3b20","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051749466d1da6f0dfde70e0a3b20","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1789466d1da6f0dfde70e0a3b20","height":160,"width":160}],"name":"Slushii","popularity":62,"type":"artist","uri":"spotify:artist:41rVuRHYAiH7ltBTHVR9We"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImI1ZmM1NzkxMTA5MWMxZmJlZjNlYThiYWMzZjgxZTQ1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3RHlRBrW6sjkgAZyC7q69C
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"xGMHD9CLoiloTMP6s4gJ5g\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"xGMHD9CLoiloTMP6s4gJ5g\"></script><script nonce=\"xGMHD9CLoiloTMP6s4gJ5g\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "TCACY1794146", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgt4YWxDaUxnY1pCbyi2zqzFBjIKCgJJTBIEGgAgTg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xb644af0b5b44262c\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
