interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4aw1tuId1O5iKvZRHvB3vg
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0Yzj4My7X6bIp0veJbRhEs\"},\"href\":\"https://api.spotify.com/v1/artists/0Yzj4My7X6bIp0veJbRhEs\",\"id\":\"0Yzj4My7X6bIp0veJbRhEs\",\"name\":\"Ortega\",\"type\":\"artist\",\"uri\":\"spotify:artist:0Yzj4My7X6bIp0veJbRhEs\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"MA\",\"DZ\",\"TN\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/1GSHdFWWAHhAOssR2XEYSW\"},\"href\":\"https://api.spotify.com/v1/albums/1GSHdFWWAHhAOssR2XEYSW\",\"id\":\"1GSHdFWWAHhAOssR2XEYSW\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b27382527d981125fe14ca974dfd\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e0282527d981125fe14ca974dfd\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d0000485182527d981125fe14ca974dfd\",\"width\":64,\"height\":64}],\"name\":\"\u05D6\u05D4\u05D1
        \u05E9\u05D7\u05D5\u05E8\",\"release_date\":\"2020-12-11\",\"release_date_precision\":\"day\",\"total_tracks\":11,\"type\":\"album\",\"uri\":\"spotify:album:1GSHdFWWAHhAOssR2XEYSW\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0Yzj4My7X6bIp0veJbRhEs\"},\"href\":\"https://api.spotify.com/v1/artists/0Yzj4My7X6bIp0veJbRhEs\",\"id\":\"0Yzj4My7X6bIp0veJbRhEs\",\"name\":\"Ortega\",\"type\":\"artist\",\"uri\":\"spotify:artist:0Yzj4My7X6bIp0veJbRhEs\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/17pbOSPIn3lmY0vHhOlKGL\"},\"href\":\"https://api.spotify.com/[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0Yzj4My7X6bIp0veJbRhEs
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0Yzj4My7X6bIp0veJbRhEs"},"followers":{"href":null,"total":7959},"genres":[],"href":"https://api.spotify.com/v1/artists/0Yzj4My7X6bIp0veJbRhEs","id":"0Yzj4My7X6bIp0veJbRhEs","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb868381885ea3b0e01a8ea12a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174868381885ea3b0e01a8ea12a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178868381885ea3b0e01a8ea12a","height":160,"width":160}],"name":"Ortega","popularity":34,"type":"artist","uri":"spotify:artist:0Yzj4My7X6bIp0veJbRhEs"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjM5NGEyNmQ3NjUxYjgzMmZlNTg0ZDkzNDY2ZDA2YTNmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1GSHdFWWAHhAOssR2XEYSW
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":11,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"QfhiHOCE2ysgCBtfa4zyDg\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"QfhiHOCE2ysgCBtfa4zyDg\"></script><script nonce=\"QfhiHOCE2ysgCBtfa4zyDg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "IL6192001533", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtsS2JndUNIaG42NCj_zqzFBjIKCgJJTBIEGgAgWw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x09c97eb98ee79a07\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
