interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6cmm1LMvZdB5zsCwX5BjqE
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4pADjHPWyrlAF0FA7joK2H"},"href":"https://api.spotify.com/v1/artists/4pADjHPWyrlAF0FA7joK2H","id":"4pADjHPWyrlAF0FA7joK2H","name":"Jay
        Sean","type":"artist","uri":"spotify:artist:4pADjHPWyrlAF0FA7joK2H"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/2H66HrVR1UeMlAoSXpxUnk"},"href":"https://api.spotify.com/v1/albums/2H66HrVR1UeMlAoSXpxUnk","id":"2H66HrVR1UeMlAoSXpxUnk","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273e207a14471e5356294146e9d","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02e207a14471e5356294146e9d","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851e207a14471e5356294146e9d","width":64,"height":64}],"name":"All
        Or Nothing","release_date":"2009-01-01","release_date_precision":"day","total_tracks":16,"type":"album","uri":"spotify:album:2H66HrVR1UeMlAoSXpxUnk"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4pADjHPWyrlAF0FA7joK2H"},"href":"https://api.spotify.com/v1/artists/4pADjHPWyrlAF0FA7joK2H","id":"4pADjHPWyrlAF0FA7joK2H","name":"Jay
        Sean","type":"artist","uri":"spotify:artist:4pADjHPWyrlAF0FA7joK2H"},{"external_urls":{"spotify":"https://open.spotify.com/artist/55Aa2cqylxrFIXC767Z865"},"href":"https://api.spotify.com/v1/artists/55Aa2cqylxrFIXC767Z865",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4pADjHPWyrlAF0FA7joK2H
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4pADjHPWyrlAF0FA7joK2H"},"followers":{"href":null,"total":2018280},"genres":[],"href":"https://api.spotify.com/v1/artists/4pADjHPWyrlAF0FA7joK2H","id":"4pADjHPWyrlAF0FA7joK2H","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb1fe57aeec785741820fedd52","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051741fe57aeec785741820fedd52","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1781fe57aeec785741820fedd52","height":160,"width":160}],"name":"Jay
        Sean","popularity":69,"type":"artist","uri":"spotify:artist:4pADjHPWyrlAF0FA7joK2H"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjFkZGYxNWUzODE5OTgwNDc4NWYwMjMyOGRlN2UwZmE4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2H66HrVR1UeMlAoSXpxUnk
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":16,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"XwzKF__1jI5HRunur-OAbQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"XwzKF__1jI5HRunur-OAbQ\"></script><script nonce=\"XwzKF__1jI5HRunur-OAbQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USCM50900094", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs5VDN5VHVsS2VLdyi6zqzFBjIKCgJJTBIEGgAgMw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xe812eb747b3ef68e\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
