interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Ga9D6SHCVUNsOLPVSZf9v
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2ZwZZINTWJqycmO64P77kN"},"href":"https://api.spotify.com/v1/artists/2ZwZZINTWJqycmO64P77kN","id":"2ZwZZINTWJqycmO64P77kN","name":"JR
        Kenna","type":"artist","uri":"spotify:artist:2ZwZZINTWJqycmO64P77kN"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2YQacuu8Y0C0iXXA4z7k25"},"href":"https://api.spotify.com/v1/artists/2YQacuu8Y0C0iXXA4z7k25","id":"2YQacuu8Y0C0iXXA4z7k25","name":"Mr.
        Patze","type":"artist","uri":"spotify:artist:2YQacuu8Y0C0iXXA4z7k25"},{"external_urls":{"spotify":"https://open.spotify.com/artist/5QkPMsK0XHCvM6jCbKhuEJ"},"href":"https://api.spotify.com/v1/artists/5QkPMsK0XHCvM6jCbKhuEJ","id":"5QkPMsK0XHCvM6jCbKhuEJ","name":"DJ
        Jeren","type":"artist","uri":"spotify:artist:5QkPMsK0XHCvM6jCbKhuEJ"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/34Kn8UzygYGV7N5fEAMd4V"},"href":"https://api.spotify.com/v1/albums/34Kn8UzygYGV7N5fEAMd4V","id":"34Kn8UzygYGV7N5fEAMd4V","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273768531bc4549e0c516b3cc54","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02768531bc4549e0c516b3cc54","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851768531bc4549e0c516b3cc54","width":64,"height":64}],"name":"Proper
        Sensi","release_date":"2022-09-16","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:34Kn8UzygYGV7N5fEAMd4V"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2ZwZZINTWJqycmO64P77kN"},"href":"https://api.spotify.com/v1/artists/2ZwZZINTWJqycmO64P77kN","id":"2ZwZZINTWJqycmO64P77kN","name":"JR
        Kenna","type":"artist","uri":"spotify:artist:2ZwZZINTWJqycmO64P77kN"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2YQacuu8Y0C0iXXA4z7k25"},"href":"https://api.spotify.com/v1/artists/2YQacuu8Y0C0iXXA4z7k25","[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2ZwZZINTWJqycmO64P77kN
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2ZwZZINTWJqycmO64P77kN"},"followers":{"href":null,"total":4204},"genres":["moombahton","dancehall"],"href":"https://api.spotify.com/v1/artists/2ZwZZINTWJqycmO64P77kN","id":"2ZwZZINTWJqycmO64P77kN","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebd60e01a1c9fae43d0b074582","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174d60e01a1c9fae43d0b074582","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178d60e01a1c9fae43d0b074582","height":160,"width":160}],"name":"JR
        Kenna","popularity":35,"type":"artist","uri":"spotify:artist:2ZwZZINTWJqycmO64P77kN"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImM0NDEwZTM5YmNlYThiM2Y2NGFmMzZlODNiNzlmMDNlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/34Kn8UzygYGV7N5fEAMd4V
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"6BE-8RWZYLYVSh4drxp0UQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"6BE-8RWZYLYVSh4drxp0UQ\"></script><script nonce=\"6BE-8RWZYLYVSh4drxp0UQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "NLAM42200139", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgt0ZkFicm16NmhaQSjczqzFBjIKCgJJTBIEGgAgEw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x1b6ab934a15e67fc\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
