interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4n7jnSxVLd8QioibtTDBDq
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7vk5e3vY1uw9plTHJAMwjN"},"href":"https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN","id":"7vk5e3vY1uw9plTHJAMwjN","name":"Alan
        Walker","type":"artist","uri":"spotify:artist:7vk5e3vY1uw9plTHJAMwjN"},{"external_urls":{"spotify":"https://open.spotify.com/artist/74KM79TiuVKeVCqs8QtB0B"},"href":"https://api.spotify.com/v1/artists/74KM79TiuVKeVCqs8QtB0B","id":"74KM79TiuVKeVCqs8QtB0B","name":"Sabrina
        Carpenter","type":"artist","uri":"spotify:artist:74KM79TiuVKeVCqs8QtB0B"},{"external_urls":{"spotify":"https://open.spotify.com/artist/329e4yvIujISKGKz1BZZbO"},"href":"https://api.spotify.com/v1/artists/329e4yvIujISKGKz1BZZbO","id":"329e4yvIujISKGKz1BZZbO","name":"Farruko","type":"artist","uri":"spotify:artist:329e4yvIujISKGKz1BZZbO"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/1bcvtuHyO79DNAOOhHEkEm"},"href":"https://api.spotify.com/v1/albums/1bcvtuHyO79DNAOOhHEkEm","id":"1bcvtuHyO79DNAOOhHEkEm","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273d2aaf635815c265aa1ecdecc","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02d2aaf635815c265aa1ecdecc","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851d2aaf635815c265aa1ecdecc","width":64,"height":64}],"name":"On
        My Way","release_date":"2019-03-21","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:1bcvtuHyO79DNAOOhHEkEm"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7vk5e3vY1uw9plTHJAMwjN"},"href":"https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN","id":"7vk5e3vY1uw9plTHJAMwjN","name":"Alan
        Walker","type":"artist","uri":"spotify:artist:7vk5e3vY1uw9plTHJAMwjN"},{"external_urls":{"spotify":"https://open.spotify.com/artist/74KM79TiuVKeVCqs8QtB0B"},"href":"https://api.spotify.com/v1/artists/74KM79TiuVKeVCqs8QtB0B[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7vk5e3vY1uw9plTHJAMwjN"},"followers":{"href":null,"total":41064658},"genres":[],"href":"https://api.spotify.com/v1/artists/7vk5e3vY1uw9plTHJAMwjN","id":"7vk5e3vY1uw9plTHJAMwjN","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb572a8eae56feae217f618078","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174572a8eae56feae217f618078","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178572a8eae56feae217f618078","height":160,"width":160}],"name":"Alan
        Walker","popularity":83,"type":"artist","uri":"spotify:artist:7vk5e3vY1uw9plTHJAMwjN"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjhmMDIwODZhZTQxZTQ2MTY4NGFlMTNhOWVjNzhhMGFlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1bcvtuHyO79DNAOOhHEkEm
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"2BxZLkgR5Hb8Uc_6drUDsw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"2BxZLkgR5Hb8Uc_6drUDsw\"></script><script nonce=\"2BxZLkgR5Hb8Uc_6drUDsw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "NOG841901010", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtYbEhNbGZnV29NRSi-zqzFBjIKCgJJTBIEGgAgXQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xb60ebcff0921f7aa\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
