interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/70C4NyhjD5OZUMzvWZ3njJ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6zFYqv1mOsgBRQbae3JJ9e"},"href":"https://api.spotify.com/v1/artists/6zFYqv1mOsgBRQbae3JJ9e","id":"6zFYqv1mOsgBRQbae3JJ9e","name":"Billy
        Joel","type":"artist","uri":"spotify:artist:6zFYqv1mOsgBRQbae3JJ9e"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/69wjSAZXZiD2EBia3b3gxL"},"href":"https://api.spotify.com/v1/albums/69wjSAZXZiD2EBia3b3gxL","id":"69wjSAZXZiD2EBia3b3gxL","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273aff4aef671b2510be7c115b3","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02aff4aef671b2510be7c115b3","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851aff4aef671b2510be7c115b3","width":64,"height":64}],"name":"Piano
        Man (Legacy Edition)","release_date":"1973-11-07","release_date_precision":"day","total_tracks":33,"type":"album","uri":"spotify:album:69wjSAZXZiD2EBia3b3gxL"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6zFYqv1mOsgBRQbae3JJ9e"},"href":"https://api.spotify.com/v1/artists/6zFYqv1mOsgBRQbae3JJ9e","id":"6zFYqv1mOsgBRQbae3JJ9e","name":"Billy
        Joel","type":"artist","uri":"spotify:artist:6zFYqv1mOsgBRQbae3JJ9e"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":339000,"explicit":false,"external_ids":{"isrc":"USSM17300504"},"external_urls":{"spotify":"https://open.spotify.com/track/70C4NyhjD5OZUMzvWZ3njJ"},"href":"https://api.spotify.com/v1/tracks/70C4NyhjD5OZUMzvWZ3njJ","id":"70C4NyhjD5OZUMzvWZ3njJ","is_local":false,"name":"Piano
        Man","popularity":82,"preview_url":null,"track_number":2,"type":"track","uri":"spotify:track:70C4NyhjD5OZUMzvWZ3njJ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImY1NjBmMzUyZmYyZTZjMGU5YTkxYmNjN2Q3NzkwNjk0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6zFYqv1mOsgBRQbae3JJ9e
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6zFYqv1mOsgBRQbae3JJ9e"},"followers":{"href":null,"total":7214386},"genres":["soft
        rock"],"href":"https://api.spotify.com/v1/artists/6zFYqv1mOsgBRQbae3JJ9e","id":"6zFYqv1mOsgBRQbae3JJ9e","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebb34057d59275011032ef8bc8","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174b34057d59275011032ef8bc8","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178b34057d59275011032ef8bc8","height":160,"width":160}],"name":"Billy
        Joel","popularity":83,"type":"artist","uri":"spotify:artist:6zFYqv1mOsgBRQbae3JJ9e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjA2ZGQyMGU3ZTc3ZTg1ODc3NWMwMzdiY2VhMzg5NDE1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/69wjSAZXZiD2EBia3b3gxL
  response:
    body:
      string: '{"album_type":"album","total_tracks":33,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"f6C09anFcxaRgW12fAo6Yw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"f6C09anFcxaRgW12fAo6Yw\"></script><script nonce=\"f6C09anFcxaRgW12fAo6Yw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USSM17300504", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs3VzduTVdzaWYydyjTzqzFBjIKCgJJTBIEGgAgWA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xa10e87cfd1b9d963\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
