interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7tWgxEH1z52KwaNWQByFGv
  response:
    body:
      string: "{\"album\":{\"album_type\":\"single\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/6vAJpFtiQ7xPtkArtCnHfr\"},\"href\":\"https://api.spotify.com/v1/artists/6vAJpFtiQ7xPtkArtCnHfr\",\"id\":\"6vAJpFtiQ7xPtkArtCnHfr\",\"name\":\"Avi
        Aburomi\",\"type\":\"artist\",\"uri\":\"spotify:artist:6vAJpFtiQ7xPtkArtCnHfr\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/6qRM3PqVvY9MA5CXj0Y2LK\"},\"href\":\"https://api.spotify.com/v1/albums/6qRM3PqVvY9MA5CXj0Y2LK\",\"id\":\"6qRM3PqVvY9MA5CXj0Y2LK\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b273ccb4f43d40a39192492f9d59\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e02ccb4f43d40a39192492f9d59\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d00004851ccb4f43d40a39192492f9d59\",\"width\":64,\"height\":64}],\"name\":\"\u05DC\u05E4\u05E0\u05D9
        \u05E9\u05D1\u05D0\u05EA\",\"release_date\":\"2017-03-21\",\"release_date_precision\":\"day\",\"total_tracks\":1,\"type\":\"album\",\"uri\":\"spotify:album:6qRM3PqVvY9MA5CXj0Y2LK\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/6vAJpFtiQ7xPtkArtCnHfr\"},\"href\":\"https://api.spotify.com/v1/artists/6vAJpFtiQ7xPtkArtCnHfr\",\"id\":\"6vAJpFtiQ7xPtkArtCnHfr\",\"name\":\"Avi
        Aburomi\",\"type\":\"artist\",\"uri\":\"spotify:artist:6vAJpFtiQ7xPtkArtCnHfr\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6vAJpFtiQ7xPtkArtCnHfr
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6vAJpFtiQ7xPtkArtCnHfr"},"followers":{"href":null,"total":130910},"genres":["mizrahi"],"href":"https://api.spotify.com/v1/artists/6vAJpFtiQ7xPtkArtCnHfr","id":"6vAJpFtiQ7xPtkArtCnHfr","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb6923a47069502dcf78e9ea7f","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051746923a47069502dcf78e9ea7f","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1786923a47069502dcf78e9ea7f","height":160,"width":160}],"name":"Avi
        Aburomi","popularity":43,"type":"artist","uri":"spotify:artist:6vAJpFtiQ7xPtkArtCnHfr"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImE3YTFlOTcxY2JhNWUzNGE5ZDFjNjFjMzhiNGQ0OWRlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/6qRM3PqVvY9MA5CXj0Y2LK
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"I337SRnZPNiB54L5UzFE6Q\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"I337SRnZPNiB54L5UzFE6Q\"></script><script nonce=\"I337SRnZPNiB54L5UzFE6Q\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "il5841718583", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtTWFVCN3BBZ0k2RSiTz6zFBjIKCgJJTBIEGgAgTA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xdea36ad459e18bfc\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
