interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2eaSMmKfigsm96aTUJMoIk
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1Bt4owwtQWGz1D0PKLFVi1\"},\"href\":\"https://api.spotify.com/v1/artists/1Bt4owwtQWGz1D0PKLFVi1\",\"id\":\"1Bt4owwtQWGz1D0PKLFVi1\",\"name\":\"\u041F\u043E\u0442\u0430\u043F
        \u0438 \u041D\u0430\u0441\u0442\u044F\",\"type\":\"artist\",\"uri\":\"spotify:artist:1Bt4owwtQWGz1D0PKLFVi1\"}],\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/1JXsVOR97WDEQZ4n28KyNK\"},\"href\":\"https://api.spotify.com/v1/albums/1JXsVOR97WDEQZ4n28KyNK\",\"id\":\"1JXsVOR97WDEQZ4n28KyNK\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2736927be8322cfc5141337283c\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e026927be8322cfc5141337283c\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048516927be8322cfc5141337283c\",\"width\":64,\"height\":64}],\"name\":\"\u0412\u0441\u0451
        \u043F\u0443\u0447\u043A\u043E\u043C (Deluxe Version)\",\"release_date\":\"2014-01-01\",\"release_date_precision\":\"day\",\"total_tracks\":23,\"type\":\"album\",\"uri\":\"spotify:album:1JXsVOR97WDEQZ4n28KyNK\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1Bt4owwtQWGz1D0PKLFVi1\"},\"href\":\"https://api.spotify.com/v1/artists/1Bt4owwtQWGz1D0PKLFVi1\",\"id\":\"1Bt4owwtQWGz1D0PKLFVi1\",\"name\":\"\u041F\u043E\u0442\u0430\u043F
        \u0438 \u041D\u0430\u0441\u0442\u044F\",\"type\":\"artist\",\"uri\":\"spotify:artist:1Bt4owwtQWGz1D0PKLFVi1\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":193750,\"explicit\":false,\"external_ids\":{\"isrc\":\"FR6V82631826\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/2eaSMmKfigsm96aTUJMoIk\"},\"href\":\"https://api.spotify.com/v1/tracks/2eaSMmKfigsm96aTUJMoIk\",\"id\":\"2eaSMmKfigsm96aTUJMoIk\",\"is_local\":false,\"name\":\"\u0427\u0443\u043C\u0430\u0447\u0435\u0447\u0430\u044F
        \u0432\u0435\u0441\u043D\u0430\",\"popularity\":0,\"preview_url\":null,\"track_number\":9,\"type\":\"track\",\"uri\":\"spotify:track:2eaSMmKfigsm96aTUJMoIk\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImZkNjM1NzY5ZTk1MjQzMzIzYzhmZjEzMWJkOTFmNjFhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1Bt4owwtQWGz1D0PKLFVi1
  response:
    body:
      string: "{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1Bt4owwtQWGz1D0PKLFVi1\"},\"followers\":{\"href\":null,\"total\":49341},\"genres\":[],\"href\":\"https://api.spotify.com/v1/artists/1Bt4owwtQWGz1D0PKLFVi1\",\"id\":\"1Bt4owwtQWGz1D0PKLFVi1\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2737cc0b8b7ecf74919102c28a1\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e027cc0b8b7ecf74919102c28a1\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048517cc0b8b7ecf74919102c28a1\",\"height\":64,\"width\":64}],\"name\":\"\u041F\u043E\u0442\u0430\u043F
        \u0438 \u041D\u0430\u0441\u0442\u044F\",\"popularity\":49,\"type\":\"artist\",\"uri\":\"spotify:artist:1Bt4owwtQWGz1D0PKLFVi1\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjAxOTFhY2M2YzBjMDVlMTZhZGE4YmI2NWFlMTlkZTdhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1JXsVOR97WDEQZ4n28KyNK
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":23,\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spot[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"hogX1HRyTCW-P0CGaFE0gw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"hogX1HRyTCW-P0CGaFE0gw\"></script><script nonce=\"hogX1HRyTCW-P0CGaFE0gw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "FR6V82631826", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtmWEdZek1VMV9kVSjLzqzFBjIKCgJJTBIEGgAgbQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xf32559bd4a46b325\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
