interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7eJMfftS33KTjuF7lTsMCx
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6bmlMHgSheBauioMgKv2tn"},"href":"https://api.spotify.com/v1/artists/6bmlMHgSheBauioMgKv2tn","id":"6bmlMHgSheBauioMgKv2tn","name":"Powfu","type":"artist","uri":"spotify:artist:6bmlMHgSheBauioMgKv2tn"},{"external_urls":{"spotify":"https://open.spotify.com/artist/35l9BRT7MXmM8bv2WDQiyB"},"href":"https://api.spotify.com/v1/artists/35l9BRT7MXmM8bv2WDQiyB","id":"35l9BRT7MXmM8bv2WDQiyB","name":"beabadoobee","type":"artist","uri":"spotify:artist:35l9BRT7MXmM8bv2WDQiyB"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/2p9gK2BcdrloHNJwarc9gc"},"href":"https://api.spotify.com/v1/albums/2p9gK2BcdrloHNJwarc9gc","id":"2p9gK2BcdrloHNJwarc9gc","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273bf01fd0986a195d485922167","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02bf01fd0986a195d485922167","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851bf01fd0986a195d485922167","width":64,"height":64}],"name":"death
        bed (coffee for your head)","release_date":"2020-02-08","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:2p9gK2BcdrloHNJwarc9gc"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6bmlMHgSheBauioMgKv2tn"},"href":"https://api.spotify.com/v1/artists/6bmlMHgSheBauioMgKv2tn","id":"6bmlMHgSheBauioMgKv2tn","name":"Powfu","type":"artist","uri":"spotify:artist:6bmlMHgSheBauioMgKv2tn"},{"external_urls":{"spotify":"https://open.spotify.com/artist/35l9BRT7MXmM8bv2WDQiyB"},"href":"https://api.spotify.com/v1/artists/35l9BRT7MXmM8bv2WDQiyB","id":"35l9BR[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6bmlMHgSheBauioMgKv2tn
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6bmlMHgSheBauioMgKv2tn"},"followers":{"href":null,"total":1453157},"genres":[],"href":"https://api.spotify.com/v1/artists/6bmlMHgSheBauioMgKv2tn","id":"6bmlMHgSheBauioMgKv2tn","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb63fa47b068d84db6776734a8","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517463fa47b068d84db6776734a8","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17863fa47b068d84db6776734a8","height":160,"width":160}],"name":"Powfu","popularity":70,"type":"artist","uri":"spotify:artist:6bmlMHgSheBauioMgKv2tn"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImNlMTAyYWMwNTU0ZWZlOWFlZWJkZmU0ZmI2YTE1ZjM5Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2p9gK2BcdrloHNJwarc9gc
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY",[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"j2i7xwk8_wCXa2QKUSE5rQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"j2i7xwk8_wCXa2QKUSE5rQ\"></script><script nonce=\"j2i7xwk8_wCXa2QKUSE5rQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USSM12000925", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgthb0pCNW9RdU5mNCjXzqzFBjIKCgJJTBIEGgAgYQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x7c95cc04d960a57b\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"musicCardShelfRenderer\": {\n                      \"trackingParams\":
        \"CAMQ-5EFGAAiEwiVu_LI2aOPAxUK20IFHZ55NU0=\",\n                      \"thumbnail\":
        {\n                        \"musicThumbnailRenderer\": {\n                          \"thumbnail\":
        {\n                            \"thumbnails\": [\n                              {\n
        \                               \"url\": \"https://lh3.googleusercontent.com/zKF08umSxGQ-Se4HvG3_YOZpaV28ipl2uwhS5l3EerqZWrGkuW2Ku1H-jlRVWLMkr8XCBWqF6OVAmYKe=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/zKF08umSxGQ-Se4HvG3_YOZpaV28ipl2uwhS5l3EerqZWrGkuW2Ku1H-jlRVWLMkr8XCBWqF6OVAmYKe=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CEUQhL8CIhMIlbvyyNmjjwMVCttCBR2eeTVN\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"death bed (coffee for your head)\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwiVu_LI2aOPAxUK20IFHZ55NU3KAQRRjU1K\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"JApegyYlvyY\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Powfu\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwiVu_LI2aOPAxUK20IFHZ55NU3KAQRRjU1K\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UC809pdzoMWSNMvbAoSSvuHA\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" und \"\n                          },\n
        \                         {\n                            \"text\": \"beabadoobee\",\n
        \                           \"navigationEndpoint\": {\n                              \"clickTrackingParams\":
        \"CAMQ-5EFGAAiEwiVu_LI2aOPAxUK20IFHZ55NU3KAQRRjU1K\",\n                              \"browseEndpoint\":
        {\n                                \"browseId\": \"UCcGMuu89vageEKV8zUKhwdA\",\n
        \                               \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" \u2022 \"\n                          },\n
        \                         {\n                            \"text\": \"2:54\"\n
        \                         }\n                        ],\n                        \"accessibility\":
        {\n                          \"accessibilityData\": {\n                            \"label\":
        \"Titel \u2022 Powfu und beabadoobee \u2022 2 Minuten, 54 Sekunden\"\n                          }\n
        \                       }\n                      },\n                      \"contents\":
        [\n                        {\n                          \"messageRenderer\":
        {\n                            \"text\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Mehr von YouTube\"\n                                }\n                              ]\n
        \                           },\n                            \"trackingParams\":
        \"CEQQljsYACITCJW78sjZo48DFQrbQgUdnnk1TQ==\",\n                            \"style\":
        {\n                              \"value\": \"RENDER_STYLE_SIMPLE_HEADER\"\n
        \                           }\n                          }\n                        },\n
        \                       {\n                          \"musicResponsiveListItemRenderer\":
        {\n                            \"trackingParams\": \"CDYQwaEIGAEiEwiVu_LI2aOPAxUK20IFHZ55NU0=\",\n
        \                           \"thumbnail\": {\n                              \"musicThumbnailRenderer\":
        {\n                                \"thumbnail\": {\n                                  \"thumbnails\":
        [\n                                    {\n                                      \"url\":
        \"https://i.ytimg.com/vi/bWjcQKErWd8/sddefault.jpg?sqp=-oaymwEWCJADEOEBIAQqCghqEJQEGHgg6AJIWg&rs=AMzJL3mbYDBexndFOuzzktzOPdokgYg3hg\",\n
        \                                     \"width\": 400,\n                                      \"height\":
        225\n                                    }\n                                  ]\n
        \                               },\n                                \"thumbnailCrop\":
        \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n                                \"thumbnailScale\":
        \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n                                \"trackingParams\":
        \"CEMQhL8CIhMIlbvyyNmjjwMVCttCBR2eeTVN\"\n                              }\n
        \                           },\n                            \"overlay\": {\n
        \                             \"musicItemThumbnailOverlayRenderer\": {\n                                \"background\":
        {\n                                  \"verticalGradient\": {\n                                    \"gradientLayerColors\":
        [\n                                      \"3422552064\",\n                                      \"3422552064\"\n
        \                                   ]\n                                  }\n
        \                               },\n                                \"content\":
        {\n                                  \"musicPlayButtonRenderer\": {\n                                    \"playNavigationEndpoint\":
        {\n                                      \"clickTrackingParams\": \"CEIQyN4CIhMIlbvyyNmjjwMVCttCBR2eeTVNygEEUY1NSg==\",\n
        \                                     \"watchEndpoint\": {\n                                        \"videoId\":
        \"bWjcQKErWd8\",\n                                        \"watchEndpointMusicSupportedConfigs\":
        {\n                                          \"watchEndpointMusicConfig\":
        {\n                                            \"musicVideoType\": \"MUSIC_VIDEO_TYPE_UGC\"\n
        \                                         }\n                                        }\n
        \                                     }\n                                    },\n
        \                                   \"trackingParams\": \"CEIQyN4CIhMIlbvyyNmjjwMVCttCBR2eeTVN\",\n
        \                                   \"playIcon\": {\n                                      \"iconType\":
        \"PLAY_ARROW\"\n                                    },\n                                    \"pauseIcon\":
        {\n                                      \"iconType\": \"PAUSE\"\n                                    },\n
        \                                   \"iconColor\": 4294967295,\n                                    \"backgroundColor\":
        0,\n                                    \"activeBackgroundColor\": 0,\n                                    \"loadingIndicatorColor\":
        14745645,\n                                    \"playingIcon\": {\n                                      \"iconType\":
        \"VOLUME_UP\"\n                                    },\n                                    \"iconLoadingColor\":
        0,\n                                    \"activeScaleFactor\": 1,\n                                    \"buttonSize\":
        \"MUSIC_PLAY_BUTTON_SIZE_SMALL\",\n                                    \"rippleTarget\":
        \"MUSIC_PLAY_BUTTON_RIPPLE_TARGET_SELF\",\n                                    \"accessibilityPlayData\":
        {\n                                      \"accessibilityData\": {\n                                        \"label\":
        \"Powfu - Death Bed (Lyrics) | don't stay away for too long - TikTokTunes
        abspielen\"\n                                      }\n                                    },\n
        \                                   \"accessibilityPauseData\": {\n                                      \"accessibilityData\":
        {\n                                        \"label\": \"Powfu - Death Bed
        (Lyrics) | don't stay away for too long - TikTokTunes pausieren\"\n                                      }\n
        \                                   }\n                                  }\n
        \                               },\n                                \"contentPosition\":
        \"MUSIC_ITEM_THUMBNAIL_OVERLAY_CONTENT_POSITION_CENTERED\",\n                                \"displayStyle\":
        \"MUSIC_ITEM_THUMBNAIL_OVERLAY_DISPLAY_STYLE_PERSISTENT\"\n                              }\n
        \                           },\n                            \"flexColumns\":
        [\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Powfu - Death Bed (Lyrics) | don't stay away for too long\",\n                                        \"navigationEndpoint\":
        {\n                                          \"clickTrackingParams\": \"CDYQwaEIGAEiEwiVu_LI2aOPAxUK20IFHZ55NU2aAQMQ9CTKAQRRjU1K\",\n
        \                                         \"watchEndpoint\": {\n                                            \"videoId\":
        \"bWjcQKErWd8\",\n                                            \"playerParams\":
        \"0gcJCZkB0OBS9m0t\",\n                                            \"watchEndpointMusicSupportedConfigs\":
        {\n                                              \"watchEndpointMusicConfig\":
        {\n                                                \"musicVideoType\": \"MUSIC_VIDEO_TYPE_UGC\"\n
        \                                             }\n                                            }\n
        \                                         }\n                                        }\n
        \                                     }\n                                    ]\n
        \                                 },\n                                  \"displayPriority\":
        \"MUSIC_RESPONSIVE_LIST_ITEM_COLUMN_DISPLAY_PRIORITY_HIGH\"\n                                }\n
        \                             },\n                              {\n                                \"musicResponsiveListItemFlexColumnRenderer\":
        {\n                                  \"text\": {\n                                    \"runs\":
        [\n                                      {\n                                        \"text\":
        \"Video\"\n               [...]
