interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5PjdY0CKGZdEuoNab3yDmX
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"href":"https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J","id":"2tIP7SsRs7vjIcLrU85W8J","name":"The
        Kid LAROI","type":"artist","uri":"spotify:artist:2tIP7SsRs7vjIcLrU85W8J"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/4bZJWQhHKJckFLJuYdvyX2"},"href":"https://api.spotify.com/v1/albums/4bZJWQhHKJckFLJuYdvyX2","id":"4bZJWQhHKJckFLJuYdvyX2","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2738e6551a2944764bc8e33a960","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e028e6551a2944764bc8e33a960","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048518e6551a2944764bc8e33a960","width":64,"height":64}],"name":"F*CK
        LOVE 3: OVER YOU","release_date":"2021-07-23","release_date_precision":"day","total_tracks":29,"type":"album","uri":"spotify:album:4bZJWQhHKJckFLJuYdvyX2"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"href":"https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J","id":"2tIP7SsRs7vjIcLrU85W8J","name":"The
        Kid LAROI","type":"artist","uri":"spotify:artist:2tIP7SsRs7vjIcLrU85W8J"},{"external_urls":{"spotify":"https://open.spotify.com/artist/1uNFoZAHBGtllmzznpCI3s"},"href":"https://api.spotify.com/v1/artists/1uNFoZAHBGtllmzznpCI3s","id":"1uNFoZAHBGtllmzznpCI3s","name":"Justin
        Bieber","type":"artist","uri":"spotify:artist:1uNFoZAHBGtllmzznpCI3s"}],"available_markets":[],"disc_number":1,"duration_ms":141805,"explicit":true,"external_ids":{"isrc":"USSM12103949"},"external_urls":{"spotify":"https://open.spotify.com/track/5PjdY0CKGZdEuoNab3yDmX"},"href":"https://api.spotify.com/v1/tracks/5PjdY0CKGZdEuoNab3yDmX","id":"5PjdY0CKGZdEuoNab3yDmX","is_local":false,"name":"STAY
        (with Justin Bieber)","popularity":12,"preview_url":null,"track_number":3,"type":"track","uri":"spotify:track:5PjdY0CKGZdEuoNab3yDmX"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjNhMmIyMzdhOTczOTU2YTA1MDlhZjkxOTFhZDk3MTgxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"followers":{"href":null,"total":6423851},"genres":[],"href":"https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J","id":"2tIP7SsRs7vjIcLrU85W8J","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebb3fd5c8505c463f91d730ac3","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174b3fd5c8505c463f91d730ac3","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178b3fd5c8505c463f91d730ac3","height":160,"width":160}],"name":"The
        Kid LAROI","popularity":83,"type":"artist","uri":"spotify:artist:2tIP7SsRs7vjIcLrU85W8J"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjFlYWRmNmJlZWQ2OTY4NzRiZjUyMjk3YjRlZTVjODExIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4bZJWQhHKJckFLJuYdvyX2
  response:
    body:
      string: '{"album_type":"album","total_tracks":29,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/4bZJWQhHKJckFLJuYdvyX2"},"href":"https://api.spotify.com/v1/albums/4bZJWQhHKJckFLJuYdvyX2","id":"4bZJWQhHKJckFLJuYdvyX2","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2738e6551a2944764bc8e33a960","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e028e6551a2944764bc8e33a960","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d000048518e6551a2944764bc8e33a960","height":64,"width":64}],"name":"F*CK
        LOVE 3: OVER YOU","release_date":"2021-07-23","release_date_precision":"day","type":"album","uri":"spotify:album:4bZJWQhHKJckFLJuYdvyX2","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"href":"https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J","id":"2tIP7SsRs7vjIcLrU85W8J","name":"The
        Kid LAROI","type":"artist","uri":"spotify:artist:2tIP7SsRs7vjIcLrU85W8J"}],"tracks":{"href":"https://api.spotify.com/v1/albums/4bZJWQhHKJckFLJuYdvyX2/tracks?offset=0&limit=50","limit":50,"next":null,"offset":0,"previous":null,"total":29,"items":[{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"href":"https://api.spotify.com/v1/artists/2tIP7SsRs7vjIcLrU85W8J","id":"2tIP7SsRs7vjIcLrU85W8J","name":"The
        Kid LAROI","type":"artist","uri":"spotify:artist:2tIP7SsRs7vjIcLrU85W8J"}],"available_markets":[],"disc_number":1,"duration_ms":150888,"explicit":true,"external_urls":{"spotify":"https://open.spotify.com/track/5vqJLLFlnmCaui7Ng7YAn1"},"href":"https://api.spotify.com/v1/tracks/23JVRF8F2C1TV2QDDNn213","id":"23JVRF8F2C1TV2QDDNn213","linked_from":{"external_urls":{"spotify":"https://open.spotify.com/track/5vqJLLFlnmCaui7Ng7YAn1"},"href":"https://api.spotify.com/v1/tracks/5vqJLLFlnmCaui7Ng7YAn1","id":"5vqJLLFlnmCaui7Ng7YAn1","type":"track","uri":"spotify:track:5vqJLLFlnmCaui7Ng7YAn1"},"name":"OVER
        YOU","preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:23JVRF8F2C1TV2QDDNn213","is_local":false},{"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2tIP7SsRs7vjIcLrU85W8J"},"href":"https://api.[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"Tu97wCVwhsWuA7_UXOirxA\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"Tu97wCVwhsWuA7_UXOirxA\"></script><script nonce=\"Tu97wCVwhsWuA7_UXOirxA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USSM12103949", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtJRS02TFBEMlNiayjgzqzFBjIKCgJJTBIEGgAgTg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xe3f0ed3c34a45009\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
