interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/46RBT9mCXUZEZa0CyA0thr
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1fxbULcd6ryMNc1usHoP0R\"},\"href\":\"https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R\",\"id\":\"1fxbULcd6ryMNc1usHoP0R\",\"name\":\"Quebonafide\",\"type\":\"artist\",\"uri\":\"spotify:artist:1fxbULcd6ryMNc1usHoP0R\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/3mlLCrcrxfVkp5lUjgTgzl\"},\"href\":\"https://api.spotify.com/v1/albums/3mlLCrcrxfVkp5lUjgTgzl\",\"id\":\"3mlLCrcrxfVkp5lUjgTgzl\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2734136eeb7465fb6e5f954dd6f\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e024136eeb7465fb6e5f954dd6f\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048514136eeb7465fb6e5f954dd6f\",\"width\":64,\"height\":64}],\"name\":\"ROMANTIC
        PSYCHO\",\"release_date\":\"2020-04-02\",\"release_date_precision\":\"day\",\"total_tracks\":16,\"type\":\"album\",\"uri\":\"spotify:album:3mlLCrcrxfVkp5lUjgTgzl\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1fxbULcd6ryMNc1usHoP0R\"},\"href\":\"https://api.spotify.com/v1/artists/1fxbULcd6ryMNc1usHoP0R\",\"id\":\"1fxbULcd6ryMNc1usHoP0R\",\"name\":\"Quebonafide\",\"type\":\"artist\",\"uri\":\"spotify:artist:1fxbULcd6ryMNc1usHoP0R\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/5Kuxl5ZenCl9fYzmtin6ot\"},\"href\":\"https://api.spotify[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3mlLCrcrxfVkp5lUjgTgzl
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":16,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"s9uiIUpvrIjbuh5CdDlU0g\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"s9uiIUpvrIjbuh5CdDlU0g\"></script><script nonce=\"s9uiIUpvrIjbuh5CdDlU0g\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLV402000707", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtoVTdxLW92ZVJ2QSjpzqzFBjIKCgJJTBIEGgAgGQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x34ac4a7c82bc6476\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"didYouMeanRenderer\":
        {\n                            \"didYouMean\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Meintest du:\"\n                                }\n                              ]\n
        \                           },\n                            \"correctedQuery\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"PLV 402000707\",\n                                  \"italics\":
        true\n                                }\n                              ]\n
        \                           },\n                            \"correctedQueryEndpoint\":
        {\n                              \"clickTrackingParams\": \"CBkQ7jAYACITCJzJrdHZo48DFcnuSQcdmZkXgMoBBCxMbuk=\",\n
        \                             \"searchEndpoint\": {\n                                \"query\":
        \"PLV 402000707\"\n                              }\n                            },\n
        \                           \"trackingParams\": \"CBkQ7jAYACITCJzJrdHZo48DFcnuSQcdmZkXgA==\"\n
        \                         }\n                        }\n                      ],\n
        \                     \"trackingParams\": \"CBgQuy8YACITCJzJrdHZo48DFcnuSQcdmZkXgA==\"\n
        \                   }\n                  },\n                  {\n                    \"musicCardShelfRenderer\":
        {\n                      \"trackingParams\": \"CAMQ-5EFGAEiEwicya3R2aOPAxXJ7kkHHZmZF4A=\",\n
        \                     \"thumbnail\": {\n                        \"musicThumbnailRenderer\":
        {\n                          \"thumbnail\": {\n                            \"thumbnails\":
        [\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/xfZVl-fULa5UfR5KT0rD6md9RBsCCsoqHxeXVswl88eLhWXhsAx08Hs5s3siHe2iXM0tkicQYdmMwQzn=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/xfZVl-fULa5UfR5KT0rD6md9RBsCCsoqHxeXVswl88eLhWXhsAx08Hs5s3siHe2iXM0tkicQYdmMwQzn=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CBcQhL8CIhMInMmt0dmjjwMVye5JBx2ZmReA\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"GAZPROM\",\n                            \"navigationEndpoint\": {\n                              \"clickTrackingParams\":
        \"CAMQ-5EFGAEiEwicya3R2aOPAxXJ7kkHHZmZF4DKAQQsTG7p\",\n                              \"watchEndpoint\":
        {\n                                \"videoId\": \"3edPRi_CDmc\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Quebonafide\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAEiEwicya3R2aOPAxXJ7kkHHZmZF4DKAQQsTG7p\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCtUf21FIPcOSuw0SD4N7EWQ\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \", \"\n                          },\n
        \                         {\n                            \"text\": \"Sok\xF3\u0142\",\n
        \                           \"navigationEndpoint\": {\n             [...]
