interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2cqRMfCvT9WIdUiaIVB6EJ
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3Eeb1U0VJTDaFpBHV4DmHl"},"href":"https://api.spotify.com/v1/artists/3Eeb1U0VJTDaFpBHV4DmHl","id":"3Eeb1U0VJTDaFpBHV4DmHl","name":"Angelo
        Badalamenti","type":"artist","uri":"spotify:artist:3Eeb1U0VJTDaFpBHV4DmHl"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2Gu6Q05ExIGwHTF43kqLBI"},"href":"https://api.spotify.com/v1/artists/2Gu6Q05ExIGwHTF43kqLBI","id":"2Gu6Q05ExIGwHTF43kqLBI","name":"David
        Lynch","type":"artist","uri":"spotify:artist:2Gu6Q05ExIGwHTF43kqLBI"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/0TDR91zfgRBdMV6iX1whhj"},"href":"https://api.spotify.com/v1/albums/0TDR91zfgRBdMV6iX1whhj","id":"0TDR91zfgRBdMV6iX1whhj","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2730673313372db1d10232f5bbb","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e020673313372db1d10232f5bbb","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048510673313372db1d10232f5bbb","width":64,"height":64}],"name":"Twin
        Peaks: Season Two Music And More","release_date":"2007-10-30","release_date_precision":"day","total_tracks":24,"type":"album","uri":"spotify:album:0TDR91zfgRBdMV6iX1whhj"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3Eeb1U0VJTDaFpBHV4DmHl"},"href":"https://api.spotify.com/v1/artists/3Eeb1U0VJTDaFpBHV4DmHl","id":"3Eeb1U0VJTDaFpBHV4DmHl","name":"Angelo
        Badalamenti","type":"artist","uri":"spotify:artist:3Eeb1U0VJTDaFpBHV4DmHl"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2Gu6Q05ExIGwHTF43kqLBI"},"href":"https://api.spotify.com/v1/artists/2Gu6Q05ExIGwHT[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3Eeb1U0VJTDaFpBHV4DmHl
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3Eeb1U0VJTDaFpBHV4DmHl"},"followers":{"href":null,"total":144332},"genres":["soundtrack"],"href":"https://api.spotify.com/v1/artists/3Eeb1U0VJTDaFpBHV4DmHl","id":"3Eeb1U0VJTDaFpBHV4DmHl","images":[{"url":"https://i.scdn.co/image/816e5aaaf9de137bdb327937ccde4a019eb579a1","height":1200,"width":892},{"url":"https://i.scdn.co/image/19ee79e188afe2a3120d634adc9b79038b17f3af","height":861,"width":640},{"url":"https://i.scdn.co/image/b377ccf577b49c84eb69db7c56f2eed15631083a","height":269,"width":200},{"url":"https://i.scdn.co/image/27203ce002ee4db321aa1636ccb67b6ae353e300","height":86,"width":64}],"name":"Angelo
        Badalamenti","popularity":51,"type":"artist","uri":"spotify:artist:3Eeb1U0VJTDaFpBHV4DmHl"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImUxZjRkOGJiOTU2YzUzYWJiNzljNGRmYzhjZDAwZjY1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0TDR91zfgRBdMV6iX1whhj
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":24,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"7Xr-IboWvvVXFRBnyBVMEg\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"7Xr-IboWvvVXFRBnyBVMEg\"></script><script nonce=\"7Xr-IboWvvVXFRBnyBVMEg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USRH11803667", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtPbTR6SHZMVDZibyjWzqzFBjIKCgJJTBIEGgAgZA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x2192700b89fb069d\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
