interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/02WuyBR56QN3B6ZC0BeC3f
  response:
    body:
      string: "{\"album\":{\"album_type\":\"single\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1wak0ZG1LUrZPYx8RDTQoD\"},\"href\":\"https://api.spotify.com/v1/artists/1wak0ZG1LUrZPYx8RDTQoD\",\"id\":\"1wak0ZG1LUrZPYx8RDTQoD\",\"name\":\"Noa
        Kirel\",\"type\":\"artist\",\"uri\":\"spotify:artist:1wak0ZG1LUrZPYx8RDTQoD\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/4fDN9zdzWT9jobjQvY3yh7\"},\"href\":\"https://api.spotify.com/v1/albums/4fDN9zdzWT9jobjQvY3yh7\",\"id\":\"4fDN9zdzWT9jobjQvY3yh7\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2733eeaa6ec8758e3dcc1e51404\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e023eeaa6ec8758e3dcc1e51404\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048513eeaa6ec8758e3dcc1e51404\",\"width\":64,\"height\":64}],\"name\":\"\u05DE\u05D9\u05DC\u05D9\u05D5\u05DF
        \u05D3\u05D5\u05DC\u05E8\",\"release_date\":\"2020-06-09\",\"release_date_precision\":\"day\",\"total_tracks\":1,\"type\":\"album\",\"uri\":\"spotify:album:4fDN9zdzWT9jobjQvY3yh7\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/1wak0ZG1LUrZPYx8RDTQoD\"},\"href\":\"https://api.spotify.com/v1/artists/1wak0ZG1LUrZPYx8RDTQoD\",\"id\":\"1wak0ZG1LUrZPYx8RDTQoD\",\"name\":\"Noa
        Kirel\",\"type\":\"artist\",\"uri\":\"spotify:artist:1wak0ZG1LUrZPYx8RDTQoD\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/46KxKVpK7XNqlkdi5oiMxE\"},\"href\":\"https://api.sp[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1wak0ZG1LUrZPYx8RDTQoD
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1wak0ZG1LUrZPYx8RDTQoD"},"followers":{"href":null,"total":556627},"genres":["mizrahi"],"href":"https://api.spotify.com/v1/artists/1wak0ZG1LUrZPYx8RDTQoD","id":"1wak0ZG1LUrZPYx8RDTQoD","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb0c5352d8c15b5e0e0848af56","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051740c5352d8c15b5e0e0848af56","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1780c5352d8c15b5e0e0848af56","height":160,"width":160}],"name":"Noa
        Kirel","popularity":54,"type":"artist","uri":"spotify:artist:1wak0ZG1LUrZPYx8RDTQoD"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImQzMGU0YWNlNDJhNzMxNzhlYmM2ZmUxYzVmNDQ4YWFjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4fDN9zdzWT9jobjQvY3yh7
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"9JU4n7MdXXbXn_hGZVS_WA\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"9JU4n7MdXXbXn_hGZVS_WA\"></script><script nonce=\"9JU4n7MdXXbXn_hGZVS_WA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "IL4432001535", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtoVlVWb2M3d013YyjhzqzFBjIKCgJJTBIEGgAgIQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x8626b2ba4803faa7\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
