interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2FPfeYlrbSBR8PwCU0zaqq
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1Mxqyy3pSjf8kZZL4QVxS0"},"href":"https://api.spotify.com/v1/artists/1Mxqyy3pSjf8kZZL4QVxS0","id":"1Mxqyy3pSjf8kZZL4QVxS0","name":"Frank
        Sinatra","type":"artist","uri":"spotify:artist:1Mxqyy3pSjf8kZZL4QVxS0"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/0ny6mZMBrYSO0s8HAKbcVq"},"href":"https://api.spotify.com/v1/albums/0ny6mZMBrYSO0s8HAKbcVq","id":"0ny6mZMBrYSO0s8HAKbcVq","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27394fd2e614d0862bdd2592594","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e0294fd2e614d0862bdd2592594","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d0000485194fd2e614d0862bdd2592594","width":64,"height":64}],"name":"A
        Jolly Christmas From Frank Sinatra","release_date":"1957-09","release_date_precision":"month","total_tracks":15,"type":"album","uri":"spotify:album:0ny6mZMBrYSO0s8HAKbcVq"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1Mxqyy3pSjf8kZZL4QVxS0"},"href":"https://api.spotify.com/v1/artists/1Mxqyy3pSjf8kZZL4QVxS0","id":"1Mxqyy3pSjf8kZZL4QVxS0","name":"Frank
        Sinatra","type":"artist","uri":"spotify:artist:1Mxqyy3pSjf8kZZL4QVxS0"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":206600,"explicit":false,"external_ids":{"isrc":"USCA29900549"},"external_urls":{"spotify":"https://open.spotify.com/track/2FPfeYlrbSBR8PwCU0zaqq"},"href":"https://api.spotify.com/v1/tracks/2FPfeYlrbSBR8PwCU0zaqq","id":"2FPfeYlrbSBR8PwCU0zaqq","is_local":false,"name":"Have
        Yourself A Merry Little Christmas - Remastered 1999","popularity":56,"preview_url":null,"track_number":6,"type":"track","uri":"spotify:track:2FPfeYlrbSBR8PwCU0zaqq"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjNmMGMwNzQ3NGE0YTFkYTlkMzhiZjc5ZWE4YWM3NjBlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1Mxqyy3pSjf8kZZL4QVxS0
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1Mxqyy3pSjf8kZZL4QVxS0"},"followers":{"href":null,"total":8234417},"genres":["christmas","big
        band","adult standards","swing music","jazz","vocal jazz"],"href":"https://api.spotify.com/v1/artists/1Mxqyy3pSjf8kZZL4QVxS0","id":"1Mxqyy3pSjf8kZZL4QVxS0","images":[{"url":"https://i.scdn.co/image/fc4e0f474fb4c4cb83617aa884dc9fd9822d4411","height":650,"width":999},{"url":"https://i.scdn.co/image/883de3e492364891543bc0313ffe516626778a16","height":416,"width":640},{"url":"https://i.scdn.co/image/810f29651e05c9eae5a31f8151c2e05dc46390f9","height":130,"width":200},{"url":"https://i.scdn.co/image/a283ecdc6252ae305c53d283846cae2e8b22e94c","height":42,"width":64}],"name":"Frank
        Sinatra","popularity":79,"type":"artist","uri":"spotify:artist:1Mxqyy3pSjf8kZZL4QVxS0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijk4ZjhiNGE3ZjU1MTkwYzM3OGU5OTVkNGJmYTllZGZlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0ny6mZMBrYSO0s8HAKbcVq
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"SXZYUbvdlXz55UI9CR4yWA\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"SXZYUbvdlXz55UI9CR4yWA\"></script><script nonce=\"SXZYUbvdlXz55UI9CR4yWA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "USCA29900549", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtiaXZUa2RHX0lINCiPz6zFBjIKCgJJTBIEGgAgYg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x742d189714a3a20d\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"itemSectionRenderer\": {\n                      \"contents\":
        [\n                        {\n                          \"messageRenderer\":
        {\n                            \"text\": {\n                              \"runs\":
        [\n                                {\n                                  \"text\":
        \"Keine Ergebnisse f\xFCr \"\n                                },\n                                {\n
        \                                 \"text\": \"USCA29900549\",\n                                  \"bold\":
        true\n                                },\n                                {\n
        \                                 \"text\": \" gefunden\"\n                                }\n
        \                             ]\n                            },\n                            \"icon\":
        {\n                              \"iconType\": \"SEARCH\"\n                            },\n
        \                           \"trackingParams\": \"CAQQ-pUBGAAiEwiQ_8Pj2aOPAxUY1UkHHRsDCkQ=\",\n
        \                           \"subtext\": {\n                              \"messageSubtextRenderer\":
        {\n                                \"text\": {\n                                  \"runs\":
        [\n                                    {\n                                      \"text\":
        \"Versuch es mit anderen Suchbegriffen\"\n                                    }\n
        \                                 ]\n                                }\n                              }\n
        \                           }\n                          }\n                        }\n
        \                     ],\n                      \"trackingParams\": \"CAMQuy8YACITCJD_w-PZo48DFRjVSQcdGwMKRA==\"\n
        \                   }\n                  }\n                ],\n                \"trackingParams\":
        \"CAIQui8iEwiQ_8Pj2aOPAxUY1UkHHRsDCkQ=\"\n              }\n            },\n
        \           \"tabIdentifier\": \"music_search_catalog\",\n            \"trackingParams\":
        \"CAEQ8JMBGAAiEwiQ_8Pj2aOPAxUY1UkHHRsDCkQ=\"\n          }\n        }\n      ]\n
        \   }\n  },\n  \"trackingParams\": \"CAAQvGkiEwiQ_8Pj2aOPAxUY1UkHHRsDCkQ=\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
