interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0l9XhUIYk2EjT6MHdh4wJU
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2XEybHzEROxx8nLUOrtSbL\"},\"href\":\"https://api.spotify.com/v1/albums/2XEybHzEROxx8nLUOrtSbL\",\"id\":\"2XEybHzEROxx8nLUOrtSbL\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2735b7a0791800077185c44413b\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e025b7a0791800077185c44413b\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048515b7a0791800077185c44413b\",\"width\":64,\"height\":64}],\"name\":\"100
        dni do matury\",\"release_date\":\"2020-01-17\",\"release_date_precision\":\"day\",\"total_tracks\":18,\"type\":\"album\",\"uri\":\"spotify:album:2XEybHzEROxx8nLUOrtSbL\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3gNjxcKLkMfZYKlLxn0O9F\"},\"href\":\"https://api.spotify.com/v1/artists/3gNjxcKLkMfZYKlLxn0O9F\",\"id\":\"3gNjxcKLkMfZYKlLxn0O9F\",\"name\":\"Moo
        Latte\",\"type\":\"artist\",\"uri\":\"spotify:artist:3gNjxcKLkMfZYKlLxn0O9F\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":257398,\"explicit\":false,\"external_ids\":{\"isrc\":\"PLS281900573\"},\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/0l9XhUIYk2EjT6MHdh4wJU\"},\"href\":\"https://api.spotify.com/v1/tracks/0l9XhUIYk2EjT6MHdh4wJU\",\"id\":\"0l9XhUIYk2EjT6MHdh4wJU\",\"is_local\":false,\"name\":\"Pisz\u0119
        to na matmie\",\"popularity\":0,\"preview_url\":null,\"track_number\":3,\"type\":\"track\",\"uri\":\"spotify:track:0l9XhUIYk2EjT6MHdh4wJU\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijc5ZTFhOTAwM2FmOTUxMGY4ZDFhZWFmYTc1NTczZTk0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id"},"followers":{"href":null,"total":2313335},"genres":[],"href":"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id","id":"0MIG6gMcQTSvFbKvUwK0id","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb1555337bfa70fd3c3ca63e27","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051741555337bfa70fd3c3ca63e27","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1781555337bfa70fd3c3ca63e27","height":160,"width":160}],"name":"Mata","popularity":75,"type":"artist","uri":"spotify:artist:0MIG6gMcQTSvFbKvUwK0id"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjIwNzc0NGViNmJlNzU3ODU3Zjg1N2RjZjk2YThmNmMwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2XEybHzEROxx8nLUOrtSbL
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":18,\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2XEybHzEROxx8nLUOrtSbL\"},\"href\":\"https://api.spotify.com/v1/albums/2XEybHzEROxx8nLUOrtSbL\",\"id\":\"2XEybHzEROxx8nLUOrtSbL\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2735b7a0791800077185c44413b\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e025b7a0791800077185c44413b\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048515b7a0791800077185c44413b\",\"height\":64,\"width\":64}],\"name\":\"100
        dni do matury\",\"release_date\":\"2020-01-17\",\"release_date_precision\":\"day\",\"type\":\"album\",\"uri\":\"spotify:album:2XEybHzEROxx8nLUOrtSbL\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"tracks\":{\"href\":\"https://api.spotify.com/v1/albums/2XEybHzEROxx8nLUOrtSbL/tracks?offset=0&limit=50\",\"limit\":50,\"next\":null,\"offset\":0,\"previous\":null,\"total\":18,\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0MIG6gMcQTSvFbKvUwK0id\"},\"href\":\"https://api.spotify.com/v1/artists/0MIG6gMcQTSvFbKvUwK0id\",\"id\":\"0MIG6gMcQTSvFbKvUwK0id\",\"name\":\"Mata\",\"type\":\"artist\",\"uri\":\"spotify:artist:0MIG6gMcQTSvFbKvUwK0id\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":39773,\"explicit\":false,\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/5tooJYgKgCokXse5We3s1D\"},\"href\":\"https://api.spotify.com/v1/tracks/5YWDY8V4xyf9kzC5bA8vRG\",\"id\":\"5YWDY8V4xyf9kzC5bA8vRG\",\"linked_from\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/5tooJYgKgCokXse5We3s1D\"},\"href\":\"https://api.spotify.com/v1/tracks/5tooJYgKgCokXse5We3s1D\",\"id\":\"5tooJYgKgCokXse5We3s1D\",\"type\":\"track\",\"uri\":\"spotify:track:5tooJYgKgCokXse5We3s1D\"},\"name\":\"Intro
        (do nauki)\",\"preview_url\":null,\"track_number\":1,\"type\":\"track\",\"uri\":\"spotify:track:5YWDY8V4xyf9kzC5bA8vRG\",\"is_local\":false},{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.c[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"rW59z6W3hDXkJgMu7UdvOw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"rW59z6W3hDXkJgMu7UdvOw\"></script><script nonce=\"rW59z6W3hDXkJgMu7UdvOw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLS281900573", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtNMjc4Y2Y0aGdZVSizzqzFBjIKCgJJTBIEGgAgFQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x02632fa931d1051c\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
