interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/760xwlNMwa6IZGff1eBhFW
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7iW0o1suit8xY24m9M5L0u"},"href":"https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u","id":"7iW0o1suit8xY24m9M5L0u","name":"De
        Vet Du","type":"artist","uri":"spotify:artist:7iW0o1suit8xY24m9M5L0u"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/2RxPVjGb4JbmbMOEYc7wZ5"},"href":"https://api.spotify.com/v1/albums/2RxPVjGb4JbmbMOEYc7wZ5","id":"2RxPVjGb4JbmbMOEYc7wZ5","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2738b6ac894c9a6525d6b80ff66","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e028b6ac894c9a6525d6b80ff66","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048518b6ac894c9a6525d6b80ff66","width":64,"height":64}],"name":"Pantamera","release_date":"2014-01-01","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:2RxPVjGb4JbmbMOEYc7wZ5"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7iW0o1suit8xY24m9M5L0u"},"href":"https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u","id":"7iW0o1suit8xY24m9M5L0u","name":"De
        Vet Du","type":"artist","uri":"spotify:artist:7iW0o1suit8xY24m9M5L0u"}],"available_markets":[],"disc_number":1,"duration_ms":171613,"explicit":false,"external_ids":{"isrc":"SE3KA1400110"},"external_urls":{"spotify":"https://open.spotify.com/track/760xwlNMwa6IZGff1eBhFW"},"href":"https://api.spotify.com/v1/tracks/760xwlNMwa6IZGff1eBhFW","id":"760xwlNMwa6IZGff1eBhFW","is_local":false,"name":"Pantamera","popularity":0,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:760xwlNMwa6IZGff1eBhFW"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImU2OGRkMzcyMzI0MzVmOTQ2OTJjMWEzOTFjMTQ5MjNjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7iW0o1suit8xY24m9M5L0u"},"followers":{"href":null,"total":94003},"genres":["epadunk"],"href":"https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u","id":"7iW0o1suit8xY24m9M5L0u","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebe2be6522a72da539625db850","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174e2be6522a72da539625db850","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178e2be6522a72da539625db850","height":160,"width":160}],"name":"De
        Vet Du","popularity":55,"type":"artist","uri":"spotify:artist:7iW0o1suit8xY24m9M5L0u"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjNlODFkYzk5NDRkODUwZDVjMDM3ODdkNGFkMjIxMjA1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2RxPVjGb4JbmbMOEYc7wZ5
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2RxPVjGb4JbmbMOEYc7wZ5\"},\"href\":\"https://api.spotify.com/v1/albums/2RxPVjGb4JbmbMOEYc7wZ5\",\"id\":\"2RxPVjGb4JbmbMOEYc7wZ5\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2738b6ac894c9a6525d6b80ff66\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e028b6ac894c9a6525d6b80ff66\",\"height\":300,\"width\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048518b6ac894c9a6525d6b80ff66\",\"height\":64,\"width\":64}],\"name\":\"Pantamera\",\"release_date\":\"2014-01-01\",\"release_date_precision\":\"day\",\"type\":\"album\",\"uri\":\"spotify:album:2RxPVjGb4JbmbMOEYc7wZ5\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/7iW0o1suit8xY24m9M5L0u\"},\"href\":\"https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u\",\"id\":\"7iW0o1suit8xY24m9M5L0u\",\"name\":\"De
        Vet Du\",\"type\":\"artist\",\"uri\":\"spotify:artist:7iW0o1suit8xY24m9M5L0u\"}],\"tracks\":{\"href\":\"https://api.spotify.com/v1/albums/2RxPVjGb4JbmbMOEYc7wZ5/tracks?offset=0&limit=50\",\"limit\":50,\"next\":null,\"offset\":0,\"previous\":null,\"total\":1,\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/7iW0o1suit8xY24m9M5L0u\"},\"href\":\"https://api.spotify.com/v1/artists/7iW0o1suit8xY24m9M5L0u\",\"id\":\"7iW0o1suit8xY24m9M5L0u\",\"name\":\"De
        Vet Du\",\"type\":\"artist\",\"uri\":\"spotify:artist:7iW0o1suit8xY24m9M5L0u\"}],\"available_markets\":[],\"disc_number\":1,\"duration_ms\":171613,\"explicit\":false,\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/760xwlNMwa6IZGff1eBhFW\"},\"href\":\"https://api.spotify.com/v1/tracks/4HI94qn2ShSfgoWZOdWRmK\",\"id\":\"4HI94qn2ShSfgoWZOdWRmK\",\"linked_from\":{\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/760xwlNMwa6IZGff1eBhFW\"},\"href\":\"https://api.spotify.com/v1/tracks/760xwlNMwa6IZGff1eBhFW\",\"id\":\"760xwlNMwa6IZGff1eBhFW\",\"type\":\"track\",\"uri\":\"spotify:track:760xwlNMwa6IZGff1eBhFW\"},\"name\":\"Pantamera\",\"preview_url\":null,\"track_number\":1,\"type\":\"track\",\"uri\":\"spotify:track:4HI94qn2ShSfgoWZOdWRmK\",\"is_local\":false}]},\"copyrights\":[{\"text\":\"\xA9
        2014 One Brain AB, Under exclusive license to Universal Music AB\",\"type\":\"C\"},{\"text\":\"\u2117
        2014 One Brain AB, Under exclusive license to Universal Music AB\",\"type\":\"P\"}],\"external_ids\":{\"upc\":\"00602537927838\"},\"genres\":[],\"label\":\"Universal
        Music AB\",\"popularity\":0}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImI0NTk1NDI0OGIyNzZmMTEzOWRkOTgzMzE0OTk2NmE4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"Ynl2IGjk2HQjkO-wpjjrQA\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"Ynl2IGjk2HQjkO-wpjjrQA\"></script><script nonce=\"Ynl2IGjk2HQjkO-wpjjrQA\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "SE3KA1400110", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtwRDJaLUc0dHR4USjQzqzFBjIKCgJJTBIEGgAgYw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x2187e49b2c7f1475\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
