interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0zmxM4MXfisJRTQcPa1wbv
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1DjrwkyosB44sfSdm6fT6O"},"href":"https://api.spotify.com/v1/artists/1DjrwkyosB44sfSdm6fT6O","id":"1DjrwkyosB44sfSdm6fT6O","name":"club2020","type":"artist","uri":"spotify:artist:1DjrwkyosB44sfSdm6fT6O"},{"external_urls":{"spotify":"https://open.spotify.com/artist/7CJgLPEqiIRuneZSolpawQ"},"href":"https://api.spotify.com/v1/artists/7CJgLPEqiIRuneZSolpawQ","id":"7CJgLPEqiIRuneZSolpawQ","name":"Taco
        Hemingway","type":"artist","uri":"spotify:artist:7CJgLPEqiIRuneZSolpawQ"},{"external_urls":{"spotify":"https://open.spotify.com/artist/1oxn6cQ37twQ7yGnlE3ETd"},"href":"https://api.spotify.com/v1/artists/1oxn6cQ37twQ7yGnlE3ETd","id":"1oxn6cQ37twQ7yGnlE3ETd","name":"Oki","type":"artist","uri":"spotify:artist:1oxn6cQ37twQ7yGnlE3ETd"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/3crPBUNMNvAYOUHniufHto"},"href":"https://api.spotify.com/v1/albums/3crPBUNMNvAYOUHniufHto","id":"3crPBUNMNvAYOUHniufHto","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27340dc88d57abed1bb11099848","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e0240dc88d57abed1bb11099848","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d0000485140dc88d57abed1bb11099848","width":64,"height":64}],"name":"club2020","release_date":"2022-12-07","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:3crPBUNMNvAYOUHniufHto"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1DjrwkyosB44sfSdm6fT6O"},"href":"https://api.spotify.com/v1/artists/1DjrwkyosB44sfSdm6fT6O","id":"1DjrwkyosB44sfSdm6fT6O","name":"club2020","type":"artist","uri":"spotify:artist:1DjrwkyosB44sfSdm6fT6O"},{"external_urls":{"spotify":"https://open.spotify.com/artist/7CJgLPEqiIRuneZSolpawQ"},"href":"https://api.spotify.com/v1/artists/7CJgLPEqiIRuneZSolpawQ","id":"7CJ[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1DjrwkyosB44sfSdm6fT6O
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1DjrwkyosB44sfSdm6fT6O"},"followers":{"href":null,"total":94379},"genres":[],"href":"https://api.spotify.com/v1/artists/1DjrwkyosB44sfSdm6fT6O","id":"1DjrwkyosB44sfSdm6fT6O","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb663b99a52fa12a6eda2cce69","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174663b99a52fa12a6eda2cce69","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178663b99a52fa12a6eda2cce69","height":160,"width":160}],"name":"club2020","popularity":53,"type":"artist","uri":"spotify:artist:1DjrwkyosB44sfSdm6fT6O"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjNmOTkzZTY5M2ZlMDM5NTQ2ZjFhNWIwZDNhNDg1YWY2Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3crPBUNMNvAYOUHniufHto
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":1,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"YTceOhDBUhWLpF__JazBSQ\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"YTceOhDBUhWLpF__JazBSQ\"></script><script nonce=\"YTceOhDBUhWLpF__JazBSQ\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PLI292200592", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs2WFEzQW4zRUxnUSjszqzFBjIKCgJJTBIEGgAgXQ%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x6f62e1160add0a70\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
[...]
