interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4F3N8BizzYmHbUee1ASmhc
  response:
    body:
      string: "{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/4z93wkjfGntA0XFqnv4wj7\"},\"href\":\"https://api.spotify.com/v1/artists/4z93wkjfGntA0XFqnv4wj7\",\"id\":\"4z93wkjfGntA0XFqnv4wj7\",\"name\":\"Pezet\",\"type\":\"artist\",\"uri\":\"spotify:artist:4z93wkjfGntA0XFqnv4wj7\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/2me7ojcHK84TT4z5HlXsCM\"},\"href\":\"https://api.spotify.com/v1/albums/2me7ojcHK84TT4z5HlXsCM\",\"id\":\"2me7ojcHK84TT4z5HlXsCM\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab67616d0000b2738da97763ebd7d57a65f96ac1\",\"width\":640,\"height\":640},{\"url\":\"https://i.scdn.co/image/ab67616d00001e028da97763ebd7d57a65f96ac1\",\"width\":300,\"height\":300},{\"url\":\"https://i.scdn.co/image/ab67616d000048518da97763ebd7d57a65f96ac1\",\"width\":64,\"height\":64}],\"name\":\"Muzyka
        Komercyjna\",\"release_date\":\"2022-09-30\",\"release_date_precision\":\"day\",\"total_tracks\":15,\"type\":\"album\",\"uri\":\"spotify:album:2me7ojcHK84TT4z5HlXsCM\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/4z93wkjfGntA0XFqnv4wj7\"},\"href\":\"https://api.spotify.com/v1/artists/4z93wkjfGntA0XFqnv4wj7\",\"id\":\"4z93wkjfGntA0XFqnv4wj7\",\"name\":\"Pezet\",\"type\":\"artist\",\"uri\":\"spotify:artist:4z93wkjfGntA0XFqnv4wj7\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0LX2VNf5w4iOHW1yyIqb74\"},\"href\":\"https://api.spotify.com/v[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4z93wkjfGntA0XFqnv4wj7
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4z93wkjfGntA0XFqnv4wj7"},"followers":{"href":null,"total":524014},"genres":[],"href":"https://api.spotify.com/v1/artists/4z93wkjfGntA0XFqnv4wj7","id":"4z93wkjfGntA0XFqnv4wj7","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb786308a48b266ee22e3ea781","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174786308a48b266ee22e3ea781","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178786308a48b266ee22e3ea781","height":160,"width":160}],"name":"Pezet","popularity":69,"type":"artist","uri":"spotify:artist:4z93wkjfGntA0XFqnv4wj7"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjU1OTRiZmYxZTc5MzE3Y2Y4YzNmMmRlOTQ5NDE2Y2FkIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2me7ojcHK84TT4z5HlXsCM
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"C[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"4ULj7WPD3SiOjusCGN-THw\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"4ULj7WPD3SiOjusCGN-THw\"></script><script nonce=\"4ULj7WPD3SiOjusCGN-THw\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "PL86E2200010", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtkVHUwLVh2eEtHTSjzzqzFBjIKCgJJTBIEGgAgSA%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x34f8aa1a3117acfa\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120\n  },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\":
        {\n      \"tabs\": [\n        {\n          \"tabRenderer\": {\n            \"title\":
        \"YT Music\",\n            \"selected\": true,\n            \"content\": {\n
        \             \"sectionListRenderer\": {\n                \"contents\": [\n
        \                 {\n                    \"musicCardShelfRenderer\": {\n                      \"trackingParams\":
        \"CAMQ-5EFGAAiEwju_aLW2aOPAxXB5EkHHYE5Gnk=\",\n                      \"thumbnail\":
        {\n                        \"musicThumbnailRenderer\": {\n                          \"thumbnail\":
        {\n                            \"thumbnails\": [\n                              {\n
        \                               \"url\": \"https://lh3.googleusercontent.com/s0okEbGve_fRzyf6tqAkTmp0_hot6j8Z_BqPERrRIufJnEhS-p9BxtBwGyzkviudD7kMcvZrweGzXUM=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://lh3.googleusercontent.com/s0okEbGve_fRzyf6tqAkTmp0_hot6j8Z_BqPERrRIufJnEhS-p9BxtBwGyzkviudD7kMcvZrweGzXUM=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CBgQhL8CIhMI7v2i1tmjjwMVweRJBx2BORp5\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Tatua\u017Ce i Motocykle (feat. Auer)\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwju_aLW2aOPAxXB5EkHHYE5GnnKAQTyjtMm\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"vG0XOE3uGMk\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Pezet\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CAMQ-5EFGAAiEwju_aLW2aOPAxXB5EkHHYE5GnnKAQTyjtMm\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UClF79-8e2yN86vLYFt1-qdA\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \", \"\n                          },\n
        \                         {\n                            \"text\": \"Bedoes\",\n
        \                           \"navigationEndpoint\": {\n                    [...]
