interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6l0oJ8fzG0WEplj5uBqwzm
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/62TD7509VQIxUe4WpwO0s3"},"href":"https://api.spotify.com/v1/artists/62TD7509VQIxUe4WpwO0s3","id":"62TD7509VQIxUe4WpwO0s3","name":"Johann
        Pachelbel","type":"artist","uri":"spotify:artist:62TD7509VQIxUe4WpwO0s3"}],"available_markets":["AE","AL","AR","AT","AU","BA","BE","BG","BH","BO","BR","CA","CH","CI","CL","CM","CO","CR","CW","CY","CZ","DE","DK","DO","DZ","EC","EE","EG","ES","FI","FR","GB","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IS","IT","JP","KE","KH","KR","KW","LB","LK","LT","LU","LV","MA","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PA","PE","PH","PL","PT","PY","QA","RO","RS","SA","SE","SG","SI","SK","SN","SV","TH","TN","TR","TT","TW","UA","US","UY","VE","VN","XK","ZA"],"external_urls":{"spotify":"https://open.spotify.com/album/7G9zq82Fv9RUcEPU3IFw88"},"href":"https://api.spotify.com/v1/albums/7G9zq82Fv9RUcEPU3IFw88","id":"7G9zq82Fv9RUcEPU3IFw88","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273ad52a6bc2e68848dbc2cbfcf","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02ad52a6bc2e68848dbc2cbfcf","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851ad52a6bc2e68848dbc2cbfcf","width":64,"height":64}],"name":"Pachelbel:
        Canon and Gigue","release_date":"2020-06-20","release_date_precision":"day","total_tracks":100,"type":"album","uri":"spotify:album:7G9zq82Fv9RUcEPU3IFw88"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/1QL7yTHrdahRMpvNtn6rI2"},"href":"https://api.spotify.com/v1/artists/1QL7yTHrdahRMpvNtn6rI2","id":"1QL7yTHrdahRMpvNtn6rI2","name":"George
        Frideric Handel","type":"artist","uri":"spotify:artist:1QL7yTHrdahRMpvNtn6rI2"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2Oz3z7PPQUMU2KNYgcO1sA"},"href":"https://api.spotify.com/v1/artists/2Oz3z7PPQUMU2KNYgcO1sA","id":"2Oz3z7PPQUMU2KNYgcO1sA","name":"The
        English Concert","type":"artist","uri":"spotify:artist:2Oz3z7PPQUMU2KNYgcO1sA"},{"external_urls":{"spotify":"https://open.spotify.com/artist/25mbgceDJKxXGP8c5FmC83"},"href":"https://api.spotify.com/v1/artists/25mbgceDJKxXGP8c5FmC83","id":"25mbgceDJKxXGP8c5FmC83","name":"Trevor
        Pinnock","type":"artist","uri":"spotify:artist:25mbgceDJKxXGP8c5FmC83"}],"available_markets":["AE","AL","AR","AT","AU","BA","BE","BG","BH","BO","BR","CA","CH","CI","CL","CM","CO","CR","CW","CY","CZ","DE","DK","DO","DZ","EC","EE","EG","ES","FI","FR","GB","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IS","IT","JP","KE","KH","KR","KW","LB","LK","LT","LU","LV","MA","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PA","PE","PH","PL","PT","PY","QA","RO","RS","SA","SE","SG","SI","SK","SN","SV","TH","TN","TR","TT","TW","UA","US","UY","VE","VN","XK","ZA"],"disc_number":1,"duration_ms":190080,"explicit":false,"external_ids":{"isrc":"DEF058401950"},"external_urls":{"spotify":"https://open.spotify.com/track/6l0oJ8fzG0WEplj5uBqwzm"},"href":"https://api.spotify.com/v1/tracks/6l0oJ8fzG0WEplj5uBqwzm","id":"6l0oJ8fzG0WEplj5uBqwzm","is_local":false,"name":"Solomon,
        HWV 67, Act III: The Arrival of the Queen of Sheba","popularity":2,"preview_url":null,"track_number":3,"type":"track","uri":"spotify:track:6l0oJ8fzG0WEplj5uBqwzm"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjQxYjQ3OTc1MTJkODExMGQ4ZDk5NTI0ODA2YzZmNjA1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1QL7yTHrdahRMpvNtn6rI2
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1QL7yTHrdahRMpvNtn6rI2"},"followers":{"href":null,"total":973726},"genres":["classical","opera","choral"],"href":"https://api.spotify.com/v1/artists/1QL7yTHrdahRMpvNtn6rI2","id":"1QL7yTHrdahRMpvNtn6rI2","images":[{"url":"https://i.scdn.co/image/6391390229a5fb88e8e0d71e3e942b427d12d9a8","height":1209,"width":1000},{"url":"https://i.scdn.co/image/80e4fa2aac467af1b0a13201b585ae0ca27367dc","height":774,"width":640},{"url":"https://i.scdn.co/image/28e3224e9ba32cc880794fc6192b1836b1bcb09a","height":242,"width":200},{"url":"https://i.scdn.co/image/ce62fd096aa0cc8cd91b12814adde9fb98463c1a","height":77,"width":64}],"name":"George
        Frideric Handel","popularity":66,"type":"artist","uri":"spotify:artist:1QL7yTHrdahRMpvNtn6rI2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjA3YTI2NDliMjU4ZWM2MDc3NTgzNjU4Y2I0ZWE2NTJiIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQDerJ6IqdURMvxlBaFjP4vJUTUWk3Qc_F2rdhYgXBeiBEG_Ui3VV3ktFN7xSkymfGpoikHqlUik1Gk6Fh6qv2kjZxhaEz-HQT3H_55eZRDLkQNVYq5bGngUfg6iPnarHb2KNCAcLyk
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/7G9zq82Fv9RUcEPU3IFw88
  response:
    body:
      string: "{\"album_type\":\"compilation\",\"total_tracks\":100,\"available_markets\":[\"AE\",\"AL\",\"AR\",\"AT\",\"AU\",\"BA\",\"B[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"da5dgqGm-Gf4rY_3hpIrjg\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"da5dgqGm-Gf4rY_3hpIrjg\"></script><script nonce=\"da5dgqGm-Gf4rY_3hpIrjg\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "DEF058401950", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20250824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtwTDlRTTY3WXduQSjUzqzFBjIKCgJJTBIEGgAgIw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20250824.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x8eca3dc4f068facf\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \     [...]
