interactions:
- request:
    body: '{"context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/search?query=GB2LD2210007&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtBWkpVWm9RSHRaVSisw9CVBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GUIDED_HELP\",\n
        \       \"params\": [\n          {\n            \"key\": \"context\",\n            \"value\":
        \"yt_web_search\"\n          },\n          {\n            \"key\": \"logged_in\",\n
        \           \"value\": \"0\"\n          }\n        ]\n      },\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"has_unlimited_entitlement\",\n            \"value\":
        \"False\"\n          },\n          {\n            \"key\": \"has_premium_lite_entitlement\",\n
        \           \"value\": \"False\"\n          },\n[...]
- request:
    body: '{"context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/search?query=abstrakt+-+nobody+else&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtHb1VpZVNubEVGSSisw9CVBg%3D%3D\",\n
        \   \"serviceTracking[...]
