interactions:
- request:
    body: '{"context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/search?query=GB2LD2210007&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtEdnR1V1VxdTMyNCipsfKcBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GUIDED_HELP\",\n
        \       \"params\": [\n          {\n            \"key\": \"context\",\n            \"value\":
        \"yt_web_search\"\n          },\n          {\n            \"key\": \"logged_in\",\n
        \           \"value\": \"0\"\n          }\n        ]\n      },\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"has_unlimited_entitlement\",\n            \"value\":
        \"False\"\n          },\n          {\n            \"key\": \"has_premium_lite_entitlement\",\n
        \           \"value\": \"False\"\n          },\n[...]
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=nfyk-V5CoIE&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtCNG02emtZc0dVQSiqsfKcBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n   [...]
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=0Pe8UnKcKug&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtiVm1UV0VOTHBIdyiqsfKcBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n   [...]
- request:
    body: '{"context": {"client": {"clientName": "ANDROID", "clientVersion": "16.20"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/player?videoId=8_XKMNCQKDg&key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&contentCheckOk=True&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtUYkJlZEtid1RVayiqsfKcBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n   [...]
