interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/watch?v=Th_C95UMegc
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\"><head><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/><script
        nonce=\"GCin5Urki/BOWfu8IBPY/g\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20210114.08.00');</script><script
        nonce=\"GCin5Urki/BOWfu8IBPY/g\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\";var replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=true;else
        if(stack.indexOf(\"trapProp\")>=\n0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");if(thirdPartyScript)baseUrl=baseUrl.replace(\"level=ERROR\",\"level=WARNING\");var
        parts=[baseUrl];for(var key in values){var v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
  response:
    body:
      string: csn=qdQBYO2rGoOS7QSpqLKICQ&cr=PL&hl=en_US&vss_host=s.youtube.com&cver=2.20210113.03.00&host_language=en&innertube_api_version=v1&fflags=html5_live_normal_latency_bandwidth_window%3D0.0%26html5_aspect_from_adaptive_format%3Dtrue%26html5_gapless_max_played_ra[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/s/player/9f996d3e/player_ias.vflset/en_US/base.js
  response:
    body:
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>301
        Moved</TITLE></HEAD><BODY>\n<H1>301 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://www.youtube.com/s/player/9f996d3e/player_ias.vflset/en_US/base.js\">here</A>.\r\n</BODY></HTML>\r\n"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.youtube.com/s/player/9f996d3e/player_ias.vflset/en_US/base.js
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/s/player/9f996d3e/player_ias.vflset/en_US/base.js
  response:
    body:
      string: "var _yt_player={};(function(g){var window=this;/*\n\n Copyright The
        Closure Library Authors.\n SPDX-License-Identifier: Apache-2.0\n*/\nvar ba,da,aaa,ha,ia,ka,pa,qa,ra,sa,ta,ua,baa,caa,va,wa,daa,xa,ya,za,Aa,Ca,Da,Ea,Ia,Ga,La,Ma,gaa,haa,Wa,Xa,Ya,iaa,jaa,Za,kaa,bb,cb,laa,maa,eb,lb,naa,sb,tb,oaa,yb,vb,paa,wb,qaa,raa,sa[...]
