interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://consent.youtube.com/m?continue=https%3A%2F%2Fyoutube.com%2Fwatch%3Fv%3DTh_C95UMegc&gl=PL&m=0&pc=yt&uxe=23983172&hl=en&src=1
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://consent.youtube.com/m?continue=https%3A%2F%2Fyoutube.com%2Fwatch%3Fv%3DTh_C95UMegc&gl=PL&m=0&pc=yt&uxe=23983172&hl=en&src=1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://youtube.com/watch?v=Th_C95UMegc&ucbcb=1
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc&ucbcb=1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/watch?v=Th_C95UMegc&ucbcb=1
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=Th_C95UMegc&ucbcb=1
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" typography typography-spacing><head><meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\"/><script nonce=\"DlAOnAHYs8zdZnNBE1AxGw\">var ytcfg={d:function(){return
        window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20210719.00.00');</script><script
        nonce=\"DlAOnAHYs8zdZnNBE1AxGw\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var
        replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else
        if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else
        if(message.indexOf(\"redefine non-configurable\")>=0&&message.indexOf(\"userAgent\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/err[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US&html5=1&c=TVHTML5&cver=7.20201028
  response:
    body:
      string: csn=KfT1YOHUNYjIyQWunqeoCg&root_ve_type=27240&vss_host=s.youtube.com&cr=PL&host_language=en&hl=en_US&gapi_hint_params=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.gapi.en.7yBiF1UUXzY.O%2Fd%3D1%2Frs%3DAHpOoo-pEDm0pqtBuZIK[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/s/player/7ba2b998/player_ias.vflset/en_US/base.js
  response:
    body:
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>301
        Moved</TITLE></HEAD><BODY>\n<H1>301 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://www.youtube.com/s/player/7ba2b998/player_ias.vflset/en_US/base.js\">here</A>.\r\n</BODY></HTML>\r\n"
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.youtube.com/s/player/7ba2b998/player_ias.vflset/en_US/base.js
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/s/player/7ba2b998/player_ias.vflset/en_US/base.js
  response:
    body:
      string: "var _yt_player={};(function(g){var window=this;/*\n\n Copyright The
        Closure Library Authors.\n SPDX-License-Identifier: Apache-2.0\n*/\n'use strict';var
        ba,da,aaa,ha,ia,ka,oa,pa,qa,sa,ta,ua,va,xa,baa,caa,ya,za,daa,Aa,Ca,Da,Ea,Fa,Ja,Ka,faa,gaa,Ta,Ua,Va,haa,Wa,iaa,$a,ab,bb,cb,jaa,kaa,eb,lb,laa,sb,tb,maa,yb,vb,[...]
