interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://consent.youtube.com/m?continue=https%3A%2F%2Fyoutube.com%2Fwatch%3Fv%3DTh_C95UMegc&gl=PL&m=0&pc=yt&uxe=23983172&hl=en&src=1
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://consent.youtube.com/m?continue=https%3A%2F%2Fyoutube.com%2Fwatch%3Fv%3DTh_C95UMegc&gl=PL&m=0&pc=yt&uxe=23983172&hl=en&src=1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://youtube.com/watch?v=Th_C95UMegc&ucbcb=1
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc&ucbcb=1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/watch?v=Th_C95UMegc&ucbcb=1
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=Th_C95UMegc&ucbcb=1
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" typography typography-spacing><head><meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\"/><script nonce=\"nBkfMpq3S4wXUq6xSWkmAw\">var ytcfg={d:function(){return
        window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20210617.01.00');</script><script
        nonce=\"nBkfMpq3S4wXUq6xSWkmAw\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var
        replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else
        if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else
        if(message.indexOf(\"redefine non-configurable\")>=0&&message.indexOf(\"userAgent\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/err[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US&html5=1&c=TVHTML5&cver=7.20201028
  response:
    body:
      string: csn=7pLQYISAG5WD0u8PraiYEA&root_ve_type=27240&vss_host=s.youtube.com&cr=PL&host_language=en&hl=en_US&gapi_hint_params=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.gapi.en.vQiXRrxCe40.O%2Fd%3D1%2Frs%3DAHpOoo-wBrxoiAJAWI5r[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://r2---sn-f5f7kn7e.googlevideo.com/videoplayback?expire=1624303438&ei=7pLQYISAG5WD0u8PraiYEA&ip=2a02%3Aa319%3Ae041%3A1900%3A4074%3A6ab1%3Acce%3A7e2d&id=o-AE0YY1MJpWMrMZeqAyjm6RTn1M8F9FiEM_ftBbICZ28G&itag=251&source=youtube&requiressl=yes&mh=J9&mm=31%2C26&mn=sn-f5f7kn7e%2Csn-c0q7lnse&ms=au%2Conr&mv=m&mvi=2&pl=47&initcwndbps=1962500&vprv=1&mime=audio%2Fwebm&ns=8T0t5T3pOxZ7YBu7Afke4u8F&gir=yes&clen=184641&dur=11.041&lmt=1579505858842702&mt=1624280957&fvip=2&keepalive=yes&fexp=24001373%2C24007246&c=TVHTML5&txp=1301222&n=bI97bjvI5w_FfeaG4&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhAIBPdYNN9nzOpXAmDwlfpNlHv335KLzLZyIJNkAwCVTAAiEAr7UKFrKtzUIN0f7aN9V1MVCuCAto5YIC2WRXkUVGfnk%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgKjalGsOITFQLVofjauG6swzfVjCUS0pnbjlP7OLZ3oECIBksUQCLe9mXtIrg4xNYeCCFMY00kWZ6w7OY0gAjbkmw
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - audio/webm
      Last-Modified:
      - Mon, 20 Jan 2020 07:37:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-9437183
    method: GET
    uri: https://r2---sn-f5f7kn7e.googlevideo.com/videoplayback?expire=1624303438&ei=7pLQYISAG5WD0u8PraiYEA&ip=2a02%3Aa319%3Ae041%3A1900%3A4074%3A6ab1%3Acce%3A7e2d&id=o-AE0YY1MJpWMrMZeqAyjm6RTn1M8F9FiEM_ftBbICZ28G&itag=251&source=youtube&requiressl=yes&mh=J9&mm=31%2C26&mn=sn-f5f7kn7e%2Csn-c0q7lnse&ms=au%2Conr&mv=m&mvi=2&pl=47&initcwndbps=1962500&vprv=1&mime=audio%2Fwebm&ns=8T0t5T3pOxZ7YBu7Afke4u8F&gir=yes&clen=184641&dur=11.041&lmt=1579505858842702&mt=162[...]
