interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/binary
      Location:
      - https://www.youtube.com/watch?v=Th_C95UMegc
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=Th_C95UMegc
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\"><head><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/><script
        nonce=\"jYHuVMxllXWzwGxKJGxkyA\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20210114.08.00');</script><script
        nonce=\"jYHuVMxllXWzwGxKJGxkyA\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\";var replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=true;else
        if(stack.indexOf(\"trapProp\")>=\n0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");if(thirdPartyScript)baseUrl=baseUrl.replace(\"level=ERROR\",\"level=WARNING\");var
        parts=[baseUrl];for(var key in values){var v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/get_video_info?video_id=Th_C95UMegc&ps=default&eurl=https%253A%2F%2Fyoutube.com%2Fwatch%253Fv%253DTh_C95UMegc&hl=en_US
  response:
    body:
      string: csn=q9QBYIiSHMTvyAXM6KTQDQ&fflags=html5_defer_slicing%3Dtrue%26log_window_onerror_fraction%3D0.1%26web_wn_macro_markers%3Dtrue%26html5_gapless_max_played_ranges%3D12%26html5_stop_video_in_cancel_playback%3Dtrue%26html5_jumbo_ull_subsegment_readahead_target%[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://r7---sn-x2pm-3ufk.googlevideo.com/videoplayback?expire=1610754315&ei=q9QBYIiSHMTvyAXM6KTQDQ&ip=94.246.144.13&id=o-APVOxKnuIzKoroLIFvnwG3hl-cA7U4S9jw8G10w32m0D&itag=251&source=youtube&requiressl=yes&mh=J9&mm=31%2C29&mn=sn-x2pm-3ufk%2Csn-f5f7kn7e&ms=au%2Crdu&mv=m&mvi=7&pl=20&initcwndbps=1380000&vprv=1&mime=audio%2Fwebm&ns=o_be8kVXHNKM206GJXnrNRYF&gir=yes&clen=184641&dur=11.041&lmt=1579505858842702&mt=1610732444&fvip=2&keepalive=yes&beids=9466585&c=WEB&txp=1301222&n=dfVGOLL04QC6Xs&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhAJUcmU3XXr9J6EokpGQTetxQkz04VdqUbZehEryHOJPEAiEAwnbuZgXROIGpjt1ox6SpUNz2jWYnJZlNK9sHmv92rgg%3D&lsparams=mh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Cinitcwndbps&lsig=AG3C_xAwRAIgOKojKnTj8oJPUh3Me-3DYOr_DkAMU-CPxONdUr7EE8kCIHUcHrVNzV92UVCCPwaa2C9QWS8fJUjBGS8hYivPwJup
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - audio/webm
      Last-Modified:
      - Mon, 20 Jan 2020 07:37:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-9437183
    method: GET
    uri: https://r7---sn-x2pm-3ufk.googlevideo.com/videoplayback?expire=1610754315&ei=q9QBYIiSHMTvyAXM6KTQDQ&ip=94.246.144.13&id=o-APVOxKnuIzKoroLIFvnwG3hl-cA7U4S9jw8G10w32m0D&itag=251&source=youtube&requiressl=yes&mh=J9&mm=31%2C29&mn=sn-x2pm-3ufk%2Csn-f5f7kn7e&ms=au%2Crdu&mv=m&mvi=7&pl=20&initcwndbps=1380000&vprv=1&mime=audio%2Fwebm&ns=o_be8kVXHNKM206GJXnrNRYF&gir=yes&clen=184641&dur=11.041&lmt=1579505858842702&mt=1610732444&fvip=2&keepalive=yes&beids=94[...]
[...]
