interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.azlyrics.com/
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  <head>\r\n    <meta charset=\"utf-8\">\r\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n    <meta
        name=\"robots\" content=\"noarchive\">\r\n    <meta name=\"name\" content=\"AZLyrics\">\r\n
        \   <meta name=\"keywords\" content=\"lyrics,music,song lyrics,songs,paroles\">
        \ \r\n\r\n    <base href=\"//www.azlyrics.com\" /> \r\n    <script type=\"text/javascript\"
        src=\"//www.azlyrics.com/external.js\"></script>\r\n\r\n    <title>AZLyrics
        - Song Lyrics from A to Z</title>\r\n\r\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\r\n
        \   <link rel=\"stylesheet\" href=\"/local/az.css\">\r\n\r\n    <!-- HTML5
        shim and Respond.js for IE8 support of HTML5 elements and media queries -->\r\n
        \   <!--[if lt IE 9]>\r\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\r\n
        \     <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\r\n
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.azlyrics.com/geo.js
  response:
    body:
      string: "var az_country_code;\naz_country_code = \"PL\";\n\n(function() {\n
        \   var ep = document.createElement(\"input\");\n    ep.setAttribute(\"type\",
        \"hidden\");\n    ep.setAttribute(\"name\", \"x\");\n    ep.setAttribute(\"value\",
        \"1fcaa82900b9efa3c235ccaba3b384aa0eef45a9167b06ac9b0500592cbc7f1a\");\n    var
        els = document.querySelectorAll('form.search');\n    for (var n = 0; n < els.length;
        n++) {\n        els[n].appendChild(ep.cloneNode());\n    }\n})();\n\n"
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://search.azlyrics.com/search.php?q=Marshmello+-+Shockwave&x=1fcaa82900b9efa3c235ccaba3b384aa0eef45a9167b06ac9b0500592cbc7f1a
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n    <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\r\n    <meta
        n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.azlyrics.com/lyrics/marshmello/shockwave.html
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n<meta charset=\"utf-8\">\r\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\r\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\r\n<meta name=\"description\"
        content=\"Marshmello &quot;Shockwave&quot;: Always think about you Always
[...]
