interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/search?q=Linked+-+Jim+Yosef
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"hits\":[{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"annotation_count\":1,\"api_path\":\"/songs/3374613\",\"artist_names\":\"Jim
        Yosef & Anna Yvette\",\"full_title\":\"Linked by\_Jim\_Yosef & Anna Yvette\",\"header_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"header_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"id\":3374613,\"lyrics_owner_id\":4393137,\"lyrics_state\":\"complete\",\"path\":\"/Jim-yosef-and-anna-yvette-linked-lyrics\",\"pyongs_count\":2,\"relationships_index_url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-sample\",\"release_date_components\":{\"year\":2017,\"month\":12,\"day\":16},\"release_date_for_display\":\"December
        16, 2017\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 16,
        2017\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"song_art_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"stats\":{\"unreviewed_annotations\":1,\"hot\":false,\"pageviews\":30543},\"title\":\"Linked\",\"title_with_featured\":\"Linked\",\"url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics\",\"featured_artists\":[],\"primary_artist\":{\"api_path\":\"/artists/1177365\",\"header_image_url\":\"https://assets.genius.com/images/default_avatar_300.png?1708619956\",\"id\":1177365,\"image_url\":\"https://assets.genius.com/images/default_avatar_300.png?1708619956\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Jim
        Yosef & Anna Yvette\",\"url\":\"https://genius.com/artists/Jim-yosef-and-anna-yvette\"}}},{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"annotation_count\":1,\"api_path\":\"/songs/8399766\",\"artist_names\":\"Jim
        Yosef & Shiah Maisel\",\"full_title\":\"Unforgivable by\_Jim\_Yosef & Shiah
        Maisel\",\"header_image_thumbnail_url\":\"https://images.genius.com/7b7913b87274e49a78b33c9e7f87c455.300x300x1.jpg\",\"header_image_url\":\"https://images.gen[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/songs/3374613
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"song\":{\"annotation_count\":1,\"api_path\":\"/songs/3374613\",\"apple_music_id\":\"1318607994\",\"apple_music_player_url\":\"https://genius.com/songs/3374613/apple_music_player\",\"artist_names\":\"Jim
        Yosef & Anna Yvette\",\"description\":{\"dom\":{\"tag\":\"root\",\"children\":[{\"tag\":\"p\",\"children\":[\"the
        \u2018Linked\u2019 is vocal re-make of Jim Yosef\u2019s song \u2018Link\u2019
        with Anna Yvette.\",{\"tag\":\"br\"},\"We are linked together, together.\"]}]}},\"embed_content\":\"<div
        id='rg_embed_link_3374613' class='rg_embed_link' data-song-id='3374613'>Read
        <a href='https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics'>\u201CLinked\u201D
        by Jim\_Yosef & Anna Yvette</a> on Genius</div> <script crossorigin src='//genius.com/songs/3374613/embed.js'></script>\",\"featured_video\":false,\"full_title\":\"Linked
        by\_Jim\_Yosef & Anna Yvette\",\"header_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"header_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"id\":3374613,\"language\":\"en\",\"lyrics_owner_id\":4393137,\"lyrics_placeholder_reason\":null,\"lyrics_state\":\"complete\",\"path\":\"/Jim-yosef-and-anna-yvette-linked-lyrics\",\"pyongs_count\":2,\"recording_location\":null,\"relationships_index_url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-sample\",\"release_date\":\"2017-12-16\",\"release_date_for_display\":\"December
        16, 2017\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 16,
        2017\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"song_art_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"stats\":{\"accepted_annotations\":0,\"contributors\":13,\"iq_earners\":13,\"transcribers\":3,\"unreviewed_annotations\":1,\"verified_annotations\":0,\"hot\":false,\"pageviews\":30543},\"title\":\"Linked\",\"title_with_featured\":\"Linked\",\"url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics\",\"current_user_metadata\":{\"permissions\":[\"follow\",\"see_pageviews\",\"pyong\",\"add_community_annotation_to\",\"view_apple_music_player\",\"create_comment\",\"create_annotation\",\"view_song_story_gallery\",\"propose_lyrics_edit\",\"create_question\"],\"excluded_permissions\":[\"award_transcription_iq\",\"remove_transcription_iq\",\"edit_lyrics\",\"view_annotation_engagement_data\",\"publish\",\"unpublish\",\"edit_spotify_details\",\"hide\",\"unhide\",\"toggle_featured_video\",\"add_pinned_annotation_to\",\"destroy\",\"mark_as_not_spam\",\"edit_spotify_annotations_for\",\"verify_lyrics\",\"unverify_lyrics\",\"edit_anything\",\"edit_any_media\",\"edit\",\"rename\",\"edit_tags\",\"reindex\",\"view_lyrics_synchronization\",\"enable_media\",\"disable_media\",\"edit_lyrics_or_annotation_brackets\",\"see_editorial_indicators\",\"view_attribution_visualization\",\"edit_annotation_brackets\",\"preview_lyrics_for_export\",\"hide_apple_player\",\"unhide_apple_player\",\"trigger_apple_match\",\"mark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_staff_approved\",\"unmark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_un_staff_approved\",\"view_transcriber_media_player\",\"override_apple_match\",\"set_song_color_gradient\",\"mark_as_hot\",\"unmark_as_hot\",\"view_recommendations\",\"view_relationships_page\",\"use_mark_complete_button\",\"edit_youtube_url\",\"edit_soundcloud_url\",\"edit_spotify_uuid\",\"edit_vevo_url\",\"moderate_annotations\",\"see_short_id\",\"manage_chart_item\",\"create_tag\",\"view_lyrics_edit_proposals_on_song\",\"answer_question_with_source\",\"moderate_question\",\"view_stubhub_category\"],\"interactions\":{\"pyong\":false,\"following\":false},\"relationships\":{\"pinned_role\":null},\"iq_by_action\":{\"edit_metadata\":{\"primary\":{\"multiplier\":1,\"base\":2.0,\"applicable\":true}},\"answer_question\":{\"primary\":{\"multiplier\":1,\"base\":5.0,\"applicable\":true}}}},\"album\":{\"api_path\":\"/albums/390269\",\"cover_art_url\":\"https://images.genius.com/946ea7b806040733b3649013fc376529.1000x1000x1.png\",\"full_title\":\"NCS:
        The Best of 2017 by NoCopyrightSounds\",\"id\":390269,\"name\":\"NCS: The
        Best of 2017\",\"release_date_for_display\":\"December 15, 2017\",\"url\":\"https://genius.com/albums/Nocopyrightsounds/Ncs-the-best-of-2017\",\"artist\":{\"api_path\":\"/artists/623098\",\"header_image_url\":\"https://images.genius.com/25176f0534e2b582059d5930b6dc9465.1000x166x1.jpg\",\"id\":623098,\"image_url\":\"https://images.genius.com/51f69e8a2afd3693547cfab47ee9b081.1000x1000x1.png\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"NoCopyrightSounds\",\"url\":\"https://genius.com/artists/Nocopyrightsounds\",\"iq\":100}},\"custom_performances\":[{\"label\":\"Artists
        Involved\",\"artists\":[{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},{\"api_path\":\"/artists/25961\",\"header_image_url\":\"https://images.genius.com/7eadaf343c047fddb62b2a45165cade0.1000x[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics
  response:
    body:
      string: "<!doctype html>\n<html>\n  <head>\n    <title>Jim\_Yosef & Anna Yvette
        \u2013 Linked Lyrics | Genius Lyrics</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta content='width=device-width,initial-scale=1'
        name='viewport'>\n\n  <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n\n<link
        href=\"https://assets.genius.com/images/apple-touch-icon.png?1708619956\"
        rel=\"apple-touch-icon\" />\n\n\n  \n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1708619956\"
        rel=\"apple-touch-icon\" />\n\n  \n\n  <!-- Mobile IE allows us to activate
        ClearType technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<link title=\"Genius\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n<script>\n!function(){if('PerformanceLongTaskTiming'
        in window){var g=window.__tti={e:[]};\ng.o=new Perfor[...]
