interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/search?q=test&limit=10&offset=0&type=track
  response:
    body:
      string: "{\n  \"tracks\" : {\n    \"href\" : \"https://api.spotify.com/v1/search?query=test&type=track&offset=0&limit=10\",\n
        \   \"items\" : [ {\n      \"album\" : {\n        \"album_type\" : \"album\",\n
        \       \"artists\" : [ {\n          \"external_urls\" : {\n            \"spotify\"
        : \"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP\"\n          },\n
        \         \"href\" : \"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP\",\n
        \         \"id\" : \"3EAHF3jdnHHdko5DBrhRUP\",\n          \"name\" : \"John
        Powell\",\n          \"type\" : \"artist\",\n          \"uri\" : \"spotify:artist:3EAHF3jdnHHdko5DBrhRUP\"\n
        \       } ],\n        \"available_markets\" : [ \"AR\", \"AU\", \"AT\", \"BE\",
        \"BO\", \"BR\", \"BG\", \"CA\", \"CL\", \"CO\", \"CR\", \"CY\", \"CZ\", \"DK\",
        \"DO\", \"DE\", \"EC\", \"EE\", \"SV\", \"FI\", \"FR\", \"GR\", \"GT\", \"HN\",
        \"HK\", \"HU\", \"IS\", \"IE\", \"IT\", \"LV\", \"LT\", \"LU\", \"MY\", \"MT\",
        \"MX\", \"NL\", \"NZ\", \"NI\", \"NO\", \"PA\", \"PY\", \"PE\", \"PH\", \"PL\",
        \"PT\", \"SG\", \"SK\", \"ES\", \"SE\", \"CH\", \"TW\", \"TR\", \"UY\", \"US\",
        \"GB\", \"AD\", \[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2QTDuJIGKUjR7E2Q6KupIh
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3EAHF3jdnHHdko5DBrhRUP"},"followers":{"href":null,"total":245024},"genres":["british
        soundtrack","orchestral soundtrack","soundtrack"],"href":"https://api.spotify.com/v1/artists/3EAHF3jdnHHdko5DBrhRUP","id":"3EAHF3jdnHHdko5DBrhRUP","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb7407d140005a90a2fcb34c43","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051747407d140005a90a2fcb34c43","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1787407d140005a90a2fcb34c43","height":160,"width":160}],"name":"John
        Powell","popularity":63,"type":"artist","uri":"spotify:artist:3EAHF3jdnHHdko5DBrhRUP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjI5YTVkZWFhNWNmODJkZTQwMGNhNmE0YTQ1YTBjMTA3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1kTnC045mQqurTQvGMGpmU
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":25,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7lmeHLHBe4nmXzuXc0HDjk
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJKORj"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2d0hyoQ5ynDBnkvAbJKORj"},"followers":{"href":null,"total":6104513},"genres":["alternative
        metal","alternative rock","conscious hip hop","funk metal","hard rock","nu
        metal","political hip hop","post-grunge","rap metal","rap rock","rock"],"href":"https://api.spotify.com/v1/artists/2d0hyoQ5ynDBnkvAbJKORj","id":"2d0hyoQ5ynDBnkvAbJKORj","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebda4bd2b213cae330e2a4a901","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174da4bd2b213cae330e2a4a901","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178da4bd2b213cae330e2a4a901","height":160,"width":160}],"name":"Rage
        Against The Machine","popularity":71,"type":"artist","uri":"spotify:artist:2d0hyoQ5ynDBnkvAbJKORj"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjE4NWJlNzg3N2VmODVlODVlOGQyZDNhMGVhNWYxMDJkIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/2eia0myWFgoHuttJytCxgX
  response:
    body:
      string: '{"album_type":"album","total_tracks":12,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3FijoNKGof7pCn7oddecOQ
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99eKkdY"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4lCsf6uYTVnWSKm99eKkdY"},"followers":{"href":null,"total":44474},"genres":["ambient
        idm"],"href":"https://api.spotify.com/v1/artists/4lCsf6uYTVnWSKm99eKkdY","id":"4lCsf6uYTVnWSKm99eKkdY","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eba873e66600c0ed251d3643ab","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174a873e66600c0ed251d3643ab","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178a873e66600c0ed251d3643ab","height":160,"width":160}],"name":"Seekae","popularity":48,"type":"artist","uri":"spotify:artist:4lCsf6uYTVnWSKm99eKkdY"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImJkNzkyNWU0ZDg4ZGZlMmIwYmJiY2UyMmRjYWMyMzdkIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4RxAye8brXQJHgw1wF1l8j
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":4,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3u9RHP8IpKPZh7bKHw83Ci
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3MZsBdqDrRTJihTHQrO6Dq"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3MZsBdqDrRTJihTHQrO6Dq"},"followers":{"href":null,"total":9705026},"genres":["viral
        pop"],"href":"https://api.spotify.com/v1/artists/3MZsBdqDrRTJihTHQrO6Dq","id":"3MZsBdqDrRTJihTHQrO6Dq","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb4111c95b5f430c3265c7304b","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051744111c95b5f430c3265c7304b","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1784111c95b5f430c3265c7304b","height":160,"width":160}],"name":"Joji","popularity":78,"type":"artist","uri":"spotify:artist:3MZsBdqDrRTJihTHQrO6Dq"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjBmMGRlN2QyOWMzZWJhYjJlMzY5OGZhOTMxY2M5YzQwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/5mIImcsuqpiSXg8XvFr81I
  response:
    body:
      string: '{"album_type":"album","total_tracks":12,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/45x3yuEpjmiqL4SFdT4srk
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/63yrD80RY3RNEM2YDpUpO8"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/63yrD80RY3RNEM2YDpUpO8
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/63yrD80RY3RNEM2YDpUpO8"},"followers":{"href":null,"total":21088814},"genres":["alt
        z","electropop","pop"],"href":"https://api.spotify.com/v1/artists/63yrD80RY3RNEM2YDpUpO8","id":"63yrD80RY3RNEM2YDpUpO8","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb77ecd63aaebe2225b07c89f0","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517477ecd63aaebe2225b07c89f0","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17877ecd63aaebe2225b07c89f0","height":160,"width":160}],"name":"Melanie
        Martinez","popularity":80,"type":"artist","uri":"spotify:artist:63yrD80RY3RNEM2YDpUpO8"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjQ3MDMwMzIxMDcxZGI5MTNmOWIyMDc2NDVmYzMyY2JhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/75sm9IEmN01J5MsyZr4Cw1
  response:
    body:
      string: "{\"album_type\":\"single\",\"total_tracks\":7,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/7ycWLEP1GsNjVvcjawXz3z
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL1Kca"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/13ubrt8QOOCPljQ2FL1Kca"},"followers":{"href":null,"total":14728802},"genres":["east
        coast hip hop","hip hop","rap"],"href":"https://api.spotify.com/v1/artists/13ubrt8QOOCPljQ2FL1Kca","id":"13ubrt8QOOCPljQ2FL1Kca","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb5c58c41a506a0d6b32cc6cad","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051745c58c41a506a0d6b32cc6cad","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1785c58c41a506a0d6b32cc6cad","height":160,"width":160}],"name":"A$AP
        Rocky","popularity":84,"type":"artist","uri":"spotify:artist:13ubrt8QOOCPljQ2FL1Kca"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImJiOGVkNDA3M2M3NzFkYzQ4M2U5MTk1OGQ4NGRhMDcyIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3MATDdrpHmQCmuOcozZjDa
  response:
    body:
      string: '{"album_type":"album","total_tracks":15,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5OpjJ9qy54D3PzQJ1s4Q9X
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/610EjgFatGvVPtib97jQ8G"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/610EjgFatGvVPtib97jQ8G
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/610EjgFatGvVPtib97jQ8G"},"followers":{"href":null,"total":837166},"genres":["ccm","christian
        alternative rock","christian indie","christian music","folk-pop"],"href":"https://api.spotify.com/v1/artists/610EjgFatGvVPtib97jQ8G","id":"610EjgFatGvVPtib97jQ8G","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb8cb146d311685b6a1704d6ea","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051748cb146d311685b6a1704d6ea","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1788cb146d311685b6a1704d6ea","height":160,"width":160}],"name":"NEEDTOBREATHE","popularity":64,"type":"artist","uri":"spotify:artist:610EjgFatGvVPtib97jQ8G"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjUzMzczNWNlODdkYWVhOGQ3N2MwZGZmMzQwMTk3ZDQ5Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0DjJIQPOsxd5OiUoVskRBH
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":12,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4Lk9PYDhAucTZMyccvt66Z
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/3wcj11K77LjEY1PkEazffa"},"followers":{"href":null,"total":9796541},"genres":["afrobeats","dancehall","nigerian
        hip hop","nigerian pop"],"href":"https://api.spotify.com/v1/artists/3wcj11K77LjEY1PkEazffa","id":"3wcj11K77LjEY1PkEazffa","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb2d405f4858ce3cd52d409c98","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051742d405f4858ce3cd52d409c98","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1782d405f4858ce3cd52d409c98","height":160,"width":160}],"name":"Burna
        Boy","popularity":79,"type":"artist","uri":"spotify:artist:3wcj11K77LjEY1PkEazffa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjUxYTA0ZmRmZmQ0ZjRmMGEwN2VlMzljOTViMzFjNmJhIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/1JzjwUKkPsdHg1SQ7qa5hc
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":15,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5NkqrvGruViYTAVyYrZIW9
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0HRGx78eQaMqoHoopLfi2h"},"href":"https://[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0HRGx78eQaMqoHoopLfi2h
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0HRGx78eQaMqoHoopLfi2h"},"followers":{"href":null,"total":26346},"genres":["atl
        drill"],"href":"https://api.spotify.com/v1/artists/0HRGx78eQaMqoHoopLfi2h","id":"0HRGx78eQaMqoHoopLfi2h","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb2a8a06173613c4333d882288","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051742a8a06173613c4333d882288","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1782a8a06173613c4333d882288","height":160,"width":160}],"name":"Chuckyy","popularity":53,"type":"artist","uri":"spotify:artist:0HRGx78eQaMqoHoopLfi2h"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImY5ZjM1NjhkYzBiNWNhNGExZDExNTkxNjU5YjQ3NGI3Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/3gD4T2wsMOTvW4AMXKvsGe
  response:
    body:
      string: '{"album_type":"single","total_tracks":2,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC"[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/3eZYOQO4UzKrUDYDghtnFw
  response:
    body:
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR"},"href":"https://a[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/66CXWjxzNUsdJxJ2JdwvnR
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR"},"followers":{"href":null,"total":98852187},"genres":["pop"],"href":"https://api.spotify.com/v1/artists/66CXWjxzNUsdJxJ2JdwvnR","id":"66CXWjxzNUsdJxJ2JdwvnR","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb40b5c07ab77b6b1a9075fdc0","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517440b5c07ab77b6b1a9075fdc0","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17840b5c07ab77b6b1a9075fdc0","height":160,"width":160}],"name":"Ariana
        Grande","popularity":91,"type":"artist","uri":"spotify:artist:66CXWjxzNUsdJxJ2JdwvnR"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImYyZmQyOTM5MmUyNTIwYWYwNDJiNjMzNmE0MjEzZDY0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/74vajFwEwXJ61OW1DKSPEa
  response:
    body:
      string: "{\"album_type\":\"album\",\"total_tracks\":19,\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\"[...]
