interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4B2kkxg3wKSTZw5JPaUtzQ
  response:
    body:
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM"},"href":"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM","id":"2sf28o6euxEDpYkG9dMtuM","name":"Cartoon","type":"artist","uri":"spotify:artist:2sf28o6euxEDpYkG9dMtuM"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0cA0C4yBNRaN2EZsE2wT3Y"},"href":"https://api.spotify.com/v1/artists/0cA0C4yBNRaN2EZsE2wT3Y","id":"0cA0C4yBNRaN2EZsE2wT3Y","name":"Daniel
        Levi","type":"artist","uri":"spotify:artist:0cA0C4yBNRaN2EZsE2wT3Y"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/0Lt1PzvVZoslDNI2Jsq6pW"},"href":"https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW","id":"0Lt1PzvVZoslDNI2Jsq6pW","images":[{"url":"https://i.scdn.co/image/ab67616d0000b2732773b7d6ca91258a83d06783","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e022773b7d6ca91258a83d06783","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d000048512773b7d6ca91258a83d06783","width":64,"height":64}],"name":"On
        & On","release_date":"2015-07-09","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:0Lt1PzvVZoslDNI2Jsq6pW"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM"},"href":"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM","id":"2sf28o6euxEDpYkG9dMtuM","name":"Cartoon","type":"artist","uri":"spotify:artist:2sf28o6euxEDpYkG9dMtuM"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0cA0C4yBNRaN2EZsE2wT3Y"},"href":"https://api.spotify.com/v1/artists/0cA0C4yBNRaN2EZsE2wT3Y","id":"0cA0C4yBNRaN2EZsE2wT3Y","name":"Daniel
        Levi","type":"artist","uri":"spotify:artist:0cA0C4yBNRaN2EZsE2wT3Y"}],"available_markets":[],"disc_number":1,"duration_ms":207068,"explicit":false,"external_ids":{"isrc":"GB2LD0902016"},"external_urls":{"spotify":"https://open.spotify.com/track/4B2kkxg3wKSTZw5JPaUtzQ"},"href":"https://api.spotify.com/v1/tracks/4B2kkxg3wKSTZw5JPaUtzQ","id":"4B2kkxg3wKSTZw5JPaUtzQ","is_local":false,"name":"On
        & On","popularity":1,"preview_url":"https://p.scdn.co/mp3-preview/fc584b7483404ba6a748b02850a0d6e93232f56b?cid=ad996353310b4ced82f5be1309b11b14","track_number":1,"type":"track","uri":"spotify:track:4B2kkxg3wKSTZw5JPaUtzQ"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImQ5YjYyZWQxN2M4NjE1NzA4MjdiY2MzMzZkZmRmZTM0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2sf28o6euxEDpYkG9dMtuM"},"followers":{"href":null,"total":228315},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/2sf28o6euxEDpYkG9dMtuM","id":"2sf28o6euxEDpYkG9dMtuM","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebedae9400f938bd85f5c08cb7","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174edae9400f938bd85f5c08cb7","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178edae9400f938bd85f5c08cb7","height":160,"width":160}],"name":"Cartoon","popularity":61,"type":"artist","uri":"spotify:artist:2sf28o6euxEDpYkG9dMtuM"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImRiNWUyZDM0YTdlOWRlNzhlYTc3Mzc1NDRiZWYwYzdkIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/0Lt1PzvVZoslDNI2Jsq6pW
  response:
    body:
      string: '{"album_type":"single","total_tracks":1,"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/0Lt1PzvVZoslDNI2Jsq6pW"[...]
