interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\"href\":\"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT/tracks?offset=0&limit=50\",\"items\":[{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/40HDiLfKm0tXk2FxlJx6aO\"},\"href\":\"https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO\",\"id\":\"40HDiLfKm0tXk2FxlJx6aO\",\"name\":\"Jim
        Yosef\",\"type\":\"artist\",\"uri\":\"spotify:artist:40HDiLfKm0tXk2FxlJx6aO\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/2Ndq6RparrhEoceel7LC4Z\"},\"href\":\"https://api.spotify.com/v1/artists/2Ndq6RparrhEoceel7LC4Z\",\"id\":\"2Ndq6RparrhEoceel7LC4Z\",\"name\":\"Anna
        Yvette\",\"type\":\"artist\",\"uri\":\"spotify:artist:2Ndq6RparrhEoceel7LC4Z\"}],\"disc_number\":1,\"duration_ms\":223218,\"explicit\":false,\"external_urls\":{\"spotify\":\"https://open.spotify.com/track/2Ikdgh3J5vCRmnCL3Xcrtv\"},\"href\":\"https://api.spotify.com/v1/tracks/2Ikdgh3J5vCRmnCL3Xcrtv\",\"id\":\"2Ikdgh3J5vCRmnCL3Xcrtv\",\"is_local\":false,\"is_playable\":true,\"name\":\"Linked\",\"preview_url\":\"https://p.scdn.co/mp3-preview/8b7ebc1d9b1c2fd8f4c6f8df8e7a48689a9c12e5?cid=ad996353310b4ced82f5be1309b11b14\",\"track_number\":1,\"type\":\"track\",\"uri\":\"spotify:track:2Ikdgh3J5vCRmnCL3Xcrtv\"},{\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW\"},\"href\":\"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW\",\"id\":\"5qtSloRk8XxPdlDWkVDwWW\",\"name\":\"Halcyon\",\"type\":\"artist\",\"uri\":\"spotify:artist:5qtSloRk8XxPdlDWkVDwWW\"},{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/5v63dT2oEtPdBVdaG6M2ey\"},\"href\":\"https://api.spotify.com[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1T5dsbrRBL6K5QtAXgC6E0
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of","id":"0LyfQWJT6nXafLPZqxe9Of","name":"Various
        Artists","type":"artist","uri":"spotify:artist:0LyfQWJT6nXafLPZqxe9Of"}],"available_markets":[],"external_urls":{"spotify":"https://open.spotify.com/album/4MQnUDGXmHOvnsWCpzeqWT"},"href":"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT","id":"4MQnUDGXmHOvnsWCpzeqWT","images":[{"url":"https://i.scdn.co/image/ab67616d0000b27367cf92b139a3d7ea71a54118","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e0267cf92b139a3d7ea71a54118","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d0000485167cf92b139a3d7ea71a54118","width":64,"height":64}],"name":"NCS:
        The Best of 2017","release_date":"2017-12-15","release_date_precision":"day","total_tracks":16,"type":"album","uri":"spotify:album:4MQnUDGXmHOvnsWCpzeqWT"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW"},"href":"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW","id":"5qtSloRk8XxPdlDWkVDwWW","name":"Halcyon","type":"artist","uri":"spotify:artist:5qtSloRk8XxPdlDWkVDwWW"},{"external_urls":{"spotify":"https://open.spotify.com/artist/5v63dT2oEtPdBVdaG6M2ey"},"href":"https://api.spotify.com/v1/artists/5v63dT2oEtPdBVdaG6M2ey","id":"5v63dT2oEtPdBVdaG6M2ey","name":"Valentina
        Franco","type":"artist","uri":"spotify:artist:5v63dT2oEtPdBVdaG6M2ey"}],"available_markets":[],"disc_number":1,"duration_ms":208000,"explicit":false,"external_ids":{"isrc":"GB2LD1700378"},"external_urls":{"spotify":"https://open.spotify.com/track/1T5dsbrRBL6K5QtAXgC6E0"},"href":"https://api.spotify.com/v1/tracks/1T5dsbrRBL6K5QtAXgC6E0","id":"1T5dsbrRBL6K5QtAXgC6E0","is_local":false,"name":"Runaway
        - Culture Code Remix","popularity":0,"preview_url":"https://p.scdn.co/mp3-preview/4208f435c759caca045d5817e05639812c7cfe96?cid=ad996353310b4ced82f5be1309b11b14","track_number":2,"type":"track","uri":"spotify:track:1T5dsbrRBL6K5QtAXgC6E0"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjQ0YTc3NDcxNjdhMmIzZDBiN2FlYTU4Mjk4ZGI4MDRmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW"},"followers":{"href":null,"total":7662},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW","id":"5qtSloRk8XxPdlDWkVDwWW","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb046e0028c3fc7a887c9087cc","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174046e0028c3fc7a887c9087cc","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178046e0028c3fc7a887c9087cc","height":160,"width":160}],"name":"Halcyon","popularity":34,"type":"artist","uri":"spotify:artist:5qtSloRk8XxPdlDWkVDwWW"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjZiM2U1NTU0ZDM4ZWNhMzZmMDhhMTg0NmM3ZWQzOGMwIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/55nZRG7TMAtFbsPzVTQ3iJ
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/23ostNBoB9z6GMXLtHdg7y
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/23ostNBoB9z6GMXLtHdg7y"},"followers":{"href":null,"total":176551},"genres":["bass
        trap"],"href":"https://api.spotify.com/v1/artists/23ostNBoB9z6GMXLtHdg7y","id":"23ostNBoB9z6GMXLtHdg7y","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb9cf293569bdfe2b846eb70c8","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051749cf293569bdfe2b846eb70c8","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1789cf293569bdfe2b846eb70c8","height":160,"width":160}],"name":"Prismo","popularity":49,"type":"artist","uri":"spotify:artist:23ostNBoB9z6GMXLtHdg7y"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImYwZjg5ZjYyMjgxNGY0NTRjYzdmYWEyMjg0ODY4NTI4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/16uxYaIhavk2ZcvNqfWowP
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6yPYDR9yFTpcGrusQU7rRx
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6yPYDR9yFTpcGrusQU7rRx"},"followers":{"href":null,"total":5825},"genres":[],"href":"https://api.spotify.com/v1/artists/6yPYDR9yFTpcGrusQU7rRx","id":"6yPYDR9yFTpcGrusQU7rRx","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb529e6c7da616382991c72e32","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174529e6c7da616382991c72e32","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178529e6c7da616382991c72e32","height":160,"width":160}],"name":"Jordan
        Schor","popularity":29,"type":"artist","uri":"spotify:artist:6yPYDR9yFTpcGrusQU7rRx"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjBhYzQxYjc0ZTYzMGRiNzgzNzU3M2VkNjY4Y2E2ZDFjIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5sOxqYCpkHwnFF6sOJg1o6
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1AT64PJc0geIUwVRqYqkTu
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1AT64PJc0geIUwVRqYqkTu"},"followers":{"href":null,"total":16890},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/1AT64PJc0geIUwVRqYqkTu","id":"1AT64PJc0geIUwVRqYqkTu","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb533fd9df5e54034a25ad8689","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174533fd9df5e54034a25ad8689","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178533fd9df5e54034a25ad8689","height":160,"width":160}],"name":"Axol","popularity":39,"type":"artist","uri":"spotify:artist:1AT64PJc0geIUwVRqYqkTu"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImE4MjVhMzg5YjM3NGE2NzFiYzZjMDZjMGNiZGE0MzU4Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2bNysgov8THEQCxIHnq1x7
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0okpgBQamDqOZazBeH0J3I
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/0okpgBQamDqOZazBeH0J3I"},"followers":{"href":null,"total":335548},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/0okpgBQamDqOZazBeH0J3I","id":"0okpgBQamDqOZazBeH0J3I","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb6a1fbe842b26c53d8ada53da","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051746a1fbe842b26c53d8ada53da","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1786a1fbe842b26c53d8ada53da","height":160,"width":160}],"name":"Unknown
        Brain","popularity":57,"type":"artist","uri":"spotify:artist:0okpgBQamDqOZazBeH0J3I"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImIyNjgzM2YxM2Q2NjcyNGIxYWEyMmY3ZDk1MzZkNDkxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2k0llDQbEqSkiDpj7vyTnw
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5MI0dQrxPC7MEWdiCUmtMP
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/5MI0dQrxPC7MEWdiCUmtMP"},"followers":{"href":null,"total":3585},"genres":[],"href":"https://api.spotify.com/v1/artists/5MI0dQrxPC7MEWdiCUmtMP","id":"5MI0dQrxPC7MEWdiCUmtMP","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273a3723c8ad89ac00d363ddf26","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616d00001e02a3723c8ad89ac00d363ddf26","height":300,"width":300},{"url":"https://i.scdn.co/image/ab67616d00004851a3723c8ad89ac00d363ddf26","height":64,"width":64}],"name":"Oneeva","popularity":19,"type":"artist","uri":"spotify:artist:5MI0dQrxPC7MEWdiCUmtMP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjQ3OGIxYWRhMGNjZDM2N2M5M2MxMGVjMzRmOWFkMjMxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/649AbXFbU0UDYe2bhs9jSe
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/157L8iTHgbdrKVxdQEXluh
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/157L8iTHgbdrKVxdQEXluh"},"followers":{"href":null,"total":316061},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/157L8iTHgbdrKVxdQEXluh","id":"157L8iTHgbdrKVxdQEXluh","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb1fec62466f73cdc3eb9a9262","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051741fec62466f73cdc3eb9a9262","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1781fec62466f73cdc3eb9a9262","height":160,"width":160}],"name":"Lost
        Sky","popularity":59,"type":"artist","uri":"spotify:artist:157L8iTHgbdrKVxdQEXluh"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijc5NTdlMjhjZTNhY2ZmYWQyMzk1MGQ2ZTc3NGFjYjlmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5vfIQRFlU3nEtA4i8xReqz
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6lO3fSdhsdpeOcrbqAJsRU
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6lO3fSdhsdpeOcrbqAJsRU"},"followers":{"href":null,"total":209578},"genres":["bass
        trap","gaming edm"],"href":"https://api.spotify.com/v1/artists/6lO3fSdhsdpeOcrbqAJsRU","id":"6lO3fSdhsdpeOcrbqAJsRU","images":[{"url":"https://i.scdn.co/image/ab6761610000e5ebafc5a6bda1a26e1a17ca70d2","height":640,"width":640},{"url":"https://i.scdn.co/image/ab67616100005174afc5a6bda1a26e1a17ca70d2","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f178afc5a6bda1a26e1a17ca70d2","height":160,"width":160}],"name":"Aero
        Chord","popularity":47,"type":"artist","uri":"spotify:artist:6lO3fSdhsdpeOcrbqAJsRU"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjZiMzZhMWNkNjA3ZDg2NDgxYmZiODZhNmYwN2QyNjMzIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/32dTLL3RtX1P4fji8V6F3J
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/72et9F2RPU0kc5tQXtflxY
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/72et9F2RPU0kc5tQXtflxY"},"followers":{"href":null,"total":8107},"genres":["gaming
        edm","melodic dubstep","pop edm"],"href":"https://api.spotify.com/v1/artists/72et9F2RPU0kc5tQXtflxY","id":"72et9F2RPU0kc5tQXtflxY","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb7996081fdaf1694c07306d9a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051747996081fdaf1694c07306d9a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1787996081fdaf1694c07306d9a","height":160,"width":160}],"name":"Beatcore","popularity":26,"type":"artist","uri":"spotify:artist:72et9F2RPU0kc5tQXtflxY"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjUzZTlmOWJhM2NlMzM2MDc5ZjY0YTMwMGZhMzViNTE1Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6QCUiFTY59gMLP0lnzh4p5
  response:
    body:
      string: "{\"album\":{\"album_type\":\"compilation\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7c5R9FOE8ceL55E6KUE1pj
  response:
    body:
      string: "{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/7c5R9FOE8ceL55E6KUE1pj\"},\"followers\":{\"href\":null,\"total\":8384},\"genres\":[\"gaming
        edm\"],\"href\":\"https://api.spotify.com/v1/artists/7c5R9FOE8ceL55E6KUE1pj\",\"id\":\"7c5R9FOE8ceL55E6KUE1pj\",\"images\":[{\"url\":\"https://i.scdn.co/image/ab6761610000e5ebfe792d5ddf06e01c557f576a\",\"height\":640,\"width\":640},{\"url\":\"https://i.scdn.co/image/ab67616100005174fe792d5ddf06e01c557f576a\",\"height\":320,\"width\":320},{\"url\":\"https://i.scdn.co/image/ab6761610000f178fe792d5ddf06e01c557f576a\",\"height\":160,\"width\":160}],\"name\":\"C\xD8DE\",\"popularity\":22,\"type\":\"artist\",\"uri\":\"spotify:artist:7c5R9FOE8ceL55E6KUE1pj\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImFmODJmZTczZGI5ZDdiOGEzYjFmN2U0MTljNmZjOTdmIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0QQe5wEaAFtXbLnHhuW87H
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2X0ndI9nIkbMvJE9YlLQr4
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/2X0ndI9nIkbMvJE9YlLQr4"},"followers":{"href":null,"total":5511},"genres":[],"href":"https://api.spotify.com/v1/artists/2X0ndI9nIkbMvJE9YlLQr4","id":"2X0ndI9nIkbMvJE9YlLQr4","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb7f0b7a212a2903bf47d1a3ab","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051747f0b7a212a2903bf47d1a3ab","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1787f0b7a212a2903bf47d1a3ab","height":160,"width":160}],"name":"Lennart
        Schroot","popularity":25,"type":"artist","uri":"spotify:artist:2X0ndI9nIkbMvJE9YlLQr4"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-ImYyZjk5MWQxZDBlOTdmNjFhYzU2YzZmYzYxNWFkOGI5Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6LSe3s5lwWJzjwQohLVtBC
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7daAovtbFBvpYCDg18wSU1
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/7daAovtbFBvpYCDg18wSU1"},"followers":{"href":null,"total":9764},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/7daAovtbFBvpYCDg18wSU1","id":"7daAovtbFBvpYCDg18wSU1","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb4adeea0eae97607c7dd182e0","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051744adeea0eae97607c7dd182e0","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1784adeea0eae97607c7dd182e0","height":160,"width":160}],"name":"Paul
        Flint","popularity":27,"type":"artist","uri":"spotify:artist:7daAovtbFBvpYCDg18wSU1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijk2NTA3NzYxNzk0NTNmMmNiMDM2MzY1OTUxNDI2MDM0Ig=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1cSmpGj0IFGDsfPhwdJkUG
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1E7kD5wnDgBGtEFvUL5UWv
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/1E7kD5wnDgBGtEFvUL5UWv"},"followers":{"href":null,"total":8496},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/1E7kD5wnDgBGtEFvUL5UWv","id":"1E7kD5wnDgBGtEFvUL5UWv","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb74e7e884de8da6cf26ec401a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517474e7e884de8da6cf26ec401a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17874e7e884de8da6cf26ec401a","height":160,"width":160}],"name":"ElementD","popularity":30,"type":"artist","uri":"spotify:artist:1E7kD5wnDgBGtEFvUL5UWv"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-IjJmOGQ1ZjhmMjRhZGE4MDllYzExZTAzYjc2OGU3YWJlIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4dzc4wPhUltlFVHJlD9JJ1
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/4SdjRO432fApGQp8iHbgIF
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/4SdjRO432fApGQp8iHbgIF"},"followers":{"href":null,"total":7892},"genres":["gaming
        edm"],"href":"https://api.spotify.com/v1/artists/4SdjRO432fApGQp8iHbgIF","id":"4SdjRO432fApGQp8iHbgIF","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb14479b49a8e32c0515f7047a","height":640,"width":640},{"url":"https://i.scdn.co/image/ab6761610000517414479b49a8e32c0515f7047a","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f17814479b49a8e32c0515f7047a","height":160,"width":160}],"name":"Debris","popularity":30,"type":"artist","uri":"spotify:artist:4SdjRO432fApGQp8iHbgIF"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"MC-Ijg4OWJjNzdhY2ZjZWUzZDVhOTk5MTY4ODU5NjU1M2QxIg=="'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/4PDJE4qhWYWbwy5smF1ur5
  response:
    body:
      string: '{"album":{"album_type":"compilation","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"},"href":"htt[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQAMd8s1v9xWeIcCjrUxHDq_GxNyB5mrnyNfF-LuiGm_KU9f3oT4KKSUD5T7UtuVu1ACJQlTd_zBF6nb_enAqktdQfMiYDDvQx1bbmc3qeoK6KQKcPA
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6heMlLFM6RDDHRz99uKMqS
  response:
    body:
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6heMlLFM6RDDHRz99uKMqS"},"followers":{"href":null,"total":96163},"genres":["dutch
[...]
