interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT/tracks/?limit=50&offset=0
  response:
    body:
      string: "{\n  \"href\" : \"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT/tracks?offset=0&limit=50\",\n
        \ \"items\" : [ {\n    \"artists\" : [ {\n      \"external_urls\" : {\n        \"spotify\"
        : \"https://open.spotify.com/artist/40HDiLfKm0tXk2FxlJx6aO\"\n      },\n      \"href\"
        : \"https://api.spotify.com/v1/artists/40HDiLfKm0tXk2FxlJx6aO\",\n      \"id\"
        : \"40HDiLfKm0tXk2FxlJx6aO\",\n      \"name\" : \"Jim Yosef\",\n      \"type\"
        : \"artist\",\n      \"uri\" : \"spotify:artist:40HDiLfKm0tXk2FxlJx6aO\"\n
        \   }, {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/2Ndq6RparrhEoceel7LC4Z\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/2Ndq6RparrhEoceel7LC4Z\",\n
        \     \"id\" : \"2Ndq6RparrhEoceel7LC4Z\",\n      \"name\" : \"Anna Yvette\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:2Ndq6RparrhEoceel7LC4Z\"\n
        \   } ],\n    \"available_markets\" : [ ],\n    \"disc_number\" : 1,\n    \"duration_ms\"
        : 223218,\n    \"explicit\" : false,\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/track/2Ikdgh3J5vCRmnCL3Xcrtv\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/tracks/2Ikdgh3J5vCRmnCL3Xcrtv\",\n    \"id\"
        : \"2Ikdgh3J5vCRmnCL3Xcrtv\",\n    \"is_local\" : false,\n    \"name\" : \"Linked\",\n
        \   \"preview_url\" : null,\n    \"track_number\" : 1,\n    \"type\" : \"track\",\n
        \   \"uri\" : \"spotify:track:2Ikdgh3J5vCRmnCL3Xcrtv\"\n  }, {\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW\",\n
        \     \"id\" : \"5qtSloRk8XxPdlDWkVDwWW\",\n      \"name\" : \"Halcyon\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:arti[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1T5dsbrRBL6K5QtAXgC6E0
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of\"\n
        \     },\n      \"href\" : \"https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of\",\n
        \     \"id\" : \"0LyfQWJT6nXafLPZqxe9Of\",\n      \"name\" : \"Various Artists\",\n
        \     \"type\" : \"artist\",\n      \"uri\" : \"spotify:artist:0LyfQWJT6nXafLPZqxe9Of\"\n
        \   } ],\n    \"available_markets\" : [ ],\n    \"external_urls\" : {\n      \"spotify\"
        : \"https://open.spotify.com/album/4MQnUDGXmHOvnsWCpzeqWT\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/albums/4MQnUDGXmHOvnsWCpzeqWT\",\n    \"id\"
        : \"4MQnUDGXmHOvnsWCpzeqWT\",\n    \"images\" : [ {\n      \"height\" : 640,\n
        \     \"url\" : \"https://i.scdn.co/image/ab67616d0000b27367cf92b139a3d7ea71a54118\",\n
        \     \"width\" : 640\n    }, {\n      \"height\" : 300,\n      \"url\" :
        \"https://i.scdn.co/image/ab67616d00001e0267cf92b139a3d7ea71a54118\",\n      \"width\"
        : 300\n    }, {\n      \"height\" : 64,\n      \"url\" : \"https://i.scdn.co/image/ab67616d0000485167cf92b139a3d7ea71a54118\",\n
        \     \"width\" : 64\n    } ],\n    \"name\" : \"NCS: The Best of 2017\",\n
        \   \"release_date\" : \"2017-12-15\",\n    \"release_date_precision\" : \"day\",\n
        \   \"total_tracks\" : 16,\n    \"type\" : \"album\",\n    \"uri\" : \"spotify:album:4MQnUDGXmHOvnsWCpzeqWT\"\n
        \ },\n  \"artists\" : [ {\n    \"external_urls\" : {\n      \"spotify\" :
        \"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW\"\n    },\n    \"href\"
        : \"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW\",\n    \"id\"
        : \"5qtSloRk8XxPdlDWkVDwWW\",\n    \"name\" : \"Halcyon\",\n    \"type\" :
        \"artist\",\n    \"uri\" : \"spotify:artist:5qtSloRk8XxPdlDWkVDwWW\"\n  },
        {\n    \"external_urls\" : {\n      \"spotify\" : \"https://open.spotify.com/artist/5v63dT2oEtPdBVdaG6M2ey\"\n
        \   },\n    \"href\" : \"https://api.spotify.com/v1/artists/5v63dT2oEtPdBVdaG6M2ey\",\n
        \   \"id\" : \"5v63dT2oEtPdBVdaG6M2ey\",\n    \"name\" : \"Valentina Franco\",\n
        \   \"type\" : \"artist\",\n    \"uri\" : \"spotify:artist:5v63dT2oEtPdBVdaG6M2ey\"\n
        \ } ],\n  \"available_markets\" : [ ],\n  \"disc_number\" : 1,\n  \"duration_ms\"
        : 208000,\n  \"explicit\" : false,\n  \"external_ids\" : {\n    \"isrc\" :
        \"GB2LD1700378\"\n  },\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/track/1T5dsbrRBL6K5QtAXgC6E0\"\n
        \ },\n  \"href\" : \"https://api.spotify.com/v1/tracks/1T5dsbrRBL6K5QtAXgC6E0\",\n
        \ \"id\" : \"1T5dsbrRBL6K5QtAXgC6E0\",\n  \"is_local\" : false,\n  \"name\"
        : \"Runaway - Culture Code Remix\",\n  \"popularity\" : 0,\n  \"preview_url\"
        : null,\n  \"track_number\" : 2,\n  \"type\" : \"track\",\n  \"uri\" : \"spotify:track:1T5dsbrRBL6K5QtAXgC6E0\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/5qtSloRk8XxPdlDWkVDwWW\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 7438\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/5qtSloRk8XxPdlDWkVDwWW\",\n
        \ \"id\" : \"5qtSloRk8XxPdlDWkVDwWW\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb046e0028c3fc7a887c9087cc\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174046e0028c3fc7a887c9087cc\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178046e0028c3fc7a887c9087cc\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Halcyon\",\n  \"popularity\" :
        35,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:5qtSloRk8XxPdlDWkVDwWW\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/55nZRG7TMAtFbsPzVTQ3iJ
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/23ostNBoB9z6GMXLtHdg7y
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/23ostNBoB9z6GMXLtHdg7y\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 174955\n
        \ },\n  \"genres\" : [ \"bass trap\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/23ostNBoB9z6GMXLtHdg7y\",\n
        \ \"id\" : \"23ostNBoB9z6GMXLtHdg7y\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb9cf293569bdfe2b846eb70c8\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051749cf293569bdfe2b846eb70c8\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1789cf293569bdfe2b846eb70c8\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Prismo\",\n  \"popularity\" :
        49,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:23ostNBoB9z6GMXLtHdg7y\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/16uxYaIhavk2ZcvNqfWowP
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6yPYDR9yFTpcGrusQU7rRx
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/6yPYDR9yFTpcGrusQU7rRx\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 5753\n  },\n
        \ \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/artists/6yPYDR9yFTpcGrusQU7rRx\",\n
        \ \"id\" : \"6yPYDR9yFTpcGrusQU7rRx\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb529e6c7da616382991c72e32\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174529e6c7da616382991c72e32\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178529e6c7da616382991c72e32\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Jordan Schor\",\n  \"popularity\"
        : 31,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:6yPYDR9yFTpcGrusQU7rRx\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5sOxqYCpkHwnFF6sOJg1o6
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1AT64PJc0geIUwVRqYqkTu
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/1AT64PJc0geIUwVRqYqkTu\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 16246\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/1AT64PJc0geIUwVRqYqkTu\",\n
        \ \"id\" : \"1AT64PJc0geIUwVRqYqkTu\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb533fd9df5e54034a25ad8689\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174533fd9df5e54034a25ad8689\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178533fd9df5e54034a25ad8689\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Axol\",\n  \"popularity\" : 39,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:1AT64PJc0geIUwVRqYqkTu\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2bNysgov8THEQCxIHnq1x7
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/0okpgBQamDqOZazBeH0J3I
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/0okpgBQamDqOZazBeH0J3I\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 330000\n
        \ },\n  \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/0okpgBQamDqOZazBeH0J3I\",\n
        \ \"id\" : \"0okpgBQamDqOZazBeH0J3I\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb6a1fbe842b26c53d8ada53da\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051746a1fbe842b26c53d8ada53da\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1786a1fbe842b26c53d8ada53da\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Unknown Brain\",\n  \"popularity\"
        : 57,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:0okpgBQamDqOZazBeH0J3I\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/2k0llDQbEqSkiDpj7vyTnw
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/5MI0dQrxPC7MEWdiCUmtMP
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/5MI0dQrxPC7MEWdiCUmtMP\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 3518\n  },\n
        \ \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/artists/5MI0dQrxPC7MEWdiCUmtMP\",\n
        \ \"id\" : \"5MI0dQrxPC7MEWdiCUmtMP\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab67616d0000b273a3723c8ad89ac00d363ddf26\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 300,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00001e02a3723c8ad89ac00d363ddf26\",\n
        \   \"width\" : 300\n  }, {\n    \"height\" : 64,\n    \"url\" : \"https://i.scdn.co/image/ab67616d00004851a3723c8ad89ac00d363ddf26\",\n
        \   \"width\" : 64\n  } ],\n  \"name\" : \"Oneeva\",\n  \"popularity\" : 20,\n
        \ \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:5MI0dQrxPC7MEWdiCUmtMP\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/649AbXFbU0UDYe2bhs9jSe
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/157L8iTHgbdrKVxdQEXluh
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/157L8iTHgbdrKVxdQEXluh\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 300841\n
        \ },\n  \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/157L8iTHgbdrKVxdQEXluh\",\n
        \ \"id\" : \"157L8iTHgbdrKVxdQEXluh\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb1fec62466f73cdc3eb9a9262\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051741fec62466f73cdc3eb9a9262\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1781fec62466f73cdc3eb9a9262\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Lost Sky\",\n  \"popularity\"
        : 59,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:157L8iTHgbdrKVxdQEXluh\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/5vfIQRFlU3nEtA4i8xReqz
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/6lO3fSdhsdpeOcrbqAJsRU
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/6lO3fSdhsdpeOcrbqAJsRU\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 208975\n
        \ },\n  \"genres\" : [ \"bass trap\", \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/6lO3fSdhsdpeOcrbqAJsRU\",\n
        \ \"id\" : \"6lO3fSdhsdpeOcrbqAJsRU\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb510314e85b66e0ceba1a765f\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174510314e85b66e0ceba1a765f\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178510314e85b66e0ceba1a765f\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Aero Chord\",\n  \"popularity\"
        : 47,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:6lO3fSdhsdpeOcrbqAJsRU\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/32dTLL3RtX1P4fji8V6F3J
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/72et9F2RPU0kc5tQXtflxY
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/72et9F2RPU0kc5tQXtflxY\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 8011\n  },\n
        \ \"genres\" : [ \"gaming edm\", \"melodic dubstep\", \"pop edm\" ],\n  \"href\"
        : \"https://api.spotify.com/v1/artists/72et9F2RPU0kc5tQXtflxY\",\n  \"id\"
        : \"72et9F2RPU0kc5tQXtflxY\",\n  \"images\" : [ {\n    \"height\" : 640,\n
        \   \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb7996081fdaf1694c07306d9a\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051747996081fdaf1694c07306d9a\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1787996081fdaf1694c07306d9a\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Beatcore\",\n  \"popularity\"
        : 26,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:72et9F2RPU0kc5tQXtflxY\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6QCUiFTY59gMLP0lnzh4p5
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7c5R9FOE8ceL55E6KUE1pj
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/7c5R9FOE8ceL55E6KUE1pj\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 8379\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/7c5R9FOE8ceL55E6KUE1pj\",\n
        \ \"id\" : \"7c5R9FOE8ceL55E6KUE1pj\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5ebfe792d5ddf06e01c557f576a\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab67616100005174fe792d5ddf06e01c557f576a\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f178fe792d5ddf06e01c557f576a\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"C\xD8DE\",\n  \"popularity\" :
        24,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:7c5R9FOE8ceL55E6KUE1pj\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/0QQe5wEaAFtXbLnHhuW87H
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/2X0ndI9nIkbMvJE9YlLQr4
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/2X0ndI9nIkbMvJE9YlLQr4\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 5474\n  },\n
        \ \"genres\" : [ ],\n  \"href\" : \"https://api.spotify.com/v1/artists/2X0ndI9nIkbMvJE9YlLQr4\",\n
        \ \"id\" : \"2X0ndI9nIkbMvJE9YlLQr4\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb7f0b7a212a2903bf47d1a3ab\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051747f0b7a212a2903bf47d1a3ab\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1787f0b7a212a2903bf47d1a3ab\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Lennart Schroot\",\n  \"popularity\"
        : 26,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:2X0ndI9nIkbMvJE9YlLQr4\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/6LSe3s5lwWJzjwQohLVtBC
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/7daAovtbFBvpYCDg18wSU1
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/7daAovtbFBvpYCDg18wSU1\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 9519\n  },\n
        \ \"genres\" : [ \"gaming edm\" ],\n  \"href\" : \"https://api.spotify.com/v1/artists/7daAovtbFBvpYCDg18wSU1\",\n
        \ \"id\" : \"7daAovtbFBvpYCDg18wSU1\",\n  \"images\" : [ {\n    \"height\"
        : 640,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000e5eb4adeea0eae97607c7dd182e0\",\n
        \   \"width\" : 640\n  }, {\n    \"height\" : 320,\n    \"url\" : \"https://i.scdn.co/image/ab676161000051744adeea0eae97607c7dd182e0\",\n
        \   \"width\" : 320\n  }, {\n    \"height\" : 160,\n    \"url\" : \"https://i.scdn.co/image/ab6761610000f1784adeea0eae97607c7dd182e0\",\n
        \   \"width\" : 160\n  } ],\n  \"name\" : \"Paul Flint\",\n  \"popularity\"
        : 27,\n  \"type\" : \"artist\",\n  \"uri\" : \"spotify:artist:7daAovtbFBvpYCDg18wSU1\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/tracks/1cSmpGj0IFGDsfPhwdJkUG
  response:
    body:
      string: "{\n  \"album\" : {\n    \"album_type\" : \"compilation\",\n    \"artists\"
        : [ {\n      \"external_urls\" : {\n        \"spotify\" : \"ht[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer BQCIeSNhNCkB9Blimo9blo_jY1Ajv1qmG5IreR1KJxAVVqqr7sB5JKz-Fbo6MO8BbqXT1mgn2jb1OEN_yhrC7vHGajwYOQ7EFoOykGWMCQtYI_zd59I
      Content-Type:
      - application/json
    method: GET
    uri: https://api.spotify.com/v1/artists/1E7kD5wnDgBGtEFvUL5UWv
  response:
    body:
      string: "{\n  \"external_urls\" : {\n    \"spotify\" : \"https://open.spotify.com/artist/1E7kD5wnDgBGtEFvUL5UWv\"\n
        \ },\n  \"followers\" : {\n    \"href\" : null,\n    \"total\" : 8408\n  },\n
[...]
