interactions:
- request:
    body: '{"query": "Lost Identities Moments", "context": {"client": {"clientName":
      "WEB_REMIX", "clientVersion": "1.20240824.01.00", "hl": "de"}, "user": {}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"Cgt3NDFkc09XQzBXcyiJgKi2BjIiCgJQTBIcEhgSFgsMDg8QERITFBUWFxgZGhscHR4fICEgFg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"CSI\",\n
        \       \"params\": [\n          {\n            \"key\": \"c\",\n            \"value\":
        \"WEB_REMIX\"\n          },\n          {\n            \"key\": \"cver\",\n
        \           \"value\": \"1.20240824.01.00\"\n          },\n          {\n            \"key\":
        \"yt_li\",\n            \"value\": \"0\"\n          },\n          {\n            \"key\":
        \"GetSearch_rid\",\n            \"value\": \"0x1cdf16693fe22816\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"GFEEDBACK\",\n        \"params\":
        [\n          {\n         [...]
