interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lrclib.net/api/search?artist_name=Berri+Txarrak&track_name=Zertarako+amestu
  response:
    body:
      string: "[{\"id\":34776628,\"name\":\"Zertarako amestu\",\"trackName\":\"Zertarako
        amestu\",\"artistName\":\"Berri Txarrak\",\"albumName\":\"Denak Ez Du Balio
        (Singles 1997\u20132007)\",\"duration\":93.0,\"instrumental\":false,\"plainLyrics\":\"Eta
        lo bagaude, zertarako amestu?\\nTa zertan esnatu hemen ez bazaude?\\nEta lo
        bagaude, zertarako amets egin\\netorriko diren egun libreekin?\\n\\nZertan
        amets egin?\",\"syncedLyrics\":\"[00:30.69] Eta lo bagaude, zertarako amestu?\\n[00:37.96]
        Ta zertan esnatu hemen ez bazaude?\\n[00:45.66] Eta lo bagaude, zertarako
        amets egin\\n[00:52.63] etorriko diren egun libreekin?\\n[01:00.75] Zertan
        amets egin?\\n[01:20.31] \",\"lyricsfile\":\"version: '1.0'\\nmetadata:\\n
        \ title: Zertarako amestu\\n  artist: Berri Txarrak\\n  album: Denak Ez Du
        Balio (Singles 1997\u20132007)\\n  duration_ms: 93000\\n  instrumental: false\\nlines:\\n-
        text: Eta lo bagaude, zertarako amestu?\\n  start_ms: 30690\\n  end_ms: 37960\\n-
        text: Ta zertan esnatu hemen ez bazaude?\\n  start_ms: 37960\\n  end_ms: 45660\\n-
        text: Eta lo bagaude, zertarako amets egin\\n  start_ms: 45660\\n  end_ms:
        52630\\n- text: etorriko diren egun libreekin?\\n  start_ms: 52630\\n  end_ms:
        60750\\n- text: Zertan amets egin?\\n  start_ms: 60750\\n  end_ms: 80310\\n-
        text: ''\\n  start_ms: 80310\\nplain: |-\\n  Eta lo bagaude, zertarak[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://lrclib.net/api/get/15125838
  response:
    body:
      string: '{"id":15125838,"name":"Zertarako Amestu","trackName":"Zertarako Amestu","artistName":"Berri
        Txarrak","albumName":"Denak Ez Du Balio-Singles 1997-2007","duration":93.309388,"instrumental":false,"plainLyrics":"Eta
        lo bagaude, zertarako amestu?\nTa zertan esnatu hemen ez bazaude?\nEta lo
        bagaude, zertarako amets egin\netorriko diren egun li[...]
