interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/search?q=Linked+-+Jim+Yosef
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"hits\":[{\"highlights\":[],\"index\":\"song\",\"type\":\"song\",\"result\":{\"annotation_count\":3,\"api_path\":\"/songs/3374613\",\"artist_names\":\"Jim
        Yosef & Anna Yvette\",\"full_title\":\"Linked by\_Jim\_Yosef & Anna\_Yvette\",\"header_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"header_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"id\":3374613,\"lyrics_owner_id\":4393137,\"lyrics_state\":\"complete\",\"path\":\"/Jim-yosef-and-anna-yvette-linked-lyrics\",\"primary_artist_names\":\"Jim
        Yosef & Anna Yvette\",\"pyongs_count\":2,\"relationships_index_url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-sample\",\"release_date_components\":{\"year\":2017,\"month\":12,\"day\":16},\"release_date_for_display\":\"December
        16, 2017\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 16,
        2017\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"song_art_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"stats\":{\"unreviewed_annotations\":3,\"hot\":false,\"pageviews\":31754},\"title\":\"Linked\",\"title_with_featured\":\"Linked\",\"url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics\",\"featured_artists\":[],\"primary_artist\":{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},\"primary_artists\":[{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},{\"api_path\":\"/artists/25961\",\"header_image_url\":\"https://images.genius.com/7eadaf343c047fddb62b2a45165cade0.1000x[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://api.genius.com/songs/3374613
  response:
    body:
      string: "{\"meta\":{\"status\":200},\"response\":{\"song\":{\"annotation_count\":3,\"api_path\":\"/songs/3374613\",\"apple_music_id\":\"1318607994\",\"apple_music_player_url\":\"https://genius.com/songs/3374613/apple_music_player\",\"artist_names\":\"Jim
        Yosef & Anna Yvette\",\"description\":{\"dom\":{\"tag\":\"root\",\"children\":[{\"tag\":\"p\",\"children\":[\"the
        \u2018Linked\u2019 is vocal re-make of Jim Yosef\u2019s song \u2018Link\u2019
        with Anna Yvette.\",{\"tag\":\"br\"},\"We are linked together, together.\"]}]}},\"embed_content\":\"<div
        id='rg_embed_link_3374613' class='rg_embed_link' data-song-id='3374613'>Read
        <a href='https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics'>\u201CLinked\u201D
        by Jim\_Yosef & Anna\_Yvette</a> on Genius</div> <script crossorigin src='//genius.com/songs/3374613/embed.js'></script>\",\"full_title\":\"Linked
        by\_Jim\_Yosef & Anna\_Yvette\",\"header_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"header_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"id\":3374613,\"language\":\"en\",\"lyrics_owner_id\":4393137,\"lyrics_state\":\"complete\",\"path\":\"/Jim-yosef-and-anna-yvette-linked-lyrics\",\"primary_artist_names\":\"Jim
        Yosef & Anna Yvette\",\"pyongs_count\":2,\"recording_location\":null,\"relationships_index_url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-sample\",\"release_date\":\"2017-12-16\",\"release_date_for_display\":\"December
        16, 2017\",\"release_date_with_abbreviated_month_for_display\":\"Dec. 16,
        2017\",\"song_art_image_thumbnail_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.300x300x1.png\",\"song_art_image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"stats\":{\"accepted_annotations\":0,\"contributors\":15,\"iq_earners\":15,\"transcribers\":3,\"unreviewed_annotations\":3,\"verified_annotations\":0,\"hot\":false,\"pageviews\":31754},\"title\":\"Linked\",\"title_with_featured\":\"Linked\",\"url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics\",\"current_user_metadata\":{\"permissions\":[\"follow\",\"see_pageviews\",\"pyong\",\"add_community_annotation_to\",\"view_apple_music_player\",\"view_mark_complete_explanatory_tooltip\",\"create_comment\",\"create_annotation\",\"view_song_story_gallery\",\"propose_lyrics_edit\",\"create_question\"],\"excluded_permissions\":[\"award_transcription_iq\",\"remove_transcription_iq\",\"edit_lyrics\",\"view_annotation_engagement_data\",\"publish\",\"unpublish\",\"edit_spotify_details\",\"hide\",\"unhide\",\"add_pinned_annotation_to\",\"destroy\",\"mark_as_not_spam\",\"edit_spotify_annotations_for\",\"verify_lyrics\",\"unverify_lyrics\",\"edit_anything\",\"edit_any_media\",\"edit\",\"rename\",\"edit_tags\",\"reindex\",\"view_lyrics_synchronization\",\"enable_media\",\"disable_media\",\"edit_lyrics_or_annotation_brackets\",\"see_editorial_indicators\",\"view_attribution_visualization\",\"edit_annotation_brackets\",\"preview_lyrics_for_export\",\"hide_apple_player\",\"unhide_apple_player\",\"trigger_apple_match\",\"mark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_staff_approved\",\"unmark_lyrics_evaluation_as_complete\",\"mark_lyrics_evaluation_as_un_staff_approved\",\"view_transcriber_media_player\",\"override_apple_match\",\"set_song_color_gradient\",\"mark_as_hot\",\"unmark_as_hot\",\"view_recommendations\",\"view_relationships_page\",\"edit_youtube_url\",\"edit_soundcloud_url\",\"edit_spotify_uuid\",\"edit_vevo_url\",\"moderate_annotations\",\"see_short_id\",\"manage_chart_item\",\"create_tag\",\"view_lyrics_edit_proposals_on_song\",\"answer_question_with_source\",\"create_additional_role\",\"add_qa\",\"pin_qa\"],\"interactions\":{\"pyong\":false,\"following\":false},\"relationships\":{\"pinned_role\":null},\"iq_by_action\":{\"edit_metadata\":{\"primary\":{\"multiplier\":1,\"base\":2.0,\"applicable\":true}},\"answer_question\":{\"primary\":{\"multiplier\":1,\"base\":5.0,\"applicable\":true}}}},\"song_art_primary_color\":\"#1c34e4\",\"song_art_secondary_color\":\"#1c405c\",\"song_art_text_color\":\"#fff\",\"album\":{\"api_path\":\"/albums/390269\",\"cover_art_url\":\"https://images.genius.com/946ea7b806040733b3649013fc376529.1000x1000x1.png\",\"full_title\":\"NCS:
        The Best of 2017 by NoCopyrightSounds\",\"id\":390269,\"name\":\"NCS: The
        Best of 2017\",\"primary_artist_names\":\"NoCopyrightSounds\",\"release_date_for_display\":\"December
        15, 2017\",\"url\":\"https://genius.com/albums/Nocopyrightsounds/Ncs-the-best-of-2017\",\"artist\":{\"api_path\":\"/artists/623098\",\"header_image_url\":\"https://images.genius.com/25176f0534e2b582059d5930b6dc9465.1000x166x1.jpg\",\"id\":623098,\"image_url\":\"https://images.genius.com/51f69e8a2afd3693547cfab47ee9b081.1000x1000x1.png\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"NoCopyrightSounds\",\"url\":\"https://genius.com/artists/Nocopyrightsounds\",\"iq\":100},\"primary_artists\":[{\"api_path\":\"/artists/623098\",\"header_image_url\":\"https://images.genius.com/25176f0534e2b582059d5930b6dc9465.1000x166x1.jpg\",\"id\":623098,\"image_url\":\"https://images.genius.com/51f69e8a2afd3693547cfab47ee9b081.1000x1000x1.png\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"NoCopyrightSounds\",\"url\":\"https://genius.com/artists/Nocopyrightsounds\",\"iq\":100}]},\"custom_performances\":[{\"label\":\"Vocals\",\"artists\":[{\"api_path\":\"/artists/25961\",\"header_image_url\":\"https://images.genius.com/7eadaf343c047fddb62b2a45165cade0.1000x563x1.jpg\",\"id\":25961,\"image_url\":\"https://images.genius.com/b1abc0ac88e336febc010ca06dfc3b67.900x900x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Anna
        Yvette\",\"url\":\"https://genius.com/artists/Anna-yvette\"}]},{\"label\":\"Label\",\"artists\":[{\"api_path\":\"/artists/623098\",\"header_image_url\":\"https://images.genius.com/25176f0534e2b582059d5930b6dc9465.1000x166x1.jpg\",\"id\":623098,\"image_url\":\"https://images.genius.com/51f69e8a2afd3693547cfab47ee9b081.1000x1000x1.png\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"NoCopyrightSounds\",\"url\":\"https://genius.com/artists/Nocopyrightsounds\",\"iq\":100}]}],\"description_annotation\":{\"_type\":\"referent\",\"annotator_id\":7186622,\"annotator_login\":\"Transcompiler\",\"api_path\":\"/referents/13284121\",\"classification\":\"unreviewed\",\"fragment\":\"Linked\",\"id\":13284121,\"is_description\":true,\"path\":\"/13284121/Jim-yosef-and-anna-yvette-linked/Linked\",\"range\":{\"content\":\"Linked\"},\"song_id\":3374613,\"url\":\"https://genius.com/13284121/Jim-yosef-and-anna-yvette-linked/Linked\",\"verified_annotator_ids\":[],\"annotatable\":{\"api_path\":\"/songs/3374613\",\"client_timestamps\":{\"updated_by_human_at\":1735467149,\"lyrics_updated_at\":1735467149},\"context\":\"Jim
        Yosef & Anna Yvette\",\"id\":3374613,\"image_url\":\"https://images.genius.com/a476562335832a70b1730afdf7f0fbd0.1000x1000x1.png\",\"link_title\":\"Linked
        by\_Jim\_Yosef & Anna\_Yvette\",\"title\":\"Linked\",\"type\":\"Song\",\"url\":\"https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics\"},\"annotations\":[{\"api_path\":\"/annotations/13284121\",\"body\":{\"dom\":{\"tag\":\"root\",\"children\":[{\"tag\":\"p\",\"children\":[\"the
        \u2018Linked\u2019 is vocal re-make of Jim Yosef\u2019s song \u2018Link\u2019
        with Anna Yvette.\",{\"tag\":\"br\"},\"We are linked together, together.\"]}]}},\"comment_count\":0,\"community\":true,\"custom_preview\":null,\"has_voters\":true,\"id\":13284121,\"pinned\":false,\"share_url\":\"https://genius.com/13284121\",\"source\":null,\"state\":\"pending\",\"url\":\"https://genius.com/13284121/Jim-yosef-and-anna-yvette-linked/Linked\",\"verified\":false,\"votes_total\":6,\"current_user_metadata\":{\"permissions\":[\"vote\",\"propose_edit_to\",\"report_as_abusive\",\"create_comment\"],\"excluded_permissions\":[\"edit\",\"cosign\",\"uncosign\",\"destroy\",\"accept\",\"reject\",\"see_unreviewed\",\"clear_votes\",\"pin_to_profile\",\"unpin_from_profile\",\"update_source\",\"edit_custom_preview\"],\"interactions\":{\"cosign\":false,\"pyong\":false,\"vote\":null},\"iq_by_action\":{\"accept\":{\"primary\":{\"multiplier\":1,\"base\":10.0,\"applicable\":true}},\"reject\":{\"primary\":{\"multiplier\":1,\"base\":2.0,\"applicable\":true}},\"delete\":{\"primary\":{\"multiplier\":1,\"base\":5.0,\"applicable\":true}}}},\"authors\":[{\"attribution\":1.0,\"pinned_role\":null,\"user\":{\"api_path\":\"/users/7186622\",\"avatar\":{\"tiny\":{\"url\":\"https://images.genius.com/avatars/tiny/e0c9051186d3962332f6e7d47f96d256\",\"bounding_box\":{\"width\":16,\"height\":16}},\"thumb\":{\"url\":\"https://images.genius.com/avatars/thumb/e0c9051186d3962332f6e7d47f96d256\",\"bounding_box\":{\"width\":32,\"height\":32}},\"small\":{\"url\":\"https://images.genius.com/avatars/small/e0c9051186d3962332f6e7d47f96d256\",\"bounding_box\":{\"width\":100,\"height\":100}},\"medium\":{\"url\":\"https://images.genius.com/avatars/medium/e0c9051186d3962332f6e7d47f96d256\",\"bounding_box\":{\"width\":300,\"height\":400}}},\"header_image_url\":\"https://images.genius.com/avatars/medium/e0c9051186d3962332f6e7d47f96d256\",\"human_readable_role_for_display\":null,\"id\":7186622,\"iq\":119,\"login\":\"Transcompiler\",\"name\":\"Transcompiler\",\"role_for_display\":null,\"url\":\"https://genius.com/Transcompiler\",\"current_user_metadata\":{\"permissions\":[\"follow\"],\"excluded_permissions\":[],\"interactions\":{\"following\":false}}}}],\"cosigned_by\":[],\"rejection_comment\":null,\"verified_by\":null}]},\"featured_artists\":[],\"lyrics_marked_complete_by\":null,\"lyrics_marked_staff_approved_by\":null,\"media\":[{\"attribution\":\"nocopyrightsounds\",\"provider\":\"soundcloud\",\"type\":\"audio\",\"url\":\"https://soundcloud.com/nocopyrightsounds/jim-yosef-anna-yvette-linked-ncs-release\"},{\"provider\":\"youtube\",\"start\":0,\"type\":\"video\",\"url\":\"https://www.youtube.com/watch?v=yHLtE1wFeRQ\"}],\"primary_artist\":{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},\"primary_artists\":[{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},{\"api_path\":\"/artists/25961\",\"header_image_url\":\"https://images.genius.com/7eadaf343c047fddb62b2a45165cade0.1000x563x1.jpg\",\"id\":25961,\"image_url\":\"https://images.genius.com/b1abc0ac88e336febc010ca06dfc3b67.900x900x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Anna
        Yvette\",\"url\":\"https://genius.com/artists/Anna-yvette\"}],\"producer_artists\":[{\"api_path\":\"/artists/992710\",\"header_image_url\":\"https://images.genius.com/ebbb1d90e9e9856fad62e1eb5191cce1.912x191x1.jpg\",\"id\":992710,\"image_url\":\"https://images.genius.com/4f35866f3a331394d119e168952e47e4.1000x1000x1.jpg\",\"is_meme_verified\":false,\"is_verified\":true,\"name\":\"Jim
        Yosef\",\"url\":\"https://genius.com/artists/Jim-yosef\",\"iq\":131},{\"api_path\":\"/artists/25961\",\"header_image_url\":\"https://images.genius.com/7eadaf343c047fddb62b2a45165cade0.1000x563x1.jpg\",\"id\":25961,\"image_url\":\"https://images.genius.com/b1abc0ac88e336febc010ca06dfc3b67.900x900x1.jpg\",\"is_meme_verified\":false,\"is_verified\":false,\"name\":\"Anna
        Yvette\",\"url\":\"https://genius.com/artists/Anna-yvette\"}],\"song_relationships\":[{\"relationship_type\":\"samples\",\"type\":\"samples\",\"songs\":[]},{\"relationship_type\":\"sampled_in\",\"type\":\"sampled_in\",\"songs\":[]},{\"relationship_type\":\"interpolates\",\"type\":\"interpolates\",\"songs\":[]},{\"relationship_type\":\"interpolated_by\",\"type\":\"interpolated_by\",\"songs\":[]},{\"relationship_type\":\"cover_of\",\"type\":\"cover_of\",\"songs\":[]},{\"relationship_type\":\"covered_by\",\"type\":\"covered_by\",\"songs\":[]},{\"relationship_type\":\"remix_of\",\"type\":\"remix_of\",\"songs\":[{\"annotation_count\":0,\"api_path\":[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer alXXDbPZtK1m2RrZ8I4k2Hn8Ahsd0Gh_o076HYvcdlBvmc0ULL1H8Z8xRlew5qaG
    method: GET
    uri: https://genius.com/Jim-yosef-and-anna-yvette-linked-lyrics
  response:
    body:
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"IL\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"HIT\">\n    <meta itemprop=\"rendered-with-cache\"
        content=\"false\">\n    <meta itemprop=\"cf-latitude\" content=\"31.76904\">\n
        \   <meta itemprop=\"cf-longitude\" content=\"35.21633\">\n\n    <title>Jim\_Yosef
        & Anna\_Yvette \u2013 Linked Lyrics | Genius Lyrics</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta content='width=device-width,initial-scale=1'
        name='viewport'>\n\n  <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n\n<link
        href=\"https://assets.genius.com/images/apple-touch-icon.png?1755880465\"
        rel=\"apple-touch-icon\" />\n\n\n  \n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1755880465\"
        rel=\"apple-touch-icon\" />\n\n  \n\n  <!-- Mobile IE allows us to activate
        ClearType technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<link title=\"Genius\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n    <!--sse-->\n\n
        \ <script>window['Genius.ads'] = window['Genius.ads'] || [];</script>\n\n\n\n
        \[...]
