interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/web-ui/contents/dist?ref=master
  response:
    body:
      string: '[{"name":"assets","path":"dist/assets","sha":"a90501adbcb6323fe4139523e70ccb2ec440bf24","size":0,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master","html_url":"https://github.com/spotDL/web-ui/tree/master/dist/assets","git_url":"https://api.github.com/repos/spotDL/web-ui/git/trees/a90501adbcb6323fe4139523e70ccb2ec440bf24","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master","git":"https://api.github.com/repos/spotDL/web-ui/git/trees/a90501adbcb6323fe4139523e70ccb2ec440bf24","html":"https://github.com/spotDL/web-ui/tree/master/dist/assets"}},{"name":"favicon.ico","path":"dist/favicon.ico","sha":"04ba0f9c0a1a67dda7e5c21ece51cd5235a2e2b1","size":15086,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/favicon.ico?ref=master","html_url":"https://github.com/spotDL/web-ui/blob/master/dist/favicon.ico","git_url":"https://api.github.com/repos/spotDL/web-ui/git/blobs/04ba0f9c0a1a67dda7e5c21ece51cd5235a2e2b1","download_url":"https://raw.githubusercontent.com/spotDL/web[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master
  response:
    body:
      string: '[{"name":"index-CqL-qAH-.js","path":"dist/assets/index-CqL-qAH-.js","sha":"2ff6ffec73a9d66686a474c6fb94fea8a481271d","size":161749,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets/index-CqL-qAH-.js?ref=master","html_url":"https://github.com/spotDL/web-ui/blob/master/dist/assets/index-CqL-qAH-.js","git[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/assets/index-CqL-qAH-.js
  response:
    body:
      string: "(function(){const t=document.createElement(\"link\").relList;if(t&&t.supports&&t.supports(\"modulepreload\"))return;for(const
        r of document.querySelectorAll('link[rel=\"modulepreload\"]'))s(r);new MutationObserver(r=>{for(const
        o of r)if(o.type===\"childList\")for(const i of o.addedNodes)i.tagName===\"LINK\"&&i.rel===\"modulepreload\"&&s(i)}).observe(document,{childList:!0,subtree:!0});function
        n(r){const o={};return r.integrity&&(o.integrity=r.integrity),r.referrerPolicy&&(o.referrerPolicy=r.referrerPolicy),r.crossOrigin===\"use-credentials\"?o.credentials=\"include\":r.crossOrigin===\"anonymous\"?o.credentials=\"omit\":o.credentials=\"same-origin\",o}function
        s(r){if(r.ep)return;r.ep=!0;const o=n(r);fetch(r.href,o)}})();/**\n* @vue/shared
        v3.4.33\n* (c) 2018-present Yuxi (Evan) You and Vue contributors\n* @license
        MIT\n**//*! #__NO_SIDE_EFFECTS__ */function qr(e,t){const n=new Set(e.split(\",\"));return
        s=>n.has(s)}const le={},zt=[],Ne=()=>{},aa=()=>!1,vs=e=>e.charCodeAt(0)===111&&e.charCodeAt(1)===110&&(e.charCodeAt(2)>122||e.charCodeAt(2)<97),Kr=e=>e.startsWith(\"onUpdate:\"),[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/assets/index-DRB2_ZPb.css
  response:
    body:
      string: '.center[data-v-316605e7],.center[data-v-b653c167]{text-align:center;margin-left:auto;margin-right:auto}*,:before,:after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}:before,:after{--tw-content:
        ""}html,:host{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/favicon.ico
  response:
    body:
      string: !!binary |
        AAABAAMAMDAAAAEAIACoJQAANgAAACAgAAABACAAqBAAAN4lAAAQEAAAAQAgAGgEAACGNgAAKAAA
        ADAAAABgAAAAAQAgAAAAAAAAJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAXdEXFlbNFVZW
        zxaOV84WtlfNFthYzhbsV84W+VfOFvlYzhbsV80W2FfOFrZXzhaNVs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/index.html
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  <head>\r\n    <meta charset=\"UTF-8\"
        />\r\n    <link rel=\"icon\" href=\"/favicon.ico\" />\r\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\" />\r\n    <title>spotDL</title>\r\n
        \   <script type=\"module\" crossorigin src=\"/assets/index-CqL-qAH-.js\"></script>\n
        \   <link rel=\"stylesheet\" crossorigin href=\"/assets/index-DRB2_ZPb.css\">\n
        \ </head>\r\n  <body>\r\n    <div id=\"app\"></div>\r\r\n  </body>\r\n</html>"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"7ed27212e0f605f9f8a898342a431038bb12da3a05884d4c7513bb160f0b6cc3"
      Source-Age:
      - '0'
      X-Fastly-Request-ID:
      - 149a9d47b90f879d34cf3bee0662e217ae38ecd9
    status:
      code: 200
      message: OK
version: 1
