interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/spotify-downloader/releases/latest
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/releases/149099462\",\"assets_url\":\"https://api.github.com/repos/spotDL/spotify-downloader/releases/149099462/assets\",\"upload_url\":\"https://uploads.github.com/repos/spotDL/spotify-downloader/releases/149099462/assets{?name,label}\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/releases/tag/v4.2.5\",\"id\":149099462,\"author\":{\"login\":\"xnetcat\",\"id\":42355410,\"node_id\":\"MDQ6VXNlcjQyMzU1NDEw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/42355410?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/xnetcat\",\"html_url\":\"https://github.com/xnetcat\",\"followers_url\":\"https://api.github.com/users/xnetcat/followers\",\"following_url\":\"https://api.github.com/users/xnetcat/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/xnetcat/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/xnetcat/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/xnetcat/subscriptions\",\"organizations_url\":\"https://api.github.com/users/xnetcat/orgs\",\"repos_url\":\"https://api.github.com/users/xnetcat/repos\",\"events_url\":\"https://api.github.com/users/xnetcat/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/xnetcat/received_events\",\"type\":\"User\",\"site_admin\":false},\"node_id\":\"RE_kwDOA71kIc4I4xPG\",\"tag_name\":\"v4.2.5\",\"target_commitish\":\"master\",\"name\":\"v4.2.5\",\"draft\":false,\"prerelease\":false,\"created_at\":\"2024-03-30T15:29:01Z\",\"published_at\":\"2024-03-30T15:30:07Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/releases/assets/159432195\",\"id\":159432195,\"node_id\":\"RA_kwDOA71kIc4JgL4D\",\"name\":\"spotDL\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"site_admin\":false},\"content_type\":\"application/octet-stream\",\"state\":\"uploaded\",\"size\":108712,\"download_count\":11950,\"created_at\":\"2024-03-30T15:31:12Z\",\"updated_at\":\"2024-03-30T15:31:12Z\",\"browser_download_url\":\"https://github.com/spotDL/spotify-downloader/releases/download/v4.2.5/spotDL\"},{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/releases/assets/159432376\",\"id\":159432376,\"node_id\":\"RA_kwDOA71kIc4JgL64\",\"name\":\"spotdl-4.2.5-darwin\",\"label\":\"\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/spotify-downloader/compare/v3.9.4...master
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/compare/v3.9.4...master\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master\",\"permalink_url\":\"https://github.com/spotDL/spotify-downloader/compare/spotDL:597f5db...spotDL:bd38845\",\"diff_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master.diff\",\"patch_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master.patch\",\"base_commit\":{\"sha\":\"597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"node_id\":\"C_kwDOA71kIdoAKDU5N2Y1ZGJiNzJmMzA4MmZmODcxMmYzOGZkZmVmZWI4MjcwMWM4NDc\",\"commit\":{\"author\":{\"name\":\"Jakub
        Kot\",\"email\":\"42355410+xnetcat@users.noreply.github.com\",\"date\":\"2022-04-03T20:20:04Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2022-04-03T20:20:04Z\"},\"message\":\"release
        v3.9.4\",\"tree\":{\"sha\":\"d892f5ff3869fa670fc65126929ed5d2f87ee972\",\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/trees/d892f5ff3869fa670fc65126929ed5d2f87ee972\"},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\",\"signature\":\"-----BEGIN
        PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJiSgF0CRBK7hj4Ov3rIwAAqxAIAG2bc4ntRiKygBh7hrVfA09D\\nhmHXrsVQmum6vEceAwofg7yzxo028eNycO5EeyBLNekfMKUCBjZP5DPnULRH8Q+0\\nMbYN9y7ARy4qm5Ks58UmF4GaP+2/FbKt+OWPmhQmYA675w5XU5RJ5ciHRztJxnNg\\nvWj7jlUHKZ8GuNYRiJWf+n1OifJ+3uNraZQLMURfjitw4dWjNsXn1l8SGlgRfzfB\\nA2RJVcjUKz7oIuvd6PmwSEy8dRwBNl3VH4RjaHfVy0vK3IpaxhthSaPvyn9Mc/h0\\n5mEjcUU37txu5+D1D7Xy131Zvv3IWUS91PD1IU4Z8Kf7rtezONb40ORVan8S3Uw=\\n=mAwM\\n-----END
        PGP SIGNATURE-----\\n\",\"payload\":\"tree d892f5ff3869fa670fc65126929ed5d2f87ee972\\nparent
        5a32848689617a47763ba8983342b5bbf4f67ca1\\nparent 4a06d5a1d66a7eb8c3c1163722f490fb9e0210e9\\nauthor
        Jakub Kot <42355410+xnetcat@users.noreply.github.com> 1649017204 -0700\\ncommitter
        GitHub <noreply@github.com> 1649017204 -0700\\n\\nrelease v3.9.4\\n\\n\"}},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/commit/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"comments_url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847/comments\",\"author\":{\"login\":\"xnetcat\",\"id\":42355410,\"node_id\":\"MDQ6VXNlcjQyMzU1NDEw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/42355410?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/xnetcat\",\"html_url\":\"https://github.com/xnetcat\",\"followers_url\":\"https://api.github.com/users/xnetcat/followers\",\"following_url\":\"https://api.github.co[...]
