interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/web-ui/contents/dist?ref=master
  response:
    body:
      string: '[{"name":"assets","path":"dist/assets","sha":"1bfaa0d19f2d0b739f553456b4e2cc7343326c29","size":0,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master","html_url":"https://github.com/spotDL/web-ui/tree/master/dist/assets","git_url":"https://api.github.com/repos/spotDL/web-ui/git/trees/1bfaa0d19f2d0b739f553456b4e2cc7343326c29","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master","git":"https://api.github.com/repos/spotDL/web-ui/git/trees/1bfaa0d19f2d0b739f553456b4e2cc7343326c29","html":"https://github.com/spotDL/web-ui/tree/master/dist/assets"}},{"name":"favicon.ico","path":"dist/favicon.ico","sha":"04ba0f9c0a1a67dda7e5c21ece51cd5235a2e2b1","size":15086,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/favicon.ico?ref=master","html_url":"https://github.com/spotDL/web-ui/blob/master/dist/favicon.ico","git_url":"https://api.github.com/repos/spotDL/web-ui/git/blobs/04ba0f9c0a1a67dda7e5c21ece51cd5235a2e2b1","download_url":"https://raw.githubusercontent.com/spotDL/web[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotDL/web-ui/contents/dist/assets?ref=master
  response:
    body:
      string: '[{"name":"index-BDDgGyM9.css","path":"dist/assets/index-BDDgGyM9.css","sha":"305237d10a711ba9e64f9079f54770a1dc262a58","size":56072,"url":"https://api.github.com/repos/spotDL/web-ui/contents/dist/assets/index-BDDgGyM9.css?ref=master","html_url":"https://github.com/spotDL/web-ui/blob/master/dist/assets/index-BDDgGyM9.css","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/assets/index-BDDgGyM9.css
  response:
    body:
      string: '.center[data-v-316605e7],.center[data-v-b653c167]{text-align:center;margin-left:auto;margin-right:auto}*,:before,:after{box-sizing:border-box;border-width:0;border-style:solid;border-color:#e5e7eb}:before,:after{--tw-content:
        ""}html,:host{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/assets/index-CGxZV3ZT.js
  response:
    body:
      string: "(function(){const t=document.createElement(\"link\").relList;if(t&&t.supports&&t.supports(\"modulepreload\"))return;for(const
        r of document.querySelectorAll('link[rel=\"modulepreload\"]'))s(r);new MutationObserver(r=>{for(const
        o of r)if(o.type===\"childList\")for(const i of o.addedNodes)i.tagName===\"LINK\"&&i.rel===\"modulepreload\"&&s(i)}).observe(document,{childList:!0,subtree:!0});function
        n(r){const o={};return r.integrity&&(o.integrity=r.integrity),r.referrerPolicy&&(o.referrerPolicy=r.referrerPolicy),r.crossOrigin===\"use-credentials\"?o.credentials=\"include\":r.crossOrigin===\"anonymous\"?o.credentials=\"omit\":o.credentials=\"same-origin\",o}function
        s(r){if(r.ep)return;r.ep=!0;const o=n(r);fetch(r.href,o)}})();/**\n* @vue/shared
        v3.4.19\n* (c) 2018-present Yuxi (Evan) You and Vue contributors\n* @license
        MIT\n**/function Hr(e,t){const n=new Set(e.split(\",\"));return t?s=>n.has(s.toLowerCase()):s=>n.has(s)}const
        oe={},Ht=[],Ie=()=>{},Jc=()=>!1,bs=e=>e.charCodeAt(0)===111&&e.charCodeAt(1)===110&&(e.charCodeAt(2)>122||e.charCodeAt(2)<97),Vr=e=>e.startsWith(\"onUpdate:\")[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/favicon.ico
  response:
    body:
      string: !!binary |
        AAABAAMAMDAAAAEAIACoJQAANgAAACAgAAABACAAqBAAAN4lAAAQEAAAAQAgAGgEAACGNgAAKAAA
        ADAAAABgAAAAAQAgAAAAAAAAJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAXdEXFlbNFVZW
        zxaOV84WtlfNFthYzhbsV84W+VfOFvlYzhbsV80W2FfOFrZXzhaNVs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/spotDL/web-ui/master/dist/index.html
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  <head>\r\n    <meta charset=\"UTF-8\"
        />\r\n    <link rel=\"icon\" href=\"/favicon.ico\" />\r\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\" />\r\n    <title>spotDL</title>\r\n
        \   <script type=\"module\" crossorigin src=\"/assets/index-CGxZV3ZT.js\"></script>\n
        \   <link rel=\"stylesheet\" crossorigin href=\"/assets/index-BDDgGyM9.css\">\n
        \ </head>\r\n  <body>\r\n    <div id=\"app\"></div>\r\r\n  </body>\r\n</html>"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      ETag:
      - W/"c2fd76f408c21d1eb5dd84dcedf00346186dfd5ac7fc0d3dbbe2afc47c50afb7"
      Source-Age:
      - '0'
      X-Fastly-Request-ID:
      - 147b965991f83512126349d4a4dd1abe285857f6
    status:
      code: 200
      message: OK
version: 1
