interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/spotify-downloader/releases/latest
  response:
    body:
      string: '{"url":"https://api.github.com/repos/spotDL/spotify-downloader/releases/240790390","assets_url":"https://api.github.com/repos/spotDL/spotify-downloader/releases/240790390/assets","upload_url":"https://uploads.github.com/repos/spotDL/spotify-downloader/releases/240790390/assets{?name,label}","html_url":"https://github.com/spotDL/spotify-downloader/releases/tag/v4.4.1","id":240790390,"author":{"login":"Silverarmor","id":23619946,"node_id":"MDQ6VXNlcjIzNjE5OTQ2","avatar_url":"https://avatars.githubusercontent.com/u/23619946?v=4","gravatar_id":"","url":"https://api.github.com/users/Silverarmor","html_url":"https://github.com/Silverarmor","followers_url":"https://api.github.com/users/Silverarmor/followers","following_url":"https://api.github.com/users/Silverarmor/following{/other_user}","gists_url":"https://api.github.com/users/Silverarmor/gists{/gist_id}","starred_url":"https://api.github.com/users/Silverarmor/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Silverarmor/subscriptions","organizations_url":"https://api.github.com/users/Silverarmor/orgs","repos_url":"https://api.github.com/users/Silverarmor/repos","events_url":"https://api.github.com/users/Silverarmor/events{/privacy}","received_events_url":"https://api.github.com/users/Silverarmor/received_events","type":"User","user_view_type":"public","site_admin":false},"node_id":"RE_kwDOA71kIc4OWit2","tag_name":"v4.4.1","target_commitish":"master","name":"v4.4.1","draft":false,"immutable":false,"prerelease":false,"created_at":"2025-08-19T06:29:55Z","updated_at":"2025-08-19T06:48:04Z","published_at":"2025-08-19T06:31:08Z","assets":[{"url":"https://api.github.com/repos/spotDL/spotify-downloader/releases/assets/283953452","id":283953452,"node_id":"RA_kwDOA71kIc4Q7Mks","name":"spotDL","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url":"https://github.com/apps/github-actions","followers_url":"https://api.github.com/users/github-actions%5Bbot%5D/followers","following_url":"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/github-actions%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/github-actions%5Bbot%5D/repos","events_url":"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/github-actions%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":112909,"digest":"sha256:aea854123c4478e53640e4e9da5f62bc61a45617dfdf9f949af4e439ddfaa02d","download_count":2995,"created_at":"2025-08-19T06:48:03Z","updated_at":"2025-08-19T06:48:03Z","browser_download_url":"https://github.com/spotDL/spotify-downloader/releases/download/v4.4.1/spotDL"},{"url":"https://api.github.com/repos/spotDL/spotify-downloader/releases/assets/283951493","id":283951493,"node_id":"RA_kwDOA71kIc4Q7MGF","name":"spotdl-4.4.1-darwin","label":"","uploader":{"login":"github-actions[bot]","id":41898282,"node_id":"MDM6Qm90NDE4OTgyODI=","avatar_url":"https://avatars.githubusercontent.com/in/15368?v=4","gravatar_id":"","url":"https://api.github.com/users/github-actions%5Bbot%5D","html_url"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spotdl/spotify-downloader/compare/v3.9.4...master
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/compare/v3.9.4...master\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master\",\"permalink_url\":\"https://github.com/spotDL/spotify-downloader/compare/spotDL:597f5db...spotDL:a316330\",\"diff_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master.diff\",\"patch_url\":\"https://github.com/spotDL/spotify-downloader/compare/v3.9.4...master.patch\",\"base_commit\":{\"sha\":\"597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"node_id\":\"C_kwDOA71kIdoAKDU5N2Y1ZGJiNzJmMzA4MmZmODcxMmYzOGZkZmVmZWI4MjcwMWM4NDc\",\"commit\":{\"author\":{\"name\":\"Jakub
        Kot\",\"email\":\"42355410+xnetcat@users.noreply.github.com\",\"date\":\"2022-04-03T20:20:04Z\"},\"committer\":{\"name\":\"GitHub\",\"email\":\"noreply@github.com\",\"date\":\"2022-04-03T20:20:04Z\"},\"message\":\"release
        v3.9.4\",\"tree\":{\"sha\":\"d892f5ff3869fa670fc65126929ed5d2f87ee972\",\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/trees/d892f5ff3869fa670fc65126929ed5d2f87ee972\"},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/git/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\",\"signature\":\"-----BEGIN
        PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJiSgF0CRBK7hj4Ov3rIwAAqxAIAG2bc4ntRiKygBh7hrVfA09D\\nhmHXrsVQmum6vEceAwofg7yzxo028eNycO5EeyBLNekfMKUCBjZP5DPnULRH8Q+0\\nMbYN9y7ARy4qm5Ks58UmF4GaP+2/FbKt+OWPmhQmYA675w5XU5RJ5ciHRztJxnNg\\nvWj7jlUHKZ8GuNYRiJWf+n1OifJ+3uNraZQLMURfjitw4dWjNsXn1l8SGlgRfzfB\\nA2RJVcjUKz7oIuvd6PmwSEy8dRwBNl3VH4RjaHfVy0vK3IpaxhthSaPvyn9Mc/h0\\n5mEjcUU37txu5+D1D7Xy131Zvv3IWUS91PD1IU4Z8Kf7rtezONb40ORVan8S3Uw=\\n=mAwM\\n-----END
        PGP SIGNATURE-----\\n\",\"payload\":\"tree d892f5ff3869fa670fc65126929ed5d2f87ee972\\nparent
        5a32848689617a47763ba8983342b5bbf4f67ca1\\nparent 4a06d5a1d66a7eb8c3c1163722f490fb9e0210e9\\nauthor
        Jakub Kot <42355410+xnetcat@users.noreply.github.com> 1649017204 -0700\\ncommitter
        GitHub <noreply@github.com> 1649017204 -0700\\n\\nrelease v3.9.4\\n\\n\",\"verified_at\":\"2024-01-16T19:59:59Z\"}},\"url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"html_url\":\"https://github.com/spotDL/spotify-downloader/commit/597f5dbb72f3082ff8712f38fdfefeb82701c847\",\"comments_url\":\"https://api.github.com/repos/spotDL/spotify-downloader/commits/597f5dbb72f3082ff8712f38fdfefeb82701c847/comments\",\"author\":{\"login\":\"xnetcat\",\"id\":42355410,\"node_id\":\"MDQ6VXNlcjQyMzU1NDEw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/42355410?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/xnetcat\",\"html_url\":\"https://github.com/xnetcat\",\"followers_url\":\"https://api.github.com/users/xnetcat/followers\",\"following_url\":\"https://api.github.co[...]
